[2016-03-17 22:55] #1403 closed

[2016-03-18 04:13] pcgeek86 opened #1411 "Template defines, but doesn't use, variable"
[201-CustomScript-Extension](https://github.com/Azure/azure-quickstart-templates/blob/master/201-customscript-extension-azure-storage-on-ubuntu/azuredeploy.json)

### Issue Details

This template defines an `extensionName` variable, but doesn't utilize it.

[2016-03-18 05:07] #1411 closed

[2016-03-18 05:07] singhkay commented on #1411
Thanks @pcgeek86 this is fixed in #1412

[2016-03-18 18:56] bdanse commented on #1407
Tried making a parameter for the xml and let visual studio encode the xml. Then used that string and the base64 encoded variant.

Tried encoding it outside arm. still same error.

[azuredeploy.txt](https://github.com/Azure/azure-quickstart-templates/files/180219/azuredeploy.txt)

[2016-03-18 22:58] Jaykah commented on #1314
After fixing that I have tried a variety of other options but nothing seemed to work.

I currently have the following template (with a custom VHD and network settings):

[code]

And now I get the following error:

statusCode:BadRequest statusMessage:{"error":{"code":"BadRequest","target":"containerService.properties.networkProfile","message":"Could not find member 'networkProfile' on object of typ

[2016-03-19 10:17] bdanse commented on #1407
Changed the AsynchronousCommand tag to SyschronousCommand.

`"firstLogonXml": "<FirstLogonCommands><SynchronousCommand wcm:action=\"add\"><CommandLine>c:\\Windows\\notepad.exe</CommandLine><Order>1</Order></SynchronousCommand></FirstLogonCommands>"`

Keeps giving the same error :
'The value of parameter windowsConfiguration.additionalUnattendContent.content is invalid.'

[2016-03-20 06:14] josegonzalez commented on #1343
Seems like they are all loaded now, maybe this was a bad index build on azure's end?

[2016-03-20 07:54] gregjhogan commented on #1407
Is this a parsing error caused by the colon in wcm:action?

The below JSON passes validation and did actually execute the command, so it appears it is acceptable to remove the wcm:action attribute, and perhaps that is a work-around for now.

[code]

Someone should also update the documentation, because clearly it should not be base64 encoded.

[2016-03-21 13:55] bdanse commented on #1407
@gregjhogan thank you that did the trick for now.
@singhkay I have to agree with gregjhogan. additionalUnattendContent needs some work.

-  the intellysense of the object in VS say the attribute are pass and component. These values are not accepted by the api though. passName, ComponentName are.
-  Documentation states the content is base64 encoded but the xml is accepted directly. Making use of t

[2016-03-21 21:33] vkurpad opened #1440 "Error creating a DataLake from quick start template"
Deploy a new Data Lake Analytics account on a new Data Lake Store account. https://github.com/Azure/azure-quickstart-templates/tree/master/101-datalake-analytics

error": {
    "code": "InvalidResourceType",
    "message": "The resource type could not be found in the namespace 'Microsoft.DataLakeStore' for api version '2015-10-01-preview'."
  }

[2016-03-22 08:36] tdeheurles opened #1444 "[Question] Create Azure File Storage using ARM deployment"
I'm looking on how to create `Azure File Storage` with the `ARM deployment`.
(I'm talking of what is also named `Azure File Shares`)

Reading this [azure documentation](https://azure.microsoft.com/en-us/documentation/articles/storage-dotnet-how-to-use-files/), we can see this:

[code]

Can someone confirm it can't be done with ARM deployment please ?

[2016-03-22 13:44] techronaut opened #1447 "rds-deployment-existing-ad - Existing VNET in its own RG. Deployment fails"
rds-deployment-existing-ad   https://github.com/Azure/azure-quickstart-templates/tree/master/rds-deployment-existing-ad

Trying to deploy this to an existing VNET fails (new NICs cannot find VNET)- I believe it's looking for the VNET in the same resource group I'm creating through the template. The VNET exists in its own RG  (I know I can move the resources, but would be cleaner to deploy separate

[2016-03-22 15:45] lalyos commented on #1294
Hi @vivsriaus do ypu have any update on this one? Its still has the same behaviour.

[2016-03-22 17:14] singhkay commented on #1447
@MahendraAgrawal Looks like an enhancement is needed to this template.

[2016-03-22 17:32] singhkay commented on #1444
@tdeheurles That is correct. Files is a data plane operation for storage. ARM can only do management plane operation on storage i.e. storage accounts.

[2016-03-22 17:32] #1444 closed

[2016-03-22 18:18] MahendraAgrawal commented on #1447
That's correct. Its looking for VNET in same resource group. For current implementation, this is by design. I will ask our team members if we want to support VNET in different resource group or if we can provide documentation to handle that scenario.

[2016-03-22 21:34] mahthi commented on #1294
@lalyos This is a known limitation in the platform where a dynamic public ipaddress doesn't resolve itself until the VM is up and running. There are two options to workaround

1) Create the Public IP Address in static mode. That will ensure that Public IP address is immediately allocated. However, note that you might incur additional charges.
2) Change the dependency from Public IP address to the

[2016-03-23 12:34] mioteg opened #1457 "apiVersion variable referenced, but does not exist."
azure-quickstart-templates / 201-vmss-lapstack-autoscale / azuredeploy.json
https://github.com/Azure/azure-quickstart-templates/blob/master/201-vmss-lapstack-autoscale/azuredeploy.json

### Issue Details
Line 347 references the variable 'apiVersion', which no longer exists. It should probaly be 'storageApiVersion'.

### Repro steps (*if necessary, delete otherwise*)
1. Click Deploy to Azure.
2. En

[2016-03-23 17:27] singhkay commented on #1457
@gatneil @gbowerman Can you check?

[2016-03-23 20:42] gbowerman commented on #1457
Created PR for fix

[2016-03-23 21:49] singhkay commented on #1457
Pr merged @mioteg Thanks for reporting!

[2016-03-23 21:49] #1457 closed

[2016-03-24 02:36] singhkay commented on #1407
@bdanse @gregjhogan Thanks for the investigation. I'll get the windows agent team to look at this.

[2016-03-24 19:21] mandarjadhav commented on #1398
Facing the same issue with the latest template.
The template deployment 'Microsoft.Template' is not valid according to the validation procedure. The tracking id is '83a46749-979e-402a-b6fa-37d7c63ae59a'. See inner errors for details. Please see http://aka.ms/arm-deploy for usage details.

[2016-03-24 21:56] hglkrijger commented on #1398
@mandarjadhav can you describe how you deploy and which parameters you select?

[2016-03-25 12:15] sjkp commented on #1345
@tfitzmac any update on this? I think it has to do with the revision property.

[2016-03-25 15:31] mandarjadhav commented on #1398
I am using default parameters.

[2016-03-25 21:29] singhkay commented on #1398
@mandarjadhav I can't repro it with the latest update. It deploy succesfully for me

![image](https://cloud.githubusercontent.com/assets/6164178/14054365/eba02d7c-f295-11e5-8ed0-82827a4e7661.png)

[2016-03-25 21:29] #1398 closed

[2016-03-26 19:52] lizrice opened #1478 "101-acs-swarm template - does this support more than one agent1?"
Using the 101-acs-swarm template, I've always had Invalid Template errors when I ask for more than one agent. I've requested 3 and seen it fail, but using the exact same parameters - apart from setting the agent count to 1 - works OK. This has been true for regions West Europe and Central US.

[2016-03-27 13:19] Lazarix opened #1482 "Issue with deploying template - but it worked yesterday?"
[101-vm-user-image-data-disks](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-user-image-data-disks)

Tried to deploy the above template which worked over the last few days but not today. Tried all combinations of variables.

Issue with deployment template:

The template deployment 'Microsoft.Template' is not valid according to the validation procedure. The tracking id is '

[2016-03-29 14:05] tdeheurles opened #1495 "Setup an AzureFile into a Windows machine with WinRm"
### My problem
I'm trying to setup an azure file to share content across different VM.

I have followed the [winrm-windows-tutorial](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-winrm-windows) and the setup is fine.
After that setup, my script create a share file.

I have no issue when setting up everything by hand into the Windows VM.

My problem is when I try to setup t

[2016-03-29 18:59] kirpasingh opened #1497 "Elasticsearch Windows cluster deployment fails"
[Elasticsearch template](https://azure.microsoft.com/en-us/documentation/templates/elasticsearch/)

### Issue Details
Windows cluster deployment fails with the following error:
[code]
It's a strange message since I'm deploying Windows, not a Linux cluster. Some parameter name "linuxConfiguration" is messed up in the template json, I believe.

### Repro steps
Deploy a Windows cluster with following

[2016-03-29 19:05] singhkay commented on #1497
@hglkrijger Can you take a look?

[2016-03-29 22:17] hglkrijger commented on #1497
sure, this is fixed now

[2016-03-30 00:23] singhkay commented on #1497
Thanks @hglkrijger!

Thanks for reporting this @kirpasingh!

[2016-03-30 00:23] #1497 closed

[2016-03-30 00:46] kirpasingh commented on #1497
Thanks @hglkrijger and @singhkay for quick turnaround!

[2016-03-30 17:57] gregjhogan opened #1503 "listKeys not supported in variable"
If I use `listKeys()` in a variable, I get the error:

for example:
[code]

Can support for listKeys inside a variable be added?

[2016-03-30 18:12] singhkay commented on #1503
Adding @ravbhatnagar @rjmax from the ARM team for this request

[2016-03-30 19:50] nitin16 opened #1507 "Does virtual machine extensions provisioned for already existing VM?"
Hi,

We have a VM ARM template which runs a custom extension when we provision it. This extensions run fine and install framework correctly.

By looking at verbose log it seems like it runs the extension every time we run deployment script even if VM is already present. Is this correct?

Also if it does run the extension every time, is there anyway to avoid it?

Thanks,
Nitin

[2016-03-30 19:57] singhkay commented on #1507
Re: this

What is the deployment script you're running? is this the template?

[2016-03-30 20:07] nitin16 commented on #1507
Yes. We have ARM template and running using PS script.

[2016-03-30 20:35] singhkay commented on #1507
@nitin16 Do you have a forceUpdate tag in the extension runs again? Otherwise ARM will try to spin install the extension again but see that it is already installed and skip that step. The Verbose log will show "running" status but then move to "succeeded"

[2016-03-30 21:12] haydonryan opened #1509 "bosh-setup/azuredeploy.json needs a default network gateway set in the template"
[Bosh Azure template](https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/azuredeploy.json)

### Issue Details
We spun up half of an active active environment on azure using the template.
When this completed it worked correctly.
Because we changed the ip addressing of the template to 10.1.x.x when MS rebooted the VM, the gateway address reverted to 10.0.0.1.  This caused a l

[2016-03-30 22:02] qhdevon43 opened #1510 "template fails with invalid template"
Using a template from the page below, I am getting a "The template deployment 'Microsoft.Template' is not valid according to the validation procedure. The tracking id is '1e1e1dc6-dd62-40b1-b22b-a5f472af512e'. See inner errors for details. Please see http://aka.ms/arm-deploy for usage details." Error message.

Whats weird is i used this exact template before to deploy a new user uploaded image and

[2016-03-30 22:49] nitin16 commented on #1507
this helped. Thanks.

[2016-03-30 22:55] dgilling commented on #1273
The Azure template already sets up Consul for master leader and worker node discovery, but seems that the options are missing the appropiate DOCKER_OPTS when the docker daemon is started.

Add below opts to /etc/default/docker to each swarm worker.
(Where 10.0.X.X is the worker's IP under eth0, and 172.16.X.X:8500 is the IP of the master node which is running Consul)

DOCKER_OPTS="--cluster-advert

[2016-03-31 02:55] kgoedecke opened #1516 "Discover services between Docker containers on Marathon/Mesos"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-03-31 05:24] jason3fc commented on #1510
I am getting the same problem trying it tonight as well.

[2016-03-31 07:12] mioteg opened #1517 "VMSS LAP Autoscale demo not scaling"
201-vmss-lapstack-autoscale

Deployed this demo several times. It never scales after starting a workload. After a few hours I get an email saying:
[AUTOSCALE FAILED] - Autoscale task failed for 'miotvmss1' due to no metrics available
Autoscale has not been able to read monitoring data for resource 'miotvmss1' since '3/30/2016 11:42:57 PM' UTC. The capacity will be adjusted when Autoscale successfu

[2016-03-31 17:14] qhdevon43 commented on #1510
Its weird because I emailed azure support about a possible glitch with azure when using this template. ( it would reset my dns settings for my virtual network, it would change it from custom to azure dns set) but yea after I sent that ticket in i noticed that this template now does not work... ugh... now im regretting sending that ticket in.. I hope they didnt change something. Im really wanting t

[2016-03-31 17:52] jason3fc commented on #1510
Seems to be working now. I tried again this morning and no issues.

[2016-03-31 17:56] singhkay commented on #1510
@jason3fc Glad you got it working!

@qhdevon43 @jason3fc The error usually shows up when there is an invalid storage account name or DNS name specified that would cause the template to fail later. The portal team is working on exposing the exact error rather than a generic message.

[2016-03-31 17:56] #1510 closed

[2016-03-31 17:58] qhdevon43 commented on #1510
awesome, I'll go ahead and try it right now and will report back in a bit,

[2016-03-31 18:07] qhdevon43 commented on #1510
well by gosh darn... you are correct singkay, apparantly i had to change the DNS name of the virtual machine to something else and it started working... hmmm interesting but its working now, thanks guys!

[2016-03-31 18:25] qhdevon43 commented on #1510
okay so aparantly the template failed because of some error, so i go back in to and re-create the info using the template and it failed again... ugh.. i even changed the DNS name to something different... any help guys?

[2016-03-31 18:33] qhdevon43 commented on #1510
so i saw your edit where you said it could be the size of the VM , so i changed it and it went through but still failed, i guess i need to keep trying to find a VM size that will work with my windows 8.1 deployment. thanks

[2016-03-31 18:40] qhdevon43 commented on #1510
I had to use Standard_D1_V2 for my VM to work.. apparantly the other VM size that i use was not available in my region... ugh.. lol Its working now guys you can close this as working!  :)

[2016-03-31 18:45] drywolf commented on #1355
I was able to sucessfully run the template. I think the problem was that I had not created any other virtual machine or service on my azure account.
After I created a Ubuntu virtual machine for testing it seems that my Azure accounts & subscription were associated with the necessary account policies (networking, storage, compute, ...).

I'm not sure if this really was the fix or if something else

[2016-03-31 20:14] singhkay commented on #1355
@drywolf Neat! There is a registration that happens with various RPs when you try to create a resource for the first time. Not sure why this didn't happen with ACS. @edevil Can you try this as well?

cc: @rgardler @anhowe

[2016-03-31 20:27] singhkay commented on #1510
@qhdevon43 Awesome! hopefully the feature exposing the actual error will actually make it through soon :)

[2016-03-31 21:47] gregjhogan opened #1521 "ARM template access to resource group tags"
It would be really useful if we could access the tags on the resource group in an ARM template.  Is there currently a way to access the tags through the [resourceGroup() function](https://azure.microsoft.com/en-us/documentation/articles/resource-group-template-functions/#resourcegroup)?  If not could you add it?  Thanks!

[2016-03-31 21:49] singhkay commented on #1521
@rjmax @ravbhatnagar Another feature request for you :)

[2016-03-31 23:19] rjmax commented on #1521
Good idea!  Filed a bug to track this.

[2016-03-31 23:20] singhkay commented on #1521
Thanks @rjmax, I will close this here in the meantime.

[2016-03-31 23:20] #1521 closed

[2016-04-01 01:37] gregjhogan commented on #1521
@rjmax is there a way for us to track when/if this gets implemented?  Thanks!

[2016-04-01 10:43] edevil commented on #1355
Yes, now the deployment worked... Thanks.

[2016-04-01 12:40] qhdevon43 commented on #1482
Randomly saw your post, check out this post here which helped me solve my issue related to this error.

https://github.com/Azure/azure-quickstart-templates/issues/1510

[2016-04-01 16:52] singhkay commented on #1482
Thanks for posting@qhdevon43

@Lazarix You are probably running into the same issue as in #1510. Let me know if this isn't the case.

[2016-04-01 16:52] #1482 closed

[2016-04-01 16:53] singhkay commented on #1355
@edevil Interesting. Thanks for confirming!

[2016-04-01 16:53] #1355 closed

[2016-04-01 20:35] HyperSpaceChain opened #1524 "Shadow BlockChain has already been merged. But there does not seem Microsoft /documentation/templates"
March 17, 2016 Shadow BlockChain have been merged.
https://github.com/Azure/azure-quickstart-templates/tree/master/shadow-on-ubuntu

But it was not found in the Shadow BlockChain
https://azure.microsoft.com/en-us/documentation/templates

Shadow BlockChain homepage is   https://shadowproject.io/

Please enable Shadow find in the https://azure.microsoft.com/en-us/documentation/templates
Thanks.

[2016-04-04 11:36] paulieguk opened #1534 "201-VM-Domain-Join does not join the domain"
[201-vm-domain-join] https://github.com/Azure/azure-quickstart-templates/blob/master/201-vm-domain-join/azuredeploy.json

### Issue Details
I have been trying to use this extension to join a domain.  The domain controller is running on the same VNet as the server I am trying to join and I can join the domain manually with no issues.  The script states all has completed with no issues, however the

[2016-04-05 12:52] paulieguk commented on #1534
I have now resolved this.  The user account had a Hyphen "-" in the username.  It seems the extension does not like this.

[2016-04-05 12:57] paulieguk opened #1540 "What happens is the PowerShell script needs to reboot during a customscriptexecution?"
https://github.com/Azure/azure-quickstart-templates/blob/875d139c16c9c023dce519e6dd48c707e3473346/201-vm-custom-script-windows/azuredeploy.json

This is more a question of behaviour.  Does CustomScript tolerate reboots.  Simple example, I have a powershell script that builds a domain controller, this will of course mean the VM will reboot.  Once the VM is back I wish to run another script that wil

[2016-04-05 12:58] paulieguk commented on #1534
I thought I should not have closed this as it still highlights a bug in the Domain Join extension.

[2016-04-05 14:08] enu235 commented on #1540
A custom script will not persist through reboot unless you have taken the steps needed to allow that like setting a Runonce or scheduled task to kick off the next portion of your script. This is why it would be better in your ARM templates use DSC for items like this that will persist through a reboot or reboots. Basically, don't script a DC build, DSC a DC build and the user creation. See the Pow

[2016-04-05 15:06] paulieguk commented on #1540
Hi Allan,

Thank you for your response.  I am not really a developer so I find the GitHub experience appalling (0 out 100).  It does not seem anywhere there is any usage information on how to pull the thing together in an ARM template.  Any help or pointers to other resources would be greatly appreciated.

Thank you,
Paul

From: Allan Miller [mailto:notifications@github.com]
Sent: 05 April 2016 15

[2016-04-05 16:01] mattchenderson commented on #1345
Following up with the NH team.

[2016-04-05 17:14] singhkay commented on #1540
@paulieguk Why not use one of the existing templates that build domain controllers using the DSC configuration that survives reboots?

- https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain
- https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain-ha-2-dc

[2016-04-05 17:18] singhkay commented on #1534
@paulieguk This is currently a known issue due to some misconfiguration of the input parameters. There is a new version of the extension under testing that will be released soon that will report the correct errors rather than joining the workgroup instead.

You can follow this topic to make sure all the input parameters were correct https://github.com/Azure/azure-powershell/issues/1316#issuecommen

[2016-04-05 17:18] paulieguk commented on #1540
Hi Kay,

Thank you.  I am just trying the first one.  Took some time to understand how they are working.  Currently testing the AD build and will then add user creation….

Paul

From: Kay Singh [mailto:notifications@github.com]
Sent: 05 April 2016 18:15
To: Azure/azure-quickstart-templates <azure-quickstart-templates@noreply.github.com>
Cc: Gregory, Paul <Paul.Gregory@qa.com>
Subject: Re: [Azure/a

[2016-04-05 18:37] trentmswanson opened #1543 "elasticsearch: update template to dynamically create data disks"
[elasticsearch](https://github.com/Azure/azure-quickstart-templates/tree/master/elasticsearch)

### Issue Details
Update the elasticsearch template to dynamically create disks and remove the multiple data node templates.

[2016-04-05 18:40] trentmswanson opened #1544 "elasticsearch: create an additional kibana instance when deploying dedicated marvel cluster"
[elasticsearch](https://github.com/Azure/azure-quickstart-templates/tree/master/elasticsearch)

### Issue Details
Right now when we deploy a dedicated marvel cluster for monitoring, the kibana installation is pointed at that cluster. A kibana instance should be optionally created for each cluster.

[2016-04-05 18:42] trentmswanson opened #1545 "elasticsearch: update the storage bin packing implementation"
[elasticsearch](https://github.com/Azure/azure-quickstart-templates/tree/master/elasticsearch)

### Issue Details
The current vm to storage account bin packing implementation limits the number of data nodes to 60 nodes.  We can remove this limit by following the approach used in the mesos template.  This will also clean up the template.

[2016-04-05 18:48] trentmswanson opened #1546 "elasticsearch: update configuration to use encoded object"
[elasticsearch](https://github.com/Azure/azure-quickstart-templates/tree/master/elasticsearch)

### Issue Details
The template currently concatenates a set of configuration parameters formatted differently for how the linux and windows scripts expect parameters to be passed. We can instead build up the configuration parameters to be passed to the scripts as an encoded JSON objects using the string

[2016-04-05 18:52] trentmswanson opened #1547 "elasticsearch: generate outputs for variables in the linked template mocks"
[elasticsearch](https://github.com/Azure/azure-quickstart-templates/tree/master/elasticsearch)

### Issue Details
We currently generate outputs for parameters in the gulp generated linked template mocks for testing parameter manipulation in the top level template.  With the addition of JObject/JArray support for string() we can now output variables, increasing the test coverage in the mocks... stu

[2016-04-05 21:30] inf-rno commented on #1273
This is an issue even when using a basic compose file of version '2' as it starts off by creating a default overlay network. And as such will not deploy to the swarm cluster. Setting the env vars should be done as part of the template.

I would submit a pull request if I know where to find the template in question. Can someone point me to it?

[2016-04-05 21:36] rgardler commented on #1273
I believe this is fixed in an upcoming update (due in production soon). I'll leave the issue open so that once we go live with the update people here can test and indicate results on this issue.

[2016-04-05 22:45] inf-rno commented on #1273
Thanks @rgardler! Are the underlying ARM templates open source so we can fix/tweak/extend the current template? If so, could you please direct me to it?

[2016-04-05 23:34] jbpadgett opened #1550 "How to use multiple subnets in localAddressPrefix parameter?"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-04-06 00:06] singhkay commented on #1546
@trentmswanson I'm confused a little. Since you own this template, are you working on these issues  or is @hglkrijger working on them? I see  #1549 was created today fixing some issues.

[2016-04-06 07:54] BharathMannem commented on #1507
Hi I am trying to run the PS script with ARM Template, but it is throwing error. Any suggestions.
Error.
12:29:08 - New-AzureRmResourceGroupDeployment : 12:29:08 - Resource Microsoft.Compute/virtualMachines 'BharathPS' failed with
12:29:08 - message 'The resource operation completed with terminal provisioning state 'Failed'.'
12:29:08 - At D:\arm\azureresourcegroup2\azureresourcegroup2\Scripts\Dep

[2016-04-06 07:58] paulieguk commented on #1540
Thank you for your help here.
I am closing this as I have switch to CreateADPDC.ps1.  I am having an issue which I  have logged in the correct repository.  Thank you again

[2016-04-06 07:58] #1540 closed

[2016-04-06 16:33] trentmswanson commented on #1546
@singhkay, we (@hglkrijger and myself) will be working on these.  We have discussed some of these, and I added them here so that we can properly track them.

I believe #1549 included a fix that still requires some work to property address the issue.

[2016-04-06 16:35] trentmswanson commented on #1546
@singhkay feel free to assign these to me if you like.  I will be working on fixing the dynamic data disks and the  vm to storage account bin packing changes this week.

[2016-04-06 16:44] singhkay commented on #1507
@BharathMannem Check the Guest Agent logs at `c:\windowsazure\logs` to see if there are any detailed error messages.

[2016-04-06 16:55] BharathMannem commented on #1507
@singhkay thanks for the suggestion, it is not working when i gave the github path, the error is "Files were not download", but i modified resource to use blob and it is working fine

[2016-04-06 17:06] singhkay commented on #1507
@BharathMannem Interesting, should've worked fine with the github link as well.

[2016-04-06 17:06] #1507 closed

[2016-04-06 19:37] Jaykah commented on #1314
Hate to ping it, but would really appreciate some feedback on that one.

Thanks!

[2016-04-06 19:58] singhkay commented on #1314
I don't see network profile in the ACS API/templates so that could be the reason. https://github.com/Azure/azure-quickstart-templates/blob/master/101-acs-mesos/azuredeploy.json

[2016-04-06 20:38] rgardler commented on #1273
The templates are open source in the sense that we publish them on GitHub, but they are not open source in the sense that we will necessarily accept patches, while we are in preview. At present we are working with our partners and then dropping templates into the public repo on a periodic basis. The purpose is certainly to gather feedback, but because of the lag between out internal testing and ou

[2016-04-07 01:06] Jaykah commented on #1314
I was under the impression that templates define resources and thus can be customized as long as those resources exist, or am I mistaken?

[2016-04-07 14:19] bingosummer commented on #1509
Thanks @haydonryan . Will repro and fix it asap.

[2016-04-07 15:47] bingosummer commented on #1509
@haydonryan

I tried the repro steps:
1. Deploy the bosh template.
2. Modify the template to use a 10.1.x.x based addressing.
3. log into the jumpbox to ensure it works
4. reboot the jumpbox (sudo reboot, restart in the Portal, stop and start in the Portal)
5. I can access the jumpbox using the public IP.

In your issue, `This caused a lack of connectivity to the machine.` Do you mean that the jum

[2016-04-07 17:26] tfitzmac commented on #1345
This looks like a bug in Notification Hubs. I deployed a hub through the portal marketplace, then retrieved the template that was used and re-deployed it. I get the conflict error.

@sjkp - I don't see this revision property. Which resource has that property?

[2016-04-07 20:37] smithab commented on #1345
@MelvinVermeer we have not made NotificationHubs as idempotent. So if you try to do a create on an already existing hub it will return conflict. I am making the fix on our side to not throw if the hub has already been created

[2016-04-07 21:58] lbrader opened #1558 "RDP into VMSS VM via NAT rules in load balancer doesn't work"
[201-vmss-windows-autoscale](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-windows-autoscale)

[201-vmss-windows-nat] (https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-windows-nat)

### Issue Details
 Both of these templates are fairly identical. One has a auto scale set, which is what I want to test with the Load Balancer.

Regardless, I'm unable

[2016-04-07 22:39] singhkay commented on #1558
@gatneil @gbowerman Can you check?

[2016-04-07 22:52] singhkay commented on #1550
Adding @TheAndrewCook who wrote the template. Also look at the Network Gateway REST API https://msdn.microsoft.com/en-us/library/mt163859.aspx

Try substituting that array directly into the resource to see if you get the same error.

[2016-04-07 22:53] singhkay commented on #1546
@trentmswanson Sounds good, thanks!

[2016-04-07 22:55] #1534 closed

[2016-04-07 23:15] singhkay commented on #1524
@HyperSpaceChain The listing indexer is owned by the Azure.com team. You should file a bug using one of the below methods

- [UserSnap extension for Chrome](http://acomdocs.azurewebsites.net/articles/workitems-usersnap-get-started/)
- [Request Form](https://acomportal.azure.net/#Workspaces/All/dashboard)

[2016-04-07 23:17] singhkay commented on #1517
@gatneil @gbowerman Can you take a look?

[2016-04-07 23:19] singhkay commented on #1516
@rgardler @sauryadas Do you know?

[2016-04-07 23:36] jbpadgett commented on #1550
@singhkay
@TheAndrewCook
Thanks for response.
I did try modifying the resource to add the array values directly, but also get an error there as well.

[code]

And here is the error that I get from the azure-cli console:

[code]

And here is the error as displayed in the Azure Deployments Console:

[code]

[2016-04-07 23:46] singhkay commented on #1495
@tdeheurles The Azure storage forum on MSDN is probably a better option to get detailed response on this issue https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata

[2016-04-07 23:46] #1495 closed

[2016-04-07 23:47] singhkay commented on #1478
Adding @rgardler @sauryadas for this

[2016-04-07 23:48] #1302 closed

[2016-04-07 23:50] singhkay commented on #1360
@rgardler @sauryadas Can you take a look at this?

[2016-04-07 23:51] #1365 closed

[2016-04-08 00:00] singhkay commented on #1440
@matt1883 Can you take a look at this?

[2016-04-08 00:00] singhkay commented on #1266
@vinhub Can you take a look at this?

[2016-04-08 00:00] #1258 closed

[2016-04-08 00:01] singhkay commented on #1267
@rgardler @sauryadas Can you take a look at this?

[2016-04-08 00:01] amitsriva commented on #1400
The supported sku name and tier are Basic, Standard and HighPerformance. Please try with HighPerformance.

[2016-04-08 00:03] singhkay commented on #1400
Thanks @amitsriva! Closing, @nitin16 please reopen if this is still an issue.

[2016-04-08 00:03] #1400 closed

[2016-04-08 00:06] rgardler commented on #1267
This is a known issue and will be resolved in production very soon. It is not something you have configured incorrectly.

You can navigate to the sandbox successfully from within the Marathon UI, the error only occurs in the Mesos UI.

If this addresses your issue please close this issue to indicate that is the case. Thanks.

[2016-04-08 00:06] matt1883 commented on #1440
Hi @vkurpad, it looks like the subscription that you're using to deploy this ARM template has not joined the Azure Data Lake Analytics (ADLA) public preview. To join the public preview, please go to https://portal.azure.com , select your subscription, and follow the prompt to request preview access. I hope this helps!

[2016-04-08 00:35] singhkay commented on #1440
Thanks @matt1883. Can you add this information to the Readme files of the datalake templates?

[2016-04-08 00:35] #1440 closed

[2016-04-08 02:33] bingosummer opened #1559 "[Feature Request] Add a function to convert JSON to String"
Can we add a function to convert a JSON object into string in the template?
Here is one scenario:

If I want to pass [CustomData](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-customdata) which is a JSON format, I need to convert them into string.
For now, I have to concat them manually. If we have a function for the convertion, it's better.

Thanks

[2016-04-08 17:56] singhkay commented on #1559
@rjmax @ravbhatnagar This one is for you guys!

[2016-04-08 18:39] gbowerman commented on #1517
Can you share the exact template deployment parameters you used? This is a well tested template so I'm suspecting there is something about the parameters in this case..

[2016-04-08 18:43] gatneil commented on #1305
Fixed with this PR: https://github.com/Azure/azure-quickstart-templates/pull/1563
@singhkay to review, then we're good to go :)

[2016-04-08 18:43] #1305 closed

[2016-04-08 18:45] gbowerman commented on #1558
@lbrader Hi, I was able to connect to RDP to 52.165.29.181:50001 (BTW I would advise against sharing your IP address and ports in a public forum - though in this case it helped :-)).
It could be your NAT rules changed if the VM Scale Set "overprovision" property is set to "true" and some machines were removed after coming up. I recommend you check the current NAT rules on your load balancer.

[2016-04-08 19:16] vinhub commented on #1266
@markrey We are not able to reproduce this error. Could you give some instructions for reproducing? How were you deploying the template / what parameters etc?

[2016-04-08 20:41] lbrader commented on #1558
Thanks Guy,

Went and checked. It’s working on both test setups. Only thing that I change is to reboot my box.  And I did add a jump box to the setup you tried.

Since I spent an hour on validating this yesterday.  Just to make sure I’m not seeing things.  I just deployed another VMSS windows with auto scale.
And it worked.

Only thing different was the reboot.  I’ll take the hit :^) – thanks for

[2016-04-08 20:53] lbrader commented on #1558
Closing this issue - as it's not being reproduce.  Turn it off / Turn it on.

[2016-04-08 20:53] #1558 closed

[2016-04-08 20:55] singhkay commented on #1558
@lbrader Awesome! glad you figured it out.

[2016-04-08 21:24] #530 closed

[2016-04-08 21:24] #376 closed

[2016-04-08 21:24] singhkay commented on #380
Closing as early validation is now live in template deployment workflow.

[2016-04-08 21:24] #380 closed

[2016-04-08 21:24] #522 closed

[2016-04-08 21:25] #546 closed

[2016-04-08 21:25] #563 closed

[2016-04-08 21:25] #567 closed

[2016-04-08 21:25] #658 closed

[2016-04-08 21:36] singhkay commented on #677
Closing since the template was removed

[2016-04-08 21:36] #677 closed

[2016-04-08 22:04] HyperSpaceChain commented on #1524
@singhkay thanks for your Reply. I created the Azure Active Directory account, tried to access [•Request form](https://acomportal.azure.net/#Workspaces/All/dashboard). But I don't have permissions to access ACOM portal.
[•UserSnap extension for Chrome](http://acomdocs.azurewebsites.net/articles/workitems-usersnap-get-started/) & [•Request form](https://acomportal.azure.net/#Workspaces/All/dashboar

[2016-04-08 22:13] mioteg commented on #1517
I do a deploy to Azure from the current template. Just tested again with the following parameters:
RESOURCE LOCATION: West Europe
VMSKU: Standard_D1_v2
UBUNTUOSVERSION:14.04.4-LTS
VMSSNAME: miotvmss1
INSTANCECOUNT: 1
ADMINUSERNAME: adminuser
New resource group: miotvmss1
Resource group location: West Europe

Did just get an email that Autoscale has been recovered (used same naming as previous VMSS

[2016-04-08 23:15] lbrader opened #1564 "201-vmss-windows-autoscale : scale set added extra and then later removed vms from my capacity"
[201-vmss-windows-autoscale ](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-windows-autoscale)

### Issue Details

I original provision a capacity to 3.   And the deployment was marked completed successfully.

When I checked it an hour later I found that my Scale set count was now 5, with corresponding NAT rules. And I could RDP into the boxes.  I logged into the origina

[2016-04-08 23:32] lbrader commented on #1564
Thinking about this pattern - on a couple of different deployment.  The system is de-provisioning the VMs since they aren't being used by some criteria.    Since I was literally RDP in these boxes coping files to them - i'm not sure what your criteria are set.

Is this a bug? Or a usage pattern issue?

[2016-04-09 00:18] gbowerman commented on #1517
Can you load the CPU at 100% for 30 minutes? Let me know if you don't see any scaling action..

[2016-04-09 00:23] gbowerman commented on #1558
@lbrader glad it's resolved. Regarding your question about autoprovision, it's a default virtualMachineScaleSets property in the 2016-03-30 Compute API, you'll see it in our VMSS templates in Azure Quickstart templates. The default, "true" means when you create a scale set of say 10 VMs, it will create more than 10 VMs, and then delete the extra ones. Doing this improves deployment reliability and

[2016-04-09 02:08] jbpadgett commented on #1550
I can create a workaround by making multiple localAddressPrefix parameters and corresponding usage as properties in the Resource.  I was actually hoping to have the resource treat the parameter array as an iterator loop.  This would in essence have created multiple instances of the property objects.
I tried multiple attempts to use the copy object feature and index in the template, but had trouble

[2016-04-11 03:50] auld commented on #1267
Closing issues based on last comment.

[2016-04-11 03:50] #1267 closed

[2016-04-11 14:56] ciberado opened #1567 "Mesos template deployment fails with a master nodes <> 1"
[Azure Container Service](https://github.com/Azure/azure-quickstart-templates/tree/master/101-acs-mesos)

### Container service preview deployment failure

Looks like it's not possible to deploy a new mesos cluster if you specify 3 or 5 master nodes. It fails after a few minutes with this message:

[code]

Attaching an image with  additional info:

![mesoserror](https://cloud.githubusercontent.com

[2016-04-11 16:17] spsiddarthan opened #1568 "Public IP and DNS field empty."
I created a azure container service cluster based on the mesos walkthrough. However, the fields for the public ip and DNS name were empty (It showed a simple dash ('-') symbol).

I followed the exact same steps on the tutorial and didn't do anything different, should be easy to reproduce.

[2016-04-11 17:04] spsiddarthan opened #1569 "SSH command freezes."
I am trying to SSH onto the VM as specified in the tutorial https://azure.microsoft.com/en-in/documentation/articles/container-service-connect/.

`sudo ssh -L 80:localhost:80 -N azureuser@phoneapp.japaneast.cloudapp.azure.com -p 2200`

However, this command freezes and eventually times out. What I am able to do is simply ssh onto the VM without any port options - sudo ssh -i id_rsa azureuser@phone

[2016-04-11 18:14] lbrader commented on #1558
Ah.. Thanks for the clarification.  So this is why I end up with 1 in my Scale Set.

From: Guy Bowerman [mailto:notifications@github.com]
Sent: Friday, April 8, 2016 5:24 PM
To: Azure/azure-quickstart-templates <azure-quickstart-templates@noreply.github.com>
Cc: Larry Brader <lbrader@microsoft.com>
Subject: Re: [Azure/azure-quickstart-templates] RDP into VMSS VM via NAT rules in load balancer does

[2016-04-12 20:32] spsiddarthan commented on #1569
Closing this since I've figured out how to do this. I did not need to give the port option (-p 2200)

[2016-04-12 20:32] #1569 closed

[2016-04-13 11:46] KSanthanam opened #1578 "go-ethereum-on-ubuntu throwing invalid template error"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-04-13 16:59] kevinday commented on #1578
Thanks for opening this issue. I just received the same error when trying to deploy this template.

[2016-04-13 17:14] zfrenchee opened #1579 "The template deployment 'Microsoft.Template' is not valid"
[Slurm](https://github.com/Azure/azure-quickstart-templates/tree/master/slurm)

### Issue Details

Just by following the steps, I get this message:

[code]

Can you check that you get proper results?

[2016-04-14 02:21] bingosummer commented on #1559
@rjmax and @ravbhatnagar
Please let me know if you need more information.

[2016-04-14 18:11] khanhankkhan commented on #334
Hi, getting this error

     failure: repodata/repomd.xml from mongodb-org-3.0: [Errno 256] No more mirrors to try.

from command

     sudo yum install mongodb-org

searching my error on google brought me here

[2016-04-16 00:20] gmatusko opened #1635 "JoinDomain extension fails when using parameters/variables only"
201-vm-domain-join
https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-domain-join

### Issue Details
I have not been able to get the JoinDomain extension to work when passing a parameter or variable value in for OUPath as in your example.  The only thing I can get working is a concatenated string like this:
"OUPath": "concat('OU=Core,OU=xServers,DC=',parameters('clientPrefix'),

[2016-04-16 00:40] gmatusko commented on #1635
Also, once this JoinDomain extension errors out the only way to fix it is to delete the VM.  If you remove the extension and redeploy the deployment times out on the JoinDomain extension.  Not a big deal but just annoying when testing various deployment scenarios.

[2016-04-16 22:19] pelagos commented on #1579
I am having this issue as well. Any ideas?

[2016-04-16 22:42] zfrenchee commented on #1579
The way I managed to solve it is you need to make sure you have a storage account already set up (and make sure it's in the right geographic region) before going to make the cluster.

[2016-04-16 22:42] #1579 closed

[2016-04-18 17:54] boumenot opened #1729 "Re-format all Templates in a Agreed Upon JSON Style"
Not all templates follow an agreed upon JSON style.  Some indent at 2 spaces, some at 4, some cuddle braces instead of breaking across new lines, etc.  When I made a mass edit to add autoUpgradeMinorVersion to every CustomScriptForLinux extension I created a lot of unnecessary noise in the diffs due to a mismatch in style.

I wrote a script to automate this for me, but it devolved into a lot manua

[2016-04-18 18:18] singhkay commented on #1729
Interesting idea, one that I can definitely see being very useful to improve readability. Due to the nature of Github layout not being very wide, I've found 2 spaces indent usually works best.

How will this step work? Will this commit to an open PR or create a new PR after the merge?

Adding few others to get their thoughts on this @sedouard @marcvaneijk @gatneil

[2016-04-18 18:26] boumenot commented on #1729
😄 I don't know how it will work with GitHub.  I'll need to do some research.

[2016-04-19 08:24] CraigCloudITPro opened #1735 "PS Script & Link Templated"
Hi guys, I've been doing a bit of ARM Template creation for a while now, and i'm just getting into the more advance stuff.

I'm looking at deploying this template through Visual Studio https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain

With the 101 and 201 series i simply copied and pasted the RAW azure.deploy & azure.parameters code into a blank VS templa

[2016-04-19 19:43] singhkay commented on #1735
@CraigSCCM In it's current state since the modules live in Github, the URI points to these locations

https://github.com/Azure/azure-quickstart-templates/blob/master/active-directory-new-domain/azuredeploy.json#L132
https://github.com/Azure/azure-quickstart-templates/blob/master/active-directory-new-domain/azuredeploy.json#L165

So you should still be able to deploy this template in VS. However, y

[2016-04-19 19:47] CraigSCCM commented on #1735
@singhkay thanks for this, how do I incorporate the ADPDC Powershell script ?

[2016-04-19 19:52] singhkay commented on #1735
@CraigSCCM No need to in the current form. Just copy paste the contents of template and parameters file and deploy from VS. ARM will download the zip files from the Github URIs.

[2016-04-19 21:54] boumenot commented on #1729
I've sent a PR to address this issue (#1737).  I couldn't find a way to add a pre-commit hook in a way that I liked, so I opted to make it an explicit build target.  Developers will need to install NPM and the necessary libraries to use the target.  It does provide a standard and multi-platform way to implement consistent styling, and provides the necessary tooling to apply the agreed upon style.

[2016-04-19 21:54] #1729 closed

[2016-04-19 22:21] nitin16 commented on #1400
I could not do it on policy based VPN. Apparently highperformance mode only works for Route based VPNs. And to update I had to drop and recreate gateway.

[2016-04-20 15:51] CraigSCCM commented on #1735
Hi @singhkay i've just done as above, copy and pasted template and parameters file, and nothing else and i got the below error

`InvalidTemplateDeployment: The template
16:48:18 - [ERROR] deployment 'azuredeploy-0420-1548' is not valid according to the validation
16:48:18 - [ERROR] procedure. The tracking id is 'adb9d239-07ac-4ff4-a174-c31e6a74704d'`

[2016-04-20 16:20] singhkay commented on #1735
Make sure you replace the placeholder parameters (GEN-*) in the parameter files to actual values

[2016-04-20 23:25] bartrumb commented on #1407
I would like to use multiple "additionalUnattendContent" paramters. One to set the AutoLogon and one to set the FirstLogonCommand. Could somebody please provide an example?

[2016-04-21 14:14] CraigSCCM commented on #1735
thanks @singhkay for some reason it keeps erroring on Visual Studio, but i call the json with powershell and it works....very strange :-/

[2016-04-21 15:32] bartrumb commented on #1407
I think I figured out how to do the multiple components but I'm having trouble with the computer actually logging in. Here is code in case anybody else is trying. This goes into the virtual machine resource:

`        "osProfile": {
          "computerName": "[concat(variables('TierBEName'), copyindex(1))]",
          "adminUsername": "[parameters('adminUsername')]",
          "adminPassword": "[p

[2016-04-21 18:54] richstep opened #1757 "Wanted: template to create VMs and LB and upgrade VMs to be a new domain controllers in an existing forest."
Customers create a site-to-site connection to Azure and the first thing they want to do is replicate their on-premise AD to new domain controllers on their new Vnet in a high-availability configuration.

Create a template that:
1. Creates a two Windows VMs
2. Joins then too an existing domain
3. Installs AD Domain Services
4. Upgrade the new VMs to be a new domain controllers in an existing forest

[2016-04-21 20:58] gregjhogan commented on #1407
You have to concat() the "content" together when you want to use variables, for example:
[code]

[2016-04-22 01:02] youxu71 opened #1786 "why not set caching mode for data disks? Say, "ReadOnly"? Not tested yet, but seems enable caching will get better performance?"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-04-22 01:27] singhkay commented on #1786
@youxu71 Write cache is not recommended. See towards the end - https://blogs.msdn.microsoft.com/windowsazurestorage/2012/06/27/exploring-windows-azure-drives-disks-and-images/

Also, please use the issue description format for asking a question. Helps us understand the issue better. Thanks!

[2016-04-22 01:27] #1786 closed

[2016-04-22 18:12] singhkay commented on #1524
@HyperSpaceChain Interesting. I've created an issue on your behalf. You might not be able to access the issue # but I'll put it here for tracking `Issue #ACOM-2579`

[2016-04-23 00:45] HyperSpaceChain commented on #1524
Thanks @singhkay . I appreciate it!!

[2016-04-23 01:27] singhkay commented on #1524
@HyperSpaceChain Looks like there is a typo in the name in the metadata file which is causing this

![1](https://cloud.githubusercontent.com/assets/6164178/14758497/cc76903e-08b7-11e6-81ea-951740330452.png)

[2016-04-23 02:11] HyperSpaceChain commented on #1524
@singhkay Oh! I see! I'll PR!

[2016-04-23 14:09] trentmswanson commented on #1559
The string() function in ARM template language will already convert JObject to string.

https://twitter.com/trentmswanson/status/684474697400979456
![tmp](https://cloud.githubusercontent.com/assets/1594373/14761921/46358e56-0922-11e6-9bcf-119929a67e84.png)

[2016-04-23 15:09] bingosummer commented on #1559
Thanks @trentmswanson . It works.

@singhkay
Is this a new feature of string()?
It seems that the following document is not updated for converting JObject to string.
https://azure.microsoft.com/en-us/documentation/articles/resource-group-template-functions/#string

[2016-04-23 15:25] trentmswanson commented on #1559
No problem. It was added ~4 months ago, and it would appear that it has not been documented yet. You should note that it works with JArray as well.

[2016-04-23 15:30] bingosummer commented on #1559
I think most people don't know this feature since it's not documented.

[2016-04-23 17:14] singhkay commented on #1559
Thanks for the comment @trentmswanson!  @tfitzmac  Can you get this documented?

[2016-04-23 17:15] singhkay commented on #1524
PR merged

[2016-04-23 17:15] #1524 closed

[2016-04-25 19:55] zfrenchee opened #1796 "srun: error: Unable to allocate resources: Unable to contact slurm controller (connect failure)"
Template: [Slurm](https://github.com/Azure/azure-quickstart-templates/tree/master/slurm)

### Issue Details

Upon restarting a VM, slurm seems to break down. How might it be possible to prevent this?

### Repro steps (*if necessary, delete otherwise*)
1. Use the button to launch a slurm cluster.
2. ssh into master
3. `srun -N3 hostname` -> succeeds
4. Restart master
5. ssh into master
6. `srun -N3

[2016-04-25 20:14] singhkay commented on #1796
@YidingZhou Can you take a look at this?

[2016-04-26 07:01] Spsutar opened #1798 "ARM Template deployment via Visual Studio 2015 fails"
Hi Team,

I am trying to deploy a template with 2 vms Loadbalanced in a single subnet and Availability set via Visual studio. But it fails with the below error. I also tried to pick an existing template from Visual Studio and deploy it and still the same error.

12:23:03 - Build started.
12:23:03 - Project "testproject.deployproj" (StageArtifacts target(s)):
12:23:03 - Project "testproject.deployp

[2016-04-26 11:07] akuzhan opened #1799 "Arm script Asp.Net 5 deploy"
Hi Guys,

I am trying to deploy Asp.Net 5 application via Arm script.

I does not locate the packages into correct folders, surely something is going wrong with Asp.Net 5.

4.5 deployment is working quite good.

Do you have any idea how to deploy Asp.Net 5 application via Arm script?

Cheers!

[2016-04-26 18:11] tfitzmac commented on #1559
Yes, I'll add it today.

[2016-04-26 18:24] singhkay commented on #1559
@tfitzmac Awesome! thanks

[2016-04-27 06:46] cihanb opened #1822 "Couchbase-on-ubuntu template having an issue - The template deployment 'Microsoft.Template' is not valid according to the validation procedure. The tracking id is '...'. See inner errors for details. Please see http://aka.ms/arm-deploy for usage details."
re: https://github.com/Azure/azure-quickstart-templates/tree/master/couchbase-on-ubuntu

### Issue Details
The template deployment 'Microsoft.Template' is not valid according to the validation procedure. The tracking id is '...'. See inner errors for details. Please see http://aka.ms/arm-deploy for usage details.

### Repro steps (*if necessary, delete otherwise*)
1. Supply new resource group name

[2016-04-27 16:23] singhkay commented on #1822
@cihanb This error is usually from pre-deployment checks to fast fail deployments due to one of the parameter values not being right or subscription not having enough cores in the region. With that said, when I tried deploying it I see the template fail due to storage account name being already taken. The latest guidance to avoid these kinds of errors is to generate a unique storage account name r

[2016-04-28 19:05] haydonryan opened #1860 "Bosh template script should autogenerate strong passwords."
[bosh-setup](https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/scripts/deploy_bosh.sh)
### Issue Details
As a best practice, we really should auto-generate bosh component passwords in the bosh.yml before deploying, ESPECIALLY the bosh-agent password.

This is important at creation time, because if a new user uses the template to create microbosh, and then deploys more vms

[2016-04-29 20:48] singhkay commented on #1860
@bingosummer Can you take a look at this?

[2016-04-29 20:49] singhkay commented on #1799
@akuzhan MSDN forums or StackExchange might be a better venue for .NET 5 specific questions. https://social.msdn.microsoft.com/Forums/azure/en-US/home

[2016-04-29 20:49] #1799 closed

[2016-04-29 21:01] cihanb commented on #1822
ok verified that it is the storage account.
thanks

[2016-04-29 21:01] #1822 closed

[2016-04-29 21:12] singhkay commented on #1822
@cihanb awesome!

[2016-05-02 18:42] FrankSiegemund opened #1898 "zookeeper template not working for other than 3 nodes in the zookeeper ensemble"
zookeeper-cluster-ubuntu-vm: https://azure.microsoft.com/en-us/documentation/templates/zookeeper-cluster-ubuntu-vm/

### Issue Details

Template gives the option to deploy zookeeper ensemble with variable number of nodes. However, the template really only works for 3 nodes. This is because the zookeeper.sh script does only add the first 3 nodes to the ensamble. This needs to be changed.

### Repro

[2016-05-02 18:53] singhkay commented on #1898
Thanks @FrankSiegemund I'll put this down as a task/enhancement

@ggalow - If you're still working on enhancing this, can you look at this as well?

[2016-05-02 18:55] ggalow commented on #1898
Yeah I wanted to fix this as well. Picking this up this week.

[2016-05-02 19:12] singhkay commented on #1898
Awesome! Thanks @ggalow

[2016-05-02 19:52] singhkay commented on #1798
@Spsutar Looks like there is a problem with the azure powershell installation. Make sure you're on the latest PS build

`[ERROR] Get-AzureEnvironment : The term 'Get-AzureEnvironment' is not recognized as `

[2016-05-03 01:23] bingosummer commented on #1860
Thanks @haydonryan for addressing this.
Will do it.

[2016-05-03 01:38] haydonryan commented on #1860
I can submit a pr tomorrow evening for this. If you want.

On May 2, 2016, 9:23 PM -0400, Bin Xia<notifications@github.com>, wrote:

[2016-05-03 01:43] bingosummer commented on #1860
Sure. We are happy to accept your pr.
Please loop me in when you summit your pr. Thanks.

[2016-05-03 07:04] FrankSiegemund commented on #1898
I created this pull request #1907

Can you please take a look?

If you consider doing more work on this example template, can you improve security by using network security groups? Right now, the VNET is very open.

[2016-05-03 11:00] nneubauer opened #1908 "Automation not/no longer supported?"
[101-automation-runbook-getvms](https://github.com/Azure/azure-quickstart-templates/blob/master/101-automation-runbook-getvms/azuredeploy.json)

### Issue Details

When trying to add the automation part into a Visual Studio ARM Project, it seems the preview schema is no longer available and thus, Automation cannot be configured via ARM. Is that correct? Why is that the case? What can I do about it

[2016-05-03 15:38] eosfor opened #1910 "201-insights-alertrules-servicehealth creates disabled alerts"
[201-insights-alertrules-servicehealth](https://github.com/Azure/azure-quickstart-templates/blob/master/201-insights-alertrules-servicehealth)
### Issue Details

IsEnabled property is missing in the properties of the resource so Alerts are disabled after creation

Please set the property to true

[2016-05-03 15:59] zfrenchee commented on #1796
@YidingZhou @singhkay any news?

[2016-05-03 17:16] #1898 closed

[2016-05-05 18:45] gregjhogan opened #1920 "App Insights Continuous Export Example"
Please provide an app insights example that enables continuous export

[2016-05-05 22:11] lmillott opened #1921 "Redis cache template enable diagnostics doesn't work"
[101-redis-cache](https://github.com/Azure/azure-quickstart-templates/blob/master/101-redis-cache/azuredeploy.json)

### Issue Details
When I deploy this template with diagnostics turned on, diagnostics still shows up as "OFF" in the azure portal.

### Repro steps
1. Deploy the template with diagnosticsStatus = ON and existingDiagnosticsStorageAccountName = (your storage account name)
2. Visit the

[2016-05-09 17:53] zfrenchee commented on #1796
@YidingZhou @singhkay still no news?

[2016-05-09 22:06] aarsan opened #1932 "Can't figure out how to use outputs on dynamic number of resources created based on count"
I am creating x number of storage accounts and x is determined by a 'count' parameter passed into the template. I would like to output an array of storage account objects but because I can't use CopyIndex() in Outputs, I don't know how to do that or if it's even possible.

Thanks

[2016-05-10 11:01] albertramsbottom opened #1937 "Separate moodledata folder"
[moodle-singlevm-ubuntu](https://github.com/Azure/azure-quickstart-templates/tree/master/moodle-singlevm-ubuntu)
### Issue Details

Sorry, more of an enhancement

Moodle is never run using a local moodledata folder due to size and security. This template needs an additional step that includes variables to choose to add an additional disk with size options for the moodledata folder.  I would imagin

[2016-05-10 15:10] tuczap opened #1938 "101-vm-user-image-data-disks template deployment is not valid"
After trying to deploy 101-vm-user-image-data-disks I get following error message:

I am deploying in to existing resource group where my OS and Data disk images reside in single storage account. I input urls to os and data disks in this storage account.

Can anyone please verify if facing same issue?

[2016-05-10 19:39] jeffpatton1971 opened #1940 "Feature Request: Ordering of the things"
As the size of this repo continues to grow and grow, it would be nice if the templates were in some way aggregated by something. Like, all the storage specific templates in a storage folder, or load balancer templates in a load balancer folder.

I'm not sure what is the best way, but a mass of, essentially, teeny tiny projects inside a much larger project is difficult to navigate. I'll allow that

[2016-05-11 20:35] gregjhogan commented on #1521
Any update on this (or any way I can track this)?  The use case is we want to domain join VMs, and we want a unique, generated sequence number per resource group to inject into VM names so that there are no naming conflicts in AD.  Since VM names are limited to 15 characters, uniqueString() is not a great option because it is 13 characters, and we also would like to be able to keep our VM names co

[2016-05-12 02:03] rfedoriu opened #1947 "Error enabling chef-client service - no such file rb_sysopen /etc/chef/client.rb"
[chef-json-parameters-linux-vm](https://github.com/Azure/azure-quickstart-templates/tree/master/chef-json-parameters-linux-vm)

### Issue Details
Hello. I can't seem to get anything to work with the 'LinuxChefExtension' example in this template. When generating just a plain (empty) vm and removing the 'LinuxChefExtension' resource block (and associated variables/parameters) the same settings work

[2016-05-12 12:20] albertramsbottom opened #1948 "moodle-singlevm-ubuntu - Issues with newuserscript"
moodle-singlevm-ubuntu

### Issue Details

Hi, newbie at Github.

I have forked the repro and changed the "install_lamp_moodle.sh" for the "moodle-singlevm-ubuntu" to fit my needs but I cant seem to be able to test this as every-time the newuserscript part of the azuredeploy.json template (which I have locally stored), fails

I have changed the path to the installscript URI from  "installScriptUri

[2016-05-12 18:25] gvilarino commented on #1273
@rgardler I think I'm kind of confused since the template I've always followed as _latest stable_ is the [quickstart repo](https://github.com/Azure/azure-quickstart-templates/tree/master/docker-swarm-cluster)'s

Should I use this other one you're linking to?

Also, is there any updates on the network creation issue being solved? I'm having a hard time understanding that from looking at the templat

[2016-05-12 22:35] thekevinshen commented on #1578
Has this been resolved yet? I have the same problem too. :)

[2016-05-12 22:35] thekevinshen commented on #1938
I'm getting the same error message as well. Have you found a way to solve it yet?

[2016-05-13 07:25] GeoffreyEmery opened #1950 "wordpress-mysql-replication fails"
[Template Name goes here](Template link goes here)
https://github.com/Azure/azure-quickstart-templates/tree/875d139c16c9c023dce519e6dd48c707e3473346/wordpress-mysql-replication
### Issue Details
Fails to Launch in Azure
I think the real issue is that there are too many options. Can you simplify this down to just like 3 text boxes

### Repro steps (*if necessary, delete otherwise*)
1.press the butt

[2016-05-13 08:41] tuczap commented on #1938
Nope, but by using export template function in Azure and editing the template I was able to achieve the same thing this quickstart template does

[2016-05-13 08:45] CraigSCCM opened #1951 "SQL Always on DSC Failure"
Hi guys i'm trying to deploy the https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-dsc template, it deploys all my resources but fails on provisioning the SQL VM Extension and i have no idea why :(

[code]

[2016-05-13 21:07] buchizo opened #1954 "Doesn't set to Dynamic plan about Azure Functions"
[101-function-app-create-dynamic](https://github.com/Azure/azure-quickstart-templates/tree/master/101-function-app-create-dynamic)
### Issue Details

This template can create Azrue Functions using Dynamic service plan, but it set to actually 'Standard App Service plan' after deploy.

[2016-05-16 00:07] haydonryan opened #1958 "NTP not correct for AzureChinaCloud"
[Bosh.yml](https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/manifests/bosh.yml#L122)

### Issue Details
NTP servers should be different for AzureChinaCloud...

1.cn.pool.ntp.org
1.asia.pool.ntp.org
0.asia.pool.ntp.org

[2016-05-16 06:18] takekazuomi opened #1959 "deploy error when deploy marketplace-samples\simple-windows-vm"
[Create a simple Windows Multi-VM Deployment from the Azure Marketplace](https://github.com/Azure/azure-quickstart-templates/tree/master/marketplace-samples/simple-windows-vm)

### Issue Details
[code]

[2016-05-16 07:40] zxzxy1988 opened #1961 "The "Visualize" button is break for the given link"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-05-16 08:57] vPadmasri opened #1962 "Problems with ConfigureWinRM.ps1"
### Issue Details
We are trying to Update the Windows RM Group VM with a self signed certification as we want to deploy to IIS using the RM group and we understand the  custom script extension which executes the script ConfigureWinRM.ps1 will do the same on the target machine.

### Repro steps
When we are using this script as a part of Release definition it is giving the following error

2016-05-1

[2016-05-16 15:33] jnsaff commented on #1272
API documentation is here: https://msdn.microsoft.com/en-us/library/azure/mt711471.aspx

[2016-05-16 17:18] gregjhogan opened #1965 "resourceId() support for multi-segment sub-resources?"
Seems like it is more difficult that it should be to reference a subnet using the resourceId() function.

Attempting to specify

[code]

Fails with the error

[code]

Am I missing something?  Obviously I can get the resource ID of the vnet, then use concat to add on the subnet, but it seems like resourceId() should support this.  I am guessing subnets are not the only resource type like this.  Can

[2016-05-16 19:07] thekevinshen commented on #1578
Got it working! For those still struggling, make sure to type the parameters in lowercase.
https://github.com/Azure/azure-quickstart-templates/blob/master/1-CONTRIBUTION-GUIDE/best-practices.md
#8 says Do not create a parameter for a storage account name. Storage account names need to be lower case and can't contain hyphens (-) in addition to other domain name restrictions.

[2016-05-16 23:07] jrudley commented on #1951
New-AzureRmResourceGroupDeployment : 6:04:01 PM - VM has reported a failure when processing extension 'sqlAOPrepare'. Error message: "The VM is running a newer WMF (5) than specified in the WmfVersion parameter: (4, 4.0) Please retry your
configuration on using the VM's current WMF or newer, or on a VM that has the desired WMF version.".

i'd change "typeHandlerVersion": "2.13", to "typeHandlerVer

[2016-05-17 08:05] CraigSCCM commented on #1951
:(

[2016-05-17 14:38] jrudley commented on #1951
yeah, not sure..looks like this repo hasn't been maintained for some time as well

[2016-05-17 15:11] CraigSCCM commented on #1951
i get the exact same failure on a different template https://github.com/Azure/azure-quickstart-templates/tree/master/sqlvm-alwayson-cluster

[2016-05-17 18:14] nitin16 opened #1969 "[201-vmss-automation-dsc] - Given powershell script fails"
I have noticed poweshell script example provided passes template parameter files and dynamic variables which are used in template.

`
$RegistrationInfo = Get-AzureRmAutomationRegistrationInfo -ResourceGroupName $ResourceGroupName -AutomationAccountName $AccountName

New-AzureRmResourceGroupDeployment -Name TestDeployment -ResourceGroupName $ResourceGroupName -TemplateFile .\azuredeploy.json -Templ

[2016-05-17 19:48] singhkay commented on #1961
@zxzxy1988 VIsualize issues are handled by the project owners at https://github.com/ytechie/AzureResourceVisualizer

[2016-05-17 19:48] #1961 closed

[2016-05-17 22:17] singhkay commented on #1940
It's definitely not you :) I've experienced this myself as the list of folders is getting long.

There's two questions we ask ourselves when we think about making change to folder structure
1. Changing folders around will break the Azure.com indexer as it doesn't it expects folder on the top level
2. Changing folder structure will also break existing links that people shared on DLs, articles, blog

[2016-05-17 22:28] singhkay commented on #1951
@CraigSCCM We might be deprecating this template soon. Try the newer one that's contributed by the SQL team https://github.com/Azure/azure-quickstart-templates/tree/master/sqlvm-alwayson-cluster and let us know if you have any trouble

cc: @weidaiMS

[2016-05-17 22:32] singhkay commented on #1962
@vPadmasri What template is this?

[2016-05-17 22:33] singhkay commented on #1969
@mgreenegit Can you take a look at this question?

[2016-05-17 22:34] singhkay commented on #1965
@rjmax @ravbhatnagar Do you guys know the answer to this one?

[2016-05-17 22:34] #1959 closed

[2016-05-17 22:35] singhkay commented on #1959
@takekazuomi Thank you for the fix, merged!

[2016-05-17 22:35] singhkay commented on #1958
@bingosummer Can you take a look at this?

[2016-05-17 22:35] singhkay commented on #1954
@mattchenderson Can you take a look at this?

[2016-05-17 22:36] singhkay commented on #1950
@GeoffreyEmery What's the error after deployment?

cc: @liupeirong

[2016-05-17 22:38] singhkay commented on #1948
@albertramsbottom You need to use the raw link to the script file, otherwise it just gets the html page at the link you specified.

[2016-05-17 22:38] #1948 closed

[2016-05-17 22:38] singhkay commented on #1947
@kundanap Can you take a look at this?

[2016-05-17 23:07] singhkay commented on #1938
@tuczap  @thekevinshen Usually this is a generic error that is being improved to show up the actual cause. This is usually from the pre-deployment validation that checks for valid parameters. See if the dnsname and password parameter values are actually correct.

[2016-05-17 23:07] singhkay commented on #1937
@vinhub Can you take a look at this?

[2016-05-17 23:08] singhkay commented on #1932
@aarsan Don't think this is possible currently. Adding @rjmax @ravbhatnagar for the authoritative answer

[2016-05-17 23:09] singhkay commented on #1921
@steved0x Can you take a look at this?

[2016-05-17 23:18] vinhub commented on #1937
@albertramsbottom Thanks for your comment. The single vm template creates the simplest installation of moodle with everything on one VM. The cluster template has the moodledata folder separated out in Azure Files storage and mounted on each of the vm's in the cluster. Would that one work for you?

We are also working on more advanced templates including hardening etc.

[2016-05-18 00:07] singhkay commented on #1910
@nmackenzie Can you take a look at this?

[2016-05-18 00:07] singhkay commented on #1908
@elcooper Can you take a look at this?

[2016-05-18 00:07] singhkay commented on #1947
Also adding @golive

[2016-05-18 00:08] #1798 closed

[2016-05-18 08:09] CraigSCCM commented on #1951
@singhkay hi mate, i did mention above that i get the exact same error on the other template :(

[2016-05-18 08:38] bingosummer commented on #1958
sure. will fix it.

[2016-05-18 12:30] jrudley commented on #1951
remove the .txt extension and try provisioning with this one. This seems to be the default template they are using from the portal when you provision that way. This worked for me

[DefaultTemplate.json.txt](https://github.com/Azure/azure-quickstart-templates/files/270479/DefaultTemplate.json.txt)

[2016-05-18 14:06] steved0x commented on #1921
@singhkay I am taking a look.

[2016-05-18 14:32] steved0x commented on #1921
@singhkay I can't reproduce the issue (the cache created with diagnostics enabled and designated with my storage account) but I am following up with the cache team to see if they have any feedback or ideas.

[2016-05-18 17:20] elcooper commented on #1908
Automation has not yet published its ARM schema, but this is something that we are working on.  You can configure Automation in ARM and should be able to look at any of the templates [here ](https://github.com/azureautomation/automation-packs/tree/master/101-sample-automation-resource-templates) as an example of how to model the resources.

[2016-05-18 18:48] nitin16 commented on #1969
I am pass this error, For some reason it was not finding deployment template.

I am getting following error though. not much information about error.

New-AzureRmResourceGroupDeployment : 11:45:38 AM - Resource microsoft.automation/automationAccounts/Modules
'AutomationAccount3/xNetworking' failed with message 'The resource operation completed with terminal provisioning
state 'Failed'.'
At C:\User

[2016-05-18 19:24] nitin16 commented on #1969
I see this in extension configuration, should we need to update it for actual key passed though parameters?

`
{
                                  "Name": "RegistrationKey",
                                  "Value": {
                                    "UserName": "PLACEHOLDER_DONOTUSE",
                                    "Password": "PrivateSettingsRef:registrationKeyPrivate"

[2016-05-18 22:50] singhkay commented on #1921
Thanks @steved0x. @lmillott Will close this in the meantime, feel free to reopen if this is still an issue.

[2016-05-18 22:50] #1921 closed

[2016-05-18 22:54] singhkay commented on #1951
@CraigSCCM My bad. @weidaiMS Can you look at this?

[2016-05-18 22:58] weidaiMS commented on #1951
@CraigSCCM  Hi Craig, can you provide your parameter list for your deployment?

[2016-05-18 23:05] ravbhatnagar commented on #1965
I don't think this is currently supported for nested types. @rjmax to confirm and see if we can address this.

[2016-05-19 19:44] lmillott commented on #1921
I just checked my template again and I found my issue.
I had placed the "diagnostics settings" resource in the wrong place in the JSON structure. This didn't give me any validation errors when I deployed it, it just deployed happily without configuring diagnostics.
It would be great if the deployment would throw so I knew there was something wrong with my template.
Here's the template config that

[2016-05-19 19:56] singhkay commented on #1921
@lmillott No worries, glad you got it figured out

[2016-05-19 21:15] singhkay commented on #1564
@lbrader This template integrates with autoscale which is why you're seeing the instances being deprovisioned. From the template readme

if the Percent Processor Time is greater than 50% for 5 Minutes, then the scale out action (add more VM instances, one at a time) is triggered
once the scale out action is completed, the cool down period is 1 Minute

cc: @gatneil @gbowerman

[2016-05-19 21:15] #1564 closed

[2016-05-19 21:15] #1559 closed

[2016-05-19 21:16] singhkay commented on #1567
@rgardler Can you take a look at this?

[2016-05-20 01:07] singhkay commented on #1969
@nitin16 That's what it seems like. You need to supply values to the parameter https://github.com/Azure/azure-quickstart-templates/blob/master/201-vmss-automation-dsc/azuredeploy.json#L75

[2016-05-20 06:29] ciberado commented on #1567
Already solved by him, sorry: I forgot to update this thread. An increase
in the basic quota of cores is needed to deploy a multimaster cluster. The
error message is in this case not related to the cause because of a bug in
Azure.

El jue., 19 de mayo de 2016 23:42, Kay Singh <notifications@github.com>
escribió:

[2016-05-20 07:08] singhkay commented on #1567
@ciberado Awesome, thanks for the update!

[2016-05-20 07:08] #1567 closed

[2016-05-21 01:36] gregjhogan opened #1986 "SAS token in template linked URL logged"
I use SAS tokens to deploy linked templates and keep the templates private.  The full template URL (including the SAS token) ends up in the deployment log info.  Please remove the SAS token query parameters from the log info.  My secureString parameter should not end up in the logs!

Here is the template I am deploying
[code]

Let me know if there is a more appropriate place to report issues like

[2016-05-24 09:53] jdadon32 opened #2000 "deployment fails"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

WordPress using MySQL Replication Cluster (https://azure.microsoft.com/en-us/marketplace/partners/azureappservice/wordpressmysqlvmclusterwordpress-mysql-hybrid/)

the deployment seem to fail when it try to install the extension fnamed <setupMySQL>

i tried to do it from two different subscriptions with the same

[2016-05-24 10:22] Lazarix opened #2001 "Not possible to add SQL alwayson AG to existing resource group"
[Create a SQL Server 2014 Always On Availability Group in an existing Azure VNET and an existing Active Directory instance](https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-existing-vnet-and-ad)

### Issue Details

Not possible to deploy this template into an existing resource group. My existing resource group contains a network gateway that has the connecti

[2016-05-24 13:45] Lazarix commented on #2001
Tested it with creating a new resource group and that also failed with the same error.

[2016-05-24 16:08] marcvaneijk commented on #2001
Thanks for opening this issue @Lazarix
@singhkay can you merge #1873?  The deployment fails because this template is using nested deployment resources pointing to the templates in the folder that is awaiting the location fix in #1873
Tnx, Marc

[2016-05-24 16:22] IanMoroney commented on #2001
Thank you very much Marc, I look forward to this PR being approved.

[2016-05-24 16:23] gbowerman commented on #2001
Merged  #1873, can you test again?

[2016-05-24 16:34] IanMoroney commented on #2001
Thank you @gbowerman @marcvaneijk @MikeRayMSFT for this. Testing now.
It's deploying, so getting further than before.
Will let you know the results.

[2016-05-25 02:12] justsayno opened #2005 "Error with visual-studio-vsobuildagent-vm"
[visual-studio-vsobuildagent-vm](https://github.com/Azure/azure-quickstart-templates/tree/master/visual-studio-vsobuildagent-vm)

### Issue Details
I have tried to create one of these VMs multiple times with different names for vm etc. No errors in validation step, it starts deploying and then givees me the following error:

![Error](http://goo.gl/oAJLFe)

[2016-05-25 03:23] gregjhogan opened #2006 "Add bool() template function"
Any plans to provide an ARM template function that converts a value to a bool?
[code]
where valueToConvert can be any type of value, including objects and array

This is really useful when you have a parameter that when not set (defaultValue: "") you want to pick one value, and when set you want to pick another value.  I have multiple examples of where I use this type of functionality.  You can ac

[2016-05-25 09:44] IanMoroney opened #2008 "Can't deploy SQL AlwaysOn template to existing domain"
[Create a SQL Server 2014 Always On Availability Group in an existing Azure VNET and an existing Active Directory instance](https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-existing-vnet-and-ad)

### Issue Details
Resource: deploySqlAlwaysOn

Error:
`The VM is running a newer WMF (5) than specified in the WmfVersion parameter: (4, 4.0) Please retry your conf

[2016-05-25 09:44] IanMoroney commented on #2001
Unfortunately it didn't work due to a new error. Detailed here: https://github.com/Azure/azure-quickstart-templates/issues/2008

[2016-05-25 10:01] IanMoroney commented on #2008
Created PR [2009](https://github.com/Azure/azure-quickstart-templates/pull/2009)

[2016-05-25 10:02] IanMoroney commented on #2008
@gbowerman, @singhkay, could someone check and merge this PR?

[2016-05-25 12:30] IanMoroney opened #2010 "Can't deploy SQL AlwaysOn template to existing domain"
[Create a SQL Server 2014 Always On Availability Group in an existing Azure VNET and an existing Active Directory instance](https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-existing-vnet-and-ad)

### Issue Details

VM has reported a failure when processing extension 'sqlAOPrepare'. Error message: \\\"A previous attempt to install Win8.1AndW2K12R2-KB3066437-x

[2016-05-25 12:31] IanMoroney commented on #2010
Bug fixed in PR [2011](https://github.com/Azure/azure-quickstart-templates/pull/2011)

[2016-05-25 15:13] scrypter opened #2012 ""deisctl start platform" stuck at deis-store-monitor"
[ deis-cluster-coreos ](https://github.com/Azure/azure-quickstart-templates/tree/master/deis-cluster-coreos)

### Issue Details
When executing the `deisctl start platform`, the system sits in an infinite loop of auto-restart. This issue was found in the deis repo and can be found here (https://github.com/deis/deis/issues/4806). While the issue is working in the deis repo, the template in azure-qui

[2016-05-25 22:05] scrypter opened #2014 "deis-cluster-coreos - error: RulesUseSameBackendPortProtocolAndPool"
[deis-cluster-coreos](https://github.com/Azure/azure-quickstart-templates/tree/master/deis-cluster-coreos)

### Issue Details
When creating the deployment, I receive the following error:
`error:   RulesUseSameBackendPortProtocolAndPool : Load balancing rules /subscriptions/<subscription_id>/resourceGroups/<resource_group>/providers/Microsoft.Network/loadBalancers/loadBalancer/loadBalancingRules/lo

[2016-05-26 09:13] #2010 closed

[2016-05-26 19:49] gregjhogan opened #2019 "Add ability to convert bool to int in ARM template"
When you attempt to pass a bool value to the `int()` ARM template function you receive the following error
[code]

Please add support for this.  Thanks!

[2016-05-27 23:56] steve-warwick opened #2022 "Error creating event hub with no error message"
[{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
  "parameters": {
    "eventHubName": {
      "type": "string",
      "metadata": {
        "description": "Name of the Event Hub"
      }
    }
  },
  "variables": {
    "eventHubNamespace": "[concat('eventHub',uniqueString(resourceGroup().id))]",
    "location": "

[2016-05-31 20:20] #2008 closed

[2016-06-01 09:47] spsiddarthan opened #2034 "101-acs-dcos Deployments not happening."
[101-acs-dcos](https://gallery.azure.com/artifact/20151001/microsoft.acs.1.0.0/Artifacts/mainTemplate.json)

### Issue Details

I'm not able to deploy my application on the marathon UI.  The application keeps going to the waiting state.  Below is my application configuration (from the https://azure.microsoft.com/en-us/documentation/articles/container-service-mesos-marathon-rest/ tutorial)

[code]

[2016-06-01 15:32] Blackbaud-IanThomas commented on #2034
This is happening to me today, too.

[2016-06-01 15:37] rgardler commented on #2034
We are debugging an issue. I'll update here as soon as we have something. This issue only affects new clusters.

[2016-06-01 15:38] Blackbaud-IanThomas commented on #2034
@rgardler: Thanks!  My team tears down and recreates the testing cluster each day, so this has been a big roadblock today.  I'll be very happy to hear your updates.

[2016-06-01 15:39] rgardler commented on #2034
Sorry for the inconvenience. The engineering team are making progress towards a fix.

[2016-06-01 15:40] Blackbaud-IanThomas commented on #2034
Awesome.

[2016-06-01 16:00] Blackbaud-IanThomas commented on #2034
@rgardler I just realized that you've also been involved with another issue involving ansible that I created.  Thanks for helping me out all over the place!

[2016-06-01 17:09] spsiddarthan commented on #2034
Thank you, @rgardler. Look forward to the fix.

[2016-06-01 17:47] GeoffreyEmery commented on #1950
Fail 1
----------------------------------
Multiple error occurred: BadRequest,BadRequest. Please see details. (Code: MultipleErrorsOccurred) The provided location 'TPRTest' is not available for resource type 'Microsoft.Storage/storageAccounts'. List of available regions for the resource type is 'eastus,eastus2,eastus2stage,westus,westeurope,eastasia,southeastasia,japaneast,japanwest,northcentralus

[2016-06-01 17:57] rgardler commented on #2034
:-) I try - thanks for feeding back to us - always helpful (the eng. team have isolated the problem here and are working on a fix)

[2016-06-01 18:17] #1958 closed

[2016-06-01 18:26] gregjhogan opened #2036 "ARM template KeyVault reference "id" does not support "resourceId" function"
It is inconvenient that you cannot use the `resourceId()` function because it can derive the subscription/resource group name being deployed to for you.

This does not work

[code]

If you try to do this, you get the below error

[code]

Can you add support for this?  If it doesn't make sense to put function calls in a parameter file, an alternative might be something like this:

[code]

Where sub

[2016-06-01 18:39] haydonryan opened #2037 "Snapshotting should be disabled by default."
[https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/manifests/bosh.yml#L93](Template link goes here)

### Issue Details
https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/manifests/bosh.yml#L93

Please set to false or remove (default is false).  We should not enable snapshots by default, especially while azure has snapshot limitations.

[2016-06-01 18:39] gregjhogan commented on #1920
We can't figure out a way to:

set the pricing tier: microsoft.insights/components/BillingPlanForComponent
set the proactive detection settings: microsoft.insights/components/edison
and configure continuous export.

We really need ARM template support for these, can you help?  Thanks!

[2016-06-01 18:51] Blackbaud-IanThomas commented on #2034
Glad to help!

[2016-06-01 21:31] nickjbauer opened #2039 "Deployment fails due to existing PublicIP"
[101-vm-from-user-image](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-from-user-image)

### Issue Details
First deployement works, however subsequent deployments fail.  Deployment fails due to existing PublicIP

### Repro steps (*if necessary, delete otherwise*)
1. Use template to deploy VM (ensure success)
2. Use template to deploy a second VM, different name

Issue appe

[2016-06-02 00:35] rgardler commented on #2034
DCOS agents stopped registering yesterday because of a new Ubuntu build.  We mitigated by 1:00pm PDT today and all DCOS clusters should correctly install. We've fully tested and believe this fix is complete. Your confirmation or otherwise would be appreciated.

[2016-06-02 01:27] Blackbaud-IanThomas commented on #2034
I just tested it out, and all seems to be working! @spsiddarthan will surely want to confirm as well. Thanks @rgardler!

[2016-06-02 06:19] spsiddarthan commented on #2034
Thank you, guys! Works as expected.

[2016-06-02 06:19] #2034 closed

[2016-06-02 19:07] vikrant3007 opened #2044 "Splunk on Ubuntu: Ingestion Endpoint Authentication"
Team,

we have set up a splunk cluster using the following template:
https://github.com/Azure/azure-quickstart-templates/tree/master/splunk-on-ubuntu

But we were into issues when trying to authenticate the ingestion endpoint. On setting up SSL, the error that we are getting: Connect to **.**.**.** failed. No connection could be made because the target machine actively refused it.

May we know if

[2016-06-02 22:57] singhkay commented on #2010
@IanMoroney Thank you for reporting and following through with a fix!! :+1:

[2016-06-02 23:27] singhkay commented on #2001
Closing since #2008 is fixed by #2009

[2016-06-02 23:27] #2001 closed

[2016-06-03 00:02] singhkay commented on #2044
@rarsan Can you take a look at this?

[2016-06-03 01:24] rarsan commented on #2044
By default, the cluster is pre-configured to receive raw data via splunktcp on port 9997 across all indexer nodes.

To receive encrypted data (splunktcp-ssl), please follow instructions on how to configure it using either the available [default certificates](http://docs.splunk.com/Documentation/Splunk/latest/Security/ConfigureSplunkforwardingtousethedefaultcertificate) or your [own certificates](h

[2016-06-03 05:58] takekazuomi opened #2046 "deploy error when deploy 201-vmss-linux-jumpbox"
### template
201-vmss-linux-jumpbox
https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-linux-jumpbox

### Issue Details
I got following error.

[code]

### Repro steps
in template validation

[2016-06-03 06:15] singhkay commented on #2046
@takekazuomi Thank you for fixing!

[2016-06-03 06:15] #2046 closed

[2016-06-03 08:06] IanMoroney commented on #2010
A pleasure :)

[2016-06-03 14:10] vikrant3007 commented on #2044
Roy,

Our goal is to secure the Splunk indexer ingestion endpoint - i.e only
approved Splunk Forwarders be able to ingest data into the indexers.

We followed the instructions in Splunk site for configuring own
certificates and also pulled in the splunk product specialist but after
multiple attempts, we discovered that the port 9997 is not receiving
secured data (SSL).
Please let us know if you we

[2016-06-03 14:57] ppanyukov opened #2048 "101-acs-dcos: incorrect value for agentCount.maxValue"
[101-acs-dcos](https://github.com/Azure/azure-quickstart-templates/tree/master/101-acs-dcos)

### Issue Details

All three `101-acs-*` templates specify `agentCount.maxValue`. Two of them (`101-acs-mesos` and `101-acs-swarm`) have 100. The `101-acs-dcos` has 40. The documentation in both `101-acs-dcos` and `101-acs-mesos` states `This value can be from 1 to 40` which is also inconsistent with the

[2016-06-03 19:04] hubber30 opened #2051 "wordpress-mysql-replication: Deployment template validation failed"
When I try to deploy the template I get the next error:
`Deployment template validation failed: 'The template parameters 'storageAccountNamePrefix' in the parameters file are not valid; they are not present in the original template and can therefore not be provided at deployment time.` @marcvaneijk

[2016-06-03 20:21] rgardler commented on #2048
Thank you for highlighting this. You are right, the correct value is 100. I'll resolve.

[2016-06-03 20:36] AufeJin opened #2053 "SQLOA not work on template of sharepoint-server-farm-ha"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-06-03 21:07] #2048 closed

[2016-06-04 10:27] marcvaneijk commented on #2051
@hubber30 Good catch!
@singhkay this issue is present because a nested template resides in a different folder. I looked at the options to solve this, but the only proper way is to have all artifacts related to the deployment reside in the same template deployment folder, which is inline with the best practices. I can copy the artifacts and clean up the template. Agree?

[2016-06-04 14:38] hubber30 commented on #2051
@marcvaneijk
I was able to deploy the template through portal after editing template and deleting following lines:
` "storageAccountNamePrefix": {
            "type": "string",
            "metadata": {
                "description": "Storage account name prefix for the cluster"
            }`
[code]
Getting a couple of errors after deployment as well:
https://www.dropbox.com/s/ehnnmf57t4750vr/a1.

[2016-06-04 22:33] hubber30 commented on #2051
I think there is also something wrong with MySQL server replication. When I shutdown VM1 my website just stops working. Isn't the point of this template to provide fail-over work? Also when I try to check health of second VM by wget http://10.0.1.5:9200, as identified in read me, it reports that second VM is down.

[2016-06-05 02:17] GeoffreyEmery opened #2061 "visualizebutton doesn't work"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-06-05 14:23] GeoffreyEmery commented on #2051
mysql replication is failing. You should take this down immediately until you figure this out.  I just wasted almost a 45 minutes going through @hubber30

[2016-06-05 15:09] hubber30 commented on #2051
@GeoffreyEmery
Are you saying that this template is defective? Did your set up fail?
Or did you go through my screenshots and recommend me to stop using based on an error you saw?

[2016-06-06 07:06] ng25 opened #2068 "sharepoint-three-vm - Deploying Issue Create SQL"
sharepoint-three-vm https://github.com/Azure/azure-quickstart-templates/tree/master/sharepoint-three-vm

### Issue Details

I started deploying this template. All steps are green and the servers have been created, except the SQL Server. I received the following error.
Any idea how to proceed?

Thanks in advance for your help.

Operation Id
14D91EB3779CDA8C
Tracking Id
29f9c445-97cd-4a5d-b3cd-2e8db

[2016-06-06 13:19] sdiermeier opened #2069 "ElasticSearch Attachment plugin Question"
Is there a way to add the ElasticSearch attachment plugin?

[2016-06-06 15:08] zfrenchee commented on #1796
@singhkay @YidingZhou Why is this labeled question?

[2016-06-06 16:47] phi16180 commented on #2051
Hey Guys! @GeoffreyEmery @marcvaneijk Should we still use this template? Any definitive fix for the storageaccountnameprefix issue?

[2016-06-06 17:37] YidingZhou commented on #1796
@zfrenchee Can you make sure the daemon started? The setup scripts run the following 3 steps.

sudo -u slurm /usr/sbin/slurmctld
sudo munged --force
sudo slurmd

Can you do a "ps" and see if all 3 daemons are running?

[2016-06-06 18:12] zfrenchee commented on #1796
alex@master:~$ ps
	  PID TTY          TIME CMD
	 3928 pts/0    00:00:00 bash
	 3954 pts/0    00:00:00 ps

[2016-06-06 18:37] YidingZhou commented on #1796
@zfrenchee

Sorry for not being clear. Can you do a "ps -ef |grep slurm" and see which slurm related processes are running?

From the last comment it seems that everything is running?

[2016-06-06 18:44] zfrenchee commented on #1796
Hi @YidingZhou ,

[code]

If you read the repro steps in my original issue, you may understand better what I'm having trouble with.

[2016-06-06 22:23] YidingZhou commented on #1796
@zfrenchee so, what you are saying is that,

#1 Right after installation, everything runs fine and you can see slurmctld process running. But
#2 After a reboot of master node, srun complains about unable to contact slurm controller. And you cannot see slurmctld/slurmd process.

Is this correct?

If you do a `"systemctl status slurmctld.service"`, do you see something like below?

`slurmctld.servic

[2016-06-06 23:08] rarsan commented on #2044
Hey Sampat, I've emailed you with few questions to help troubleshoot this. Awaiting your response. Thanks.

[2016-06-07 13:40] wolffang1 opened #2071 "Template for NXT blockchain platform still not added (waiting since end of March)"
[Template for NXT blockchain platform.](https://github.com/Azure/azure-quickstart-templates/pull/1491)
Pull request #1491

Dear Sir/Madam,

What is going on with the BaaS template adding on Azure?
We are waiting since March for our NXT template to be added, but it is still not added.

Hope to hear from you soon.
Thanks in advance!

Best regards,

Rob
NXT Community

[2016-06-07 13:55] zfrenchee commented on #1796
Before restart:

	alex@master:~$ srun -N3 hostname
	master
	worker0
	worker1
	alex@master:~$ systemctl status slurmctld.service
	● slurmctld.service - Slurm controller daemon
	   Loaded: loaded (/lib/systemd/system/slurmctld.service; enabled; vendor preset: enabled)
	   Active: inactive (dead)
	Condition: start **condition failed** at Mon 2016-06-06 17:54:19 UTC; 19h ago

After restart:

	alex@mas

[2016-06-07 15:38] GeoffreyEmery commented on #2051
@hubber30  Yes the setup is completely failing but fixing it as you did I validated the cluster is failing over properly. I am not a mysql guy so i just moved over to the the https://github.com/Azure/azure-quickstart-templates/tree/master/mysql-ha-pxc which is percona a mysql fork. Note being said here that this template is of great importance and should be fixed. ClearDB is a horrible alternative

[2016-06-07 17:01] phi16180 commented on #2051
@GeoffreyEmery Can you please guide me on how to deploy wordpress with the percona template?

[2016-06-07 18:43] GeoffreyEmery commented on #2051
just launch the percona template that will create a percona vm with cluster of percona db's. Then launch wordpress wherever can be anything from a docker instance to a standard web app https://azure.microsoft.com/en-us/documentation/articles/app-service-web-create-web-app-from-marketplace/
dont worry about the db for now you can delete it after..
After it launches just edit the config to point at

[2016-06-07 21:45] singhkay commented on #2051
@phi16180 Just deployed the wordpress-mysql-replication template and it deploys fine for me

![image](https://cloud.githubusercontent.com/assets/6164178/15875705/3b8c4ec6-2cbe-11e6-8033-b11d2b9231e9.png)

Adding @liupeirong who might know why it's not failing over.

[2016-06-08 00:19] GeoffreyEmery commented on #2051
@singhkay can you provide the parameters  you used to deploy with?

[2016-06-08 01:37] singhkay commented on #2051
@GeoffreyEmery deleted the RG but deployed through Portal and left the default parameters alone. For dns name make sure it's unique.

[2016-06-08 05:52] GeoffreyEmery opened #2073 "mysql-ha-pxc"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-06-08 16:07] IanMoroney opened #2075 "Unable to deploy SQL Always on to existing vnet"
[sql-server-2014-alwayson-existing-vnet-and-ad](https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-existing-vnet-and-ad)

### Issue Details

The WS-Management service cannot process the request. The WMI service or the WMI provider returned an unknown error: HRESULT 0x80041033

### Repro steps (*if necessary, delete otherwise*)
1. deploy template
2. wait for er

[2016-06-08 16:28] emikuszewski opened #2076 "Update Bosh Deployment and Instructions for Concourse 1.2"
https://github.com/Azure/azure-quickstart-templates/tree/master/concourse-ci

Team -

Can we update this repo in regard to the Bosh deployment and install instructions for the newest version of Concourse (1.2).

Thanks,

-Ed

[2016-06-08 18:47] asinyagin opened #2077 "eris-platform - the template doesn't install eris"
[eris-platform](https://github.com/Azure/azure-quickstart-templates/tree/master/eris-platform)

### Issue Details

Hi @compleatang!

I tried to run a new machine with the Eris template, but it hasn't installed `eris`:
[code]

Also, I've already tried Eris with golang 1.5 and it didn't work - only with 1.6. Does it support only 1.6? If so, there should be 1.6 https://github.com/Azure/azure-quicksta

[2016-06-09 07:09] gitralf opened #2078 "general issue with hardcoded endpoints"
general issue with hardcoded endpoints

### Issue Details
Many templates use hardcoded "core.windows.net". For other Environments like China, German Cloud etc. other endpoints are needed and that requires manual search&replace in the templates. If there are guidelines for new templates, could someone include a suggestion for a better way, like putting that in a variable or autodetect it...

[2016-06-09 09:18] marcvaneijk commented on #2078
@gitralf you can use reference to get the endpoints from the API at runtime. Have a look at the item 9 in the best practices doc [here](https://github.com/Azure/azure-quickstart-templates/blob/master/1-CONTRIBUTION-GUIDE/best-practices.md#best-practices). We are also fixing the existing templates, but that will take some time before all templates are fixed.

[2016-06-09 12:28] RoyApalnes opened #2080 "InvalidJsonReferenceFormat - unexpected Reference ID for subnets"
[cisco-csr-1000v](https://github.com/Azure/azure-quickstart-templates/tree/master/cisco-csr-1000v)

### Issue Details
Deployment fails to target subnets.

Error:
{
  "error": {
    "code": "InvalidRequestFormat",
    "message": "Cannot parse the request.",
    "details": [
      {
        "code": "InvalidJsonReferenceFormat",
        "message": "Reference Id /subscriptions/48db2aff-235a-4d2d-927c-

[2016-06-09 15:22] phi16180 commented on #2051
@singhkay @GeoffreyEmery Tried several times but deployment always failed.
When deployed directly from the template available in Azure, it didn't pass the validation. **'The template parameters 'location, storageAccountNamePrefix' in the parameters file are not valid; they are not present in the original template and can therefore not be provided at deployment time.**
![failed_deployment](https://

[2016-06-09 16:07] singhkay commented on #2051
@phi16180 Looks like you're deploying from somewhere other than https://github.com/Azure/azure-quickstart-templates/tree/master/wordpress-mysql-replication. Is that correct?

[2016-06-09 16:44] phi16180 commented on #2051
Yes.I'm deploying directly from Azure portal.

[2016-06-09 16:45] phi16180 commented on #2051
@singhkay I'm deploying directly from Azure Portal.

[2016-06-09 17:21] GeoffreyEmery commented on #2051
totally agree i again wasted 30 minutes trying to get this to work to yet another failure.. do you guys validate these?

##error 1
`At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details. (Code: DeploymentFailed)
Deployment template validation failed: 'The template parameters 'location, storageAccountN

[2016-06-09 17:23] GeoffreyEmery commented on #2051
also it would much better if you made a separate team for these templates and deployed them as separate repos. So the issues could be associated to a single template

[2016-06-09 19:28] singhkay commented on #2051
@GeoffreyEmery @phi16180 I see the issue now. That template in portal is not the one here in Github repo. It is a marketplace template, those are not hosted here in Github. It is likely taking a dependency on the MySQL replication template in Github which needs to be fixed as things in Github change much more quickly than Github. Feel free to submit a support request from the Portal re: that templ

[2016-06-09 19:37] zfrenchee commented on #1796
@YidingZhou @singhkay Would you please change the label from question to bug?
Has there been any progress on this? I'm blocked by this.

[2016-06-09 20:16] singhkay commented on #1796
@zfrenchee Changed label

@YidingZhou is the person to take a look at this

[2016-06-09 22:25] YidingZhou commented on #1796
@zfrenchee  I'm looking at this. I can reproduce this issue on my side. Will let you know if I make a break through.

[2016-06-09 23:56] phi16180 commented on #2051
@singhkay @marcvaneijk @GeoffreyEmery When deployed from the template available in GitHub it also fails. StorageAccountNamePrefix.

![deployment_from_github_template](https://cloud.githubusercontent.com/assets/17506350/15950362/29f68554-2e7c-11e6-823a-90e62b17484c.PNG)

[2016-06-10 00:11] singhkay commented on #2051
@phi16180 @GeoffreyEmery PR to fix is underway https://github.com/Azure/azure-quickstart-templates/pull/2083

[2016-06-10 05:06] simongdavies commented on #2068
@ng25 Thanks for reporting this, this error is caused by an issue in the DSC extension which has been addressed in the latest version, the templates need updating to take advantage of this. I will do this in the next few days, in the meantime resubmitting may be successful

[2016-06-10 06:59] marcvaneijk commented on #2051
@phi16180 @GeoffreyEmery Fix #2083 is merged. The CI build is successful. Are you able to verify if this solves your issue?

[2016-06-10 16:05] SychevIgor opened #2088 "Elastic pool template request"
It's not an issue, it's a template request.

I didn't find in a repository template where we are using elastic pools for sql database in a template. It would be nice to have this template

[2016-06-10 16:56] singhkay commented on #2088
@ninarn @weidaiMS Do you know who can take a look at this request?

[2016-06-10 19:30] amartyamandal opened #2091 "Please clarify Classic Storage and Service requirement for HPC"
It seems like though the infrastructure provisioned in ARM mode Azure cloud service and an Azure storage account must be configured in classic to build a HPC cluster (Not talking about batch).

While configuring HPC manager for node template it will not work until unless one has a classic storage account.
Is there a way to use ARM storage account?

Thanks
Amartya

[2016-06-10 22:42] benofben opened #2093 "Update to Latest DataStax Template"
https://github.com/Azure/azure-quickstart-templates/tree/master/datastax-enterprise-marketplace
https://github.com/Azure/azure-quickstart-templates/tree/master/datastax-enterprise
https://github.com/Azure/azure-quickstart-templates/tree/master/datastax-on-ubuntu

### Issue Details

The three DataStax templates here are rather old.  I've been working with Azure engineering on a different version he

[2016-06-13 16:50] ninarn commented on #2088
I also work on elastic pools, so I will look into this.

[2016-06-13 18:42] Pradebban opened #2099 "Unable to add UserPrincipalName during KeyVault Deployment using ARM Template"
101-key-vault-create (https://github.com/Azure/azure-quickstart-templates/tree/master/101-key-vault-create)

### Issue Details

Unable to provide permission to KeyVault Secrets and Keys for a User Account.

### Repro steps (*if necessary, delete otherwise*)
1. Added a Parameter "UserPrincipalName" in the Template

"UserPrincipalName": {
            "type": "string",
            "defaultValue": "pr

[2016-06-13 19:26] seanbamsft commented on #2099
As described in the [documentation](https://msdn.microsoft.com/en-us/library/azure/Mt620025.aspx), access policies are specified in terms of the object ID of the identity that has access to the vault. Cmdlets like Set-AzureRmKeyVaultAccessPolicy perform the translation of a user principal name to an object ID by accessing the Azure AD Graph prior to calling ARM with the updated vault. You can use

[2016-06-13 19:30] Pradebban commented on #2099
@seanbamsft - My bad; thanks and i was able to use the object id of the user account o set permissions.

Thanks,
Pradebban Raja

[2016-06-13 19:30] #2099 closed

[2016-06-13 23:09] ajviradia opened #2100 "Downloaded visual template get "storageSettings" invalid parameter error on deployment."
New-AzureRmResourceGroupDeployment : 3:59:42 PM - Error: Code=InvalidTemplate; Message=Deployment template validation failed: 'The template parameters 'storageSettings' in the
parameters file are not valid; they are not present in the original template and can therefore not be provided at deployment time. The only supported parameters for this
template are 'subnet, storageAccountName, adminUsernam

[2016-06-14 04:41] blumu opened #2101 "additionalUnattendContent schema is invalid"
The public Json schema for resource `Microsoft.Compute/virtualMachines` is invalid and causes spurious validation errors.

### Repro steps
1. Create a template with a resource of type `Microsoft.Compute/virtualMachines` with a `additionalUnattendContent` configuration field as follows:

        "windowsConfiguration": {
          "additionalUnattendContent": [
            {
              "passName

[2016-06-14 06:18] #1276 closed

[2016-06-14 07:16] thinhduckhoi opened #2102 "Deployment template validation failed"
Hi guys,
I got some problem when trying to deploy.
First what's the value for ENDPOINTNAME (string)? I put in the Webhook URL, was i right or wrong?
If i was right, then i didn't understand why i got the following error.
It said: Deployment template validation failed: 'The template resource 'https://hooks.slack.com/services/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' for type 'Microsoft.Web/serv

[2016-06-14 09:44] stevenlivz opened #2103 "Postgres on Ubuntu Replication Issue"
I feel I may be missing something but I had been using the following repo:

https://github.com/Azure/azure-quickstart-templates/tree/master/postgresql-on-ubuntu

I followed all the instructions but couldn't get streaming replication working. It took me a few days as i expected it was something I was doing wrong with permissions but it *seems* that you do not set the data directory after you have d

[2016-06-14 20:20] Pradebban opened #2106 "No quick start template for IOT Hub deployment"
Hi,

Seems there is no quick start template available for IOT Hub deployment.
When i load the json, shared in this link (https://azure.microsoft.com/en-us/documentation/articles/iot-hub-rm-template-powershell/) i get the below errors,

![iothubtemplate](https://cloud.githubusercontent.com/assets/13054214/16058287/ca8da2f4-324b-11e6-92e8-1814eedbde28.jpg)

Please help with the same and direct to a

[2016-06-14 20:37] ninarn commented on #2088
@SychevIgor what are the main capabilities you are looking to have in an ARM template? It would be helpful to know what the high priority items are to you.

[2016-06-15 05:11] Jungle1990 commented on #2075
I met the same issue when run the "**sqlvm-alwayson-cluster**" and "**sql-server-2014-alwayson-ds**c", hopefully there are someone can quickly fix this problem

[2016-06-15 05:34] #2068 closed

[2016-06-15 05:43] SychevIgor commented on #2088
@ninarn some context: I asked about this example, because one of my customers would like to migrate their app from WE to NE datacenter. As part of their app- they are using elastic pools.
Because I'm gouding this migration- I recomened create a arm template to speedup the deployment and avoid typos and so on.
I provided them all templates like web apps, storage accounts, sql server and sql databas

[2016-06-15 15:18] zfrenchee commented on #1796
@YidingZhou Any news?

[2016-06-15 20:11] Pradebban commented on #2106
Along with this, there is no template download option available from portal.azure.com

The schema of resource type **'Microsoft.Devices/IotHubs' ****is not available**. Resources of this type will not be exported to the template. (Code: ResourceTypeSchemaNotFound)

[2016-06-16 03:09] gregjhogan commented on #2101
#1407 also mentions the schema validation shortcomings of vs

[2016-06-16 03:17] gregjhogan opened #2111 "KeyVault reference support for passing object/array parameter"
Is there a way to pass a KeyVault secret containing a JSON string an have it deserialized into a object, secureobject, or array?  If not could you add support for KeyVault secret deserialization into objects/arrays parameters?

[2016-06-16 23:37] YidingZhou commented on #1796
@zfrenchee I think I have figured out the issue. It has something todo with StateSaveLocation in slurm.conf and permission on /var/spool. If you create a directory slurm under /var/spool, chown it to slurm:slurm, move the last_config_lite to that directory, you should now be able to start slurmctld.

I'm still working on the template to fix this issue.

[2016-06-17 11:37] marcvaneijk commented on #2051
Have received multiple confirmations this template works after merging fix #2083. Closing issue

[2016-06-17 11:37] #2051 closed

[2016-06-17 11:37] #2078 closed

[2016-06-17 17:16] kiranbhaga opened #2124 "Deployment template validation fails with latest template"
Deployment template validation failed: 'The template resource 'elasticsearch-data-vm0' at line '111' and column '6' is not valid: Unable to evaluate template language function 'resourceId': all function arguments must be string literals. Please see https://aka.ms/arm-template-expressions/#resourceid for usage details..'. (Code: InvalidTemplate)

The template worked fine earlier in the week, but wi

[2016-06-17 19:23] #2124 closed

[2016-06-17 19:24] kiranbhaga commented on #2124
@philon-msft commit fixed this

[2016-06-17 20:20] suresank commented on #1507
16:10:34 -     vmName: wintimzonevm3
16:10:34 -     adminUsername: azureuser
16:10:34 -     adminPassword: <securestring>
16:10:34 -     windowsOSVersion: 2012-R2-Datacenter
16:10:34 -     scriptFile: https://stgdomainjoineg.blob.core.windows.net/vhds/
16:10:34 -     scriptName: TimezoneSet.ps1

I get the same error as above if access a script from a storage account.  Error message: "Failed to dow

[2016-06-18 00:19] singhkay commented on #2075
@robotechredmond Can you take a look at this?

[2016-06-18 00:54] singhkay commented on #2106
@Pradebban I see you created an issue on the schemas repo which is the right place for this https://github.com/Azure/azure-resource-manager-schemas/issues/179

There is now an IOT template merged. See https://github.com/Azure/azure-quickstart-templates/pull/2086/files

[2016-06-18 00:54] #2106 closed

[2016-06-18 01:23] singhkay commented on #2076
@bingosummer Can you take a look?

[2016-06-18 01:24] singhkay commented on #2073
@liupeirong Can you offer guidance on this?

[2016-06-18 01:25] singhkay commented on #2069
@trentmswanson @hglkrijger Any ideas?

[2016-06-18 01:29] singhkay commented on #2061
@GeoffreyEmery What template is this?

[2016-06-18 01:31] singhkay commented on #2053
@simongdavies Are you aware of this issue?

[2016-06-18 01:34] singhkay commented on #2036
@rjmax @ravbhatnagar Template language feature request for you guys

[2016-06-18 01:36] singhkay commented on #2022
@steve-warwick This doesn't look like a template from this repo. It's best to file a support case for investigation with this request.

[2016-06-18 01:36] #2022 closed

[2016-06-18 02:10] singhkay commented on #2012
PR merged

[2016-06-18 02:10] #2012 closed

[2016-06-18 20:43] kiranbhaga opened #2133 "Latest template fails to when trying to install elastic search on the nodes"
"status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "VMExtensionProvisioningError",
        "message": "VM has reported a failure when processing extension 'installelasticsearch'. Error message: \"Failed to download all specified files. Exitin

[2016-06-19 19:14] liupeirong commented on #2073
To connect to the cluster, use the DNS name of the public IP specified at provision time, it should be a FQDN like this: <your_dns_prefix>.<azure_location>.cloudapp.azure.com.
To gain root access, ssh into a VM, sudo to root, then run mysql with no user name.
I updated readme.md for this template to make this more clear.

[2016-06-19 21:03] GeoffreyEmery commented on #2073
Hey guys,
   i don't have time to test this for awhile. I couldn't login previously  via the pubic ip.  might want to do a deploy and test yourself.

[2016-06-19 21:04] GeoffreyEmery commented on #2073
I ended up just deploying a mariaDB cluster myself on some simple vms'.

[2016-06-20 13:04] robotechredmond commented on #2075
Yes - reviewing it now ...

[2016-06-20 16:44] hglkrijger commented on #2069
I'm not familiar with this plugin, but I would recommend you fork the repo and add it to your deployment that way. There are too many plugins to include them all in this template without it becoming unwieldy.

[2016-06-21 05:40] bingosummer commented on #1041
@jtuliani
Any update on this?

[2016-06-21 09:49] bingosummer commented on #2076
Will estimate the cost to support the latest version of Concourse.

[2016-06-21 11:39] takekazuomi opened #2139 "Is wrong description in the metadata"
### Issue Details
In https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-simple-freebsd
Is wrong description in the metadata
It is written with Linux but is correct FreeBSD

[2016-06-21 14:32] jtuliani commented on #1041
We are adding the name server names as zone properties in our next API update, ETA July.

[2016-06-21 14:51] robotechredmond commented on #2075
Looks like it's an issue occurring with the DSC configuration for CreateFailoverCluster and WMF 5.0 (which is now preinstalled on the latest SQL Server VM images).  I've tested a fix and will be submitting a pull request later today.

[2016-06-21 16:14] testlab9000 opened #2142 "201-vm-from-specialized-vhd. Unable to SSH after recreating VM in another account"
I copied VHD from one account into another and created a new VM from it using the provided Template. The server works, it serves web pages, but I'm unable to SSH into it, SSH reports wrong credentials. I tried to reset password from Portal, but that had no effect. I actually had similar problem when creating a new server from VHD from Azure Recovery Services within the same account, but resetting

[2016-06-21 21:38] robertavram commented on #2014
I'm still getting this error... any hints?

[2016-06-21 21:43] smartnose opened #2148 "201-vmss-scale-existing doesn't work anymore."
[201-vmss-scale-existing](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-scale-existing)

### Issue Details
azuredeploy.json seems out of date (for Azure SDK 2.8 at least).

When running .\Deploy-AzureResourceGroup.ps1, I've got the following error message:

New-AzureRmResourceGroupDeployment : 2:02:09 PM - Resource Microsoft.Compute/virtualMachineScaleSets 'myScaleSetNam

[2016-06-21 22:26] smartnose commented on #2148
Update:

I tried to run it from the browser directly and it works. Not sure what caused it to fail on my local machine (incompatible SDK version?).

Please investigate or close it as you wish.

[2016-06-22 02:34] bingosummer commented on #2037
@haydonryan

This issue is fixed by https://github.com/Azure/azure-quickstart-templates/commit/d9b447869fc645cb19d09811ebde89dfa7cd506f

[2016-06-22 11:52] PedroMD opened #2157 "haproxy-redundant-floatingip-ubuntu/]"
[haproxy-redundant-floatingip-ubuntu/] (https://github.com/Azure/azure-quickstart-templates/tree/master/haproxy-redundant-floatingip-ubuntu)

### Issue Details

Hello there,

Just wanted to know if it is possible to extend the backend servers of this configuration (the ones configured at HAProxy) with new VMs of different azure subscriptions. Would it possible to do so via Vnets, for example?
Than

[2016-06-22 16:19] singhkay commented on #2139
PR merged, closing

[2016-06-22 16:19] #2139 closed

[2016-06-22 17:21] singhkay commented on #1041
Thanks @jtuliani, closing

[2016-06-22 17:21] #1041 closed

[2016-06-22 17:26] singhkay commented on #2014
@scrypter Can you take a look at @robertavram's concern?

[2016-06-22 17:36] singhkay commented on #2157
@sivaedupuganti Can you take a look at this?

[2016-06-22 17:37] singhkay commented on #2037
PR merged, closing.

[2016-06-22 17:37] #2037 closed

[2016-06-22 20:09] SudhindraKovalam opened #2159 "Error response from daemon: client is newer than server"
docker-swarm-cluster (https://github.com/Azure/azure-quickstart-templates/tree/master/docker-swarm-cluster)

### Issue Details

After setting up the cluster, for some of the commands such as docker login or docker logs etc. we get an error **Error response from daemon: client is newer than server (client API version: 1.23, server API version: 1.22)**

$ docker version
Client:
 Version:      1.11.2

[2016-06-22 21:01] SudhindraKovalam commented on #2159
I was able to work around this issue by **DOCKER_API_VERSION** to match the server version and move ahead

[2016-06-23 00:18] GlastonburyC commented on #1796
I'm having the same issue. Where can I find last_config_lite?

[2016-06-23 05:38] ahmetalpbalkan commented on #2159
@SudhindraKovalam this is probably because the docker version of CoreOS is lacking behind. Try changing the image to Ubuntu Server 16.04 and see if it solves your problem.

[2016-06-24 03:12] #2133 closed

[2016-06-24 03:12] kiranbhaga commented on #2133
closed with recent commits

[2016-06-24 18:33] smartnose commented on #2148
Update 2:

Nope. It doesn't work even in portal any more (the portal finally caught up with local SDK?)

[2016-06-24 21:53] ldimans opened #2174 "not compatable with current version of PS"
It only supports version versions less than 1.
Microsoft Azure PowerShell is already at 1.5.1
Could this be fixed?

[2016-06-24 22:59] singhkay commented on #2174
@ldimans You will need to expand on what you mean. What's not compatible?

[2016-06-24 23:02] singhkay commented on #2148
@gatneil @gbowerman Can you guys look at this?

[2016-06-27 12:21] Shifu21 opened #2180 "Microsoft.Compute/virtualMachines/write + Microsoft.Resources/deployments/write Error"
[201-specialized-vm-in-existing-vnet](https://github.com/Azure/azure-quickstart-templates/blob/master/201-specialized-vm-in-existing-vnet/azuredeploy.json)

### Issue Details

Hey together

i have almost the same issue as this guy [https://github.com/Azure/azure-quickstart-templates/issues/1294] but my deployment crashes one step earlier.
Whats wrong with my template?

short explanation...

1. i w

[2016-06-27 13:31] Shifu21 commented on #1294
@mahthi  Can you explain your last two answers?
I have almost the same issue but i can't deploy it with your solutions.

this here is my issue ... [https://github.com/Azure/azure-quickstart-templates/issues/2180](url)

[2016-06-27 16:21] gbowerman commented on #2148
@smartnose I just tried this template, deploying to portal, scaling an existing VMSS down to 5 and then back up to 10, and it worked both times. The only circumstances I can think of that would generate that error would be if the VMSS name/resource group does not match an existing one so it tries to create a new one?? @gatneil any other ideas?

[2016-06-27 17:06] vishalkalal07 commented on #1155
Hi,
While adding the VM to domain using JSON, it gives me the below error, please suggest-

{
  "error": {
    "code": "InvalidTemplate",
    "message": "Unable to process template language expressions for resource

'The template variable 'apiVersion' is not found. Please see https://aka.ms/arm-template/#variables for usage details.'"
  }
}

[2016-06-28 10:08] jvravensberg opened #2184 "Cannot convert value to type System.String."
### dsc-extension-iis-server-windows-vm
https://github.com/Azure/azure-quickstart-templates/tree/master/dsc-extension-iis-server-windows-vm

### Issue Details
DSC gives the following error during deployment in Azure:

**Cannot process argument transformation on parameter 'ConfigurationFunction'. Cannot
convert value to type System.String.**

Other parameters are working fine and when I hardcode th

[2016-06-28 14:13] robotechredmond commented on #2075
Submitted Pull Request #2185 (https://github.com/Azure/azure-quickstart-templates/pull/2185) to correct issues with DSC Extension v2.17 and WMF 5.0 when processing DSC configuration.

[2016-06-28 23:11] dantraMSFT opened #2186 "WMF 5 production preview has expired; breaking some of the Azure DSC extension templates"
This can cause the DSC extension to fail at install time since the WMF 5 PP package timestamp has expired. This occurs with any DSC extension version less than 2.14 and the fix is to update the typeHandlerVersion value to 2.14 or later.  I've reviewed all related templates and found 3 that are currently broken because they are reference an old version and are not specifying autoUpgradeMinorVersion

[2016-06-29 02:23] markrey commented on #2093
+1
I am facing the same issue.

[2016-06-29 07:05] iljoong opened #2191 "101-webapp-with-golang template does not create appsettings"
[101-webapp-with-golang](https://github.com/Azure/azure-quickstart-templates/tree/master/101-webapp-with-golang)

Following template won't configure **appSetting** in Azure Web app
[code]
I found that resource template differs in **_Azure Resource Explorer_**.
Template should change as following
[code]

[2016-06-29 15:41] tcsatheesh opened #2193 "Broken link in Readme.md"
sql-server-2014-alwayson-existing-vnet-and-ad (https://github.com/Azure/azure-quickstart-templates/blob/master/sql-server-2014-alwayson-existing-vnet-and-ad/)

### Issue Details
In the Readme.md for the above template the link to the  SQL Server AlwaysOn AG QuickStart template is  broken. Please fix.

[2016-06-29 17:57] rarsan commented on #2044
After troubleshooting with @vikrant3007, we determined the failure was due to end-user misconfiguration of SSL, and not related to the templates configuration itself.

This issue can be closed. Thanks.

[2016-06-29 21:28] SteveBurkettNZ commented on #1798
Try starting Visual Studio 2015 using 'Run As Administrator'.

[2016-06-30 08:19] windswordsgd opened #2197 "201-vmss-ubuntu-autoscale load balancer does not work"
[201-vmss-ubuntu-autoscale](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-ubuntu-autoscale)

### Issue Details
I tried to deploy this template with 2 Ubuntu 14.04 VM instances. Deployment succeed without error. From azure cli, I can see both VM instance are running.
azure vmssvm list davidubuntuvmssautoscale davidubun
data:    DAVIDUBUNTUVMSSAUTOSCALE  davidubun_0  Succe

[2016-06-30 08:25] #2197 closed

[2016-06-30 12:11] dbalencar opened #2198 "DSC registration doesn't work when using generalized images"
[201-vmss-automation-dsc](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-automation-dsc)

### Issue Details

I have a generalized/custom image I'm trying to provision the VMSS based upon it.
It works, but then only one node gets registered on the DSC Automation Account.

### Repro steps (*if necessary, delete otherwise*)
1. Deploy the template;
2. Verify that everything w

[2016-06-30 14:54] zfrenchee commented on #1796
Thanks @YidingZhou! Please let us know once you've fixed this!

[2016-06-30 23:43] ldimans commented on #2174
Sorry it took me a while. Take these scripts for example https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-windows-customimage/scripts
I can only try them out if my Microsoft Azure PowerShell's version is lower than 1.
The current version that is publicly available is 1.5.1

[2016-07-01 15:37] gregjhogan commented on #1521
Looks like this is available now!  Thanks!!!

[2016-07-02 20:53] brennv opened #2206 "openshift-origin-rhel ssh error"
Thank you for adding the new [openshift-origin-rhel](https://github.com/Azure/azure-quickstart-templates/tree/master/openshift-origin-rhel) template.

#### Issue Details

Deployments are failing with `SSH Error: Permission denied (publickey,gssapi-keyex,gssapi-with-mic)`. I tried modifying the template so the ansible-playbook would run with higher verbosity, but the Azure event log looks unchanged

[2016-07-03 06:10] brennv commented on #2206
oops. It was a keyvault issue

[2016-07-03 06:10] #2206 closed

[2016-07-03 11:01] moumie opened #2207 "Unable to connect remotely: RDP fails"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-07-04 05:42] bingosummer opened #2208 "Discuss the best practice to support different environment"
Hi community,

I notice that, almost all templates don't support other environment than Global Azure. However, Azure has several different environments: `Azure`, `AzureChina`, `AzureUSGovernment`, `AzureGermanCloud`. In each environment, some endpoints are different. Reference: https://github.com/Azure/azure-sdk-for-node/blob/master/runtime/ms-rest-azure/lib/azureEnvironment.js

**Does community h

[2016-07-05 08:34] bingosummer commented on #1860
@haydonryan
The codes are done. I'm preparing a PR to fix it

[2016-07-06 21:27] vojinle opened #2213 "201-vmss-automation-dsc fails"
I'm trying to test VMSS with DCS using this template, but it fails...

Here is parameters file

{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "domainNameLabel": {
            "value": "vlvmssdsc111"
        },
        "vmssName": {
            "value": "srv"
        },
        "insta

[2016-07-06 22:42] compleatang commented on #2077
Thanks for the heads up. Have submitted #2215 which will fix.

[2016-07-06 23:58] alvipeo opened #2216 "What is 'ServicePrincipalName parameter represents Microsoft.Web RP in user tenant' ?"
I don't get where this ServicePrincipalName parameter comes from? Could you explain, please?

I'm working on a template and I need Microsoft.Network to access key vault, where can I get this ServicePrincipalName?

Thanks,
Alex

[2016-07-07 20:25] zfrenchee commented on #1796
One more ping @YidingZhou

[2016-07-08 16:18] tcsatheesh opened #2224 "inner template broken link"
sql-server-2014-alwayson-existing-vnet-and-ad/
https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-existing-vnet-and-ad

### Issue Details
The template link https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/sql-server-2014-alwayson-dsc does not exist.

[2016-07-11 16:26] #1860 closed

[2016-07-12 02:40] pdiniz13 opened #2237 "mysql-mha-haproxy-ubuntu"
[mysql-mha-haproxy-ubuntu](https://github.com/Azure/azure-quickstart-templates/tree/master/mysql-mha-haproxy-ubuntu)

### Question
I'm trying to modify this template in order to deploy it into an existing network and subnet but and not being able to do so. Is there a list of steps I could follow in order to do so. This is a forked copy of the repo https://github.com/pdiniz13/azure-quickstart-templ

[2016-07-12 09:46] Rtoribiog opened #2238 "201-web-app-sql-database Error SQL GatewayTimeout"
[201-web-app-sql-database](https://github.com/Azure/azure-quickstart-templates/tree/master/201-web-app-sql-database)

### Issue Details

I think it's not a problem about template itself , Probably could be a azure provisioning system.

When I deploy this template i'm giving the following error   Resource Microsoft.Sql/servers 'sqlserverxcjsiwzyfpoli' provisioning status is running

When i check th

[2016-07-12 15:29] nielsweistra opened #2239 "Request for new template, Linux VMSS with DSC"
Hi guys,

Could your provide an example of deploying a Linux VMss with the DSC extension enabled? There's an example for a single Linux vm with DSC, a Windows vmss or a single vm with dsc. But i'm missing a template based on a Linux vmss that uses the Azure Automation Service.

I'm trying to create my own template but maybe DSC isn't supported yet on Linux vmss?

Kind Regards,

Niels Weistra

[2016-07-12 16:01] bmoore-msft commented on #2216
SPN is usually the name of the service principal that has access to the resource (e.g. KeyVault) - someone has to create the SP.  See: https://azure.microsoft.com/en-us/documentation/articles/resource-group-authenticate-service-principal/

[2016-07-12 16:13] bmoore-msft commented on #2207
there are a few other samples in the repo that have inboundNatPools setup for RDP - check those out and feel free to send a PR to update the template above (that strangely did not include them).

[2016-07-12 16:15] bmoore-msft commented on #2186
thanks - can you submit a PR with the fixes?

[2016-07-12 16:27] bmoore-msft commented on #2174
You should be able to use the PS1 file in the root of the repo to deploy the template: https://github.com/Azure/azure-quickstart-templates/blob/master/Deploy-AzureResourceGroup.ps1, e.g.

`Deploy-AzureResourceGroup.ps1 -ArtifactStagingDirectory 201-vmss-windows-customimage -ResourceGroupLocation centralus`

Just make sure you have your source image in place and update the parameters file according

[2016-07-12 16:33] bmoore-msft commented on #2111
An array yes - by using the split() function - but note the contents are no longer "secureString" if you go that route.  Does that help?

[2016-07-12 16:34] bmoore-msft commented on #2102
What sample are you trying to deploy?

[2016-07-12 18:13] philmea opened #2241 "201-web-app-ase-create: Location has an invalid value"
**201-web-app-ase-create**
(https://github.com/Azure/azure-quickstart-templates/tree/master/201-web-app-ase-create)
### Issue Details

[ERROR] Microsoft.Web/hostingEnvironments 'philmeaASE' failed with message 'The
[ERROR] parameter Location has an invalid value.'
### Repro steps
1. New deployment to resource group in "West US"

[2016-07-12 20:15] pdiniz13 commented on #497
How do we incorporate the newOrExisting template into other azure templates that we want to deploy in an existing Virtual network

[2016-07-12 21:56] cyl3392207 commented on #497
The way to set up a VM in existing vNET is to hook up the nic to a existing subnet. You can do this in template.

If you just need to deploy resources to existing network, then you don't need to use new or existing pattern. The pattern is used when you want to have a knob to control whether you want to use a new vNet or existing vNet.

[2016-07-13 08:10] #2238 closed

[2016-07-13 08:10] Rtoribiog commented on #2238
Today it's working  , I close the issue.

Thanks

[2016-07-13 13:09] SoCentral2 opened #2242 "The script works great (mostly) :-)"
After lots of messing about yesterday trying to manually install and set up Windows containers on Azure, I was pleased to find this script. The first part of the install went without a hitch. Towards the end it failed though with :-

C:\Windows\system32\update-containerhost.ps1 : Could not find a part of the path 'C:\ProgramData\docker\config\daemon.json'.
At C:\windos-containers.ps1:11 char:5
+

[2016-07-13 18:06] nibras85 opened #2243 "Add ability to specify an existing App Service Plan"
Slack notifications logic app: https://github.com/Azure/azure-quickstart-templates/tree/master/201-alert-to-slack-with-logic-app

This template creates a new free App Service Plan. It would be useful to specify an existing App Service Plan to use instead of creating a new one. Thanks.

[2016-07-14 17:02] glennmate commented on #2224
I'm seeing multiple broken Cluster deployments this week as well (I was able to deploy cluster previously last week). Appears that something is broken now.

[2016-07-14 19:33] KyleJAnderson opened #2249 "server not being joined to domain because of timing issue."
New-AzureRmResourceGroupDeployment : 1:31:23 PM - Resource Microsoft.Compute/virtualMachines/extensions 'devdsc05/joindomain' failed with message '{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "VMExtensionHandlerNonTransientError",

[2016-07-15 10:40] jtuliani commented on #1041
We have shipped an updated REST API, with api-version 2016-04-01.  This includes nameServers as a property of the dnszones resource.

You won't see nameServers property in the resource schema since it is a read-only property, and the schema today only includes writable properties.  But it is there, as documented in our [REST API documentation](https://msdn.microsoft.com/en-us/library/azure/mt13059

[2016-07-16 21:29] gregjhogan commented on #2111
I want to put more complex values into a key vault.  For example, an array of objects.

Key vault secrets would work great for shared variable/configuration store - which may or may not be sensitive.  You can use a linked template to pull in shared config, but this can be inconvenient due to limitations on the `reference()` template function and obviously it doesn't work well for sensitive data.

[2016-07-16 22:45] singhkay commented on #2224
@robotechredmond sql-server-2014-alwayson-dsc template was retired in favor of https://github.com/Azure/azure-quickstart-templates/blob/master/sqlvm-alwayson-cluster. Can you update your template to take a dependency on the new template?

[2016-07-18 04:32] gregjhogan opened #2253 "Unable to use reference() inside Microsoft.Web/sites/{site}/config/web properties"
I am trying to set `alwaysOn` for a web app based on whether the app service plan is in a tier that supports it. The `reference()` call below fails when it is inside the `properties` (see below).  If I move this `reference()` call into an output parameter it succeeds.  Am I missing something or doing something wrong?  Thanks!

[code]

[2016-07-18 06:19] gregjhogan commented on #1965
I think I figured this out:

[code]

funny how none of the quick-start examples do this

[2016-07-18 14:45] bmoore-msft commented on #2111
@SumedhBarde-MSFT , @rjmax - thoughts on this one?

[2016-07-18 18:38] msftristew opened #2257 "Use HDInsight Spark on Linux cluster instead of custom script action to install Spark manually"
[hdInsight-apache-spark](https://github.com/Azure/azure-quickstart-templates/tree/master/hdInsight-apache-spark)

Since Spark is now GA on HDInsight Linux clusters, it may be more helpful to create a Spark cluster in the template instead of creating a vanilla HDInsight cluster and using script action to manually install the Spark binaries.

[2016-07-19 04:50] bingosummer commented on #2076
https://github.com/Azure/azure-quickstart-templates/pull/2251 is submitted to upgrade the version.

[2016-07-19 16:13] IanMoroney commented on #2075
Did this PR get approved?

[2016-07-19 17:34] zfrenchee commented on #1796
Still hoping this can be completed @YidingZhou

[2016-07-19 19:02] KyleJAnderson commented on #2249
This issue can be closed, it was caused by running the arm template deployment script through ISE and putting double quotes around the OU parameter.

[2016-07-19 19:03] #2249 closed

[2016-07-21 07:25] ashisa commented on #1141
FWIW - just ran in to this issue and in my case, it happened since there was a special character in my replica set key.

[2016-07-21 14:19] gregjhogan opened #2263 "KeyVault secret doesn't support content type"
It seems like there isn't a way to set the content type for a key vault secret through an ARM template.  This prevents people from using an ARM template to completely deploy an web app with an SSL cert that they already have.

[code]

[2016-07-21 21:18] squillace opened #2266 "Windows images not available, apparently"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-07-22 22:24] nilstgmd opened #2268 "Unable to ssh tunnel into ACS DCOS Cluster"
[dcos-on-acs](https://github.com/Azure/azure-quickstart-templates/tree/master/101-acs-dcos)

### Issue Details

Creating the ACS DCOS cluster by following the steps written in the tutorial works great. After the cluster gets available I connected my local machine with `ssh` tunnel: `sudo ssh -v -i ~/.ssh/id_rsa -L 80:localhost:80 -f -N azureuser@xxxxxmgmt.northeurope.cloudapp.azure.com -p 2200`

W

[2016-07-22 22:27] nilstgmd commented on #2268
Verbose `ssh` log:

[code]

[2016-07-25 07:53] sheebaangel opened #2269 "Unable to install elastic search using template"
azure-quickstart-templates/elasticsearch/ ( https://github.com/Azure/azure-quickstart-templates/tree/master/elasticsearch )

unable to install elastic search extensions in created VMs

Error Details:
New-AzureRmResourceGroupDeployment : 12:56:31 PM - Resource Microsoft.Compute/virtualMachines/extensions
'esclustertest-master-vm0/installelasticsearch' failed with message 'The resource operation com

[2016-07-26 03:21] gregjhogan commented on #2111
The addition of `take()` makes things significantly better (now list in the above example can be a single array where I use `take()` to return the appropriate number of elements out of the array instead of using an array of arrays) but I still would really like straight up object/array support for key vault values.

[2016-07-26 05:23] mjpearse commented on #1503
Ran into the same thing.  Not a huge drama of course but it would be nice.

FYI my scenario was I was looking to grab the connection string to my storage that I just created and give it to both my webjob as a connection string in the app service and as output for other parts of my deployment (occurring in octopus deploy).

[2016-07-26 05:28] gregjhogan opened #2271 "Can't use variable to specify dependsOn"
If you put an array of strings into a variable, and then try to use that variable for dependsOn you get an error stating it can't convert the value to a System.String[]

[code]

[2016-07-26 10:28] mrdenny opened #2272 "Error with 201-vm-domain-join"
[201-vm-domain-join](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-domain-join)

### Issue Details
When I add this to an existing JSON script (trying to replace DSC) I put the following into the script.

[code]
I get the following in the ADDomainExtension log.

Error two is file can't be found. I can't find any information on what error 1332 is.

If I attempted to join the

[2016-07-26 18:36] zfrenchee commented on #1796
last_config_lite is in /var/spool. The workaround, however, does not work for me, @YidingZhou

[2016-07-26 20:13] zfrenchee opened #2275 "What does "HPC cluster with Linux compute nodes" do?"
@sunbinzhu I was curious what your template did. Is there any chance you could add some documentation to the [README](https://github.com/Azure/azure-quickstart-templates/tree/master/create-hpc-cluster-linux-cn) to explain what this HPC cluster is? Does it use slurm to connect the nodes? How does it do HPC? I don't see a scheduler in the config.

[2016-07-27 00:52] mrdenny commented on #2272
OK, ignore this I have having a problem with AD apparently.

[2016-07-27 00:52] #2272 closed

[2016-07-27 11:29] marrobi opened #2280 "Typo on Swarm.png?"
The image in the docs folder https://github.com/Azure/azure-quickstart-templates/blob/master/101-acs-swarm/images/swarm.png shows port 43 exposed on the agent load balancer. This should be 443.

[2016-07-28 21:52] ahmetalpbalkan opened #2290 "json error in 201-decrypt-running-windows-vm"
[code]

[2016-07-28 21:55] ahmetalpbalkan opened #2291 "more json parse errors"
--./matlab-cluster/scripts/azuredeploy.parameters.script.driven.template.json
parse error: Invalid numeric literal at line 21, column 29

--./201-vmaccess-on-ubuntu/single-user-with-ssh-key.parameters.json
parse error: Invalid string: control characters from U+0000 through U+001F must be escaped at line 49, column 26

--./sap-2-tier-marketplace-image/shared/newpip.json
parse error: Expected anothe

[2016-07-28 22:12] ahmetalpbalkan opened #2292 "201-customscript-extension-public-storage-on-ubuntu: wrong extension config"
`201-customscript-extension-public-storage-on-ubuntu/azuredeploy.json` has custom script extension configured as

[code]

this is not gonna work as `fileUris` should be an array; not string?

cc: @bingosummer

[2016-07-28 22:17] ahmetalpbalkan opened #2293 "mysql-standalone-server-ubuntu.json: autoUpgradeMinorVersion at wrong level"
`mysql-standalone-server-ubuntu.json/azuredeploy.json` has

[code]

the `autoUpgradeMinorVersion` key should be one level above.

[2016-07-28 22:18] ahmetalpbalkan opened #2294 "autoUpgradeMinorVersion missing for some extensions in templates"
I am seeing lots of missing `autoUpgradeMinorVersion` keys for VM extension resources when I search for `CustomScriptForLinux`. I thought we agreed to make all templates have `"autoUpgradeMinorVersion":true` @singhkay?

cc: @boumenot

[2016-07-28 22:19] ahmetalpbalkan commented on #2293
cc: @251744647 can you please take a look?

[2016-07-28 22:21] ahmetalpbalkan opened #2295 "mysql-replication: Invalid keys under CustomScriptForLinux section"
`mysql-replication/azuredeploy.json` has:

[code]

the `"Items"` key here is not recognized by Custom Script Extension and should be removed as it will cause this template to fail with new version of Custom Script Extension which does strict schema validation.

cc: @liupeirong please fix.

[2016-07-28 22:24] ahmetalpbalkan commented on #2292
Closing as `split` replaces string value with array.

[2016-07-28 22:24] #2292 closed

[2016-07-28 22:27] ahmetalpbalkan opened #2296 "concourse-ci: invalid values in CustomScriptForLinux section"
`concourse-ci/azuredeploy.json` has invalid keys under its CustomScriptForLinux's `
"properties"` section:

[code]

These unfamiliar keys (everything except `commandToExecute` and `fileUris`)  will break with the new version of CustomScriptForLinux extension which does strict json-schema validation.

cc: @bingosummer please fix

[2016-07-28 22:38] ahmetalpbalkan commented on #2280
cc:@anhowe

[2016-07-28 22:39] ahmetalpbalkan commented on #2296
same for `bosh-setup/azuredeploy.json`.

[2016-07-31 21:04] amalik99 opened #2309 "travis build validation happening even after adding .ci_skip file"
Added .ci_skip file to branch , still Travis build is starting which is causing validation failure. anything i m missing here? Let me know if i need to share any branch details etc(new to github )

[2016-08-01 02:41] mrdenny opened #2311 "201-vm-domain-join protectedsettings needs an upper case "S""
[ 201-vm-domain-join](https://github.com/Azure/azure-quickstart-templates/blob/master/201-vm-domain-join/azuredeploy.json)

### Issue Details
Line 214 is "protectedsettings". It should be "protectedSettings"

[2016-08-03 12:08] gmatusko commented on #2193
I second this, link in readme.md and assetLocation URL (https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/sql-server-2014-alwayson-dsc) are invalid so the template is not useable.  Please update the links with the correct template location.

[2016-08-03 13:51] phagunbaya opened #2315 "Cannot use docker-swarm-cluster template"
[code]
There are no master nodes, but if I set masterNodeCount to be 1 instead of 3 it succeeds.

Repo steps:
- azure login
- azure group create -n "test-1" -l "West US"
- azure group deployment create -f azuredeploy.json -e azuredeploy.parameters.json -g test-1 -n "test-1"

[2016-08-03 16:48] JayBeavers commented on #1796
I've looked into this a bit, here are some issues I've discovered:

- /var/log permissions are causing munge to fail to run.  You need to call 'chmod g-w /var/log' to convince munge the machine is safe
- Rebooting image chosen for this template (an older ubuntu server) causes the /var/log group write permission to reset, causing munge to fail to load again
- Setting SaveStateLocation in slurm.conf

[2016-08-03 16:53] JayBeavers commented on #1796
FYI, here is my set of steps for attempting to bring slurm up on a debian 8 vm:

Install Debian 8 VM
sudo apt-get update/upgrade
sudo apt-get install slurm-llnl
sudo mkdir /var/spool/slurmd
sudo chown slurm /var/spool/slurmd
sudo chgrp slurm /var/spool/slurmd
Create and download slurm.conf on desktop
	Had to move SaveStateLocation to /var/spool/slurmd, /var/spool has permissions errors
from deskto

[2016-08-04 08:32] bingosummer commented on #2296
Yes. WIll fix.
I will fix `bosh-setup`, and @halimacc will fix `concource-ci`.

[2016-08-04 08:36] bingosummer opened #2319 "Azure Portal shows a wrong status of the deployment"
### Issue Details
If the deployment has a child deployment, when the child deployment succeeded and the parent deployment is still in progress, Azure Portal will show `Last Deployment: Succeeded`.
IMO, it's confusing.

![image](https://cloud.githubusercontent.com/assets/4787647/17395515/73bc1e0e-5a61-11e6-9662-e8dcd398ee3b.png)

[2016-08-04 08:38] bingosummer commented on #2208
Ping. Does anyone have interest on this topic?

Our template wants to support multiple environments: `AzureCloud`, `AzureChinaCloud` and `AzureStack`, and others.

I think, other templates should have similar requirements.

[2016-08-05 05:31] sunbinzhu commented on #2275
@zfrenchee Sorry for the late reply, the series of create-hpc-cluster templates are used to deploy a Microsoft HPC cluster with Microsoft HPC Pack 2012 R2 Update 3, but not slurm.

[2016-08-05 14:12] #2275 closed

[2016-08-06 16:37] singhkays commented on #2208
Adding few people who might be interested in this @bmoore-msft @marcvaneijk @gatneil

@bingosummer Do you have a mockup of what the second "Deploy to Azure" button looks like?

[2016-08-07 02:59] bingosummer commented on #2208
After some tests, I find that AzureChina Portal does not support deploying templates for now. We can only deploy the template via CLI or Powershell. So, we can add the button later after the Portal deployment is supported.

[2016-08-07 15:22] marcvaneijk commented on #2208
Thanks for bringing this up @bingosummer. A while back I looked at an approach to make the "deploy to azure" button dynamic for forks. When you fork a repo the "deploy to azure button" in the fork still references the template in the origin. Markup is quite basic (and for a good reason :)) but it prevent a dynamic button. A button per environment will quickly become unmanageable when AzureStack co

[2016-08-08 04:32] mrjadez opened #2326 "SharePoint HA farm - deployment template parse failed."
[Sharepoint-server-farm-ha](https://github.com/Azure/azure-quickstart-templates/tree/master/sharepoint-server-farm-ha)

### Issue Details
On deploying via the deploy button or via downloading the ARM template, the deployment fails with UI showing the following on the Deploy screen: "Deployment template parse failed: 'After parsing a value an unexpected character was encountered: ". Path 'resources

[2016-08-08 15:07] bmoore-msft commented on #2208
Perhaps we need a portal experience that pulls from github, rather than a github experience that selects a portal?  Though it may be manageable to use smaller buttons for different destinations (like "share" buttons).

Stack is always going to be a difficult case since it's private...

[2016-08-08 19:52] arroyc commented on #2326
looking into it

[2016-08-08 21:18] arroyc commented on #2326
pull request #2328

[2016-08-08 21:18] arroyc commented on #2326
pull request #2328

[2016-08-09 02:18] mrjadez commented on #2326
Thanks Arjun, so with the changes reverted is it useable now?

[2016-08-09 14:32] bmoore-msft commented on #934
We are going to move to using literal string values for apiVersion so that JSON schema validation can be performed on the templates.

[2016-08-09 14:32] #934 closed

[2016-08-09 16:00] asrenyzinchenko opened #2330 "101-acs-swarm - PropertyChangeNotAllowed and Blue/Green deployment"
[101-acs-swarm] https://github.com/Azure/azure-quickstart-templates/tree/master/101-acs-swarm

Hi.

I want to have two Swarm clusters in the same Resource group to be able to add Load Balancer to this group and use it as "switcher" for kind of "Blue/green deployment". I.e. - to have two clusters in the same group, one as "PROD" and the second one - for "STAGE" ("Deployment slots" for WebApps).

I'

[2016-08-10 21:38] ahmetalpbalkan opened #2333 "spark-on-ubuntu broken: can't find storage account"
[Template Name goes here](Template link goes here)

### Issue Details

Here is my parameters.json:

<details>
<summary>azuredeploy.parameters.json</summary>
[code]
</details>

I get an error after a few resources are deployed, saying storage account is not found. But it is actually there and created at least 1-2 minutes ago before I got an error.

 @CognosysTech any ideas?

[code]

[2016-08-10 21:42] ahmetalpbalkan commented on #2333
I tried to undestand the template a bit but still can't tell why it is happening.

My theory is the virtual machines that are using `variable('storageAccountName')` do not list this storage account in the `dependsOn` section of the VM. But I don't think this is the case, because VMs depend on the `shared-resources` subtemplate, which is actually the thing that deploys the storage account.

so it's

[2016-08-10 21:42] ahmetalpbalkan commented on #2296
@halimacc any updates?

[2016-08-10 21:54] ahmetalpbalkan opened #2334 "drone-ubuntu-vm: fails with error"
[`drone-ubuntu-vm`](https://github.com/Azure/azure-quickstart-templates/tree/master/drone-ubuntu-vm) deployment is failing with various errors:

[code]

cc: @anweiss PTAL

Full message:

[code]

[2016-08-11 01:48] halimacc commented on #2296
@ahmetalpbalkan  working on it, will give a fix soon.

[2016-08-11 06:10] mrjadez commented on #2326
Hi Arjun,

Tried another deployment after the dscv2 folder was put back in, the initial deployment starts but fails on Resource "Configuring SQL Always On Cluster" with the following message:

\"message\": \"VM has reported a failure when processing extension 'CreateCluster'. Error message: \\\"DSC Configuration 'ConfigureFailoverCluster' completed with error(s). Following are the first few: Canno

[2016-08-11 16:50] arroyc commented on #2326
this happens usually when you have a failed deployment earlier and you try to redeploy again. I would suggest you to 1. delete all the resourcegroups you have used earlier for sharepoint deployment
or 2. change the names in the parameter file wherever you see GEn-unique

[2016-08-11 18:49] mrjadez commented on #2326
Cool thanks, I made sure the resource groups were deleted. It must be some
unquie name, I'll check the parameters as you suggested.

Thanks.

On Friday, 12 August 2016, Arjun Roy Chaudhuri <notifications@github.com>
wrote:

--
J.

[2016-08-11 23:14] ahmetalpbalkan opened #2340 "Flighting the new CustomScript extension for Linux"
We're rolling out a rewrite of the `Microsoft.OSTCExtensions.CustomScriptForLinux` extension. Pertinent to internal issue, opening an issue to track progress of the rollout in this repository.

# Summary

Notable changes in the new extension
-         Written in Go. Has no dependencies to the waagent or Python.
   - means increased success rate on distros which does not have Python in PATH
-

[2016-08-11 23:17] singhkays commented on #2340
FYI: @bmoore-msft @gatneil @bmoore-msft @simongdavies @marcvaneijk

[2016-08-12 00:18] #2295 closed

[2016-08-12 05:47] mrjadez commented on #2326
Hi Arjun,

Changed all the parameters, domain name etc. Again fails at SQL Cluster
setup with the following error:

Error message: \"DSC Configuration 'ConfigureFailoverCluster' completed
with error(s). Following are the first few: PowerShell DSC resource
MicrosoftAzure_xCluster failed to execute Set-TargetResource functionality
with error message: The running command stopped because the preferenc

[2016-08-12 06:06] mrjadez commented on #2326
Also the notes say that the template uses the latest SharePoint 2013 trial
image, however the actual product installed on the SharePoint VMs is
Sharepoint 2016. Has this been upgraded and notes not reflecting this?

On Fri, Aug 12, 2016 at 1:47 PM, Javed Asghar <javed.asghar@gmail.com>
wrote:

--
J

[2016-08-12 07:23] mrjadez commented on #2326
Found that the variable for SharePoint SKU has now been defaulted to "2016"
can we please change readme to reflect this and let others know to change
this to revert back to 2013 please. Thanks.

On Fri, Aug 12, 2016 at 2:06 PM, Javed Asghar <javed.asghar@gmail.com>
wrote:

--
J

[2016-08-12 12:46] chlsmith commented on #673
Is this still an issue?   I am using this same template and getting the same error.

[2016-08-12 13:18] chlsmith commented on #673
Got it.   I can't just delete the diagnostics portion out of the VM.   I have to actually disable it with "false".

[2016-08-13 01:11] DustinVenegas opened #2346 "App Insights Alert Guid Parameter"
[201-dynamic-web-tests](https://github.com/Azure/azure-quickstart-templates/tree/e71f15c9bfac073235e772db93dc38c75c9b31be/201-dynamic-web-tests)

### Issue Details

Would it be possible to get clarification on the `Guid` parameter in the `azuredeploy.json` template `tests` array? The `README.md` lists it as being "arbitrary". The `azuredeploy.parameters.json` file reuses some guids and creates uni

[2016-08-15 17:31] arroyc commented on #2326
looking into it ..

[2016-08-15 18:53] theonemule opened #2350 "Azure File Storage Driver in Azure Container Services"
I'm trying to use Azure File Storage as a Docker Volume in Azure Container Services.

https://github.com/Azure/azurefile-dockervolumedriver

There doesn't appear to be any support for the driver in the Docker Swarm implementation of ACS. Is this on the roadmap or is there some way I could install the driver myself on ACS. It's very doable on a local instance of Docker or Docker Swarm.

[2016-08-16 02:00] bingosummer commented on #2296
It's fixed in #2327 and #2336. Please feel free to close it.

[2016-08-16 02:21] ahmetalpbalkan commented on #2296
@bingosummer thanks!

[2016-08-16 02:21] #2296 closed

[2016-08-16 22:04] ahmetalpbalkan commented on #2350
cc: @anhowe @rgardler

[2016-08-16 23:10] jayalakshmis opened #2362 "Web test deploy with alert fails on alert rules"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------
I get the following error when trying to deploy a single web test with a single associated alert.

Microsoft.Insights/alertRules 'GEN_UNIQUE_8alert' failed with message 'The
16:05:12 - [ERROR] target resource id '/subscriptions/{My_Subscription_Id}/resourceGroups/{My_RG_NAME}/providers/microsoft.insights/webtest

[2016-08-18 00:28] arroyc commented on #2326
still looking into it ... will update once find the fix... sorry for the inconvenience

[2016-08-18 02:54] mrjadez commented on #2326
Thanks, I think the readme also need to be updated to show that the variable inside the script has now defaulted to SharePoint 2016 not 2013 as the readme suggests.

[2016-08-18 11:30] remcov250 opened #2372 "Obtain Listkeys on Eventhubs"
Hello,

It is impossible to obtain the Shared Access Key within a JSON template using Listkeys.

Currently using:

Variables:
"sbResourceId": "[resourceId('Microsoft.ServiceBus/namespaces/eventhubs/authorizationRules',variables('eh01Name'),variables('sbKeyName'))]",

"sbVersion": "2014-09-01",
"eh01Name": "eventhubname",

Output:
  "outputs": {
    "listKeysOutput": {
      "value": "[listkeys(var

[2016-08-18 12:29] nielsweistra commented on #2239
Issue can be closed, figured out how to implement DSC in ARM.

[2016-08-18 12:29] #2239 closed

[2016-08-19 18:50] amol-karkhanis opened #2382 "sharepoint 3 vm - show version of sharepoint in README file"
[sharepoint-three-vm](https://github.com/Azure/azure-quickstart-templates/tree/master/sharepoint-three-vm)
### Issue Details

Please specify in README.md that this template is for SharePoint 2013 farm. I thought it was for SharePoint 2016. I deployed this template to Azure using button on README.md and did not know it was for SharePoint 2013 only.
### Repro steps (_if necessary, delete otherwise_)

[2016-08-22 19:19] #2372 closed

[2016-08-22 19:20] remcov250 commented on #2372
Dependence was wrong configured

[2016-08-23 11:49] yogeetayadav opened #2392 "Template for SFTP connector"
Hi,

I am trying to find template for SFTP connector.
It will be really helpful.

Thanks

[2016-08-23 17:27] JayBeavers commented on #1796
FYI, the issue with my attempt above is that the slurm-llnl package on debian (and ubuntu) sets up the services with:

SlurmctldPidFile=/var/run/slurm-llnl/slurmctld.pid
SlurmdPidFile=/var/run/slurm-llnl/slurmd.pid

which is different than the default slurm.conf file locations.  Once these two settings were adjusted, thing started working properly with the above instructions.

[2016-08-25 11:45] Kennethtruyers opened #2405 "201-Traffic-Manager-WebApp template does not work in Incremental Mode"
[201-traffic-manager-webapp](https://github.com/Azure/azure-quickstart-templates/tree/master/201-traffic-manager-webapp)

@GarethBradshawMSFT

### Issue Details
The template can only be installed once. If the traffic manager is already available, the deployment will fail, even if specifying "Incremental".

The message is the following:

    {
      "Code": "BadRequest",
      "Message": "The traff

[2016-08-29 18:30] data-steve opened #2418 "typo in setup how-to for step on creating SSH tunnels"
In your step 2.iii for setting up SSH tunnels, the screenshot like missing a `:` between `localhost:5901` like so

![tunnels](https://cloud.githubusercontent.com/assets/7839627/18062458/f8d961fe-6df4-11e6-856d-241fdc693ac5.png)

[2016-08-31 07:39] JayMaree opened #2430 "Error parsing template. Please ensure template is valid JSON and has no comments."
[azure-caddy-wordpress]
https://github.com/JayMaree/azure-caddy-wordpress
### Issue Details
Error parsing template. Please ensure template is valid JSON and has no comments.

### Repro steps (*if necessary, delete otherwise*)
1. Using the deploy mechanism to deploy the template.
2.
3.
4.
5.

[2016-08-31 15:33] gitralf opened #2431 "Standard_D* not supported"
[viacoin-blockchain-ubuntu](https://github.com/Azure/azure-quickstart-templates/tree/master/viacoin-blockchain-ubuntu)
### Issue Details

Standard_D\* is not available in certain clouds like Azure Germany, should be Standard_D*_v2

[2016-09-01 01:24] stack111 commented on #2405
I'm getting this same issue with my custom template as well.

[2016-09-07 21:29] ahmetalpbalkan commented on #2334
@anweiss Ping

[2016-09-07 21:30] ahmetalpbalkan commented on #2333
@CognosysTech ping

[2016-09-07 21:30] #2294 closed

[2016-09-07 21:41] anweiss commented on #2334
hey @ahmetalpbalkan ... sorry I missed this ... I am no longer at MS and don't have the necessary environment to further manage this template

@bradrydzewski is this maybe something you could take a look at?

[2016-09-07 22:05] adeelx78 opened #2447 "the reference DSC template has 404 error ...the resource is not available"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-09-07 22:13] ahmetalpbalkan commented on #2334
Ah, would be great to go through templates and fix the ownership I guess. Thanks for notifying.

[2016-09-08 21:19] aceptra opened #2454 "azuredeploy.json refers to "cluster-nodes-D14.json" which doesn't exist"
Trying the couchbase template, seems that the D14 vm type ref is broken...

azuredeploy.json refers to "cluster-nodes-D14.json" in "nested", but the only machine resource there close is titled "cluster-nodes-disabledD14.json".

[2016-09-08 22:33] mmarch opened #2455 "who submitted this stuff: azure-quickstart-templates/test? please delete"
Noticed there is a 'test' folder in master repo. Someone committed by accident? Please delete the folder.

[2016-09-09 13:53] samhodgkinson commented on #1550
Hi,

I have also been looking to use an array, like the example from with the application gateway (backendAddresses). https://github.com/Azure/azure-quickstart-templates/tree/master/101-application-gateway-create. Apart from using multiple parameters is there not another option ?

[2016-09-09 14:13] aceptra opened #2459 "Deployment using "Deploy to Azure" not working. Not using "Storage Account Name" parameter."
Deployment using "Deploy to Azure" not working. Assuming it is using latest deployment scripts.
### Repro steps (_if necessary, delete otherwise_)
1. "Deploy to Azure"
2.  Modify parameters appropriately including default storage name of "cbstorage". I changed to "somelongnamestorage".
3. Preflight error check throws validation.
##

**Preflight validation failed**
- The storage account named cbsto

[2016-09-09 19:27] mmarch commented on #2455
Please ignore, I'm told this is needed for Travis CI test.

[2016-09-09 19:27] #2455 closed

[2016-09-13 04:09] techbunny opened #2473 "Referenced platform images are out of date."
Visual Studio and Visual Studio Online Build Agent VM
https://github.com/Azure/azure-quickstart-templates/blob/master/visual-studio-vsobuildagent-vm/azuredeploy.json

### Issue Details
The deployment template call for platform images that are no longer available.  The template needs to be updated to use the Azure SDK 2.9, not 2.7.

[2016-09-13 14:09] beufordy3k opened #2476 "Couchbase On Ubuntu - Not All Parameters Used In Deploy"
[couchbase-on-ubuntu](https://github.com/Azure/azure-quickstart-templates/tree/master/couchbase-on-ubuntu)

### Issue Details
azuredeploy.json template does not use parameters `storageAccountNamePrefix` and `clusterName` in deployment.

### Repro steps
1. Specify "Storage account name" in template in Azure Portal
2. Specify "The name of the Couchbase cluster" in template in Azure Portal
3. Select

[2016-09-14 21:26] ahmetalpbalkan opened #2483 "All bash scripts MUST use "set -e" (+strict bash mode)"
Currently, any bash script that gets executed as part of a template deployment is potentially an issue if they don't contain `set -e`.

If one of the commands in the script fail, they will keep executing and the script will return with exit code 0 (=success). **Default bash behavior is to proceed executing rest of the script, regardless of whether a command fails.**

This is well explained at http

[2016-09-16 21:46] Stijnc opened #2491 "OMS solution deployment times out"
[oms-service-fabric-solution](https://github.com/Azure/azure-quickstart-templates/tree/master/oms-service-fabric-solution)
[oms-all-deploy](https://github.com/Azure/azure-quickstart-templates/tree/master/oms-all-deploy)
[oms-existing-storage-account](https://github.com/Azure/azure-quickstart-templates/tree/master/oms-existing-storage-account)

### Issue Details
Due to the parenthesis used in the s

[2016-09-17 18:56] abhishekvaid opened #2496 "elasticsearch template broken for ubuntu 16.04.0-LTS"
I modified ubuntu version from 14.04.4-LTS to 16.04.0-LTS and installelasticsearch script broke.

--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here http

[2016-09-19 12:47] adamwhitekallidus commented on #2447
I am having the exact same issue as this @adeelx78. Did you resolve it and if you did how?

[2016-09-19 22:25] singhkays commented on #2496
@abhishekvaid The template is probably designed for 14.04. Due to difference between 14 & 16, the script might need to be updated. Since this is a community contributed repo, please feel free to explore what needs to be done to update the script and update the template.

[2016-09-19 22:25] #2496 closed

[2016-09-21 00:06] vojinle opened #2512 "sql-server-2014-alwayson-existing-vnet-and-ad invalid reference"
[sql-server-2014-alwayson-existing-vnet-and-ad
![2016-09-20 17_03_20-inbox - vojin lekovic steeves net - outlook](https://cloud.githubusercontent.com/assets/7431347/18693117/2dea1d82-7f54-11e6-90eb-6d73ce7c75d2.png)
](https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-existing-vnet-and-ad)

### Issue Details
Reference within template https://raw.githubusercont

[2016-09-21 08:02] guya1976 opened #2514 "template language expression 'triggerBody()['context']['portalLink']' cannot be evaluated because property 'context' doesn't exist"
HI, deploying the slack logic app : https://github.com/Azure/azure-quickstart-templates/tree/master/201-alert-to-slack-with-logic-app, returns an error trying to call the webhook URI (manual and via script) :

Reason
Code
InvalidTemplate
Message
Unable to process template language expressions in action 'Http' inputs at line '1' and column '855': 'The template language expression 'triggerBody()['co

[2016-09-21 08:58] ShruthiHarsha commented on #1173
I have gone through the template to create vm in existing vnet and subnet, here where is the vm login credentials given.

[2016-09-21 09:46] MikeWedderburn-Clarke opened #2515 "201-vmss-bottle-autoscale will not scale beyond 75"
201-vmss-bottle-autoscale
https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-bottle-autoscale

### Issue:
Will not scale beyond 75 instances
This is because hard limit for number of NAT rules in a load balancer is 150 rules and this template creates 2 rules per instance.

### Repro steps:
1. Deploy template with initial instance count set to anything greater than 75 (example

[2016-09-21 11:46] #2514 closed

[2016-09-21 15:16] Stijnc opened #2516 "101-recovery-services-weekly-backup-policy-create fails due to faulty time format"
[101-recovery-services-weekly-backup-policy-create](https://github.com/Azure/azure-quickstart-templates/tree/e911a2bca09df9be8def941baba9cbd30aebb889/101-recovery-services-weekly-backup-policy-create)

### Issue Details
1. The values for scheduleruntimes are in a wrong format.
  Currently the time format is hh:mm, but should be yyyy-MM-ddThh:mm:ssZ
2. the properties "scheduleRunTimesNew" are not n

[2016-09-21 16:36] singhkays commented on #2516
PR merged, thanks for fixing!

[2016-09-21 16:36] #2516 closed

[2016-09-23 09:52] astaykov opened #2536 "sql-server-2014-alwayson-existing-vnet-and-ad is Broken"
[SQL Server Always On existing VNET and AD](https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-existing-vnet-and-ad)

### Issue Details
The provided Template is broken! It refers to a non-existing project for nested templates:

https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-dsc

[2016-09-26 05:07] nilaydshah opened #2541 "Question: Why vmName is not included as parameter for simple vm deployment templates?"
[101-vm-simple-windows](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-simple-windows)
[101-vm-simple-linux](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-simple-linux)
[101-vm-simple-freebsd](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-simple-freebsd)
### Question Details

Why vmName is not included as parameter for simpl

[2016-09-26 18:37] blitzedgh commented on #2536
Facing the same issue.  Looks like this has been a problem for a while based on comments on that specific template.

[2016-09-26 22:45] gregjhogan commented on #1507
@nitin16 @singhkays I have noticed that the custom script extension executes every time the VM comes up from the deprovisioned state.  So if the VM reboots for some reason everything is fine, but if you deprovision the VM and then start it up again it thinks it is starting for the first time and runs the custom script extension again.  Not sure if that is what you are running into, or if this is a

[2016-09-30 16:27] josemaia opened #2567 "Inconsistency between both forms of writing app settings"
### Issue Details
If you attempt to add an app setting with an empty string or a JSON value of true/false, Visual Studio will not validate the deployment as correct. However, both of those settings are valid app settings and accepted correctly if you add them under the siteConfig property.

### Repro steps (*if necessary, delete otherwise*)
1. Create template with appsettings under the siteConfig

[2016-09-30 17:08] HelicalSyncromesh commented on #1908
Hi, I am experiencing the same issue as above.    I've tried the ARM Templates located [here](https://github.com/azureautomation/automation-packs/tree/master/101-sample-automation-resource-templates) but I am receiving Model State errors like this one below:

`New-AzureRmResourceGroupDeployment : 9:59:45 AM - Resource
Microsoft.Automation/automationAccounts 'm1Automation' failed with message '{

[2016-10-03 19:02] aleksbor opened #2577 "201-vmss-automation-dsc -"
[201-vmss-automation-dsc](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-automation-dsc)

### Issue Details

Hello All,

Ran psdeploy multiple times and it keeps failing with the error below (tried adjusting azuredeploy.parameters.json to no avail)

HttpRequest          :
Id                   : /subscriptions/xxx/resourcegroups/rgroup7/providers/Microsoft.Com

[2016-10-03 19:39] pgroene opened #2578 "cloudera-on-centos does not run because Item is not supported in Microsoft.Compute/virtualMachines/extensions|properties|protectedSettings"
cloudera-on-centos(https://github.com/Azure/azure-quickstart-templates/tree/master/cloudera-on-centos)

### Issue Details
Template  cloudera-on-centos/setup-cloudera.json the new CustomScript handler does not suppert Item as sub property of protectedSettings. This fails the execution of the template. In all scripts from this project change
https://github.com/Azure/azure-quickstart-templates/commit

[2016-10-03 19:41] pgroene commented on #2578
@ahmetalpbalkan pingback issue on CustomScript extention

[2016-10-03 20:21] ahmetalpbalkan commented on #2578
@pgroene template is wrong.

`protectedSettings` should be at the same level as `settings`. I can guarantee that this wasn't working previously **as intended** either. You were passing a key called `protectedSettings` to the extension but extension never picked it up. So it was getting ignored.

The secrets you assumed that were encrypted in the `protectedSettings` section were also not getting en

[2016-10-03 20:49] pgroene commented on #2578
Voor to know. I'll test and fix it asap.

[2016-10-04 08:26] pgroene commented on #2578
"resources": [
    {
      "type": "Microsoft.Compute/virtualMachines/extensions",
      "name": "[concat(parameters('dnsNamePrefix'), '-mn0', '/prepareDisks')]",
      "apiVersion": "[parameters('resourceAPIVersion')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "publisher": "Microsoft.Azure.Extensions",
        "type": "CustomScript",
        "typeHandlerVersio

[2016-10-04 16:31] ahmetalpbalkan commented on #2578
@pgroene it looks like the owner of this template used extra config keys to pass configuration to the VM.

@liupeirong as the template owner, can you please take a look? You should not be using undefined keys like `"Items"` in the `settings` section to pass information to the extension. Please find other ways, such as environment variables or arguments to your script to pass these data.

[2016-10-04 23:46] dotdestroyer commented on #1965
@gregjhogan Oh my days! This solved my problem exactly with referencing an existing subnet! Thank you so much!

[2016-10-05 20:36] liupeirong commented on #2578
"Items" used to be valid, looks like there was a schema change in the platform.  Cloudera owner is informed and will update soon.

[2016-10-05 20:45] ahmetalpbalkan commented on #2578
@liupeirong there was no schema or schema validation before for this extension, now there is. There were only about 3 templates using custom keys in the extension settings to deliver data to the VM. However templates should not be relying on such "tricks" like reading the `/var/lib/waagent/.../*.settings` files of the extension. Such things are not covered under guarantees, just like adding custom

[2016-10-06 02:29] aleksbor opened #2589 "201-vmss-automation-dsc - Unable to evaluate template outputs: 'ipaddress'"
[201-vmss-automation-dsc](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-automation-dsc)

Can someone tell me how to look up available properties so that I can replace failing ipaddress property?

### Issue Details

New-AzureRmResourceGroupDeployment : 3:10:44 PM - {
  "code": "DeploymentOutputEvaluationFailed",
  "message": "Unable to evaluate template outputs: 'ipaddres

[2016-10-13 23:57] wpschaub opened #2620 "What telemetry is available to template contributors?"
What telemetry is available to teams that contribute a template, for example our [sonarqube-azuresql]{https://github.com/Azure/azure-quickstart-templates/tree/master/sonarqube-azuresql) template?

- Can we extract views and deployments?
- Are there recommendations on including telemetry?

Essentially we would like to understand if our template is being discovered, deployed, and whether it's making

[2016-10-15 22:03] jonathanong opened #2632 "201 slack - i keep getting an error that says "the browser is closed""
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-10-16 03:30] cyruszhang commented on #333
@mahthi is this features supported now? multiple configuration per handler (DSC)

[2016-10-17 16:10] TWolverson opened #2634 "Certificate validation fails on first login due to clock skew"
[windows-server-containers-preview](https://github.com/Azure/azure-quickstart-templates/tree/master/windows-server-containers-preview)

### Issue Details
first-login script fails with the following error:

Failed to process file in optimization with error: A required certificate is not within its validity period when
verifying against the current system clock or the timestamp in the signed file. (

[2016-10-17 16:26] TWolverson commented on #2634
Having restarted the machine, what appears to be the same script runs again at the next login, so this looks like a viable recovery method. There doesn't seem to be any way of telling that this is the expected behaviour. However, the error recurs even with the system clock set correctly.

[2016-10-17 18:29] gregjhogan opened #2635 "Add Stream Analytics (Microsoft.StreamAnalytics/streamingjobs) quickstart template"
It would be nice to have a example that show how to set up a stream analytics instance

[2016-10-19 14:48] KoenigLear opened #2644 "InvalidTemplateDeployment when deploying sharepoint-server-farm-ha"
sharepoint-server-farm-ha(https://github.com/Azure/azure-quickstart-templates/tree/master/sharepoint-server-farm-ha SP-HA
)

### Issue Details
I run into InvalidTemplateDeployment issues while trying to deploy this template see below for full output.   Can you assist?

### Repro steps (*if necessary, delete otherwise*)
1. Login to Azure using Login-AzureRmAccount
2. run .\Deploy-AzureResourceGroup

[2016-10-19 16:07] KoenigLear commented on #2644
Never mind.   Some parameters needed updating e.g. InvalidDomainNameLabel; Message=The domain name label

[2016-10-19 16:07] #2644 closed

[2016-10-20 13:14] KoenigLear opened #2653 "DiskPreparationErrors rampant! Very unstable scripts, any thoughts?"
https://github.com/Azure/azure-quickstart-templates/tree/master/sharepoint-server-farm-ha

### Issue Details

ProvisioningPrimaryADDomainController
 "code": "Conflict",
            "message": "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n    \"code\": \"ResourceDeploymentFailure\",\r\n    \"message\": \"The resource operation completed with terminal provisioning state
'Failed'.\",\r\n    \"

[2016-10-21 07:05] ahmetalpbalkan commented on #2340
This is now completed.

cc: @gatneil @danielsollondon

[2016-10-21 07:05] #2340 closed

[2016-10-21 16:11] sazeesha opened #2660 "The Travis CI validation tool is broken"
[Rule API](https://github.com/Azure/azure-quickstart-templates/pull/2645 )

The Travis CI build validation tool looks broken.
My PR https://github.com/Azure/azure-quickstart-templates/pull/2645 was failing validation but tried to run the template and it works correctly. Then I tried to send a PR with a template that is already merged but the validation still failed.

[2016-10-24 07:13] bingosummer opened #2667 "Can we get the usage of the template?"
This is a question about the usage.
Can we know how many resource groups are deployed via the template? And how many are still alive?

[2016-10-24 19:39] singhkays commented on #2660
Reran the job and it ran succesfully, closing.

[2016-10-24 19:39] #2660 closed

[2016-10-25 02:27] bingosummer commented on #2208
The Portal deployment is supported in Azure China Cloud now. And we want to add a button in README to deploy the template in AzureChinaCloud. Does `deploy.azure.com` have a button `Deploy to Azure China`?

[2016-10-25 08:44] mviets opened #2675 "201-specialized-vm-in-existing-vnet and dashes in VM names"
[Create a specialized virtual machine in an existing virtual network](https://github.com/Azure/azure-quickstart-templates/tree/master/201-specialized-vm-in-existing-vnet)
### Issue Details

If you depoy the template to Azure and enter a VM Name with a dash (-), you get the following error message and are unable to continue:

Virtual machine name cannot contain non ASCII or special characters, must

[2016-10-26 11:50] mioteg opened #2681 "201-vmss-lapstack-autoscale returns 500 error"
[201-vmss-lapstack-autoscale](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-lapstack-autoscale)
### Issue Details

After deploying the template browsing a 500 error is returned.
### Repro steps (_if necessary, delete otherwise_)
1. Deploy VMSS
2. Copy DNS name or IP
3. Open browser and browse to IP or DNS name

[2016-10-26 16:44] atsepkov opened #2683 "dokku template refusing to serve apps to the browser"
[dokku-vm](https://github.com/Azure/azure-quickstart-templates/tree/master/dokku-vm)

### Issue Details
After deploying the template, and following instructions in sedouard's [README](https://github.com/sedouard/dokku-azure) (which is the same template as yours but your doesn't include these instructions) I'm not able to access any of the apps, I'm seeing the following screen:
![screen shot 2016-1

[2016-10-27 01:14] mathieu-benoit commented on #2088
Hi there (@ninarn), any update with this enhancement?
Here are some info for that: https://gist.github.com/billgib/d80c7687b17355d3c2ec8042323819ae
Thank you,

[2016-10-27 02:15] shinoj29 opened #2686 "mongodb-high-availability - medium t-shirt size template failed to deploy"
mongodb-high-availability (https://github.com/Azure/azure-quickstart-templates/tree/master/mongodb-high-availability)

I have tried both xsmall and small t-shirt sized template and it works well, but the medium sized version of the template doesnt get deployed on azure it fail to deploy minimum two member-resoure every time i try to deploy.
This is the error status i found inside operation details

[2016-10-31 15:07] matendie commented on #2686
Hey Shinoj Shayin, did you ever resolve this issue? I'm having same problem, and I was unable to figure out what is the problem. Any ideas on what may be happening?

[2016-10-31 16:22] shinoj29 commented on #2686
no i am waiting for some response from template creators

[2016-10-31 22:36] aaronlower opened #2707 "dead reference links"
[sql-server-2014-alwayson-existing-vnet-and-ad](https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-existing-vnet-and-ad)

### Issue Details
Template links to https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-dsc
"For nested templates and DSC resources specific to SQL Server AlwaysOn, this template references these resourc

[2016-11-02 16:29] aarsan opened #2713 "Load Balancer Template"
I have a load balancer template but need 50 lb rules. I can't find an example of how to use a loop to create those rules. Is this possible?

[2016-11-03 05:31] yuukimasa1999 opened #2717 "@@@@"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-11-03 05:32] yuukimasa1999 commented on #2717
@@@@@@@@@@@

[2016-11-03 16:54] reubensmither1 commented on #2675
I raised this with MS they have now fixed this.

thanks

Reuben

[2016-11-03 19:04] dewolfs commented on #2075
Tried this template with DSC extension v2.17 but it's still failing

Resource Microsoft.Resources/deployments 'deploySqlCluster' failed with message
"status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "DeploymentFailed",
        "message": "At

[2016-11-04 01:29] robotechredmond commented on #2075
I'm not able to repro this issue.  Two questions:
- Which Azure region are you attempting to deploy to?
- Can you include a link to a full copy of the DSC extension log in the Logs folder on the VM?

[2016-11-04 11:09] dewolfs commented on #2707
When deploying sql-server-2014-alwayson-existing-vnet-and-ad I get the following error

ERROR TYPE
Unable to download deployment content from 'https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/sql-server-2014-alwayson-existing-vnet-and-AD/nested/deploy-sql-cluster.json'. The tracking Id is '0bfc2ce1-939d-474a-9acb-2a111b82196b'. Please see https://aka.ms/arm-deploy for usag

[2016-11-04 13:37] mviets commented on #2675
Great, thanks a lot!

[2016-11-05 14:09] Jiphanton commented on #2717
can you give me 1 ETH rather ?. really thank. 0xb51D0032b39BE6E7dd349AC69B47e4A40450fF51

[2016-11-05 14:10] Jiphanton commented on #2713
can you give me 1 ETH rather ?. really thank. 0xb51D0032b39BE6E7dd349AC69B47e4A40450fF51

[2016-11-05 14:10] Jiphanton commented on #2686
can you give me 1 ETH rather ?. really thank. 0xb51D0032b39BE6E7dd349AC69B47e4A40450fF51

[2016-11-05 14:11] Jiphanton commented on #2578
can you give me 1 ETH rather ?. really thank. 0xb51D0032b39BE6E7dd349AC69B47e4A40450fF51

[2016-11-05 15:51] aarsan commented on #2713
@Jiphanton Sorry, I don't understand what you're asking.

[2016-11-06 17:56] mikaelsand opened #2730 "201-logic-app-transform-function Transform not omitting XML declaration"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2016-11-09 18:55] MichelBarnett opened #2741 "shouldn't virtual machine resource use https to reference storage account?"
[201-vmss-windows-jumpbox](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vmss-windows-jumpbox)

### Issue Details
In the azuredeploy.json file the virtual machine resource includes a reference to a storage account used for the OS disk image.  But the reference uses http... shouldn't this be https?

"storageProfile": {
          "imageReference": . . .,
          "osDisk": {

[2016-11-10 14:55] #2076 closed

[2016-11-11 08:39] mani0070 commented on #1503
Do we know if this is available now?

[2016-11-11 15:37] cicorias opened #2749 "Ethereum Consortium TX node fails with errors - 404 on some assets"
[ethereum-consortium-blockchain-network](https://github.com/Azure/azure-quickstart-templates/tree/master/ethereum-consortium-blockchain-network)

### Issue Details

Template fails with the following:

[code]
.

### Repro steps (*if necessary, delete otherwise*)
1. Fill out template from marketplace
1.1 Use a D3_V2
2. Deploy
3. SSH into the box - TX node
4.Look at the config.log on TX

FYI @sidkri

[2016-11-12 20:29] 4c74356b41 commented on #1503
just tested it, nop, no good, sad.

[2016-11-14 06:12] bingosummer commented on #2667
There is a similar question in #2620 .
@singhkays @bmoore-msft Do you have any advices? Thanks.

[2016-11-14 17:40] mikkoc opened #2761 "'Could not find member 'reference' on object of type 'TemplateInputParameter'."
Having issue using KeyVault to fetch secret parameters to my ARM template.

### Snippet
[code]

Invoking the template as follows:
`azure group deployment create -g TestResourceGroup -f simplevm.json -e simplevm.parameters.json -n TestDeployment`

I still get prompted for an `adminPassword`, which instead should be taken from KeyVault (permissions are OK). After I enter I fake password, it fails:

[2016-11-14 20:24] dsschnau opened #2763 "201-vm-winrm-windows VM Name configuration"
Hello,

The template [201-vm-winrm-windows](https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-winrm-windows) only lets you create a VM with name 'MyWindowsVM'. Can this be made into a parameter for the template so we can name the VM something more useful?

Thank you!

[2016-11-14 22:06] alenat10 opened #2764 "Add VMSS to an existing vnet/subnet"
[301-custom-images-at-scale](https://github.com/Azure/azure-quickstart-templates/tree/master/301-custom-images-at-scale)

### Issue Details
I am trying to get VMSS deployed to an existing vnet/subnet. Could you please let me know what need to be changed in the template?

### Repro steps (*if necessary, delete otherwise*)
1. I changed variables when template was imported in Azure Portal
2. Tried to

[2016-11-15 12:05] wangjj1989 opened #2766 "How to add storage account list in template jason file?"
Hi all,
I wan to add a storage account parameter in the template, which is just like resource group: you can both create a new one  and you can choose one from the existing. How should I do that?
I don't find any examples about this.
Could you provide me some examples? Thanks

[2016-11-15 12:09] wangjj1989 commented on #2766
Hi all,
I wan to add a storage account parameter in the template, which is just like resource group: you can both create a new one  and you can choose one from the existing. How should I do that?
I don't find any examples about this.
Could you provide me some examples? Thanks

[2016-11-15 12:33] TamasSzerb opened #2767 "ACS-Swarm issue at the beginning"
### Issue Details

Hello,

after installing the Azure's own ACS-Swarm template today, I ran into the following issue:

core@swarm-master-C38B4966-0:~$ env|grep DOCKER
DOCKER_HOST=:2375
core@swarm-master-C38B4966-0:~$ docker info
Containers: 3
 Running: 0
 Paused: 0
 Stopped: 3
Images: 3
Role: primary
Strategy: spread
Filters: health, port, dependency, affinity, constraint
Nodes: 3
 swarm-agent-C38

[2016-11-15 12:43] TamasSzerb commented on #2767
core@swarm-master-C38B4966-0:~$ docker --version
Docker version 1.12.3, build 6b644ec

[2016-11-18 20:58] ahems opened #2781 "Active Directory configuration fails when processing DSC Extension "CreateADForest""
[active-directory-new-domain-ha-2-dc](https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain-ha-2-dc)

### Issue Details
Deployment fails when processing DSC Extension CreateADForest.

Full Error Text:
{ "status": "Failed", "error": { "code": "ResourceDeploymentFailure", "message": "The resource operation completed with terminal provisioning state 'Failed'.", "

[2016-11-18 21:17] marcvaneijk commented on #2766
You can achieve that scenario with the concat function and nested templates. Based on the specified parameter the URL of the nested template is constructed. For an example have a look at this template https://github.com/rjmax/ArmExamples/blob/master/NewOrExistingTemplate.json

[2016-11-18 21:31] marcvaneijk commented on #2764
Basically the Microsoft.Network/networkInterfaces resources in the main and nested templates have a subnet reference that needs to point to your existing subnet and the Microsoft.Network/virtualNetwork resource has to be removed from shared-resources.json

[2016-11-18 21:32] marcvaneijk commented on #2763
Can you submit a PR with the proposed change?

[2016-11-18 21:35] tstringer commented on #2103
I'm seeing the same thing. @stevenlivz did you modify `postgresql.conf` *after* the fact, or did you have to modify the `install_postgres.sh` script? I take it it's the former. I setup logging for this custom script, and here is the output I get:

[code]

[2016-11-18 21:46] marcvaneijk commented on #2741
For public access http:// is valid as well. If you set blob access to private you should use https://
A more detailed explanation can be found in the documentation here
https://docs.microsoft.com/en-us/azure/resource-group-linked-templates

[2016-11-18 21:46] marcvaneijk commented on #2749
adding @cavanes and @sidkri

[2016-11-18 21:48] marcvaneijk commented on #2730
Adding @rarayudu and @jaakhter

[2016-11-18 21:50] marcvaneijk commented on #2683
Adding @josegonzalez

[2016-11-18 21:56] marcvaneijk commented on #2632
adding @stepsic-microsoft-com

[2016-11-18 21:58] josegonzalez commented on #2683
I see there that your application might be the `gogs` app. Because of how dokku detects ports for Dockerfile applications, you'll need to do a bit of manipulation of your apps exposed ports.

I wrote a tutorial on deploying gogs [here](https://dokku.github.io/tutorials/deploying-gogs-to-dokku). Hope that helps.

[2016-11-18 22:00] marcvaneijk commented on #2589
The available properties are specified in the "message" elements of the error that you copied in the issue details.

[2016-11-18 22:01] marcvaneijk commented on #2577
adding @mgreenegit

[2016-11-18 22:04] marcvaneijk commented on #2567
Is this issue related to Visual Studio or a specific template in this repo?

[2016-11-18 22:08] marcvaneijk commented on #2541
We recommend to prevent linking of templates across scenarios folders. To achieve your desired template design you can copy the template into your scenario folder as nested templates to you main deployment template and make the desired changes in the same deployment scenario folder.

[2016-11-18 22:15] marcvaneijk commented on #2536
@blitzedgh, @astaykov This template has been updated recently. Can you verify that the issue you were facing has been solved?

[2016-11-18 22:17] marcvaneijk commented on #2515
@MikeWedderburn-Clarke Thanks for the detailed validation and writedown. Can you submit a PR with the scale limit and updated notes?

[2016-11-18 22:18] marcvaneijk commented on #2512
This template has been updated recently, can you confirm your issue is fixed?

[2016-11-18 22:19] marcvaneijk commented on #2491
adding @krnese

[2016-11-18 22:48] ChronosWS commented on #2263
Verified still a problem on 11/18/2016

[2016-11-18 22:50] sidkri commented on #2749
We identified the issue and @iwooden is working on the fix.  Thanks for finding this bug @cicorias !

[2016-11-18 23:40] cicorias commented on #2749
And I thought I was unique 🎱 @sidkri ..

[2016-11-19 11:45] stevenlivz commented on #2103
@tstringer Yeah, after the fact. I cloned the repo and modified the configure_streaming_replication method in install_postgresql.sh as follows:

`configure_streaming_replication() {
	logger "Starting configuring PostgreSQL streaming replication..."

	# Configure the MASTER node
	if [ "$NODETYPE" == "MASTER" ];
	then
		logger "Create user replicator..."
		echo "CREATE USER replicator WITH REPLICATI

[2016-11-21 14:11] josemaia commented on #2567
It is a general thing when producing ARM jsons. Should this go under a bug report elsewhere?

[2016-11-21 21:05] gregjhogan opened #2786 "Create VNET without destroying all subnets"
I want to create subnets dynamically (separately from my VNET).  I see there is a way to create a subnet inside an existing VNET, indicating that a subnet is a child resource of a VNET.

https://github.com/Azure/azure-quickstart-templates/blob/master/101-subnet-add-vnet-existing/azuredeploy.json

However, I can't find a way to re-deploy the VNET template without blowing away all subnets, because i

[2016-11-22 11:09] gauthamr05 opened #2788 "101-vm-user-image-data-disks Getting error: StorageAccountTypeNotSupported"
After trying to deploy 101-vm-user-image-data-disks I got the following error message:

"code": "StorageAccountTypeNotSupported",
"message": "Storage account <xxxxx> is of Premium_LRS type. Boot Diagnostics supports Standard_GRS,Standard_LRS,Standard_RAGRS storage account types."

I am deploying in to existing resource group where my OS and Data disk images reside in single storage account. Input

[2016-11-22 22:09] KrishnaV-MSFT opened #2790 "windows-server-containers-preview does not work"
### Issue Details
windows-server-containers-preview template does not work. It gives me an error saying "Windows Server Technical Preview" is not available.

[2016-11-23 11:10] MaikvanderGaag opened #2792 ""The subscription is not registered for the resource type 'components' in the location 'Central US'. Please re-register for this provider in order to have access to this locat"
Issue regarding AzureDeploy.json

### Issue Details
"The subscription is not registered for the resource type 'components' in the location 'Central US'. Please re-register for this provider in order to have access to this location"

New-AzureRmResourceGroupDeployment : 12:08:03 - Resource Microsoft.Insights/components 'CloudWise4ls3py4rgpni4insights' failed with message '{
  "error": {
    "code":

[2016-11-23 17:37] shpros commented on #2362
This is old, but at the time of the OP's report, web tests could only be deployed in the East US region, so you would need `"location": "East US"` instead of `"location": "Central US"`.
http://stackoverflow.com/a/36647495/18356

Not sure whether this is still true, now that Application Insights has gone GA.

[2016-11-23 17:57] boklyn opened #2794 "Error Generated from deploying template"
[active-directory-new-domain-ha-2-dc](https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain-ha-2-dc)

### Issue Details
If you were to click on the deploy to Azure link for the above mention template, all of the resources would get provisioned but the DSC execution phase to create the first ADforest would fail with the following error:
"message": "VM has repor

[2016-11-23 17:58] boklyn commented on #2781
I get the same errors as well, when i just the template.

[2016-11-23 17:59] boklyn commented on #2794
Issue already open by someone else.

[2016-11-23 17:59] #2794 closed

[2016-11-23 18:31] dsschnau commented on #2763
Sure thing. PR #2795. I set up parameters for some of the other resource properties I'd like to be able to specify when using this template.

[2016-11-23 19:08] oradcliffe commented on #557
Doesn't work for me, have one domain controller up and I use the json join domain similar to here [http://www.ravichaganti.com/blog/building-azure-resource-manager-templates-using-domain-join-extension/](url), so I know the domain exists.  The computer that is simply joining the domain joins just fine, logging on to it you can see it's joined, and it shows up as a computer in ADUC for the domain.