[2015-05-08 22:41] squillace opened #258 "Fails on Windows azure-cli: seems to insist that an empty default value is an invalid one."
This template works in the portal, but not using azure cli. I'll submit a pr for that, but it's up to you, I think, where the bug lies. IMHO, saying there IS a default value but that it's NOT one of the accepted values is not quite right....

[2015-05-08 22:41] squillace commented on #258
$ azure group deployment create --template-uri https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/redis-high-availability/azuredeploy.json redis s
econddeploy
info:    Executing command group deployment create
info:    Supply values for the following parameters
adminUsername: ops
adminPassword:
+ Initializing template configurations and parameters
+ Creating a deployment
err

[2015-05-08 22:45] singhkay commented on #258
@squillace Sure, feel free to submit a PR for the fix

[2015-05-08 22:56] squillace commented on #258
@singhkay will do. confirmed validation on windows; waiting for successful deployment with modified file.

[2015-05-08 22:56] #258 closed

[2015-05-21 15:13] trondhindenes opened #283 "Example for placing vm into existing vnet"
I'm trying to figure out how to make resource templates that integrate with existing resources (such as storage accounts and virtual networks). OSDisks reference storage accounts simply using the storage account URL, so that one is easy. However, I'm having problems with deploying a vm into an existing vnet (the vnet lives in another resource group). I'm sure I'm missing something, since a hard re

[2015-05-21 15:57] singhkay commented on #283
@trondhindenes This might be what you're looking for https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-different-rg-vnet

[2015-05-21 16:00] trondhindenes commented on #283
It is! Wonder how I managed to overlook that one. That said, without these templates I'd be completely lost. When can we expect some proper documentation of the various classes? AFAIK the online json schema hasn't been updated in ages either.

[2015-05-21 17:12] singhkay commented on #283
You can find the API documentation for all the Resource Providers here https://msdn.microsoft.com/en-us/library/azure/dn948464.aspx. The JSON elements from there map directly to what's used in the templates.

I believe @rjmax @clamanna from the ARM team are working on the JSON schema updates

[2015-05-21 20:26] trondhindenes commented on #283
Thanks for the feedback!

[2015-05-21 20:26] #283 closed

[2015-05-22 19:04] TravisEz13 opened #286 "dsc-extension-iis-server-windows-vm/azuredeploy.json uses parameters for DSC which are not valid"

[2015-05-22 19:06] #286 closed

[2015-06-17 03:59] bingosummer opened #333 "201-dependency-between-scripts-using-extensions does not work"
1. When I deploy it, I got the message from portal:
{"error":{"code":"BadRequest","message":"Multiple extensions per handler not supported for OS type 'Linux'. Extension 'installmongo' with handler 'Microsoft.OSTCExtensions.CustomScriptForLinux' already added."}}
2. "fileUris" in azuredeploy.json should be https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-dependency-bet

[2015-06-17 07:00] bingosummer opened #334 "mongo-on-centos failue"
I got this:
failure: repodata/repomd.xml from mongodb-org-3.0: [Errno 256] No more mirrors to try.
http://repo.mongodb.org/yum/redhat//mongodb-org/3.0/x86_64/repodata/repomd.xml: [Errno 14] HTTP Error 404 - Not Found

[2015-06-18 23:25] singhkay commented on #334
@bingosummer Was this error from the VM extension? Looks like the download link in the script might not be valid. Can you edit the link and see if it works? https://github.com/Azure/azure-quickstart-templates/blob/master/mongodb-on-centos/mongo-install-centos.sh

Feel free to update the template as well

[2015-06-24 13:37] bkvarda opened #353 "VM deployment failures from template in US West"
I have a template that can deploy a large # of VMs at once...I typically use US West for region, and just yesterday I started receiving this error in Azure as VM deployments failed (but not all of the VMs, just most of them):

{"status":"Failed","error":{"code":"ResourceDeploymentFailure","message":"The resource operation completed with terminal provisioning state 'Failed'.","details":[{"code":"Ar

[2015-06-25 00:39] singhkay commented on #353
@bkvarda There was an issue with the Image/Extension repository last night. Can you try again?

[2015-06-25 01:30] bkvarda commented on #353
@singhkay  Just tried and everything appears to be working again. Thanks!

[2015-06-25 01:33] singhkay commented on #353
@bkvarda Sounds good!

[2015-06-25 01:33] #353 closed

[2015-06-29 22:27] ahmetalpbalkan opened #361 "Fix "drone" template to use the new Docker extension"
The drone template currently uses the old Docker VM Extension `MSOpenTech.Extensions.DockerExtension` which is being deprecated. This should be replaced with new one.

Opening an issue here to remind the template owner @anweiss for the 3rd time now. :-)

[2015-06-30 17:36] #361 closed

[2015-07-03 22:40] mahthi commented on #333
This issue now has been fixed. Please try and let us know if you see any more issues.

[2015-07-03 22:40] #333 closed

[2015-07-06 18:24] rgardler opened #376 "acomghbot line numbers are out by 1"
It looks like acomghbot has line numbers are off by 1 - see https://github.com/Azure/azure-quickstart-templates/pull/374#issuecomment-118729049 for an example

[2015-07-09 18:45] tfnaylor opened #380 "Improve documentation about username and password requirements (All VM creation actions fail)"
I have tried several quickstart templates using the Deploy to Azure button and all fail on the VM creation step (both Linux and Windows VM's fail in the same way). It is a Bad Request failure so it seems impossible to diagnose. All other resources defined in the templates are created. Is it possible that the API version has recently gotten out of sync?

[2015-07-09 21:09] tfnaylor commented on #380
I think I may have figured this out - at least for the templates that include a Linux VM. It turns out that the administrator password (a property in most/all of these templates) has minimum requirements. If you don't get this right you get a Bad Request response but no indication that it had to do with the admin password.

NOTE TO ALL TEMPLATE AUTHORS: Please use the metadata element (or just not

[2015-07-10 03:12] aculich commented on #380
Two other failure modes I experienced are:

- If you set the username from the default `azureuser` to something (seemingly) illegal like `admin`, it fails (but with an unhelpful error message)
- If the password exceeds other limits (I am not sure where they are defined). In my case, I had auto-generated a 32 character password that fit the minimum complexity requirements, but apparently that was t

[2015-07-10 07:28] rgardler commented on #380
This is great feedback. Thank you both. I'm marking this issue as an enhancement as we should include this in documentation one day.

[2015-07-10 23:40] rgardler commented on #334
Oops this didn't fix it and my commit seems to have closed the issue. Reopening.

I've not got time to further debug now but I note that the URL is wrong for the repository. Quickly looking at the instructions for how to do this (see http://docs.mongodb.org/manual/tutorial/install-mongodb-on-red-hat/) the only difference I see now is the name of the yum.repos.d filename being created.

[2015-07-11 19:09] mjalloul opened #386 "Custom Template Deployment Not Working on Ibiza Portal"
This is not a GitHub repo issue per se, but it's a bit related. Here's the issue:

FYI, here's what the experience currently looks like after clicking on the **Deploy to Azure** button:
![deploymenttemplateportalissue-7-11-2015-1](https://cloud.githubusercontent.com/assets/8796785/8634995/412db260-27c5-11e5-9adb-c920b3e703a0.png)

And this is what it looks like after clicking on the **Create** but

[2015-07-11 19:32] rgardler commented on #386
I have confirmed this behavior and reported it to the appropriate team in MS. Thank you for the report.

As a temporary workaround you can paste the template json file into the edit window picrured above, click save and then proceed as normal.

Sent from my Windows Phone
________________________________
From: Mohammad Jalloul<mailto:notifications@github.com>
Sent: ‎7/‎11/‎2015 12:09 PM
To: Azure/a

[2015-07-11 22:37] gurua commented on #386
Thanks for reporting the issue. The issue is being investigated actively.

[2015-07-11 23:58] gurua commented on #386
A fix has been pushed for this issue. Please let us know if you are still seeing an issue.

[2015-07-12 00:17] mjalloul commented on #386
Thanks for the super quick turnaround. I've verified that the issue is indeed fixed.

[2015-07-12 01:25] rgardler commented on #386
@gurua thank you for the rapid response. It is indeed fixed. Closing this issue.

[2015-07-12 01:25] #386 closed

[2015-07-13 02:08] bingosummer opened #387 "How to redeploy the template?"
If I failed to deploy a template for the first time, I want to re-deploy it. It seems I have to deploy it from scratch. Is there a way to re-deploy it with the previous parameters? Thanks.

[2015-07-13 05:33] bingosummer opened #388 "How to deploy a template in Azure China Cloud?"
I deployed microbosh-setup in Azure China Cloud with the following Powershell cmdlet:
New-AzureResourceGroup -Name "cf-china" -Location "China East" -TemplateUri "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/microbosh-setup/azuredeploy.json"
After applying the parameters, I got error messages:
The resource namespace 'Microsoft.Network' is invalid.
The resource namespac

[2015-07-13 10:03] smereczynski opened #389 "diskraid-ubuntu-vm 'The template parameter 'osSettings' is not valid.'"
Beginning in line192:

    "storageProfile": {
              "imageReference": "[parameters('osSettings').imageReference]",
              "osDisk": {
                "name": "osdisk",
                "vhd": {
                  "uri": "[concat('http://', parameters('storageAccountName'),'.blob.core.windows.net/vhds/', 'myvm', '-osdisk.vhd')]"
                },
                "caching": "ReadWrite

[2015-07-14 04:27] bingosummer commented on #380
Same issue on the storage name parameter. A valid StorageName should not include "-" and Uppercase letters.
Does the template provide a validation method? If not, we can only expect Azure Portal to validate the parameters.

[2015-07-14 08:14] bingosummer commented on #388
Microsoft.Network, Microsoft.Storage and Microsoft.Compute are not supported in Azure China Cloud for now.

[2015-07-14 08:18] bingosummer opened #394 "Is ARM support the Resource Provider "Microsoft.ClassicCompute"?"
In 101-simple-linux-vm, I want to replace "Microsoft.Compute" with "Microsoft.ClassicCompute" to support V1 VM, but failed.

Is ARM support the Resource Provider "Microsoft.ClassicCompute", "Microsoft.ClassicStorage" and "Microsoft.ClassicNetwork"? Should I change the API version to "2015-06-01"?Thanks.

[2015-07-14 23:38] pbolduc opened #396 "How to create V12 SQL Database"
The default templates will create a **web** edition SQL Database.  Is there an example to create a V12 database?

[2015-07-15 00:53] tfnaylor opened #397 "Linux chef client extension not valid"
The type and typehandlerversion parameters ("LinuxChefClient" and "1204.12") shown in various Chef client examples seem to be invalid - Azure complains that the extension could not be found in the extension repository. I am guessing that the version has probably been updated since the the example templates were created. In general, does anyone know where to find a complete listing of all extension

[2015-07-15 04:18] #388 closed

[2015-07-15 04:51] rgardler commented on #387
I don't believe there is a way to easily redeploy using previous settings. I'll communicate this to the portal team in the hope that the feature comes along one day.

Thanks for the feedback.

[2015-07-15 04:51] #387 closed

[2015-07-15 16:14] exile1205 opened #399 "How to connect the PXC cluster"
I used mysql-ha-pxc to build up pxc cluster.
I have tried several quickstart templates using the Deploy to Azure button and built up successfully.

I didn't figure out that how to connect to the cluster by "mysql -h 'azure dns' -u test -p" and then I tried to ping the public IP such like 'ping 138.91.147.179' and request was timed out.

[2015-07-15 18:34] tfnaylor commented on #397
Figured it out. For anyone else interested the current LinuxChefClient extension version is 1207.12. Using this value causes the example template to work. You can find the current versions of all VM extensions using the following powershell command:
Get-AzureVMAvailableExtension

[2015-07-15 18:44] rgardler commented on #397
Thank you @tfnaylor

I'm reopening this issue as we need to replace the version number in the template so that it works for other people. I don't have the time to make the change and test it right now, but this issue, and the fix you found will remind us.

[2015-07-16 06:40] bingosummer commented on #333
Thanks, @mahthi . For the first error, would you like to explain how to fix it?
I deployed another template which would deploy VMAccessForLinux extension twice. And it also failed with "Multiple extensions per handler not supported for OS type 'Linux'. Extension 'enablevmaccess0' with handler 'Microsoft.OSTCExtensions.VMAccessForLinux' already added."

[2015-07-16 18:35] mahthi commented on #333
Bin – Can you look at this sample -https://github.com/Azure/azure-quickstart-templates/tree/master/201-dependency-between-scripts-using-extensions. You need to do this. ☺

From: Bin Xia [mailto:notifications@github.com]
Sent: Wednesday, July 15, 2015 11:40 PM
To: Azure/azure-quickstart-templates
Cc: Mahesh Thiagarajan
Subject: Re: [azure-quickstart-templates] 201-dependency-between-scripts-using-e

[2015-07-17 06:26] singhkay commented on #399
I've sent an email to the template author @liupeirong for help with this

[2015-07-17 06:28] singhkay commented on #397
Adding template author @KundanaP for the update

[2015-07-17 06:30] singhkay commented on #396
@pbolduc Are you referring to this template? https://github.com/Azure/azure-quickstart-templates/tree/master/201-web-app-sql-database

[2015-07-17 06:30] singhkay commented on #394
Hi @bingosummer, deploying Classic resources through ARM templates is not supported.

[2015-07-17 06:30] #394 closed

[2015-07-17 06:32] singhkay commented on #389
Thanks for the report @smereczynski . I'm unable to look at the code atm but marking this as a bug as a reminder to investigate.

[2015-07-17 06:33] pbolduc commented on #396
Yes, that one is very similar to the one created by the Visual Studio resource manager template for web app+SQL Database.

[2015-07-17 06:33] bingosummer commented on #394
Thanks for your response. Could I deploy classic resources directly by ARM ReSTful API, not templates?

[2015-07-17 06:34] singhkay commented on #376
Assigning to @bursteg. Guy, can you investigate this as a fix for the bot?

[2015-07-17 06:35] singhkay commented on #396
@tfitzmac Can you help here?

[2015-07-17 06:43] singhkay commented on #394
Sorry @bingosummer, the only supported API to deploy classic resources is the service management API https://msdn.microsoft.com/en-us/library/azure/jj157206.aspx

[2015-07-17 16:54] liupeirong commented on #399
First of all, was your deployment successful?  When you connect to 'azure dns', are you using the public IP/dns   provisioned by the template?  What password are you using to log in?  By default, it's the sst_auth info in my.cnf.template.  Of course in production, you would put your own my.cnf somewhere and point the template to it.

[2015-07-17 23:25] rgardler opened #407 "Growing a community around ARM templates: governance model"
We want to grow a viable community around ARM templates. The goal is to ensure we can scale to accommodate as many contributions as we attract (truth is we are already struggling to stay on top of the pull requests - keep it up folks!)

To this end I propose the following lightweight governance model. It's heavily based on the model found in Apache projects and seeks to recognize and reward merit

[2015-07-17 23:35] tfitzmac commented on #396
I haven't had a chance to test this, but you could try passing a different id and edition to get the type of database you want. See https://msdn.microsoft.com/library/azure/dn505701.aspx

[2015-07-18 17:53] pbolduc commented on #396
@tfitzmac  Thanks. This was one of the pieces I was missing. Another piece was specifying the version when creating the server.

            "name": "[parameters('serverName')]",
            "type": "Microsoft.Sql/servers",
            "location": "[parameters('serverLocation')]",
            "tags": {
                "displayName": "SqlServer"
            },
            "apiVersion": "2014-04-01-

[2015-07-20 07:01] Asukaz opened #408 "Three VM Sharepoint Deployment DSC source issue"
Could anyone help to check the DSC source link address:

https://raw.githubusercontent.com/azurermtemplates/azurermtemplates/master/sharepoint-three-vm

I think it is not available now.

[2015-07-21 01:21] singhkay commented on #389
Sent an email to the template author Trent

[2015-07-23 13:12] tomconte opened #419 "101-vm-from-user-image : Required parameter 'osDisk.createOption' is missing"
This template fails with the following error: (tested via the portal)

{"error":{"code":"InvalidParameter","target":"osDisk.createOption","message":"Required parameter 'osDisk.createOption' is missing (null)."}}

[2015-07-23 16:20] jangelfdez opened #420 "azuredeploy-parameters.json versus azuredeploy.parameters.json"
Hi!

the bot that checks the pull requests looks for a file called azuredeploy-parameters.json but the starter template includes a file called azuredeploy.parameters.json

It should be change to avoid confusion with that.

Regards

[2015-07-23 19:11] singhkay commented on #389
Merged the fix. Closing. https://github.com/Azure/azure-quickstart-templates/pull/413

[2015-07-23 19:11] #389 closed

[2015-07-24 21:36] aculich opened #422 "MPI support for SLURM quickstart template"
I see that MPI support is listed as a future work item in the [Deploy a Slurm Cluster on Azure](http://blogs.technet.com/b/windowshpc/archive/2015/06/06/deploy-a-slurm-cluster-on-azure.aspx) blog post.

Just wanted to register my interest in this feature for research groups that I am working with.

Thanks,
 Aaron

[2015-07-25 22:31] ahmetalpbalkan opened #423 "201-1-vm-loadbalancer-2-nics/readme.md rendering broken"

[2015-07-26 23:18] rgardler commented on #380
There is a related issue (asking for parameter validation) on the Azure portal User Voice site: http://feedback.azure.com/forums/223579-azure-preview-portal/suggestions/8622784-resource-group-template-parameter-validation#comments

[2015-07-26 23:25] rgardler commented on #397
I needed to use this template and hit this bug. Thank you @tfnaylor for documenting the fix. I applied to both the Chef templates.

[2015-07-26 23:25] #397 closed

[2015-07-28 01:24] aculich opened #428 "VM extension error when deploying CentOS-2nics-lb-cluster template"
Using the deploy template for [https://github.com/Azure/azure-quickstart-templates/tree/master/CentOS-2nics-lb-cluster](CentOS-2nics-lb-cluster) I receive this VM extension error message:

[code]

Look like the setting comes from [azuredeploy.json#L476](https://github.com/Azure/azure-quickstart-templates/blob/master/CentOS-2nics-lb-cluster/azuredeploy.json#L476).

[2015-07-28 03:37] aculich opened #429 "unable to locate blade for docker-simple-on-ubuntu template"
The [docker-simple-on-ubuntu](https://github.com/Azure/azure-quickstart-templates/tree/master/docker-simple-on-ubuntu) template fails with this error message:

[code]

[2015-07-28 06:46] rgardler opened #430 "The bot that checks pull requests gives erroneous messages"
If someone improves an existing template and issues a pull request the bot will respond:

"The following issues were detected in this pull request:

Template: CentOS-2nics-lb-cluster
•The 'githubUsername' property in metadata.json does not match the name of the author of the pull request (aculich)."

This is problematic in many ways. Firstly, the person issuing the pull request is not the original

[2015-07-28 19:58] tfnaylor opened #433 "101-simple-linux-vm : Ubuntu 14.10 not available (new)"
Today my templates, which are in part based on the quick start template mentioned in the title above, started to fail with Azure complaining that Ubuntu 14.10 couldn't be found. The quick start template also fails with the same message:

{"error":{"code":"NotFound","target":"imageReference","message":"The platform image 'Canonical:UbuntuServer:14.10' is not available. Verify that all fields in the

[2015-07-28 20:22] garimakhulbe opened #434 "Getting error in Autoscale settings"
Trying to configure the auto-scale setting on my availability set using the template and getting the below error.

![error](https://cloud.githubusercontent.com/assets/9362976/8942518/af08778a-352a-11e5-82a2-ebd951ed8b4f.JPG)

I am using the recourceId of the availability set as metricResourceUri and targetResourceUri in the autoscale settings in the template. Any clue on this error?
Template: http

[2015-07-28 20:23] tfnaylor commented on #429
Unfortunately I cannot solve your specific problem, but I can tell you that I have seen this error in the past and it has had nothing to do with the deployment itself - it seems to be a bug in the Azure portal. In my case there was always an actual error occurring in the template deployment process and you have to go through the resource group logs to find what happened.

Hope this helps.

[2015-07-28 21:57] tfnaylor commented on #433
14.04.2-LTS still works so it seems to be just the 14.10 version. I would recommend removing 14.10 as the default since this will really trip people up.

[2015-07-29 00:07] singhkay commented on #408
Thanks for the note @Asukaz!! I found a few other similar issues in the repo and fixed them #436

[2015-07-29 00:07] #408 closed

[2015-07-29 00:09] singhkay commented on #396
@pbolduc Feel free to submit a PR with the recommended changes. We want everyone to feel comfortable in contributing to this repo! :)

[2015-07-29 00:15] singhkay commented on #419
Thanks for the report @tomconte! Fixed in PR #437

[2015-07-29 00:15] #419 closed

[2015-07-29 00:17] singhkay commented on #422
Adding @YidingZhou to make sure this is captured

[2015-07-29 00:22] singhkay commented on #423
Thanks for the report @ahmetalpbalkan! Fixed in #438

[2015-07-29 00:22] #423 closed

[2015-07-29 00:30] YidingZhou commented on #422
@aculich Sure. When you asked about MPI, do you mean RDMA network or just MPI library?
You can deploy MPI library by yourself.
Currently Ubuntu image doesn't have RDMA driver yet so it'll take some time to get a SLURM cluster that run on IB network.

[2015-07-29 00:53] #433 closed

[2015-07-29 00:54] singhkay commented on #433
Thanks for the report @tfnaylor!! Ubuntu 14.10 went EOL on 7/23 (https://lists.ubuntu.com/archives/ubuntu-announce/2015-July/000197.html). I've purged this version from the repo.

[2015-07-29 01:13] aculich commented on #422
@YidingZhou Both would be helpful:

1) A ready-to-go Ubuntu image on Azure with SLURM+MPI already built-in and configured would be helpful as a first step to get people off of an on-premise HPC environment into the cloud **without changing their code** is useful to a wide audience even if it isn't the highest performance (optimizing people time, not compute time). This is something that may be inc

[2015-07-29 05:59] singhkay commented on #429
Adding @tabrezm from the Portal team to see if there are any logs needed or if it's a known issue

[2015-07-29 06:07] tabrezm commented on #429
@flanakin would need to weight in on this. The path for the part indicates that this is in Hubs.

[2015-07-31 18:39] #434 closed

[2015-08-03 18:16] singhkay commented on #420
Assigning to @bursteg for fixing in the bot. We're leaning towards azuredeploy.parameters.json here unless you or other contributors think there is another convention that is better?

[2015-08-06 20:03] 4deeptech opened #452 "Input endpoints via template?"
I created a VM using the portal and configured some endpoints to expose some special ports to the outside.  I wanted to see what the configuration looked like using Azure Resource Explorer(Preview) and it shows input endpoints under the networkProfile of the VM.  How can I set up these endpoints for a VM using a resource template?  I didn't see anything in the schema definitions about it.

excerpt

[2015-08-11 00:55] #396 closed

[2015-08-13 02:01] sedouard opened #464 "Virtual Network Gateway Template Parameters Not working"
The parameters in this template https://github.com/Azure/azure-quickstart-templates/tree/master/arm-asm-s2s need to nest the `description` field within a `metadata` object for each parameter. Otherwise the deployments via the `deploy to azure` button as well as the xplat-cli fail.

[2015-08-13 20:51] ahmetalpbalkan opened #471 "Change azuredeploy.net links with new ones"
Some README files still have the old Deploy to Azure links that redirect to the old website:

[code]

[2015-08-14 03:29] aarsan opened #475 "How can I get resource loops to start with a specific number?"
Is it possible to have them begin with "01" instead of "0"? I need to keep machine names the same number of characters but once I have more than 9, it goes up by a digit.

[2015-08-14 17:16] singhkay commented on #430
I'm open to both solutions but we should also let others from the community chime on what they prefer.
@ahmetalpbalkan @johngossman

[2015-08-14 17:18] singhkay commented on #475
@aarsan Can you try copyIndex(01) and see if it works. A use case is shown here but it's 4 instead of 04 https://github.com/Azure/azure-quickstart-templates/blob/master/docker-swarm-cluster/azuredeploy.json#L241

cc: @rjmax @clamanna

[2015-08-14 17:20] ahmetalpbalkan commented on #430
Azure documentation solves this problem by listing the initial author (you can use the file in the metadata) and contributors just by looking at commit history on that file to determine usernames

However all changes might not be about the template itself*, so maybe another field `"contributors"` in metadata.json can let people add themselves there.

*: for instance I recently fixed json indentati

[2015-08-14 17:21] singhkay commented on #464
Awesome! Thanks for submitting the fix @sedouard!

[2015-08-14 17:21] #464 closed

[2015-08-14 17:23] singhkay commented on #452
@4deeptech Is this a Microsoft.ClassicCompute or v1 VM? Network profile for Microsoft.Compute VMs doesn't have endpoints.

[2015-08-14 17:47] singhkay commented on #429
Closing as I was able to deploy the template and didn't repro this.

[2015-08-14 17:47] #429 closed

[2015-08-14 18:37] #428 closed

[2015-08-14 19:07] rjmax commented on #475
If you would like to pad, you can use our padLeft function. https://github.com/rjmax/ArmExamples/blob/master/padLeftSample.json

[2015-08-16 23:40] mkliu opened #483 "how do you find out what APIs are supported by each provider?"
I only got this link:
https://github.com/Azure/azure-resource-manager-schemas/

but for example i don't find key vault there.

[2015-08-17 09:09] vainolo opened #484 "active-directory-new-domain template does not escape '\' correctly"
Template uses DSC to create DC and script path does not escape "\".

[2015-08-17 09:15] vainolo commented on #484
Opened a pull request #485

[2015-08-17 14:56] tfnaylor commented on #483
This is a common complaint and one I have made to Microsoft during a local (Southern California) Azure users group event dedicated to resource manager. The answer I got was that the documentation is lagging somewhat behind on this feature but that they are working on it. I got the sense that they understand that a comprehensive guide to all available resources and how to use them is required. Hope

[2015-08-17 17:13] singhkay commented on #484
@vainolo merged #485. Thanks for fixing!

[2015-08-17 17:13] #484 closed

[2015-08-17 20:13] 4deeptech commented on #452
Looking in the new portal, the virtual machine says (classic) in parenthesis under the name on the VM 'blade'.  It's a Standard A2 VM created a few months back.  Under Settings it has an item called Endpoints where I manually created public ports mapped to the private port.  I wanted to know how I could template this out for a new VM.  Doesn't do me much good to script only part of it if I have to

[2015-08-17 21:59] #471 closed

[2015-08-17 22:18] singhkay commented on #483
@mkliu Take a look here https://msdn.microsoft.com/en-us/library/azure/dn948464.aspx

[2015-08-18 00:19] mkliu commented on #483
@singhkay but that's only the restful API. Can I assume everything listed there (variable names etc) is supported in ARM?

[2015-08-18 21:36] singhkay commented on #483
@mkliu Yes everything inside the properties bag of a REST API or a template resource is the same. For example compare creating a NIC in a template [here](https://github.com/Azure/azure-quickstart-templates/blob/master/101-networkinterface-with-publicip-vnet/azuredeploy.json#L100) with it's [REST API](https://msdn.microsoft.com/en-us/library/azure/mt163668.aspx)

[2015-08-18 21:43] mkliu commented on #483
@singhkay thanks. Some are still missing like keyvault,
If I create keyvault in the normal way and see it here: http://resources.azure.com. Can I assume the all the parameters are supported too?

[2015-08-18 21:54] singhkay commented on #483
@mkliu Ya, I'm not sure why Key Vault is missing. I'll check with that team. Yes, Keyvault should show on ARM explorer. What parameters do you mean? Do you mean the ones that show up in GET on ARM explorer? Some of them might not be required for a PUT I think. If you are looking to create a Key Vault through a template look here - https://github.com/Azure/azure-quickstart-templates/tree/master/101

[2015-08-19 02:43] mkliu commented on #483
@singhkay meaning I can't create a secrete via ARM? I basically want to deploy a website from github, create sql server, put sql connection string to keyvault pass the info back to the website.

If I understand correctly, you are saying I can't put secretes via ARM? What's the recommended approach then together with ARM? I'm thinking of invoking ARM via Azure node.js SDK and then put the keys in n

[2015-08-19 07:00] mkliu opened #496 "dynamic key names?"
I'm creating a template for azure website. Trying to add a connection string, but I want the name of the string to be passed in as a parameter. So that the template can be more generic for various projects.

obviously the following doesn't work. Any suggestions?

[code]

Complaining:
[code]

[2015-08-19 09:59] iamshital opened #497 "How to deploy VMs in Existing Virtual Network without creating new one?"
I have a preconfigured virtual network in azure and it is already connected to on premise network via dynamic gateway. I can deploy virtual machines inside VNET using powershell commands.

Equivalent PS command :
New-AzureVM -ServiceName VNETVMS -VMs ( ( New-AzureVMConfig -Name VNETVMS-role-0 -InstanceSize Small -ImageName CENTOS67-WA2014-PREPARED-20150812 | Add-AzureProvisioningConfig -Linux -Lin

[2015-08-19 19:47] singhkay commented on #483
@mkliu Right, you can't create secrets or keys via ARM, only Key Vaults themselves. This is same as only being able to create storage accounts and not blobs, tables via ARM.

Yes the node CLI or PS cmdlets are the easiest way to work with keys and secrets

    azure keyvault keyvault secret set [--vault-name] <vault-name> [--secret-name] <secret-name> [--value] <secret-value> [options]

[2015-08-19 19:49] singhkay commented on #496
Adding @davidebbo for help

[2015-08-19 19:51] singhkay commented on #497
Take a look at Ryan's neworExisting pattern example https://github.com/rjmax/ArmExamples/blob/master/NewOrExistingTemplate.json

cc: @rjmax

[2015-08-19 19:51] #475 closed

[2015-08-19 21:33] davidebbo commented on #496
It's not supported by the template engine as far as I know. Though I agree that ideally it would work. @IlyaGrebnov might have input here.

[2015-08-20 03:27] mkliu commented on #496
for things like appSettings, connectionStrings, where names are specified by users, this type of quests will definitely come up. Can you guys add this to feature request?

[2015-08-20 17:18] libby2cm opened #503 "bosh-setup - Lost on deployment"
Been trying to deploy azurebosh via the arm template, per the guide that is floating around, but apparently something has changed and it does not work the same. After deploying the template, it appears to be doing a regular bosh deployment vs using microbosh. After the rg is deployed, I install npm, azure cli, etc., & setup the SPN & such. I then update the ~/bosh.yml file to reflect subscription

[2015-08-20 22:46] tfnaylor opened #506 "User image must be in same resource group as deployment!??!?!"
The 101-vm-from-user-image template shows how to utilize a custom image in a template. It appears, however, that the image must preexist in the resource group, which of course doesn't make sense because you are using the template to create the resource group in the first place. This seems like a terrible implementation. Is there some way around this?

We want to have our user images in a separate

[2015-08-20 23:24] davidebbo commented on #496
This is tracked by https://github.com/JamesNK/Newtonsoft.Json/issues/633. @singhkay, should probably close this one.

[2015-08-20 23:27] davidebbo commented on #496
Oops, my bad, ignore my previous comment. The issue I pointed to relates to something that's needed for the implementation, but does not track the work item discussed here.

[2015-08-20 23:31] singhkay commented on #503
@libby2cm Are you using this template? https://github.com/Azure/azure-quickstart-templates/tree/master/bosh-setup.

I'm not familiar with bosh but I'll try to contact @bingosummer who might know this.

[2015-08-21 01:34] bingosummer commented on #503
Thanks @singhkay for passing on this issue.

@libby2cm Thanks for you feedback.
The bosh-setup template is to setup bosh-init for Cloud Foundry on Azure Preview 2 and microbosh-setup is deprecated which is for Preview version. You can follow the guide  https://github.com/Azure/bosh-azure-cpi-release/blob/master/docs/template-guide.md.

You can find resource_pools.name[vms].stemcell.url in bosh.yml

[2015-08-21 03:23] libby2cm commented on #503
Ah, OK.. figured I missed something somewhere!  I will email you, as I have a few more questions.  Thanks to all!

[2015-08-21 03:23] #503 closed

[2015-08-21 03:31] bingosummer commented on #503
Except the email, you can also file an issue at https://github.com/Azure/bosh-azure-cpi-release/issues.

[2015-08-21 03:35] libby2cm commented on #503
I starred it.. thanks!

[2015-08-21 20:54] aarsan opened #507 "DomainJoin DSC Extension takes a really long time."
Enabling the Azure Chef extension (while pointing to this Github account) takes upwards of 20 minutes for a machine to join the domain. Is there a known issue with the script?

[2015-08-23 16:47] aarsan commented on #475
Worked like a charm. Thanks!

[2015-08-25 06:26] robplank opened #519 "Can not deploy 201-vm-domain-join with New-AzureResourcegroup cmdlet"
When attempting to deploy the example 201-vm-domain-join or any template with a DSC Configuration line 'ConfigurationFunction' the New-AzureResourceGroup and New-AzureResourcegroupDeployment cmdlets return a terminating exception.

if you use the preview portal's Custom deployment, no exceptions or errors occur at deployment time.

![image](https://cloud.githubusercontent.com/assets/12474044/94600

[2015-08-25 17:59] bkvarda opened #521 "Error when extensions are provisioning"
I have a deployment template that has worked for some time...today though I'm getting this error when VM extensions are being provisioned:

{"error":{"code":"VMArtifactRepositoryInternalError","message":"An error occurred while communicating with the artifact repository to retrieve VM artifact details."}}

Any ideas?

[2015-08-25 19:25] singhkay commented on #519
@robplank Can you verify what line 248 looks like in your local template file?

[2015-08-25 19:27] singhkay commented on #521
@bkvarda This mostly looks like a transient error on the platform side. Is this a consistent repro for you?

[2015-08-25 19:28] singhkay commented on #507
@aarsan Shouldn't be an issue. Usually scripts take a long time if the configuration they are trying to achieve takes a bit of time. The title mentions DSC extension but your post mentions Chef extension. Can you confirm what scenario you're trying to accomplish?

[2015-08-25 19:30] bkvarda commented on #521
@singhkay yup, I've tried many times this morning.

[2015-08-25 19:39] singhkay commented on #521
@bkvarda At this point I would suggest filing a support ticket so that the appropriate teams' on-calls can dig into the logs for your sub and see if there is a larger issue at hand with the image repository

[2015-08-25 19:55] singhkay commented on #376
Assigning to @rjmax for taking a look since this is coming from ARM template validation API

[2015-08-25 20:00] singhkay commented on #430
@ahmetalpbalkan I think most folks new to Github don't immediately know how to discover the git history to discover who the author is.

I was discussing with @bursteg this and we may not need a metadata file in the long term. Guy's team is working on a solution that can render YAML in markdown. So we'd be able to put the content of metadata files in the readmes so it's immediately rendered when yo

[2015-08-25 20:52] singhkay opened #522 "Community Ask: How should we rename/move templates?"
Hi Community,

We're excited to see tremendous excitement regarding templates from you :) We want to make sure this repo continues to drive value for you and your voice is heard when we make changes that will affect the way you consume this resource.

Over the past few weeks, we've been thinking about organizing the repo so it provides a better experience for those just getting started with templa

[2015-08-25 21:06] ahmetalpbalkan commented on #430
Yes.

[2015-08-25 22:18] rgardler commented on #522
Broken URLs in the GitHub repo are tolerable (history will help people find the new URL). It's a different story for website URLs. Since related here appear on Microsoft.com will we be able to create redirects there?

[2015-08-25 22:25] rgardler commented on #521
What is the template being used? Have you tried any other templates that use the same extension?

[2015-08-25 23:14] robplank commented on #519
line 248:   "ConfigurationFunction": "CreateADPDC.ps1\CreateADPDC",

line 391:  "ConfigurationFunction": "Configuration.ps1\DomainJoin",

either of these lines will cause the powershell cmdlet to throw an exception

[2015-08-26 00:57] singhkay commented on #519
@robplank Can you pull in the latest changes from master? This was fixed in #499

Line 248 and 391 have \\ now which should resolve the above error
https://github.com/Azure/azure-quickstart-templates/blob/master/201-vm-domain-join/azuredeploy.json#L248

[2015-08-26 00:59] #519 closed

[2015-08-26 04:17] robplank commented on #519
thanks!

[2015-08-26 07:25] tjmklaver opened #528 "Why parameters connectionName and sharedKey in arm-asm-s2s template"
In the arm-asm-s2s template (https://github.com/Azure/azure-quickstart-templates/tree/master/arm-asm-s2s) there are two parameters defined (connectionName, sharedKey). Why are these parameters defined in the template, because these parameters are not used in the resource section for creating the required resources. Any explanation would be great.

[2015-08-26 17:37] tfnaylor opened #530 "Should downscale work?"
My template uses the copy function to create a variable number of VM and Nic's. I have noticed that upscaling works perfectly - if I redeploy with a new number (parameter) of nodes more get added. If I try to reduce the number, however, nothing gets removed. Is this the intended behavior?

[2015-08-26 18:58] singhkay commented on #530
@tfnaylor Don't think this is a supported scenario. @rjmax can confirm

[2015-08-26 21:55] singhkay commented on #506
@tfnaylor You can create a VM in a different resource group from that of the storage account in which the image lives.
E.g. I create a VM in RG3 and captured into SA3 in RG3. Then I created a VM in RG6 using the image that still lives in SA3 in RG3.

[2015-08-26 21:56] singhkay commented on #528
Adding @telmosampaio who wrote the template for clarification

[2015-08-26 22:27] tfnaylor commented on #506
When I tried this I got an error that said something about "bad gateway" and the deployment hung indefinitely. In any event, I have just decided to use Chef to provision my nodes so this functionality is no longer required in my case. I also heard a rumor that eventually the Marketplace will allow user-created, private resource definitions so I might come back to this at that point.

Thanks for an

[2015-08-26 22:49] singhkay commented on #506
@tfnaylor Yep, something like user gallery is coming down the line which will make experience with user images simpler

[2015-08-26 22:49] #506 closed

[2015-08-28 19:40] singhkay commented on #420
This is resolved, the bot will now check for azuredeploy.parameters.json

[2015-08-28 19:40] #420 closed

[2015-08-28 21:11] telmosampaio commented on #528
Good question. The initial idea behind the template was to use them, but we decided to take it out and never changed the parameters list. You can ignore them for now. I will take them out, test, and republish.

[2015-08-30 11:15] akashm31 opened #541 "Error while deploying Create Cluster extension in sql-server alwayson cluster template"
Gives the following error
statusMessage:{"status":"Failed","error":{"code":"ResourceDeploymentFailure","message":"The resource operation completed with terminal provisioning state 'Failed'.","details":[{"code":"VMExtensionProvisioningError","message":"VM has reported a failure when processing extension 'CreateCluster'. Error message: \"DSC Configuration completed with error(s).\"."}]}}
Any hints ?

[2015-08-31 01:19] Nepomuceno commented on #530
It you deploy with the complete option instead of incremental than you can scale down.

[2015-08-31 13:24] pascalberger opened #546 "201-web-app-sql-database: 'Subscription '' does not have the server 'myserver'.'"
I tried running the [201-web-app-sql-database](https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-web-app-sql-database/azuredeploy.json) template using the following parameters:

    siteName: mySite
    hostingPlanName: myPlan
    siteLocation: West Europe
    serverName: myserver
    serverLocation: West Europe
    databaseName: mydatabase

I created a new resource gro

[2015-08-31 15:04] svarukala opened #547 "VMsize choice"
Why is the VMSize choice limited to the DS series only? These are premium SSD based series. It would be great if other regular VM sizes are allowed - it will be helpful for testing/lab work.

[2015-08-31 15:11] robplank commented on #547
have you tried using Standard_A# or Basic_A# ? example Standard_A1

[2015-08-31 15:24] svarukala commented on #547
I should have mentioned the template I was trying. I was trying to deploy this template: https://github.com/Azure/azure-quickstart-templates/tree/master/sharepoint-three-vm
If you look at the VMsize allowed values - it only allows Standard_D* series. So when I try to edit the parameters in Azure, I do not see other VMsize options like the A series.

[2015-08-31 21:55] robplank commented on #547
just replace those values with your desired VM size values save the template and deploy via a Custom Deployment in the portal or Powershell

[2015-09-01 00:52] singhkay commented on #547
@svarukala I see Standard_D* sizes as well, but as @robplank mentioned feel free to edit the template in Portal before submitting a deployment or edit this on your local disk before deploying with PS or CLI.

[2015-09-01 00:52] #547 closed

[2015-09-01 00:53] singhkay commented on #546
Adding @davidebbo for taking a look

[2015-09-01 00:55] singhkay commented on #541
I believe this will be fixed by this PR #542

Adding @simongdavies to make sure

[2015-09-01 00:56] singhkay commented on #528
Thanks @telmosampaio please reference this issue in the PR. Closing for now.

[2015-09-01 00:56] #528 closed

[2015-09-01 14:32] simongdavies commented on #541
yes it does I updated the PR

[2015-09-01 16:54] aarsan opened #556 "DomainJoin DSC template fails frequently"
Roughly 20% of the time, the domainjoin DSC script fails with:

    [[xWaitForADDomain]WaitForDomain] Checking for domain 'relad.local' ...
    [[xWaitForADDomain]WaitForDomain] Domain 'relad.local' NOT found.

It does that 20 times and fails the DSC extension. However, when I log into the box to find out what happened, the box was actually successfully added to the domain.

[2015-09-01 17:12] davidebbo commented on #496
Good news: the change to support this is coming. Should be available is a couple of weeks.

[2015-09-01 19:47] desek commented on #522
I don't see any problem with the proposed method.

From a parctical point of view I always search based on resource types and specific keywords (ie. template functions and/or templateLink).
I pay very little attention to the folder name compared to the readme found based on the search.

[2015-09-01 20:53] scottzilla commented on #522
I think the most frustrating thing for me is trying to find open/closed issues / PRs.

Since ALL of the templates are in the same repo, all issues / PRs for any of the templates show up in the same place, even though I might be looking for something specific to just one of the templates.

[2015-09-01 22:33] scottzilla opened #557 "sql-server-2014-alwayson-dsc - DSC Failure on Backup DC"
_Update 1 - it's not the Install-DscExtensionPhaseTwo function, that doesn't appear to ever be called.._

_Update 2 - manually creating the file "Install-Continue.dsc" (normally done in "Step 2" on line 372 of **Install.psm1**) and re-running **enable.ps1** continues to run successfully, and pulls down CreateADBDC.ps1.0 as expected_

When deploying this ARM template, it repeatedly fails to enable

[2015-09-01 23:12] singhkay commented on #557
Adding @simongdavies to take a look

[2015-09-01 23:14] singhkay commented on #556
Sent an email to the DSC team to take a look at this

[2015-09-01 23:16] scottzilla commented on #556
Thanks Kay!

Scott Nowicki | Practice Director, Cloud Application Development | 10th Magnitude<http://www.10thmagnitude.com/> | snowicki@10thmagnitude.com<mailto:snowicki@10thmagnitude.com> | 909.833.0090<tel:909.833.0090>

From: Kay Singh [mailto:notifications@github.com]
Sent: Tuesday, September 1, 2015 6:15 PM
To: Azure/azure-quickstart-templates <azure-quickstart-templates@noreply.github.com>

[2015-09-02 00:12] TravisEz13 commented on #556
I believe this is the same issue as
[xActiveDirectory issue 30](https://github.com/PowerShell/xActiveDirectory/issues/30)

[2015-09-02 03:54] robplank opened #563 "201-site-to-site-vpn multiple subnets"
how can you define two local address Prefixs ?

For example I want to connect to the local networks of 10.1.0.0/24 and 192.168.200./24 through a single S2S VPN.

[2015-09-02 15:17] robplank opened #567 "201-site-to-site-vpn localNetworkGateways Resource fails to deploy"
using the azure deploy button to start a custom deployment results in the localnetworkgateway failing to deploy.

STATUSMESSAGE
{"status":"Failed","error":{"code":"ResourceDeploymentFailure","message":"The resource operation completed with terminal provisioning state 'Failed'.","details":[{"code":"InternalServerError","message":"An error occured.","details":[]}]}}
RESOURCE
localGateway

[2015-09-02 16:36] scottzilla commented on #557
Updated comment

[2015-09-02 16:37] scottzilla commented on #557
Updated comment again

[2015-09-02 18:03] simongdavies commented on #557
This looks like it is an issue with DSC 1.7 extension, there have been some bug fixes to the install in later issues which might resolve this, I need to update the template to use 2.4.

Updating to 2.4 requires a breaking change to the DSC Resources so I need to come up with a way of versioning the resources as the repo is being used at runtime.

I am on vacation at the moment so I will get this d

[2015-09-02 18:16] mkliu commented on #496
@davidebbo awesome. Any github issue tracking this?

[2015-09-02 18:20] davidebbo commented on #496
Sorry, no, this particular logic is not in code that's on GitHub.

[2015-09-02 18:58] scottzilla commented on #557
Hey Simon,

Yup, that seems to be it.  We tried 2.4, and the DSC extension enables properly, and the issue we’re seeing now is this one:  xActiveDirectory issue 30<https://github.com/PowerShell/xActiveDirectory/issues/30>

Enjoy your vacation Simon, and thanks for getting back to me! ☺

Thanks,

Scott Nowicki | Practice Director, Cloud Application Development | 10th Magnitude<http://www.10thmagnit

[2015-09-02 19:48] singhkay commented on #567
Adding the template author @sedouard for taking a look at this

[2015-09-02 19:48] singhkay commented on #563
Adding template author @sedouard for this

[2015-09-02 19:49] #541 closed

[2015-09-02 20:05] sedouard commented on #563
Hey @robplank, not super clear on your question. Are you trying to connect Azure VNet `10.1.0.0/24` and on-prem (or other cloud network) `192.168.200.0/24`? If that's the case, you'll need to setup those rules in your vpn software that you are using to connect to the gateway. For example [in my aws vpc example](https://github.com/sedouard/aws-vpc-to-azure-vnet), using Strongswan, you'd have to set

[2015-09-02 22:18] aarsan opened #571 "active-directory-new-domain template fails on /CreateADForest"
This template consistently fails on:

    Resource Microsoft.Compute/virtualMachines/extensions 'adDC/CreateADForest' failed with message 'The resource operation completed with terminal provisioning state 'Failed'.'

After the above failure, I am unable to RDP into the server. It returns an error about the server not having Network Level Authentication on. Even after restarting the server (via the

[2015-09-02 22:53] singhkay commented on #571
@aarsan sent an email to the DSC team to take a look

[2015-09-02 23:13] singhkay commented on #522
@rgardler Yes, we should be able to remap the ACOM template page to the correct folder.

@desek Thanks!

@scottzilla Are you asking trying to find issues/PR that affected a particular template? Have you instead tried to use the git history in the file of the template you want to get more hisotrical information?

[2015-09-03 14:06] aarsan commented on #571
Is there a public repo for the DSC extensions? I can't seem to find it.

[2015-09-03 15:16] akashm31 opened #573 "sql-server-2014-alwayson-dsc can't connect to VMs other than dc-pdc on azure portal after deployment succeeds"
Is this behavior intended ? , i don't get any errors during deployment, other than the following , which is a retry-able error
statusCode:429
responseBody:{"error":{"code":"RetryableError","message":"A retryable error occured.","details":[{"code":"RetryableErrorDueToAnotherOperation","message":"Operation b2dc083c-d143-44f2-8347-6958a5f11885 is updating resource sql-w-nic."}]}}

Even this suucceeds

[2015-09-03 23:54] xtophs commented on #557
The problem seems to be that the primary domain controller doesn't reboot properly. Version 2.0 of the DSC Extension added support for the RebootNodeIfNeeded flag. Once you change to version 2.1 of the extension and modify the LocalResourceManager configuration node in CreateADBDC.ps1 and CreateADPDC.ps1 to look like this:

        LocalConfigurationManager
        {
            ActionAfterReboot

[2015-09-04 01:33] robplank commented on #563
here is an example of the powershell equivalent

 New-AzureLocalNetworkGateway -Name LocalSite -ResourceGroupName testrg -Location 'West US' -GatewayIpAddress '23.99.221.164' -AddressPrefix @('10.0.0.0/24','20.0.0.0/24')

I assume that the parameter would look like this

"localAddressPrefix": {
    "value": "10.1.0.0/24,192.168.200.0/24"

main goal of this question is to provide better documentati

[2015-09-04 09:54] #573 closed

[2015-09-04 16:47] kenazk commented on #557
Interesting. I'll try it out Christoph. Thanks!

[2015-09-04 16:59] simongdavies commented on #557
This was the breaking change I was referring to above, in 1.7 I had to explicitly stop configuration from continuing after a reboot as it caused a race condition between 2 concurrent configurations, in addition specifying rebootofneeded =$true with 1.7 will cause failures, I think that we need to come up with a way of versioning the resource packages to prevent breaking existing users.

[2015-09-04 22:17] kenazk commented on #557
Still broke. Can't find the domain in the backup domain controller setup resource. I'm wondering if I should add another xWaitForADDomain resource before it just to give it more time. I already modified the Set and Test to wait a bit more time.

[2015-09-04 22:41] TravisEz13 commented on #571
There is not a public repro for the Azure DSC Extension.

Could you zip the following folders C:\Packages\Plugins\Microsoft.Powershell.Dsc folder and send them to me?

* C:\Packages\Plugins\Microsoft.Powershell.Dsc
    * This will include your configuration files and settings, but not the cert to decrypt any protected settings.   If this is a problem, email me and we can discuss how to mitigate.
*

[2015-09-05 21:20] aarsan opened #581 "How can I move a VM from one backendpool to another?"
Is there a way (via ARM template) to update a loadbalancer's backend pool? I have 2 back end pools (stage , prod). Periodically, I need to remove a VM from the stage pool and add it to the prod pool. I don't see any examples of how to do this. Is this possible?

[2015-09-07 06:08] pascalberger commented on #546
@davidebbo Any news on this?

[2015-09-07 08:11] bingosummer opened #583 "[Question] How to get the dynamic public IP address inside a VM?"
I assign a dynamic IP for a VM when I am deploying a template. During or after the creation of VM, is there a way to get the dynamic IP?
Thanks

[2015-09-07 16:45] davidebbo commented on #546
@pascalberger @singhkay had added me thinking this was a Web Apps related issue (which is my area). But looking at your error, it relates to a Microsoft.Sql/servers resource, so we'll need a SQL expert to comment.

[2015-09-08 02:29] bingosummer opened #584 "Can not create a template using Azure CLI"
When I create a template (101-simple-linux-vm) using Azure CLI;
azure group create -n "xxx" -l "xxx" -d "xxx" -f azuredeploy.json -e azuredeploy.parameters.json
I got:
error:   The request content was invalid and could not be deserialized: 'Error converting value "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#" to type 'Microsoft.WindowsAzure.ResourceStack.Frontdo

[2015-09-08 10:44] dvkwong opened #585 "How create a local git repository for a web site?"
How do I automatically create a local git repository for a website? Can only see the github example in the templates.

[2015-09-08 14:09] robplank opened #586 "101-simple-windows-vm-data-disk no data disk is added"
this template does not work as intended, the deployment of the template does not fail but does not result in a data disk being added.

Inputs:
![image](https://cloud.githubusercontent.com/assets/12474044/9736848/3dc27044-5609-11e5-8ae9-1166f6a873a8.png)

Results:
![image](https://cloud.githubusercontent.com/assets/12474044/9736813/0e2aacc0-5609-11e5-81d8-585afea21904.png)

[2015-09-08 14:12] robplank commented on #586
Closing this issues, the disk is added but in an unallocated state

[2015-09-08 14:12] #586 closed

[2015-09-08 18:25] ahmetalpbalkan commented on #584
@bingosummer What version of azure cli are you running?

Also can you please open an issue at this repo: https://github.com/Azure/azure-xplat-cli/issues ?

[2015-09-08 18:53] trentmswanson commented on #583
You can get this information from the ipConfigurations property on the NIC resource reference.

using something like the following
[code]

The following is from the postgress template and returns the dynamically assigned IP address as an output property, which is then passed as a parameter to another template.
[code]

[2015-09-08 22:46] tfitzmac commented on #546
@pascalberger I re-tested this template with different parameter values and it worked. I am guessing the problem is related to your parameters. The site name and server name must be unique. When I ran the template with the parameters you specified, I get two Conflicts errors in the deployment operations because myserver and mySite were already used. I hope that helps. I will add better parameter d

[2015-09-09 02:33] bingosummer commented on #584
@ahmetalpbalkan
$ azure -v
0.9.8

[2015-09-09 02:41] ahmetalpbalkan commented on #584
thanks, I was able to reproduce this myself, now I'm not alone :) following up internally..

[2015-09-09 07:26] dvkwong commented on #483
Any update on getting more schema info?

[2015-09-09 09:10] dvkwong commented on #585
Just found this excellent link https://resources.azure.com which shows your current Azure resource setup.

So now I can see there is an scmType which is set to LocalGit see example here https://github.com/Azure/azure-quickstart-templates/blob/master/101-webapp-with-golang/azuredeploy.json

[2015-09-09 09:10] #585 closed

[2015-09-09 17:07] #483 closed

[2015-09-09 21:18] ravick commented on #584
I ran into simillar issue via code, looks like the parameters json mentioned in samples is like this:
{
  "contentVersion": "1.0.0.0",
  "parameters": {
    "vmName": { "value": "mytestvm1" },
    ...
  }
}

while, what you may need to provide is just the following, just the name and values:

{
    "vmName": { "value": "mytestvm1" },
     ...
}

[2015-09-09 21:44] ahmetalpbalkan commented on #584
@ravick @bingosummer can you please deleting the `$HOME/.streamline` directory and try again. Looks like this was a bug in the CLI, we'll be fixing in this version. In the meanwhile the workaround may help:

    rm -rf ~/.streamline

[2015-09-10 02:25] bingosummer commented on #584
Thanks @ahmetalpbalkan . The workaround works for me. Feel free to close this issue after you fix the bug.

[2015-09-10 09:43] pascalberger commented on #546
@tfitzmac I don't think the problem lies with the names. I tried again and it worked once to provision the sql server, but failed shortly after with the same message.

If I look in the azure preview portal I can see this error in the notifications:

    statusCode:GatewayTimeout
    serviceRequestId:
    statusMessage:{"error":{"code":"GatewayTimeout","message":"The gateway did not receive a respo

[2015-09-13 18:55] rgardler opened #597 "Mesos template is broken"
The [Mesos template](https://github.com/Azure/azure-quickstart-templates/tree/master/mesos-swarm-marathon) is broken because external scripts have been removed. Templates that are published in the Azure repo should not depend on external scripts.

/cc @anhowe

[2015-09-13 19:15] #597 closed

[2015-09-15 13:19] tfnaylor commented on #530
I tried this using the recently (Aug 18) Resource Manager library and it worked perfectly. Thanks for the feedback.

[2015-09-15 15:34] aarsan commented on #530
So you're saying if you deployed 10 servers (using copy count) in an ARM template, then modified that to 20 and redeployed, it will up the count to 20. Then, if you change your mode to complete and modify the count back to 10, it will remove 10 servers? Which servers will it remove? Does it remove them or destroy everything and redeploy 10 fresh servers?

[2015-09-15 15:37] tfnaylor commented on #530
Based on my own personal experience, taking into account your scenario as described, the 10 newest servers (as well as their NIC's and associations with load balancer, etc.) will be removed. The first 10 will be unaffected by this operation and will remain running throughout.

[2015-09-15 15:39] aarsan commented on #530
If that works, that is amazing. I will have to test that out. thanks!

[2015-09-15 15:43] tfnaylor commented on #530
Yes, I was amazed as well. My scenario is particularly complicated because I also use the Linux Chef Client on each of my nodes. I was concerned that there would be some wonky effects on the Chef clients on the untouched nodes but this just didn't happen.
BTW: In my case just leaving the deployment mode at "complete" seems to be the best approach  - no need to switch back and forth. The original d

[2015-09-15 17:02] slapointe commented on #522
The proposed procedure for rename is OK to me but we'll need to constantly take a look here to see if the folder(s) we depends on has moved. Can you setup a notification of some sort (RSS or something else) that we could subscribe to? When a rename of a folder is performed, a process would update a file or use another mechanism to trigger a notification that we can consume and be notified as soon

[2015-09-15 23:09] VIJAYDUSI opened #609 "The template deployment failed with in few minutes..."
![mesos-fail](https://cloud.githubusercontent.com/assets/13890603/9892457/c4d51388-5bc3-11e5-8ab1-1f10188b3230.JPG)
![mesos-inputs](https://cloud.githubusercontent.com/assets/13890603/9892481/17977b56-5bc4-11e5-9990-8b8835c322c5.JPG)
I am trying to deploy the template with Windows as Jump box and it failed within few minutes in to execution.  I have attached the failure screenshots (with inputs pr

[2015-09-16 02:35] rgardler commented on #609
Which template is this? It looks likes it is the Mesos one, can you please confirm?

[2015-09-16 02:39] VIJAYDUSI commented on #609
Yes..it is Mesos only
https://github.com/Azure/azure-quickstart-templates/tree/master/mesos-swarm-marathon

Sent from my Windows Phone
________________________________
From: Ross Gardler<mailto:notifications@github.com>
Sent: ‎9/‎15/‎2015 7:35 PM
To: Azure/azure-quickstart-templates<mailto:azure-quickstart-templates@noreply.github.com>
Cc: Vijay Dusi<mailto:vdusi@microsoft.com>
Subject: Re: [azure

[2015-09-16 03:17] rgardler commented on #609
I just deployed the template with no errors. Perhaps this was an intermittent problem. (the difference I had was that I had more agents and masters and of course DNS names and username).

The error message is not very helpful so I'm afraid I can't help any more at the moment. Perhaps just try again and if you get the same error we'll get someone to look at the logs.

In the meantime we are working

[2015-09-16 03:30] VIJAYDUSI commented on #609
Thank you and I will try again.

Sent from my Windows Phone
________________________________
From: Ross Gardler<mailto:notifications@github.com>
Sent: ‎9/‎15/‎2015 8:17 PM
To: Azure/azure-quickstart-templates<mailto:azure-quickstart-templates@noreply.github.com>
Cc: Vijay Dusi<mailto:vdusi@microsoft.com>
Subject: Re: [azure-quickstart-templates] The template deployment failed with in few minutes..

[2015-09-16 14:40] timomta opened #611 "sql-server-2014-alwayson-dsc Fails"
I am attempting to use this template: https://github.com/Azure/azure-quickstart-templates/tree/master/sql-server-2014-alwayson-dsc

We have multiple people hitting an error during deployment (I asked others to independently try deployment). I have tried East US, East US 2, and eastus2 for location, but can’t get a successful run.

PS D:\AzureTemplates\azure-quickstart-templates\sql-server-2014-alw

[2015-09-16 17:16] VIJAYDUSI commented on #609
I have tried again today with one change as number of agents to 2 (instead of 1 ) .. and it failed again .. also the debug info is not that much helpful to check what’s going on..

[cid:image002.jpg@01D0F068.B1E515F0]

Thanks,
Vijay

From: Vijay Dusi
Sent: Tuesday, September 15, 2015 8:30 PM
To: Azure/azure-quickstart-templates <reply@reply.github.com>; Azure/azure-quickstart-templates <azure-quic

[2015-09-17 00:29] jeffwilcox opened #612 "mongodb-on-centos is failing currently"
Hi,
Trying to deploy, the script seems to be failing due to some issues with the mongodb repo. for yum; maybe a typo or configuration problem?

[code]

[2015-09-17 01:45] bingosummer commented on #583
@trentmswanson Thanks for your response.
Sorry that I did not describe my question clearly. I want to get a dynamic public IP.
https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/azuredeploy.json#L137

I assigned a dynamic public IP to a VM. And for some reason, I want to get this IP in the VM.

1. As far as I know, the dynamic public IP is determined when the VM is created.

[2015-09-17 02:00] bingosummer opened #613 "[Question] How to create cusomized multiple loadBalancingRules?"
We can create loadBalancingRules just like the following link.
https://github.com/Azure/azure-quickstart-templates/blob/master/101-create-internal-loadbalancer/azuredeploy.json#L118

If customers want to create mutiple loadBalancingRules and the count is determined as a parameter, how should I create an array of the rules? It should be like:
[code]

I tried the copyIndex() function referring to [C

[2015-09-19 07:23] benjguin opened #623 "hdinsight-linux-with-edge-node deployment may be hard to remove"
I tried to deploy from hdinsight-linux-with-edge-node with a resource group named afac34.
Then I tried to remove the whole resource group.
It didn't work. I suspect the storage accounts were removed before the HDInsight cluster, which caused the issue.

[2015-09-23 13:51] tfnaylor opened #643 "Requested Template: Application Gateway with SSL and NAT Rules"
Hopefully this is a suitable forum (GitHub issues) for requesting an example template. If it isn't then please direct me elsewhere.

The Application Gateway looks very interesting as a load balancer replacement that also handles SSL offloading. An example template that shows how to assign the SSL certificate would be very useful. Also useful would be an example of how to apply inbound NAT rules to

[2015-09-23 17:08] singhkay commented on #643
Adding @puneetsaraswat who wrote the Application Gateway template. @puneetsaraswat Is this something you can take a look at writing?

[2015-09-24 08:34] bingosummer commented on #380
Hi @rgardler , any further comment on this?

[2015-09-24 08:48] bingosummer commented on #430
@singhkay How it progress? I think a contributor tag makes sense.

[2015-09-24 12:58] iwuvjhdva opened #647 "MongoDB high availability software RAID creation failure"
Hi, I get the following error after trying to install the template, could you please assist.

2015/09/24 12:11:38 Configuring a replica set rs0
2015/09/24 12:11:38 Stopping MongoDB daemon processes (PID 2353)
2015/09/24 12:11:38 Starting MongoDB daemon processes
2015/09/24 12:11:38 mongod start/running, process 2454
2015/09/24 12:11:38
2015/09/24 12:11:38 ---errout---
2015/09/24 12:11:38 E: Failed

[2015-09-24 16:14] singhkay commented on #430
@bingosummer The first issue has been fixed. Now the bot does not complain about another user editing the template. The other feature for contributor tag is currently in the @bursteg's backlog.

[2015-09-25 00:07] #422 closed

[2015-09-25 00:08] singhkay commented on #452
@4deeptech These templates can't be used to work with classic VMs. For adding endpoints to it, PS or CLi is your best bet

[2015-09-25 00:08] #452 closed

[2015-09-25 00:09] #496 closed

[2015-09-25 00:09] #497 closed

[2015-09-25 07:16] bingosummer commented on #612
#652 is created to fix it.

[2015-09-25 17:00] #334 closed

[2015-09-25 17:00] singhkay commented on #612
Thanks for fixing @bingosummer!

[2015-09-25 17:00] #612 closed

[2015-09-25 17:39] singhkay commented on #611
Hi @timomta. @honcao made a big update to this template today to fix a bunch of issues #600. Please give it a try now and reopen if there are still an issue.

[2015-09-25 17:39] #611 closed

[2015-09-25 17:42] singhkay commented on #609
@VIJAYDUSI There have been a bunch of updates on this template (https://github.com/Azure/azure-quickstart-templates/tree/master/mesos-swarm-marathon) from folks on the team and at Mesos. Can you check again?

CC: @anhowe @artemharutyunyan

[2015-09-25 17:44] singhkay commented on #647
@iwuvjhdva There's an internal thread about this with the same error. Here's what the template author @TheAzureGuy suggested

Our MondoDB template is operating normally, and we don’t see any issues with the implementation of the template. However, what’s happening here is that the disk partitioning script (vm-disk-utils-0.1.sh) was unable to download the mdadm package. Since data disk was not corr

[2015-09-25 17:48] singhkay commented on #623
@benjguin Are you still not able to delete the resource group?

[2015-09-25 17:48] singhkay commented on #613
@ypitsch Can you help here?

[2015-09-25 17:51] singhkay commented on #583
@bingosummer This came up recently in another thread. Here's the reply from @mahthi

If you want to get the IP address immediately, then you need to use “static” for the “publicIPAllocationMethod”

If you don’t want to use “static” (Reserved IPs), then you need to put a dependency on the Virtual Machine that is attached to the Public IP (the address will be allocated then)

[2015-09-25 17:52] singhkay commented on #581
@ypitsch Can you help here?

[2015-09-25 17:52] #571 closed

[2015-09-25 17:57] singhkay commented on #563
@robplank Are you asking if you can specify multiple address prefixes in templates?

[2015-09-25 17:58] singhkay commented on #557
@scottzilla THere was a major update today to this template. Give it a try and see if it's still an issue

[2015-09-25 17:59] singhkay commented on #556
@aarsan There was a major update to this template today #600. Give it a try and see if it is still an issue

[2015-09-26 03:16] bingosummer commented on #583
@singhkay Thanks for your help.
AFAIK, network interfaces can use only dynamic public IPs in ARM mode. So I can't assign a `static` one to it. But I need to get the public IP address inside the VM. I have two choices:

1. Pass the public IP address in azuredeploy.json just like https://github.com/Azure/azure-quickstart-templates/blob/master/bosh-setup/azuredeploy.json#L298. But the dynamic IP addr

[2015-09-27 18:42] benjguin commented on #623
I have a support ticket open on Azure. I'll update this issue when the issue is fixed. I know suspect it's not related to the template itself.
Thanks

[2015-09-28 16:10] lockwobr opened #658 "hortonworks-on-centos Vault Key using api version that does not exist."
Having problems with the hortonworks-on-centos template. I getting an error talking about and api version that does not exist, that it appears to be using. (?api-version=2014-12-08-preview) which looking at the [schemas](https://github.com/Azure/azure-resource-manager-schemas) it is not listed nor if you [search](https://github.com/Azure/azure-quickstart-templates/search?utf8=%E2%9C%93&q=2014-12-0

[2015-09-28 16:33] robplank commented on #563
yes

[2015-09-28 23:24] ypitsch commented on #581
Hi, this feature is not yet there. We are working on runtime APIs that will allow you to do such operations

[2015-09-30 04:39] chevalpartners opened #673 "Template 201-premium-storage-windows-vm broken because of boot diagnostics"
This template creates just 1 premium storage account of type Premium_LRS.
It uses this storage account to store the OS disk.
It also uses this account to set the boot diagnostics.

For whatever reason boot diagnostics does not support storage account of type Premium_LRS.
I got this error.

statusCode:Conflict
statusMessage:{"status":"Failed","error":{"code":"ResourceDeploymentFailure","message":"T

[2015-09-30 21:11] kenazk commented on #673
Thanks for reporting. We decided to not enable boot diagnostics for Premium_LRS as each blob (between 0 and 127GB) is charged based on the tier (P1, P2, P3). Rather than let customers find out they have been paying for 3 blobs (OS VHD, screenshot, and serial output for Linux) vs 1, we decided to disallow Premium_LRS as an option for boot-diagnostics. As far as the template goes, I can update the t

[2015-10-01 22:58] jparkerCAA opened #677 "mesos-swarm-marathon/configure-mesos-cluster.sh failure"
It appears that the latest marathon deb package has a bad dependency.

[code]

[2015-10-02 00:10] shirhatti opened #680 "101-vm-sshkey fails"
101-vm-sshkey fails this error
[code]

[2015-10-02 20:30] rgardler commented on #677
Thanks for reporting this issue. I have reproduced it and am looking into it further.

[2015-10-02 23:27] jdevillard commented on #680
Hello,

I've got the same error using this section in other template , be sure that your paste all the public key in the json value like this :

[code]
(I've escape the quote of the comment, but maybe the comment are not necessary, but I think ---BEGIN-- & ---END--- are required

[2015-10-03 00:14] shirhatti commented on #680
Looks like you are using an SSH2 key. Is that required? I was just using an OpenSSH key which doesn't have the begin and end blocks

[2015-10-03 00:22] jdevillard commented on #680
Don't know if it is a requirement , I've followed the tutorial available at https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-use-ssh-key/

I've used OpenSSL & puttygen to generate private & public key

[2015-10-03 14:58] trentmswanson commented on #647
I could not reproduce this issue.  The requested changes to the partitioning/formatting script are part of PR #675 submitted a couple days ago.

[2015-10-05 08:34] uday31in opened #683 "sql-server-2014-alwayson-dsc fails in PrepareAlwaysOnSqlServer.ps1::94::9::xFirewall step"
Job {387ABDE3-6B3B-11E5-80C9-000D3AB0D140} :
This event indicates that failure happens when LCM is processing the configuration. ErrorId is 0x1. ErrorDetail is The SendConfigurationApply function did not succeed.. ResourceId is [xFirewall]DatabaseEngineFirewallRule and SourceInfo is C:\Packages\Plugins\Microsoft.Powershell.DSC\1.7.0.0\DSCWork\PrepareAlwaysOnSqlServer.ps1.0\PrepareAlwaysOnSqlServer

[2015-10-05 15:49] rgardler commented on #677
Upstream cause: https://github.com/mesosphere/marathon/issues/2357

Need to install openjdk-8-jre

[2015-10-06 13:44] josephwinston opened #688 "Deployment to resource group 'Default-Storage-SouthCentralUS' failed."
I'm attempting to follow the instructions at:

https://github.com/Azure/azure-quickstart-templates/blob/master/docker-swarm-cluster/README.md

After filling out all the required parameters, assigning the correct subscription, selecting  an existing or a new resource group, and then accepting the legal terms, I then press the create button.

After a short while, the bell icon shows that an error ha

[2015-10-06 17:24] singhkay commented on #688
Adding @ahmetalpbalkan to help with this

[2015-10-06 17:33] ahmetalpbalkan commented on #688
@josephwinston can you please send a screenshot? I couldn't imagine what's going on.

[2015-10-06 20:22] josephwinston commented on #688
![step1](https://cloud.githubusercontent.com/assets/226217/10321370/e5e82684-6c3d-11e5-82ee-a5bba99ef0c7.jpg)
![step2](https://cloud.githubusercontent.com/assets/226217/10321373/e7b80e02-6c3d-11e5-8cd4-04c9ed061510.jpg)
![step3](https://cloud.githubusercontent.com/assets/226217/10321382/f142aafe-6c3d-11e5-86cd-476a9e125aa1.jpg)
![step4](https://cloud.githubusercontent.com/assets/226217/10321384/f4

[2015-10-06 21:03] ahmetalpbalkan commented on #688
@josephwinston can you please click on `back-40` (if it is not clickable, please click to "Resource Groups" from left sidebar, and you can see the same deployment UI, then `back-40` should be clickable).

My guess is, `back-40` is not a valid storage account name (it contains dash) and it has to be globally unique. Please try with another value.

[2015-10-06 22:50] singhkay commented on #522
@slapointe I'm not sure if such a notification mechanism exists. How about if we use the releases tab (https://github.com/Azure/azure-quickstart-templates/releases) on the root of the repo to maintain a table of movement of templates? Something like (Old URL -> New URL).

Ideally, we want the users to use the Azure.com searchable index URLs for bookmarking templates and not have to take a dependen

[2015-10-06 23:40] josephwinston commented on #688
Good catch.  Please close

[2015-10-06 23:40] #688 closed

[2015-10-06 23:44] #581 closed

[2015-10-06 23:45] #583 closed

[2015-10-06 23:46] singhkay commented on #683
@honcao can you take a look at this?

[2015-10-06 23:48] singhkay commented on #399
Closing due to no update from OP. Please reopen if it's still an issue.

[2015-10-06 23:48] #399 closed

[2015-10-06 23:48] #507 closed

[2015-10-06 23:48] #556 closed

[2015-10-06 23:50] singhkay commented on #530
Nice find guys! I thought this hadn't been implemented yet. Adding @rjmax and @clamanna to see if there is public documentation around this.

[2015-10-07 00:19] josephwinston opened #689 "Error response from daemon: client is newer than server"
I'm on OS X 10.10.5 running:

[code]

Docker reports:

[code]

Docker info works as expected:

[code]

However, when I attempt to run anything:

[code]

The image is pulled as seen with ps -s:

[code]
Docker logs fails too:

[code]

Do I need to downgrade my docker client to work properly and if so, what version do I need to use?

[2015-10-07 01:10] rjmax commented on #530
The behavior for copy:{} is documented.

We have documented the complete deployment mode in our REST API documentation, but haven't yet documented it for PowerShell or CLI because of the "risk" of accidentally deleting resources through a full deployment.

We hope to add a feature which will "preview" what resources would be deleted before we run the deployment, but haven't implemented it yet.

Wh

[2015-10-07 17:42] honcao commented on #683
I will investigate this today.

From: Kay Singh [mailto:notifications@github.com]
Sent: Tuesday, October 6, 2015 4:47 PM
To: Azure/azure-quickstart-templates <azure-quickstart-templates@noreply.github.com>
Cc: Hongbin Cao <honcao@microsoft.com>
Subject: Re: [azure-quickstart-templates] sql-server-2014-alwayson-dsc fails in PrepareAlwaysOnSqlServer.ps1::94::9::xFirewall step (#683)

@honcao<https:/

[2015-10-07 23:16] singhkay commented on #546
@tfitzmac Any update on this?

[2015-10-07 23:16] #557 closed

[2015-10-07 23:22] singhkay commented on #563
@robplank I'm not an expert on networking but what you specified above for PS, can you run it with a -Debug flag and see what the JSON call sent to server contains? If ithe above works, it'd be awesome if you submitted a PR to update the readme for this template!

[2015-10-07 23:23] #584 closed

[2015-10-07 23:24] #623 closed

[2015-10-07 23:27] singhkay commented on #643
@tfnaylor Take a look at PR #666. This was merged a few days ago. let me know if satisfies your scenario.

[2015-10-07 23:27] #647 closed

[2015-10-07 23:29] singhkay commented on #677
Closing since the fix PR is merged

[2015-10-07 23:29] singhkay commented on #689
Adding our docker experts @ahmetalpbalkan @rgardler

[2015-10-07 23:34] ahmetalpbalkan commented on #689
This is because swarm says it's API version 1.16 and your client supports >1.20... Swarm needs to release new version with a higher API version (but latest release was Aug 7, two months ago..).

In the meanwhile you should use an older Docker client. Let me know if you can't find how to download older versions. Sorry for the inconvenience.

[2015-10-07 23:37] sedouard commented on #567
hey @robplank, using the xplat cli, as well as the deploy2azure button, I can deploy the template successfully with the following parameters:

[code]

Can you verify?

[2015-10-07 23:38] singhkay commented on #680
@squillace might be able to help here

[2015-10-07 23:44] squillace commented on #680
Hi @jdevillard it looks like you're actually using the .pem format described in that document, but in this case it's expecting the ssh-rsa format, which looks much different: It's the file created when you type `ssh-keygen -t rsa -b 2048`. (You should specify a passphrase as well to use it properly.)

ARM resources -- all take .pub files and it's not clear to me that they'll take .pem at all BUT..

[2015-10-07 23:50] squillace commented on #680
the keys should look something like the below, which is the location that gitbash's implementation of *ssh-keygen* places them by default. Typically, people using Linux run from a Linux or Mac client computer, so we don't really expect that lots of people will be creating keys on Windows whether they use Putty or GitBash or Mobixterm or not. But if you read the docs for those items (before I finis

[2015-10-07 23:55] squillace commented on #680
@shirhatti sorry to leave you out, too. Same thing. :-|

[2015-10-08 00:07] squillace commented on #680
Hmmm. Of course I went to go do it again, and... you're right. Something's wrong here. I'll find out!!!

[2015-10-08 00:17] squillace commented on #680
!AH! You specify the sshkey on the command line without any quotations:

[code]

Now I'll try it from the Portal...

[2015-10-08 00:30] ypitsch commented on #613
Hi,
We only support PUT for inboundNatRules, not for loadBalancingRules (or any other child resource of the LB)

[2015-10-08 00:31] squillace commented on #680
Yep, it works perfect in the portal as well. OK, documentation update required. :-) Thanks for letting us know, and sorry we didn't pick up the comment as fast as we might have. Let us know you can have success as well.

[2015-10-08 02:47] squillace commented on #680
Fix is https://github.com/Azure/azure-quickstart-templates/pull/695. In fact, however, the fix is to the ssh-key creation document, and that one is on the way.

[2015-10-08 07:39] tfnaylor commented on #643
This looks really good - I will give it a try when I get an opportunity at some point over the next couple of weeks. Thank you very much!

[2015-10-08 17:09] #643 closed

[2015-10-08 17:37] singhkay commented on #680
Thanks @squillace! merged the readme update

[2015-10-08 17:37] #680 closed

[2015-10-08 17:37] #673 closed

[2015-10-10 03:33] bingosummer opened #701 "[xtremedata-dbx-cluster-centos] defaultValue of domainName should be removed"
@xtremedata
The domainName should be unique. The defaultValue would cause an error.

https://github.com/Azure/azure-quickstart-templates/blob/master/xtremedata-dbx-cluster-centos/azuredeploy.json#L24

[2015-10-10 23:51] kenazk opened #702 "[windows-puppet-agent] Cannot validate argument on 'Thumbprint'"
I'm seeing an error in the Extension Handler when I'm creating a Windows server with Puppet Agent installed:

`PSMessageDetails      :
Exception             : System.Management.Automation.ParameterBindingValidationE
                        xception: Cannot validate argument on parameter
                        'Thumbprint'. The argument is null or empty. Provide an
                        argument

[2015-10-11 00:14] ahmetalpbalkan commented on #702
@kenazk not sure why this is assigned to me?

[2015-10-11 01:48] kenazk commented on #702
Sorry Ahmet. Thought you were the author. Reassigned to Kundana.

[2015-10-13 02:06] bingosummer commented on #613
@ypitsch Thanks for your response.
What does "PUT for inboundNatRules" mean?
Would the requirement in my question be in the road map?

[2015-10-13 03:48] ypitsch commented on #613
Hi,
CopyIndex works only not LB rules. It's not in the roadmap but thanks for sharing, we will evaluate your request

[2015-10-13 05:27] bingosummer commented on #613
Got it.

[2015-10-13 05:27] #613 closed

[2015-10-13 13:44] yuvarajduraisamy commented on #333
When I deploy  Json tempalete with two dsc extension    , I got the message from portal: {"error":{"code":"BadRequest","message":"Multiple extensions per handler not supported for OS type 'Windows'. Extension 'InstallDevVMPowerShellScript' with handler 'Microsoft.Compute.CustomScriptExtension' already added."}}

[2015-10-13 19:15] mahthi commented on #333
That is not supported at this moment. You have to follow the sample as shown for now. Its in our backlog to support Multiple Configuration per Handler (DSC or CustomScript) soon.

Mahesh

From: yuvarajduraisamy [mailto:notifications@github.com]
Sent: Tuesday, October 13, 2015 6:45 AM
To: Azure/azure-quickstart-templates <azure-quickstart-templates@noreply.github.com>
Cc: Mahesh Thiagarajan <Mahesh

[2015-10-14 00:03] tfnaylor opened #714 "Connecting Two Resource Groups"
I have a case where I have two separate VM clusters that have different lifecycles, which would indicate to me that they should exist in two separate resource groups. What I am looking for is guidance/examples for how to establish communications between VM's that reside in two separate resource groups.

[2015-10-17 00:30] drewhildebrand opened #719 "(101-loadbalancer-with-nat-rule/azuredeploy.json) errors"
1) loadBalancerBackendAddressPools & loadBalancerInboundNatRules (lines 114-127) are at the wrong level.  They are currently at the same level as properties, but they should be INSIDE the properties block, at the same level as subnet.  When you deploy that script azure just ignores those 2 blocks of json and does not report any errors.

2) /inboundNatRule/RDP')]" (line 123) should be plural not si

[2015-10-19 04:30] prateekjain0608 opened #720 "TypeHandlerVersion Error"
[{"code":"VMExtensionProvisioningError","message":"VM has reported a failure when processing extension 'createadforest'. Error message: \"A previous attempt to install WindowsBlue-KB3055381-x64.msu failed; please check the logs on the VM (C:\\WindowsAzure\\Logs\\Plugins\\Microsoft.Powershell.DSC\\1.9.0.0)\"."}]}}

This is the error I am getting when finally the extension is processed. I figured ou

[2015-10-19 19:57] rgardler commented on #407
Governance doc moved to https://github.com/Azure/azure-quickstart-templates/wiki/Project-Governance

[2015-10-19 19:57] #407 closed

[2015-10-19 20:05] rgardler commented on #609
@VIJAYDUSI are you still seeing this problem, I am unable to reproduce.

I'll leave the issue open for at least another 7 days, if no further information is provided I'll close as not-reproducible.

[2015-10-19 20:06] rgardler commented on #521
@bkvarda I'm closing as there has been no activity for >31 days. If you are still experiencing issues please reopen the issue and add some new information.

[2015-10-19 20:06] #521 closed

[2015-10-19 20:17] rgardler commented on #430
Closing as we have confirmation that the issue is partially fixed and the remaining fix is on the backlog.

[2015-10-19 20:17] #430 closed

[2015-10-19 20:51] aarsan opened #722 "Can I provision a SendGrid account using ARM templates?"

[2015-10-19 21:45] VIJAYDUSI commented on #609
+ Mahendra..

Thanks,
Vijay

From: Ross Gardler [mailto:notifications@github.com]
Sent: Monday, October 19, 2015 1:06 PM
To: Azure/azure-quickstart-templates <azure-quickstart-templates@noreply.github.com>
Cc: Vijay Dusi <vdusi@microsoft.com>
Subject: Re: [azure-quickstart-templates] The template deployment failed with in few minutes... (#609)

@VIJAYDUSI<https://na01.safelinks.protection.outlook.

[2015-10-19 22:49] singhkay commented on #719
@ypitsch Can you take a look at this?

[2015-10-20 21:28] ypitsch commented on #719
Fixed. Thanks!

[2015-10-21 00:24] atompkins opened #732 "sql-server-2014-alwayson-dsc fails on West Europe"
It seems to hang on the create cluster step and eventually fails after 2 hours.
Any thoughts? I know it works on East US 2.

[2015-10-21 20:31] drewnicholas1111 commented on #720
Hello, I was seeing if you were able to figure this error out? I am trying to do a domain join and getting the same error.

[2015-10-24 17:51] avaranovich opened #747 "HDInsight pre-cluster validation"
when I try to deploy HDInsight using this template
https://github.com/Azure/azure-quickstart-templates/blob/master/hdInsight-apache-spark/azuredeploy.json
[code]

I get
[code]

as you can see from the Virtual network ID, is matches the subscription ID.
And if I chweck from the UI -- the VNet is created.

[2015-10-24 18:03] avaranovich commented on #714
Did you try to reference resources using full resource IDs? (opposite to variables specific to a current resource group)

[2015-10-26 15:43] prateekjain0608 commented on #720
Hey,
You need to put in version 2.7 instead of 1.9. That will do.

Please note that do not change the type handler version from 1.7 to 2.7 as
it will create some problems.

Only change the versions which are 1.9 to 2.7

On 22-Oct-2015 2:01 am, "drewnicholas1111" <notifications@github.com> wrote:

[2015-10-26 16:58] tfnaylor commented on #714
Actually, it never occurred to me that this might be possible. Thanks very much for this suggestion - I will investigate to see if this works in our particular use-case. Thanks again.

[2015-10-26 18:01] drewnicholas1111 commented on #720
Are you saying the SDK on my computer or on the virtual machine? I have the 2.7 SDK on my local environment.

[2015-10-26 18:04] prateekjain0608 commented on #720
In the quick start template, JSON script where the DSC extension is
created.
On 26-Oct-2015 11:32 pm, "drewnicholas1111" <notifications@github.com>
wrote:

[2015-10-27 04:26] EgoAleSum opened #753 "Recommend TightVNC in docs"
The page https://github.com/Azure/azure-quickstart-templates/tree/master/ubuntu-desktop provides instruction on how to connect to a Linux VM via VNC over a SSH tunnel. The guide uses a complicate setup with two different applications (PuTTY and a VNC client).

A better alternative (i.e. easier and thus more user-friendly) would be using TightVNC, which has built-in support for SSH tunneling: http:

[2015-10-27 19:03] singhkay commented on #753
@EgoAleSum Good suggestion! Feel free to edit the file and add an alternative guide :) We welcome community contributions and improvements!

cc: @anhowe if he wants to take a crack at it

[2015-10-27 20:57] anhowe commented on #753
Thanks for the suggestion @EgoAleSum I have researched this in great detail in the past, and tight vnc did not match the perf and quality of using vnc over a compressed ssh tunnel across Linux, windows, and mac and across various sizes of internet pipes.

My research is a few years old, so if there has been recent improvements in tight vnc across all platforms and it can be demo'd that it is notic

[2015-10-27 21:04] EgoAleSum commented on #753
Hi Anthony, thank you a lot for the detailed answer. I completely understand your point about performances - I'm not sure TightVNC offers that indeed.

In this case, may I then suggest listing TightVNC as an alternative option? I can see certain scenarios in which users need a quick fix and are not too concerned with the quality of the connection - so anything more user-friendly would help.

I can

[2015-10-27 22:46] singhkay commented on #753
@EgoAleSum Sure, please go ahead and create a PR detailing an alternative guide on how to use TightVNC for this

[2015-10-28 02:46] atompkins commented on #732
So this looks like a timing/dependency issue. At least one of the cmdlets is returning too soon.
I was getting an error on setting the witness nic, another process was updating the resource:

statusCode:429
serviceRequestId:b0d8217b-5a3c-4081-b3bf-0695fd4c6c6d
statusMessage:{"error":{"code":"RetryableError","message":"A retryable error occured.","details":[{"code":"RetryableErrorDueToAnotherOperat

[2015-10-28 15:39] LandersJ opened #763 "Cannot Deploy a DSC Template in region West US"
I'm trying to deploy a simple VM with Active Directory in the US West region.  I'm using the template located at https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain.

No matter what I do, I consistently get the following error:

    statusCode:NotFound
    statusMessage:{
        "error":{
            "code":"ArtifactNotFound",
            "message":"Extensi

[2015-10-30 10:24] rchaganti commented on #763
Edit the template and update the typeHandlerVersion property to 2.8. DSC Extension versions from 1.0 to 2.3 were removed but these templates were not updated.

[2015-10-30 11:27] chungvinhkhang opened #778 "Deploy virtual application"
Hello,
Can I use template to deploy a package to a virtual application (sub site) of a webapp?
Something similar DeployIisAppPath in msbuild.
I tried both IIS Application Path and Application Path but not work too.

[2015-10-30 21:03] singhkay commented on #763
I believe #772 will fix this once merged. I'll close this in the meantime but please open if this still an issue.

[2015-10-30 21:03] #763 closed

[2015-10-30 21:05] singhkay commented on #778
@davidebbo Can you help with this?

[2015-10-30 21:07] singhkay commented on #747
Adding few people who worked on hdinsight templates for help here @exchmaster @ezubatov @anthony-murphy @matt1883

[2015-10-30 21:08] singhkay commented on #732
Interesting @mahthi @kenazk @simongdavies Do you know anything about this?

[2015-10-30 21:09] singhkay commented on #722
@aarsan Not sure if this helps you https://github.com/Azure/azure-quickstart-templates/tree/master/101-logic-app-sendgrid
Adding @stepsic-microsoft-com who wrote the above template

[2015-10-30 21:10] singhkay commented on #720
@prateekjain0608 I think DSC 2.8 is released now. Can you try with that?

[2015-10-30 21:10] #719 closed

[2015-10-30 21:10] #714 closed

[2015-10-30 21:10] singhkay commented on #702
@KundanaP Any update on this?

[2015-10-30 21:13] singhkay commented on #701
#780 Fixed, thanks!

[2015-10-30 21:13] #701 closed

[2015-10-30 21:14] aarsan commented on #722
Yes, it does! thanks.

[2015-10-30 21:14] #722 closed

[2015-10-30 21:21] #609 closed

[2015-10-30 21:23] singhkay commented on #683
@uday31in PR #779 has been opened to fix some issues with this template. If this still doesn't work for you, please reopen this issue.

[2015-10-30 21:23] #683 closed

[2015-10-30 21:23] #689 closed

[2015-10-30 22:25] davidebbo commented on #778
@chungvinhkhang can you please post the question to https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazurewebsitespreview instead? Please include more details about exactly what you are trying in your template. Thanks!

[2015-11-02 18:51] prateekjain0608 commented on #720
Surely, will try.
It should work with that too.

On Sat, Oct 31, 2015 at 2:40 AM, Kay Singh <notifications@github.com> wrote:

[2015-11-03 02:51] sedouard opened #793 "CI - Add Continuous Template validation"
I noticed that there isn't any automated validation of the templates.

The Azure CLI has a command to do this:

`azure group template validate`

This can catch some preliminary issues with templates. There's also a bit of inconsistencies between template directories. For example, some templates have parameters called `azuredeploy-paramters.json` and `azuredeploy.paramteres.json`.

Automated valida

[2015-11-04 00:20] joshwg opened #798 "Why does the hdinsight-linux-with-edge-node use 2 separate storage accounts?"
What is the benefit of creating a separate storage account for the edge and cluster?
Also is there a way to allow those storage accounts to optionally be the same so you can have it both ways?

[2015-11-04 04:14] hrboyceiii opened #799 "Some Active Directory templates do not reboot following configuration, breaking RDP access"
The active-directory-new-domain and active-directory-new-domain-ha-2-dc were not specifying RebootIfNeeded = $true LocalConfigurationManager settings as part of the DSC configuration script for provisioning and configuring the active directory domain.  Other templates, such as sql-alwayson and sharepoint, have this as part of their DSC scripts

[2015-11-04 07:48] akuryan opened #802 "[Question] Is it possible to have static IP assigned directly to VM?"
When I try to allocate public static IP and assign it directly to NIC - powershell states that it is not possible.

Here is JSON excerpt:
[code]

Maybe there is some trick how to setup Static IP directly on VM??

[2015-11-04 19:03] singhkay commented on #799
Closing since #800 is merged! Thanks for the fix @hrboyceiii !

[2015-11-04 19:03] #799 closed

[2015-11-05 06:24] Vijayaraghavanl opened #808 "Does not work on certain versions"
Great Script!!!! I have used the script against different Linux distributions available in Azure gallery and it works as with most of them. However, it does not work for CentOS 6.5, CentOS 6.6 and CentOS 6.7, openSUSE 13.1, Oracle Linux 6.4. The error is same on all the versions this does not work. Are you able to help based on the error below from extension.log

2015/11/05 05:06:28 [Microsoft.OST

[2015-11-05 14:25] rossf7 commented on #380
I've also had this problem with the password rules when launching the mesos-swarm-marathon template. Being new to Azure it took a while for me to track down the cause.

It would be great if there was a help message with the validation rules. Or ideally if this was validated before the template is launched.

[2015-11-05 19:18] singhkay commented on #380
@rossf7 Fair point, we're seeing failures where folks enter the wrong inputs which leads to template deployment failures. Adding @rjmax from the ARM team to see if they are working on early validation of input parameters

[2015-11-05 19:20] singhkay commented on #808
Adding @tomconte @trentmswanson who've contributed to this script

[2015-11-05 19:22] singhkay commented on #802
@akuryan Are you saying the JSON works but PS doesn't allow it?

[2015-11-05 19:23] singhkay commented on #798
Adding @anthony-murphy who wrote the template

[2015-11-05 19:24] #778 closed

[2015-11-06 00:13] trentmswanson commented on #808
Thanks! It looks like I need to add some more log statements to the script. Based on the output, I'm not 100% certain what the issue is but have some assumptions. I have not tested this on CentOS, although I know others have it working there, but I don't recall what changes were necessary other than using `yum` for mdadm installation.  Alexandre Brisebois made the necessary adjustments for CentOS

[2015-11-06 00:44] rgardler commented on #380
Perhaps we can provide the rl

[2015-11-06 00:46] rgardler commented on #380
Damn it... clumsy fingers on a touch screen, didn't mean to close, meant to say...

Perhaps we can provide guidance in the best practice doc and also encourage template authors to include the guidance in their parameter descriptions.

[2015-11-09 06:37] akuryan commented on #802
At least, i suppose so

[2015-11-09 15:09] CristianB79 opened #821 "Cannot deploy Template - sharepoint-three-vm"
The deployment stops the creation of the DC machine with the error message you see in the attached image.
Maybe I'm wrong to define the parameters, can I have an example of parameters to use.
Thanks a lot.

![azureerror](https://cloud.githubusercontent.com/assets/15730976/11036933/700b1e16-86fb-11e5-9166-75212d37901a.png)

[2015-11-09 18:59] singhkay commented on #821
@CristianB79 Can you take a look at the instance view of the VM and see if the DSC config error has any more details?

[2015-11-09 20:37] anthony-murphy commented on #798
The reason the HDInsight cluster and the edge node are in separate storage accounts is to ensure the edge node and the cluster don't compete for storage resources. Here's a like to the azure documentation that describes the limits of a storage accounts:
https://azure.microsoft.com/en-us/documentation/articles/storage-scalability-targets/#scalability-targets-for-standard-storage-accounts

[2015-11-09 21:16] singhkay commented on #802
@akuryan Hmm interesting @DeepakRajendranMsft do you why PS doesn't allow it?

[2015-11-10 02:41] PriyoBh opened #822 "find the cloudservice name for the vms created"
Hi,
How do we find out the cloudservice name for the vms created using the template

[2015-11-11 00:56] singhkay commented on #822
@PriyoBh The cloud service concept doesn't exist in ARM world. The resource s are contained in a Resource Group.

[2015-11-11 00:56] #822 closed

[2015-11-11 22:37] bbirand opened #833 "Easily deployable Docker Hub/Registry"
This in my opinion is sorely missing from the Azure suite. Docker Hub and Quay are both extremely slow. I believe deploying a single node that's already install and configured to host Docker Images would be very valuable. Somewhat like Amazon ECR (https://aws.amazon.com/ecr/)

[2015-11-11 22:49] singhkay commented on #833
Adding few folks who are working on Azure container service to take a look at this request @rgardler @ahmetalpbalkan @anhowe

[2015-11-11 22:53] ahmetalpbalkan commented on #833
@bbirand can you please take a look at https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-docker-registry-on-azure-blob-storage/ ? This document contains a container definition to start a registry that stores files on Azure Blob Storage. You can easily convert this to an ARM template using [Docker Extension](https://github.com/Azure/azure-docker-extension).

I thought about

[2015-11-12 02:22] dennisan opened #837 "Error in deployment instructions"
The -TemplateParameterFile in the instructions should be "azuredeploy.parameters.json" not "azuredeploy-parameters.json" to match the name of the actual parameters file.

[2015-11-12 02:31] dennisan commented on #837
Please ignore.  This issue was specific to the sql-server-2014-alwayson-dsc template only.  I will follow up with the author.

[2015-11-12 02:31] #837 closed

[2015-11-12 12:22] bbirand commented on #833
Hi @ahmetalpbalkan , thanks for the reply!

I had read that document. Loading up a Docker image is easy enough, but then securing the server is getting a bit more annoying. After going through many steps on the Docker documentation, I realized I'm spending way more time setting a standalone registry on one machine than I did setting up a 5 node mesos cluster and a jumpbox. I still think there woul

[2015-11-12 18:09] jmspring opened #840 "Deployment of template gluster-file-system fails"
It appears there is a package dependency issue in the rpm install.  Stack from the deployment error below.

{"status":"Failed","error":{"code":"ResourceDeploymentFailure","message":"The resource operation completed with terminal provisioning state 'Failed'.","details":[{"code":"VMExtensionProvisioningError","message":"VM has reported a failure when processing extension 'extension'. Error message:

[2015-11-12 18:55] singhkay commented on #840
Adding @liupeirong who wrote the template for guidance

[2015-11-12 20:57] ping86 opened #844 "Mysql replication template problem"
I launch serveral times the following theme

https://github.com/Azure/azure-quickstart-templates/tree/master/mysql-replication

Always azure show this error:

[code]

Thanks.

[2015-11-13 02:08] bingosummer opened #847 "uppercase letters in storage account name does not return an error"
If there are uppercase letters in the parameter "storage account name", for example "FOO", the storage account will be created successfully with a name "foo". But on the portal, it is still "FOO".

My question is:
1. Does ARM templates or SRP perform the conversion?
2. IMO, the conversion may hide some errors and confuse customers.

Thanks

[2015-11-13 17:46] singhkay commented on #847
@bingosummer Are you seeing this in a particular template? ARM or SRP doesn't do the conversion automatically. SRP always errors out.

[2015-11-13 18:36] bingosummer commented on #847
Not from a specific template. I saw this issue in simple-linux-vm and bosh-setup.

This is the customer's complaint.

https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/issues/46

Sent from my phone

???: Kay Singh
???: 11?14???? 01:46
??: Re: [azure-quickstart-templates] uppercase letters in storage account name does not return an error (#847)
???: Azure/azure-quickstart-templates
?

[2015-11-13 19:51] bingosummer commented on #847
@singhkay . I think you can repro it easily using simple-linux-vm.

[2015-11-13 19:59] singhkay commented on #847
@bingosummer This is interesting, I'll check with the storage team

[2015-11-15 12:14] stuartpreston opened #851 "Incorrect reference to newStorageAccountName parameter in 101-vm-with-rdp-port"
The addition of boot diagnostics has caused an issue in 101-vm-with-rdp-port in that the referred parameter name is incorrect. This prevents successful deployment of the template. Submitting a PR shortly.

[2015-11-16 10:30] saschagottfried commented on #793
very good idea.

[2015-11-16 17:48] gratiartis opened #853 "Definition of myVMNic as fixed variable prevents launching more than one instance"
There seem to be a number of templates, which define myVMNic as a fixed variable. A couple of examples are:

 101-simple-linux-vm
 chef-json-parameters-ubuntu-vm

The trouble is that Azure doesn't permit more than one NIC resource with the same name, therefore it is not possible to launch more than one such instance.

Other similar examples are "myPublicIP", "MyVNET", "subnet-1", "10.0.0.0/24".

G

[2015-11-16 18:14] sedouard commented on #793
@saschagottfried I'm actively working on this. Keep an eye out for updates!

[2015-11-16 19:06] #851 closed

[2015-11-17 06:04] bingosummer commented on #847
@singhkay Any update on this? Could your repro this issue?

[2015-11-17 18:24] singhkay commented on #847
@bingosummer Yep, storage team recently introduced bug where they were lowering all names. They'll fix this in an upcoming release.

[2015-11-18 16:29] seesharprun opened #866 "201-cdn-with-storage-account Invalid JSON"
The azuredeploy.json file for 201-cdn-with-storage-account has an extra comma in the variables.  I just submitted a simple PR (https://github.com/Azure/azure-quickstart-templates/pull/865) to resolve this.

[2015-11-18 18:25] singhkay commented on #866
PR merged. Thanks for submitting the fix!

[2015-11-18 18:25] #866 closed

[2015-11-20 20:38] singhkay commented on #844
@ping86 @liupeirong recently made an update to this template #873. Can you try again?

[2015-11-22 06:23] madhana commented on #530
one thing i wonder is whether the "scale down" operation is VM availability aware. That is the approach described here i think will always remove the last "n" newly added resources, which is not always the right thing to do from an VM availability point of view. This is where VM Scale Sets implements this sort of scale down without compromising on VM availability - where in a scale down action wou

[2015-11-24 02:18] blumu opened #888 "Incorrect schema validation for additionalUnattendContent"
The current Azure template schema incorrectly types `additionalUnattendContent` as a JSON object instead of the array type expected by the ARM compute provider (see screenshot below).
![azurearm_templateschemabug](https://cloud.githubusercontent.com/assets/3913258/11356019/83131ff4-920e-11e5-9f3c-4c90967c0b51.PNG)

[2015-11-25 11:10] mloskot commented on #546
I have no idea if my problem is related to the **201-web-app-sql-database** template in any way, but I'm observing very similar error on attempt to deploy the default **Microsoft.SQL.NewDatabase** via portal.azure.com.

Provisioning failed twice with the same `BadRequest` status and the following `StatusMessage`:
[code]

[2015-11-25 23:59] joshgav opened #894 "mesos-swarm-marathon: Unused agent file?"
I'm reviewing and testing [mesos-swarm-marathon/azuredeploy.json](https://github.com/joshgav/azure-quickstart-templates/blob/master/mesos-swarm-marathon/azuredeploy.json). [Line 206](https://github.com/joshgav/azure-quickstart-templates/blob/master/mesos-swarm-marathon/azuredeploy.json#L206) is:
[code]
Since `agentCount` is constant here and `mod(x+1,x)` will always return `1`, this seems like a l

[2015-11-26 01:30] m-gagne opened #895 "Use of `storageAccountName` as parameter in AzureDeploy.json results in no account name"
Using `storageAccountName` as a parameter results in the following error "The StorageAccountName parameter is no longer used and will be removed in a future release. Also, the variable `$storageAccountName` is empty causing deployment errors due to the account names being a concat of `$storageAccountName` & the iterator (basically tries to create a storage account name of `0`, `1` etc.)

Resolutio

[2015-11-26 03:03] anhowe commented on #894
The series is mod(x+2, x+1).  If you choose 0 agents, the 0 file is chosen, otherwise agents>0 will return 1.

Anthony

-----Original Message-----
From: "Josh Gavant" <notifications@github.com>
Sent: ‎11/‎25/‎2015 3:59 PM
To: "Azure/azure-quickstart-templates" <azure-quickstart-templates@noreply.github.com>
Cc: "anhowe" <ahowe_ca@yahoo.ca>
Subject: [azure-quickstart-templates] mesos-swarm-marathon

[2015-11-26 03:44] joshgav commented on #894
Ah, for the case of 0 agents, I see. Thanks!

[2015-11-26 03:45] #894 closed

[2015-11-29 21:46] donigian commented on #677
Resolution doesn't work:
[code]

[2015-11-30 15:57] wirehell opened #902 "rds-deployment failure (dc-vm/createforest)"
Deploying rds-deployment with button on https://azure.microsoft.com/en-us/documentation/templates/rds-deployment/ fails without a meaningful error message.

Investigating deployment shows that dc-vm/createforest resource fails with status CONFLICT and the following statusmessage:

{"status":"Failed","error":{"code":"ResourceDeploymentFailure","message":"The resource operation completed with termin

[2015-11-30 18:25] singhkay commented on #677
@rgardler @anhowe - Can you take a look at this?

[2015-11-30 20:55] singhkay commented on #902
Adding @mmarch who wrote the template to take a look

[2015-11-30 21:18] mmarch commented on #902
DSC logs from the VM should give more insights into what exactly is failing:
c:\windowsazure\logs\plugins\Microsoft.Powershell.DSC\x.x.x.x\*.log

[2015-12-01 23:33] singhkay commented on #895
@m-gagne Thank you for the fix! Closing since the PR is merged

[2015-12-01 23:33] #895 closed

[2015-12-01 23:36] singhkay commented on #888
@blumu Can you elaborate on this a bit. What are you suggesting it should look like?

[2015-12-01 23:38] singhkay commented on #853
@gratiartis We chose default names for a bunch of the resources for simpler templates so that the new user didn't have to worry about entering a lot of parameters before running the template. However, you bring up a valid point. One of the ways this can be prevented is to concat with uniqueString() function.

[2015-12-01 23:39] singhkay commented on #847
Closing as this is a storage bug and will be fixed in an upcoming platform release.

[2015-12-01 23:39] #847 closed

[2015-12-01 23:42] #833 closed

[2015-12-01 23:45] #753 closed

[2015-12-01 23:45] singhkay commented on #798
Closing. please reopen if this is still an issue

[2015-12-01 23:45] #798 closed

[2015-12-01 23:45] #720 closed

[2015-12-01 23:46] #702 closed

[2015-12-02 08:48] blumu commented on #888
@singhkay The additionalUnattenContent should not be underlined. The Json object blob specified in the screenshot is valid and accepted by the Azure Compute REST API whereas passing a Json array as suggested by the schema validation would be rejected by the Azure Compute REST API.

[2015-12-02 15:59] gratiartis commented on #853
Perhaps a better way would be to set them as default values? It would let new users use a minimal 'parameters.json' for a quick experiment, but they can be overridden, so the template would be a genuine template that could be used in unmodified form, rather than just an example.

[2015-12-02 18:19] singhkay commented on #853
@gratiartis That still introduces more parameters though. One other way of overcoming this would be concating with a uniqueString() function output

[2015-12-02 18:22] singhkay commented on #888
@blumu I see, looks like the fixes were submitted for this

[2015-12-03 15:38] chaz2505 opened #918 "Adding Hive Metastore to HDInsight"
Hello,

I have written a custom template based on the hdinsight-linux-run-script-action template. Under configurations of the clusterDefinition I tried adding in "hive-site" javax.jdo.option.ConnectionURL, javax.jdo.option.ConnectionUsername and javax.jdo.option.ConnectionPassword to use an external metastore (SQLServer which works when use the portal ui).

The error I'm getting in the Audit Logs:

[2015-12-03 15:54] chaz2505 commented on #918
So I needed to add hive-env as well as hive-site configs as in this pull request:
https://github.com/Azure/azure-quickstart-templates/pull/880

[2015-12-03 16:03] #918 closed

[2015-12-09 01:51] singhkays opened #934 "[HELP WANTED] Make apiVersion properties a variable across templates"
Currently we have most templates that hardcode an `apiVersion` for the resource. For example

    "apiVersion": "2015-08-01",

You can help us by finding templates that do this and modifying it to use a variable. Here's how to do this

* Define a `variable apiVersion` in the variables section. Potentially different resources could use different apiVersions. In that case, you'll need to define mult

[2015-12-09 10:44] SychevIgor opened #936 "Wrond description of 201-2-vms-internal-load-balancer template"
Either description is wrong, or we have template do not implementing second virtual machine.
We have only one resource with type  "type": "Microsoft.Compute/virtualMachines" inside https://github.com/Azure/azure-quickstart-templates/blob/master/201-2-vms-internal-load-balancer/azuredeploy.json

[2015-12-09 10:46] SychevIgor commented on #936
My fault. This template will create more than one instance.

[2015-12-09 10:46] #936 closed

[2015-12-09 18:38] singhkay commented on #936
@SychevIgor no worries :)

[2015-12-09 18:55] #888 closed

[2015-12-10 17:36] tgies commented on #902
@mmarch I'm getting the same failure, here's the log message from the failing DSC run:

[code]

[2015-12-10 21:21] singhkays opened #944 "[HELP WANTED] Sanitize storage account name input in existing templates"
Currently the storage account names have the most strict requirements for the input. These are needed to be globally unique, all lower case and 24 characters or less. Most templates do not currently sanitize the user input which leads to a bunch of failures. We can use your help to improve the existing templates by making sure the storage account inputs follow the rules. Here's how to do this
###

[2015-12-10 23:28] mmarch commented on #902
The error from the above logs is this:
[DC]:                            [[WindowsFeature]ADDSInstall] Prerequisite processing succeeded.
The WS-Management service cannot process the request. The WMI service or the WMI provider returned an unknown error: HRESULT 0x80041033

0x80041033 is
WBEM_E_SHUTTING_DOWN
2147749939 (0x80041033)
"User has requested an operation while WMI is in the process of shu

[2015-12-11 19:07] nkew commented on #732
I'm having the same problem and cannot run this template in West or North Europe regions.

[2015-12-13 05:49] sedouard opened #957 "CI Should Skip PRs for .md files"

[2015-12-13 09:18] sedouard opened #959 "CI Includes Out of Range Commits"
Travis includes a helpful git environment variable called `TRAVIS_COMMIT_RANGE` which allows us to detect the files changed in a range of commits. The way we are doing it today causes problems when the downstream branch is out of date with the upstream branch at the time the PR CI run is executed.

Instead of doing a `git reset` within `.travis.yml` the best thing to do would be to use `git diff`

[2015-12-13 19:18] #959 closed

[2015-12-14 23:07] singhkays opened #966 "[HELP WANTED] DNS names best guidance"
Currently for DNS names the user must provide a prefix rather than a FQDN. The provided prefix is concatenated with <location>.cloudapp.azure.com by the platform to provide the FQDN for the Public IP. We see users trying to enter a FQDN (abc.com, def.com etc.) which causes failures. The DNS prefix must match the following regex or it will cause an error

[code]

We'd like to change current templat

[2015-12-16 08:22] Vijayaraghavanl commented on #808
Hi Trent,

Did you get a chance to revisit the script so we could get it to work across all Linux distros available in azure gallery?

[2015-12-16 19:35] sedouard opened #985 "CI Should Have Better Error Output Format"
Right now we output all of our error output in our assert string.

We could add new lines between the returned `parameters` and `template` response object which shows the actual rendered parameters and template file contents used. (for example it will show what GEN-UNIQUE-12 was replaced with).

We can also colorize the output to highlight the important parts. There's a [nice npm package that does

[2015-12-16 19:49] singhkay commented on #985
As a counterpart to this we should also colorize the template passed validation message

**Current**
```✓ 100-STARTER-TEMPLATE-with-VALIDATION/azuredeploy.json & 100-STARTER-TEMPLATE-with-VALIDATION/azuredeploy.parameters.json should be valid (63661ms)```

**Proposed** Highlighted in green
```✓ 100-STARTER-TEMPLATE-with-VALIDATION/azuredeploy.json & 100-STARTER-TEMPLATE-with-VALIDATION/azuredeploy

[2015-12-16 20:22] sedouard commented on #985
@singhkay that would be part of the test reporter we use with mocha. maybe someone somewhere has gotten better formatting from this test reporter for travis. i wouldn't be surprised.

[2015-12-16 22:57] sedouard opened #989 "CI Should Print '...' less frequently to log"

[2015-12-16 23:37] sedouard commented on #989
closed via https://github.com/Azure/azure-quickstart-templates/commit/a492629b79256fd586aa62688e988f5ac47c6ecd

[2015-12-16 23:37] #989 closed

[2015-12-17 04:42] sedouard opened #997 "CI Timeout should be closer to 2 hours"

[2015-12-17 04:48] sedouard commented on #997
closed via https://github.com/Azure/azure-quickstart-templates/pull/998

[2015-12-17 04:48] #997 closed

[2015-12-17 11:46] jorkovic opened #999 "rds-deployment failure (cb-vm/rdsdeployment)"
Hi there
I tried to deploy an RDS enviroment with the following script
https://azure.microsoft.com/en-us/documentation/templates/rds-deployment/
during the deployment i get the following error

{"status":"Failed","error":{"code":"ResourceDeploymentFailure","message":"The resource operation completed with terminal provisioning state 'Failed'.","details":[{"code":"VMExtensionProvisioningError","mess

[2015-12-17 11:58] jorkovic commented on #902
I have also an error like that is there already an soluition for it?

[2015-12-17 16:47] humbertcostas commented on #966
Hi @singhkay , could you assign me this issue?

[2015-12-17 17:45] singhkay commented on #966
@humbertcostas For some reason, Github doesn't let me assign it to you :|
![image](https://cloud.githubusercontent.com/assets/6164178/11877242/dc6fb0ca-a4a2-11e5-9a20-ba47e0a93bf2.png)

[2015-12-17 17:48] sedouard commented on #966
@singhkay you can't assign to non-collaborators. You'll just have to note in the comment's that @humbertcostas is working on it. :-)

[2015-12-17 17:51] singhkay commented on #966
@sedouard Ah ok!

@humbertcostas is working on this now

[2015-12-17 17:55] singhkay commented on #902
@narrieta Can you take a look at this error?

[2015-12-17 17:57] singhkay commented on #999
@narrieta can you take a look at this?

[2015-12-17 20:02] sedouard commented on #985
@singhkay looks like mocha exposes its color scheme for any test reporter:

[code]

If that's added to the top of the test file pretty sure it'll just pick it up. Here's the [default color scheme](https://github.com/mochajs/mocha/blob/master/lib/reporters/base.js#L54) that it specifies. I think you can override any one.

[2015-12-17 20:21] sedouard commented on #985
It's probably better to use the [`chalk`](https://www.npmjs.com/package/chalk) package rather than use the raw numbers for readability.

[2015-12-18 02:08] singhkay commented on #844
Closing due to age. Also there's been several follow up PRs to this template. #954

[2015-12-18 02:08] #844 closed

[2015-12-18 02:09] singhkay commented on #840
closing as the PR was merged

[2015-12-18 02:09] #840 closed

[2015-12-18 02:11] singhkay commented on #802
It seems like this isn't currently possible in the platform but will be coming something next year

[2015-12-18 02:11] #802 closed

[2015-12-18 09:53] humbertcostas commented on #966
Hi @sedouard , I signed the CLA days ago...
https://github.com/Azure/azure-quickstart-templates/pull/942#issuecomment-164702940

[2015-12-19 18:49] singhkay commented on #999
@jorkovic This is now working. Tested passing locally and with our CI. #1013

[2015-12-19 18:49] #999 closed

[2015-12-19 18:50] singhkay commented on #902
@wirehell This is now working. Tested passing locally and with our CI #1013

[2015-12-19 18:50] #902 closed

[2015-12-19 18:51] singhkay commented on #985
Update: #1008 makes the success logs green

[2015-12-19 19:32] activatedgeek opened #1014 "Deploying a blob storage container using resource templates"
It is possible to deploy a storage account using the resource templates, but I haven't been able to find any way to deploy a blob container inside the storage account. Is that possible via the resource templates?

[2015-12-20 01:35] singhkay commented on #1014
@activatedgeek That's not possible. Templates can only spin up resources on the management plane. Blobs lie on the storage data plane.

[2015-12-20 01:35] #1014 closed

[2015-12-21 01:26] bingosummer commented on #944
@singhkay
Does it make sense that I concat a fixed prefix `cf` and `uniqueString(resourceGroup().id)` as the storage name? Then I can remove the storage account parameter.

[2015-12-21 03:32] singhkay commented on #944
@bingosummer That makes sense. Actually, after discussions with the team that might be the direction we move in and eliminate the storage account parameter to avoid any chance of failure (unless it really is needed to be entered from the user). Also having a different prefix for different account names ensures they land on different racks which could help with HA scenarios.

Here's the proposed so

[2015-12-21 08:39] jorkovic commented on #999
i give it a try! thanks for helping me out

[2015-12-22 00:01] singhkay opened #1022 "End of year template cleanup log...[DEVELOPING]"
It's been a great year with the repo receiving an amazing number of templates across an even more amazing breadth of Azure services. As we've progressed there's been some templates that have become repetitive and don't serve a good purpose. This logs the templates we're removing/merging or moving to different paths.

------------------
REMOVED
* 101-create-backup-vault-policy -- Fails consistently

[2015-12-22 00:02] singhkay commented on #821
@CristianB79 Tested this working locally and also updated it to use DSC 2.11. Closing, if you find any issues feel free to reopen.

[2015-12-22 00:02] #821 closed

[2015-12-22 00:05] singhkay commented on #793
Closing, as we've achieved this! For info on how to CI your template see here https://github.com/Azure/azure-quickstart-templates/tree/master/1-CONTRIBUTION-GUIDE#travis-ci

[2015-12-22 00:05] #793 closed

[2015-12-22 00:07] singhkay commented on #957
This can be achieved by putting a .ci_skip file in the folder

[2015-12-22 00:35] sedouard commented on #957
@singhkay ... putting `.ci_skip` in the folder will permenantly disable ci for the template, no matter what file changes, not just the `.md` file

[2015-12-22 00:55] singhkay commented on #957
@sedouard you're right. Is the intent to have code that checks if the PR only contains a .md file, then skip the CI validation?

[2015-12-22 01:39] sedouard commented on #957
yup. its on the list of stuff I want to do but I haven't had the bandwidth to knock it out just yet

[2015-12-23 01:08] sedouard opened #1027 "CI Should Check for Not null and Not undefined for parameters"
The truthy comparison here will assert if a value is `false` as seen [here](https://github.com/Azure/azure-quickstart-templates/pull/1026#partial-pull-merging) https://github.com/singhkay/azure-quickstart-templates/blob/master/test/tests.js#L132

[2015-12-23 01:14] sedouard opened #1029 "Remote Git-utils from CI Script"
We don't use this and it takes a while to build

[2015-12-23 01:16] sedouard commented on #1027
closed via https://github.com/Azure/azure-quickstart-templates/pull/1028

[2015-12-23 01:16] #1027 closed

[2015-12-23 13:58] zoddd opened #1032 "How to deploy this is an existing VNET?"
I've tried modifying the template to deploy a vm into not only an existing RG, which is does fine, but I also need it to join an existing VNET.  I have even tried the PowerShell version with no luck.
I'm trying to find a reusable json template that can consistently build a VM into an already provisioned Resource Group, that already has a VNET, and just want it to create the VM from my own image, l

[2015-12-23 19:36] singhkay commented on #1029
Done in #1030

[2015-12-23 19:36] #1029 closed

[2015-12-23 23:14] bingosummer commented on #1032
+1
Similar question:
If I have an existing VNET, I want to create a subnet in it and a VM in the subnet. Could it be possible?

AFAIK, for now, the template can only create the resources. Can we update or delete some resources in the resource group?
Thanks

[2015-12-29 02:39] bingosummer opened #1041 "[Question][101-azure-dns-new-zone] How to get the name server domain name?"
After create a new zone, I want to output the name server domain names. So I add the following in `azuredeploy.json`.
[code]
Azure Portal gives me an error as belows.
[code]

I know that 'NS/@' is not defined and it's created automatically by Azure DNS. So, my question is how to get the properties of the resource which is not defined in my template?

Thanks

[2015-12-29 15:23] Cloudry commented on #1032
To deploy into an existing subnet within a VNET (Because you deploy into subnets not VNETs) you need to include the 'id' parameter, the id being

`/subscriptions/<subscriptionid>/resourceGroups/Docker/providers/Microsoft.Network/virtualNetworks/sshVNET/subnets/<subnetname>`

so you would use

                            },
                            "subnet": {
                                "id

[2015-12-29 18:15] singhkay commented on #1032
@Cloudry's right. And to get the id of the existing VNET, you need to use the resourceId function https://azure.microsoft.com/en-us/documentation/articles/resource-group-template-functions/#resourceid

See a working example below. I get the id of the VNET in the same resource group of the deployment but you can supply another resource group name as well.
https://github.com/Azure/azure-quickstart-t

[2015-12-29 20:39] singhkay commented on #1041
@jtuliani Can you help with this question?

[2015-12-30 21:27] nkpatterson opened #1047 "[Question] How do you get the clientRootCertData value for P2S VPN?"
In the [101-point-to-site template](https://github.com/Azure/azure-quickstart-templates/blob/master/101-point-to-site/azuredeploy.parameters.json), how do you go about getting the clientRootCertData value? At first I thought it was the public key value so I created a new self-signed root cert and tried grabbing the that from the certificate properties dialog but it wouldn't work when deploying (er

[2015-12-31 12:47] erelh opened #1054 "DSC Configuration completed with error"
Hi,

I am trying to create a VM with DSC extension
taken from the example templates in azure-quickstart-templates: 'dsc-extension-iis-server-windows-vm'

I am getting the following error:
"DSC Configuration completed with error(s)"

Why can this happen?

This is relevant part of my json file:

		{
			"type": "Microsoft.Compute/virtualMachines/extensions",
			"name": "[concat(variables('vmName'), c

[2015-12-31 13:53] nkpatterson commented on #1047
I think I figured it out but it'd be helpful to call this out in the readme or in the parameter description. This is the Base64 encoded raw certificate data. The easiest way I found to get this was the following in PowerShell:

`$cert = New-Object System.Security.Cryptography.X509Certificates.X509Certificate2 “C:\FullPathTo\RootCert.cer”`

`[System.Convert]::ToBase64String($cert.GetRawCertData())

[2015-12-31 13:53] #1047 closed

[2015-12-31 19:45] zoddd commented on #1032
I can't this basic 201 level template (https://raw.githubusercontent.com/Azure/azure-quickstart-templates/3ab37d0ee356ef5cf4c193e44b2c2e5bb74eed6f/201-specialized-vm-in-existing-vnet/azuredeploy.json) to even work.

For me it chokes on the  Public DNS name question. here is the output:
cmdlet New-AzureRmResourceGroupDeployment at command pipeline position 1
Supply values for the following paramete

[2016-01-04 05:24] bingosummer opened #1059 "The properties in the returned object of deployment() is confusing"
The properties in the returned object of deployment() will differ based on whether the deployment object is passed as a link or as an in-line object.
It does not make sense because you don't know which way the deployment object is passed. For example, if customers deploy it on Azure Portal, the invalid "templateLink" will break the deployment.

[2016-01-04 18:05] sedouard opened #1061 "Searchable index seems to have lost some templates"
This link used to work:

https://azure.microsoft.com/en-us/documentation/templates/201-dynamic-web-tests/

Now it's returning a 404.

[2016-01-05 11:00] AaronWoodrow commented on #546
I ran into a similar issue and it turned out that it had to do with the SQL database version number. I was on East US with version V12 and it gave me the errors above. I switched the version in the template from 12.0 to 2.0 and it worked.

[2016-01-06 11:20] mohanr opened #1068 "SSL certificate upload"
When I publish my Azure service to the cloud from my desktop I choose a self-signed certificate from my personal store.This certificate is also uploaded before I publish to the cloud along with the private key. How do I use a template to automated this ? When I publish directly from my VSO Git to the clound I would like to automate this. But I also need to know where the certificate store is in VS

[2016-01-07 05:59] mohanr commented on #1068
I did read that earlier. Now I think I understand more about this.

1. Use the Azure Resource Manager Rest API to upload automatically.

2. The certificates will be installed to the Personal certificate store of the ApplicationPool Identity of the worker process.

So the thumbprint in the Web config will match it.  https://azure.microsoft.com/en-us/blog/using-certificates-in-azure-websites-applica

[2016-01-08 15:02] m1stegmann opened #1083 "The template "CentOS-2nics-lb-cluster" fails in "NorthEurope" and "WestEurope""
The StatusMessage says:
{"status":"Failed","error":{"code":"ResourceDeploymentFailure","message":"The resource operation completed with terminal provisioning state 'Failed'.","details":[{"code":"OSProvisioningTimedOut","message":"OS Provisioning for VM 'myvm1' did not finish in the allotted time. The VM may still finish provisioning successfully. Please check provisioning state later."}]}}

[2016-01-10 00:29] boutquin commented on #934
Happy to work on this; started with a single template #1087 . Validation still failing though the deployment using the template succeeds. Will also incorporate #944 and #966 when touching a template.

[2016-01-10 01:04] boutquin commented on #944
@singhkay
I think I followed the above recipe in pull request #1087 and the template fails validation, seemingly because the variable value defined in
[code]
conflicts with the string length specified in
[code]
Any advice, short of adding .ci_skip?

[2016-01-10 20:27] boutquin commented on #944
@singhkay

Never mind. Found the issue: using"GEN-UNIQUE-11" instead of "GEN_UNIQUE_11" helps. ;)

[2016-01-11 20:36] mithunshanbhag opened #1092 "Please consider adding a 'keywords' or 'tags' section in metadata.json"
We'd like our team's Azure RM templates to be searchable using some specific keywords. We generally put the keywords in the "itemDisplayName", "description", "summary" fields of the metadata.json file.

However we also want the templates to be discoverable when are some variants of these keywords are used. As an example:
- "Azure DevTest Labs" (primary keyword)
- "Azure Dev/Test Labs" (variant of

[2016-01-12 00:12] Cloudry opened #1094 "Howe to use Azure Vault for website certificates"
I am trying to configure certificates within Vault for deployment to a Website. The parameters are there in Resource Explorer (as a sibling of pfxBlob - which does work), but I get a PipelineStoppedException when I try to use them as shown there.

What is the syntax / location for deploying certificates for a Web app via vault?

[2016-01-14 16:43] glennmate commented on #1054
You'll need to log into the VM that failed and read the DSC logs to find out why the cluster isn't building. It's likely a parameter isn't set properly or there's an issue with the underlying Azure infrastructure you're deploying the cluster into.

Look at the deployment failure message in the portal:
[code]

Resource shows you which VM to log into. From there, check the file ```C:\Packages\Plugin

[2016-01-14 17:30] glennmate opened #1101 "sql-server-2014-alwayson-dsc "failed to execute Set-TargetResource" exception calling "Create" with "0" arguments"
Azure throws a DSC error when deploying one of the final resource blocks. Opening the DSC logs on the failed VM shows the following message:

[code]

Spent time investigating the Set-TargetResource function in the DSC resources as well but unable to identify where the issue is. I'm also not getting any output from the function as to the exact error so I'm a bit blind to continue troubleshooting fu

[2016-01-14 20:53] glennmate commented on #1101
Redeploying, I believe the issue may be with the DNS prefix I'm using per this post ( i had entered the FQDN of the domain, whereas I may have just needed the NETBIOS prefix / name):

https://social.technet.microsoft.com/Forums/lync/en-US/4a798ee3-f149-47d0-8f06-1f3d20fd2b12/deploy-monitoring-server-reports-wizard-error?forum=ocsmonitoring

If the problem is resolved in this next deploy I will clo

[2016-01-14 21:43] glennmate commented on #1101
Problem resolved, it was casing in domain name. Closing issue.

[2016-01-14 21:43] #1101 closed

[2016-01-16 02:56] bingosummer commented on #1041
@jtuliani
Could you help give me a guide about how to get the name server domain names?
Thanks

[2016-01-18 13:35] jtuliani commented on #1041
Right now, the name server names are only available via the child resource for the NS records for the zone.  And since the template engine doesn't know about that resource, I don't think there's a way to get them.
We are planning to expose the name server names as a zone property to address this.  Give us a few weeks and we'll get back to you.

[2016-01-18 13:40] bingosummer commented on #1041
Thanks @jtuliani
It really helps to expose the name server names as a zone property.

[2016-01-19 07:29] bingosummer opened #1110 "[Question]How to add a new subnet into an existing vnet?"
For example, I deployed a vnet which has two subnets in a resource group.
I'd like to deploy another template add a new subnet into the existing vnet.
Is it possible to add a new subnet without re-creating the existing vnet and subnets?
Thanks

[2016-01-19 23:13] singhkay commented on #1110
Haven't tested this but I believe so. Try keeping the deployment name same and same VNET definition but with another subnet added and see if it works?

[2016-01-19 23:31] bingosummer commented on #1110
@singhkay Thanks for your reply.
If I want to deploy another template with a different deployment name (since I don't know the original deployment name) and I don't know how many subnets are there in the VNET, is it possible to add a new subnet?
And I suggest to provide a 101/201 sample template to show how to do it.

[2016-01-20 17:37] AdamMDavies opened #1117 "Product Details, certain strings being iterated over"
Certain key-value combinations with ARM variables are not being recognized as such, and instead are having the string iterated over and printed by angular.

For example, Virtual Networks resource in the iis-2vm-sql-1vm quick start template:

![image](https://cloud.githubusercontent.com/assets/15893127/12457452/8010218a-bf72-11e5-81a8-a5f8792b39ec.png)

[2016-01-20 17:37] #1117 closed

[2016-01-20 20:02] stinck commented on #1110
i don't think it's possible, because you can only deploy a resource object. A subnet is not a resource object (for the moment), but a property of a resource object

[2016-01-20 20:16] stinck opened #1121 "Cannot use ExpressRoute circuit from ASM Virt.Network in my new ARM Virt.Network"
azure-quickstart-templates / 301-expressroute-circuit-vnet-connection /
 This template seems not to work with a circuit i requested with the ASM powershell commands.
 it fails when provisioning a resource from the "Microsoft.Network/connections" class
 Do i need to request a new circuit with the ARM powershell cmdlets?

[2016-01-20 20:26] singhkay commented on #1121
@amitsriva Can you take a look at this?

[2016-01-20 21:09] singhkay commented on #1110
@bingosummer @stinck I just tested it and it works. You do need to know the number of subnets in a vnet and replicate the existing template definition of the VNET. Then add a code block for the new subnet and it should work

[code]

I think for the scenario you're asking where you don't know the existing number of subnets in the VNET, you might want to go with the imperative APIs i.e. PS or CLI

[2016-01-20 21:09] #1110 closed

[2016-01-21 18:47] singhkay commented on #1094
Not sure if this is a supported scenario. @davidebbo might know something on this

[2016-01-21 18:53] singhkay commented on #1068
@davidebbo might be able to help but I suspect you might find more answer by posting on MSDN forums or Stack Overflow
https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazurewebsitespreview

[2016-01-21 18:55] singhkay commented on #1059
@rjmax Can you take a look at this?

[2016-01-21 18:59] davidebbo commented on #1068
I haven't dealt directly with this issue, but the forum is indeed a good place for all Azure Web Apps related questions. Or if the question is more on the VSO side, there is a separate forum to reach those experts: https://social.msdn.microsoft.com/Forums/vstudio/en-US/home?forum=TFService

[2016-01-21 18:59] singhkay commented on #1054
@glennmate Thanks for the detailed help!

@erelh You can also take a look at the instance view of the VM in resource.azure.com to see what failed. I'll close this but if you still need more help, feel free to reopen.

[2016-01-21 19:00] #1054 closed

[2016-01-21 19:01] singhkay commented on #1068
Thanks @davidebbo!

[2016-01-21 19:01] #1068 closed

[2016-01-21 19:07] singhkay commented on #1083
Looks like this template is broken in West US as well for me. Here's the error I'm seeing
[code]
@gmarchet Can you take a look?

[2016-01-21 19:11] singhkay commented on #1061
The searchable index is owned by the Azure.com team. The latest I have from them is that this is a transient issue currently due to exceeding Github's API rate limits but they are working on a better architecture to alleviate this pain.

[2016-01-22 06:37] ryanreich commented on #944
This fails for me: `The resource name 'dwjbicumxp2fy' is not allowed.`.  It seems that `uniqueString` produces alpha *numeric* strings, while storage account names must be alphabetic only...

[2016-01-22 08:08] Larcen opened #1134 "Question about 101-internal-loadbalancer-create Template"
Hello all,

I'm checking this template ( https://github.com/Azure/azure-quickstart-templates/tree/master/101-internal-loadbalancer-create ) to create an internal load balancer inside an existing infraestructure with one Virtual Network and two subnets. I need to create this load balancer inside one of the existing subnets, and associate the backend to an existing NIC that is assigned to a working

[2016-01-22 12:00] ArneCoder opened #1135 "Question: API Documentation for templates?"
Is there somewhere on the Planet an documentation about all ARM ServiceProviders? I mean... what kind of options are possible, etc.

[2016-01-22 17:02] singhkay commented on #1135
@ArneCoder Is this what you're looking for? https://msdn.microsoft.com/en-us/library/azure/dn790568.aspx and https://msdn.microsoft.com/en-us/library/azure/mt420159.aspx (ARM resource providers (non-classic) should have REST APIs on the left nav)

[2016-01-22 17:06] singhkay commented on #1134
@Larcen See the subnet ref at https://github.com/Azure/azure-quickstart-templates/blob/master/101-internal-loadbalancer-create/azuredeploy.json#L102 ? It's composed at https://github.com/Azure/azure-quickstart-templates/blob/master/101-internal-loadbalancer-create/azuredeploy.json#L32

In this case this subnet is being spun up as part of the VNET that's created. You can pass in the resource Id of

[2016-01-23 06:05] ArneCoder commented on #1135
Thanks for your answer, maybe iam just to stupid .. but i am searching for something where all "options" are documentated. For example:

If i call:  "type": "Microsoft.Web/sites", what options are possible in the json template. Or is this not available and i have to use :
https://management.azure.com/subscriptions/{subscription-id}/providers/{resource-provider-namespace}?api-version={api-version}

[2016-01-25 13:16] kinnrot opened #1141 "Mongo DB high availability"
I'm trying to deploy the small replica set, but  it fails every time.

[2016-01-25 18:50] singhkay commented on #1141
@kinnrot What's the error you're getting?

[2016-01-25 18:51] singhkay commented on #1135
@ArneCoder If you look closely at the REST API and templates, you'll notice that the properties element is an exact match. So the thinks you can put inside the resource property is derived directly from the resource API.

[2016-01-25 18:57] ArneCoder commented on #1135
Ah ok, so how to find the propertiers for an Azure Webapp/Website? sorry
for the stupid question, but it is a bit hard to find the information for
me.

Kay Singh <notifications@github.com> schrieb am Mo., 25. Jan. 2016 um
19:52 Uhr:

--

Viele Grüße,
Arne Riemann

Blog: www.geekpub.de
Twitter: @ArneCoder

[2016-01-25 19:03] singhkay commented on #1135
@ArneCoder The web apps documentation is here https://azure.microsoft.com/en-us/documentation/articles/app-service-web-overview/ but it looks like you're not the only one having trouble finding the Web Apps REST API. @davidebbo Do you know where to find the REST reference for web apps?

[2016-01-25 20:12] davidebbo commented on #1135
The best place to get API details now is Resource Explorer (https://resources.azure.com/). We're working toward better separate documentation, but we're not quite there.

[2016-01-27 10:17] kinnrot commented on #1141
After creating the storage account by myself and the storage container, I'm getting the following:

                               \"message\": \"Provisioning of VM extension
                               '
                               installmongodb' has timed out. Extension
                               installation
                               may be taking too long, or extension status c

[2016-01-27 12:11] thehyperadvisor opened #1151 "The sql-server-2014-alwayson-dsc arm template missing nodes"
The sql-server-2014-alwayson-dsc arm template is missing nodes after it shows complete. There should be 3 nodes in a cluster as described but I only end up with one sql and one witness. I also noticed that there's a nic for the other sql node that's not attached to anything. This happens every time i deploy the arm template with no errors.

[2016-01-27 14:36] thehyperadvisor commented on #1151
Looks like this is due to the quota limit even though the deployment completes with a successful status.

[2016-01-27 14:36] #1151 closed

[2016-01-27 17:20] singhkay commented on #1151
@thehyperadvisor We have a work stream going that can catch quota errors before deploying. Should come online in the next month!

[2016-01-27 21:39] Supraconductor opened #1152 "cloudera shared-resources templateLink contentVersion mismatch"
In cloudera-on-centos template, the resource definition "shared-resources" in azuredeploy.json does not have the right templateLink contentVersion. Should be 1.0.0.1.

[2016-01-27 22:17] DhruvKumar opened #1154 "Possible error in vm-disk-utils.sh"
The vm-disk-utils.sh provided by Ubuntu is excellent. But I think there's an error in this function since the way `echo` is being used looks circumspect:

[code]
https://github.com/Azure/azure-quickstart-templates/blob/master/shared_scripts/ubuntu/vm-disk-utils-0.1.sh#L189-L196

[2016-01-28 05:10] singhkay commented on #1154
@trentmswanson Can you take a look at this?

[2016-01-28 05:31] AggarwalArchit88 opened #1155 "Domain Join Template active-directory-new-domain"
I saw the domain join template I am unable to understand why are we using the file
vnet-with-dns-server.json to update the vnet. The link of the files is
azure-quickstart-templates/active-directory-new-domain/vnet-with-dns-server.json

[2016-01-28 05:49] singhkay commented on #1155
@AggarwalArchit88 Take a look at this line. This composes the complete link to the below
https://github.com/Azure/azure-quickstart-templates/blob/master/active-directory-new-domain/azuredeploy.json#L214

https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/active-directory-new-domain/vnet-with-dns-server.json

[2016-01-28 14:27] stinck commented on #1121
@singhkay We are going to request a new service id in the ARM model, but when running the Get-AzureRmExpressRouteServiceProvider cmdlet we are getting the value 'null' for PeeringLocations and BandwidthsOffered. Any idea why?

[2016-01-28 15:07] kinnrot commented on #1141
I tried running manually the

added the admin user and pass and also replica set key and data (used same value)

Begin execution of MongoDB installation script extension on mongodb-member0
Script executed without admin credentials
You must provide a name and password for the system administrator.
mongouser@mongodb-member0:~$ nano i.sh
mongouser@mongodb-member0:~$ bash i.sh
Begin execution of Mongo

[2016-01-28 17:37] amitsriva commented on #1121
ASM circuits do not work with ARM resources. You would need to create a new ARM circuit.

[2016-01-28 20:54] trentmswanson commented on #1154
Thanks @DhruvKumar

I guess I don't see the problem. I see a few different ways this could be implemented, but how it's currently implemented should and does work.  I hesitate to change it now, unless there's a problems.

-Trent

[2016-01-29 00:36] #1121 closed

[2016-01-29 05:51] singhkay commented on #1141
@TheAzureGuy Any ideas on this error?

@kinnrot Looks like this might be the issue
``bash: ./vm-disk-utils-0.1.sh: No such file or directory``

It looks like the Uri that gets passed in at `https://github.com/Azure/azure-quickstart-templates/blob/master/mongodb-high-availability/azuredeploy.json#L272`

has "Ubuntu" due to the parameter value but the script Uri actually has "ubuntu" in it
`https://

[2016-02-02 09:02] kinnrot commented on #1141
ohhh so I need to have the shared scripts also, I'll try that..

[2016-02-02 09:12] kinnrot commented on #1141
@singhkay -  I see in L192

            "osName": "ubuntu",

[2016-02-02 18:13] singhkay commented on #1141
@kinnrot Can you link to the line? Here's what I was referring to https://github.com/Azure/azure-quickstart-templates/blob/master/mongodb-high-availability/azuredeploy.json#L123

[2016-02-02 19:31] singhkay commented on #1032
@zoddd Try all lower case letters for the dns name

@bingosummer Actually you're scenario is possible. I've added a template to do this https://azure.microsoft.com/en-us/documentation/templates/101-subnet-add-vnet-existing

[2016-02-02 23:58] bingosummer commented on #1032
Thanks @singhkay
It works for me.

[2016-02-03 00:11] #1032 closed

[2016-02-03 03:19] MannyGarcia opened #1173 "creating VM in an existing subnet and vnet"
the deploy vm template for windows and linux creates a new vnet and subnet for each VM. is no a way to create the VMs and add them to an existing vnet and subnet?

[2016-02-03 06:27] singhkay commented on #1173
Sure, just remove the Vnet and subnet resources from the template and pass in the names of existing VNET and Subnet.

[2016-02-03 17:07] CraigSCCM opened #1174 "Error deploying VMs to existing vnet json"
Hi guys, I'm trying to build a custom built .json script with 2 VM's, 2 Nics, a storage account, Availability set & a public IP to connect to an **existing** vnet but I keep getting a tonne of errors, I've tried different functions and parameters and still nothing works :(

This is the error I get

`New-AzureRmResourceGroupDeployment : InvalidTemplate: Deployment template
validation failed: 'The t

[2016-02-03 17:28] singhkay commented on #1174
@CraigSCCM In your NIC, your are referring to the newSubnet but I don't see this being added to the VNET in this template. See how to add a subnet to an existing VNET here
https://github.com/Azure/azure-quickstart-templates/tree/master/101-subnet-add-vnet-existing

``
"subnet": {
								"id": "[variables('subnet1Ref')]"
							}
``

[2016-02-03 17:32] CraigSCCM commented on #1174
@singhkay hi mate thanks for replying, I still get the same error :(

[2016-02-03 17:34] singhkay commented on #1174
@CraigSCCM Can you post the updated template using markdown code tags

[2016-02-03 18:24] #1152 closed

[2016-02-03 18:39] CraigSCCM commented on #1174
Here's the updated on mate

`{  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "West Europe",
      "allowedValues": [
        "West US",
        "East US",
        "West Europe"
      ],
      "metadata": {
        "description": "Location

[2016-02-03 18:46] singhkay commented on #1174
@CraigSCCM Mate, I'm still not seeing you create that subnet in this template. Did you already create it beforehand?

[2016-02-03 18:51] CraigSCCM commented on #1174
@singhkay No.... this is the parameters.json

`{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "newStorageAccountName": {
      "value": "newstoracc091"
    },
    "location": {
      "value": "West Europe"
    },
    "publicIPName": {
      "value": "publicip12"
    },
    "publicIPAddressType"

[2016-02-03 18:53] CraigSCCM commented on #1174
@singhkay No.... here is the parameters.json

` {
 "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
 "contentVersion": "1.0.0.0",
 "parameters": {
 "newStorageAccountName": {
 "value": "newstoracc091"
 },
 "location": {
 "value": "West Europe"
 },
 "publicIPName": {
 "value": "publicip12"
 },
 "publicIPAddressType": {
 "value": "Dynamic"
 },
 "vmName":

[2016-02-03 19:22] singhkay commented on #1174
@CraigSCCM Yep, you're passing in the subnet name but you're not creating a subnet in the template. Then you are trying to get the resourceId of a subnet that doesn't exist

`"subnet1Ref": "[concat(variables('vnetID'),'/subnets/', parameters('newSubnetName'))]",`

[2016-02-03 19:48] CraigSCCM commented on #1174
How do I create a subnet in the template? Sorry to sound stupid but I'm not used to this...

[2016-02-03 19:58] singhkay commented on #1174
See the template I linked above (you can merge it with your template) or create a subnet inside the existing VNET using Portal, PowerShell or CLI.

[2016-02-03 20:12] CraigSCCM commented on #1174
thank you mate, I've added the subnet in now, and it's gave me a new error

` [ERROR] New-AzureRmResourceGroupDeployment : After parsing a value an unexpected
20:10:31 - [ERROR] character was encountered: ". Path 'resources', line 258, position 13.
20:10:31 - [ERROR] At C:\users\crafre\documents\visual studio 2015\projects\existing
20:10:31 - [ERROR] _vnet\existing _vnet\Scripts\Deploy-AzureResour

[2016-02-03 21:09] singhkay commented on #1174
@CraigSCCM See line 258. There's a comma missing before the "outputs" section. What editor are you using? If you're using VS or VS Code for (Linux, Mac), it'll catch a bunch of these schema errors.

[2016-02-03 21:25] CraigSCCM commented on #1174
@singhkay

I'm using 2015 VS on Windows 10 :)

Got this error now :(

`New-AzureRmResourceGroupDeployment : Cannot retrieve the dynamic parameters
21:23:48 - [ERROR] for the cmdlet. Additional text encountered after finished reading JSON
21:23:48 - [ERROR] content: }. Path '', line 43, position 3.`

[2016-02-03 21:27] singhkay commented on #1174
@CraigSCCM Alright we're getting somewhere :) Looks like another missing bracket or something. Try pasting the json content into a jsonlint.com

[2016-02-03 22:41] MannyGarcia commented on #1173
thank you singhkay.

Here is my json file:

https://raw.githubusercontent.com/MannyGarcia/GitRepo/master/azuredeploy.json

I dont really follow you with the removing the subnet and vnnet of our the resources and pass in the names of existing vnet and subnet.

if you look at the template, I already defining the existing vnet and subnet, but my VM fails while creating with an error saying that the s

[2016-02-03 22:47] singhkay commented on #1173
@MannyGarcia When you put a resource definition inside a template file like below, what you're doing is telling ARM - "Hey! Go create this thing!"

[code]

What you need do is tell ARM, "Hey! I already have this. Just use it!"

See another template here that creates a VM in an existing VNET - https://github.com/Azure/azure-quickstart-templates/tree/master/201-specialized-vm-in-existing-vnet

[2016-02-04 08:41] CraigSCCM commented on #1174
Hi @singhkay it came back with Valid .json

[2016-02-04 18:13] singhkay commented on #1174
@CraigSCCM Can you post the new JSON?

[2016-02-04 18:22] CraigSCCM commented on #1174
Sure mate here it is

`{"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "West Europe",
      "allowedValues": [
        "West US",
        "East US",
        "West Europe"
      ],
      "metadata": {
        "description": "Location of reso

[2016-02-04 18:45] singhkay commented on #1174
@CraigSCCM Do you have the latest Azure SDK installed in VS because it should catch errors like this https://azure.microsoft.com/en-us/downloads/

See my post above about in your NIC config, the ipconfigurations property is an array. See here https://msdn.microsoft.com/en-us/library/azure/mt163668.aspx

[2016-02-04 19:51] CraigSCCM commented on #1174
Yeah I have the latest SDK - does my template work for you @singhkay ??

[2016-02-04 19:58] CraigSCCM commented on #1174
I'm not sure what you mean by my ipconfiguration property is an array? @singhkay

[2016-02-04 20:03] singhkay commented on #1174
@CraigSCCM  I'm assuming this is the error, let's change this and see if it works. See the ipconfigurations property in the API link? It looks like this and is an array.

[code]

In your template it is missing the square brackets

[code]

[2016-02-04 20:10] CraigSCCM commented on #1174
hi @singhkay I added the square bracket in, and still received the same error

`20:09:29 - [ERROR] New-AzureRmResourceGroupDeployment : Additional text encountered after
20:09:29 - [ERROR] finished reading JSON content: }. Path '', line 46, position 3.`

[2016-02-04 21:07] CraigSCCM commented on #1174
I've just updated to the latest azure sdk 2.8.2 and now get a completely different error

`[ERROR] Get-AzureEnvironment : The term 'Get-AzureEnvironment' is not recognized as
21:04:17 - [ERROR] the name of a cmdlet, function, script file, or operable program. Check the
21:04:17 - [ERROR] spelling of the name, or if a path was included, verify that the path is
21:04:17 - [ERROR] correct and try aga

[2016-02-05 00:45] ritazh opened #1179 "jenkins-on-ubuntu cannot access jenkins master on port 8080"
Inbound security rules for `jenkMasternsg` needs to be updated to allow traffic from any source on any port via `sourcePortRange`.

[2016-02-05 01:20] #1179 closed

[2016-02-05 11:54] brandubh opened #1181 "Broken link"
The https://github.com/azure/azure-portal-createuidefinition  is broken. Do you have an alternate link?

[2016-02-05 18:39] singhkay commented on #1181
@VybavaRamadoss Can you take a look at this?

[2016-02-07 02:49] flexengineer opened #1183 "CreateADForest Conflict - WS 2016 TP4 Deployement Failure"
My deployment on Windows Server 2016 Technical Preview TP4 failed during the configuration of the new forest. Just sharing in case there is any incompatibility you might want to know about sooner than later.

Status: Conflict - Provisioning State: Failed
Type Microsoft.Compute/virtualMachines/extensions
Resource Id: CreateADForest

{"status":"Failed","error":{"code":"ResourceDeploymentFailure","me

[2016-02-08 12:41] parth618 opened #1189 "Issue in creation of VM with ARM Template"
While deploying the ARM template for creation of virtual machines using 101-vm-simple-linux,101-vm-simple-windows i face the issue as:
The virtual machine image source is not valid.
Failed to create virtual machine : The virtual machine image source is not valid.
![virtual image source invalid](https://cloud.githubusercontent.com/assets/17052093/12885876/66aa80e2-ce8f-11e5-8f94-c85cfedba536.PNG)

[2016-02-08 18:34] vinaysangawar opened #1190 "[Question] How to add insecure registries on Azure Docker Swarm Template"
I was wondering how I would go about adding the --insecure-registry flag in this template? I am used to editing the /etc/default/docker file and using DOCKER_OPTS to pass in these parameters on Ubuntu, but I do not see that file when SSHd into a swarm manager VM. Is there a place to add my insecure registries within the template configuration? Or would I have to SSH into each manager/node and upda

[2016-02-08 18:52] singhkay commented on #1189
@parth618 Both deployed fine for me using the "Deploy to Azure" buttons. Can you try deploying using the buttons and see if there's another issue you might be facing?

[2016-02-08 19:38] singhkay commented on #1183
@flexengineer Can you take a look at the VM logs and share any exact errors?

[2016-02-08 20:30] singhkay commented on #1190
@ahmetalpbalkan might be able to help with this

[2016-02-08 21:11] singhkay commented on #1174
@CraigSCCM Looks like you might need to get the latest PS as well. But going back to the template, it looks like the properties names for your subnet reference is off as well. See the API for the exact property names required

[code]

[2016-02-08 21:44] vinaysangawar commented on #1190
Actually just figured it out if anyone else was curious! You simply add the properties in the options section of the DockerExtension part of the template file. See the attached picture. I was able to SSH tunnel, then export DOCKER_HOST=:2375 in my terminal, then do a "docker login myinsecure1.cloudapp.com:9001" and was able to login successfully and download my private images!

![insecure](https:/

[2016-02-08 21:44] #1190 closed

[2016-02-08 22:08] singhkay commented on #1190
@vinaysangawar Sweet! Thanks for posting the solution. Relevant XKCD http://xkcd.com/979/  :grinning:

[2016-02-08 22:15] ahmetalpbalkan commented on #1190
@vinaysangawar you are the best kind of user!

Yes, if you use Docker Extension, you can it's `"docker" > "options"` key to specify docker-engine options and if you use `"compose"` key to stand up a `registry` container with compose.yml described in JSON.

Furthermore you can actually use `"protectedSettings"` key in ARM template to pass secrets (such as storage account key) as an environment vari

[2016-02-08 22:18] vladimirjoanovic commented on #1181
look here now: https://github.com/Azure/azure-marketplace/wiki/Getting-Started-with-Solution-Templates

[2016-02-09 04:45] parth618 commented on #1189
@singhkay yeah The "Deploy to Azure" button works fine for me too as it redirects us to the azure portal but on deployment of starter template with the ruby (using azure-sdk for ruby) . It generates this error.

[2016-02-09 06:14] singhkay commented on #1189
@parth618 In that case looks like something is up with the Ruby SDK. I suggest posting an issue here https://github.com/Azure/azure-sdk-for-ruby/issues

[2016-02-09 06:26] johnkattenhorn opened #1192 "Exporting existing assets from the Azure Portal or Powershell"
I'm a developer and not a System Admin so I'm pretty new Azure Resource Templates and I've made some progress but it's very slow and therefore not cost-effective for smaller deployments with the experience I have.

Is there a way for me to export an existing assets within a Resource Group ?

I'd really like to see a way for you to be able to configure items in the Portal and then export a script r

[2016-02-09 06:30] singhkay commented on #1192
@johnkattenhorn Alpha of the capture RG capability is underway here https://capturegroup.azurewebsites.net/

[2016-02-09 06:33] johnkattenhorn commented on #1192
Very cool, I know it's an early release but I'll give it a go.

Thanks

[2016-02-09 06:42] #1189 closed

[2016-02-09 06:43] #1192 closed

[2016-02-09 07:02] johnkattenhorn opened #1193 "[Help] DNS Server setting not working, how to set variable type to array ?"
Please consider this deploy.json. The setting for the DNS server is ignored although I do not get an error.

I'm sure it's because it not an array but all the examples I have found using a Parameter and specify type of array and I don't seem to be able to do this for variables.

[code]

[2016-02-09 07:04] brandubh commented on #1181
Hi Vlad, still broken on my side

[2016-02-09 08:44] CraigSCCM commented on #1174
Hi @singhkay I have the latest Powershell cmdlets installed, I copied your exact api from https://github.com/Azure/azure-quickstart-templates/tree/master/101-subnet-add-vnet-existing :)

[2016-02-09 17:59] singhkay commented on #1174
@CraigSCCM Can you paste the new JSON?

[2016-02-09 19:48] johnkattenhorn commented on #1193
Missing square brackets ... doh!

[2016-02-09 19:48] #1193 closed

[2016-02-09 19:50] singhkay commented on #1193
@johnkattenhorn There you go :) Btw JSON doesn't support comments. Azure CLI will complain or fail

[2016-02-09 20:14] johnkattenhorn commented on #1193
Cheers @singhkay, nice tip :-)

[2016-02-09 21:45] vladimirjoanovic commented on #1181
sorry Daniele - I thought you had access to the old link which means you only needed the new link.  turns out you didn't have access to the old link so you didn't have access to the new link either (explains why you didn't see the insight re-direct). you have access now.

[2016-02-10 00:37] #1181 closed

[2016-02-10 00:37] #1173 closed

[2016-02-10 00:37] #1154 closed

[2016-02-10 00:37] #1135 closed

[2016-02-10 00:37] #1134 closed

[2016-02-10 08:32] CraigSCCM commented on #1174
Hi mate, here it is

`{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "West Europe",
      "allowedValues": [
        "West US",
        "East US",
        "West Europe"
      ],
      "metadata": {
        "description": "Location of re

[2016-02-10 20:00] singhkay commented on #1174
@CraigSCCM See the NIC api https://msdn.microsoft.com/en-us/library/azure/mt163668.aspx and comment above. The subnet ref property is not called "newSubnetName", it is called "subnet".

It seems like you're beginning with templates. This would be a good link to start https://azure.microsoft.com/en-us/documentation/articles/resource-group-authoring-templates/

[2016-02-11 03:56] TimMurphy opened #1209 "Deploy to Azure button does not work for "Very simple deployment of an Windows VM""
After click **Deploy to Azure** button on `https://github.com/Azure/azure-quickstart-templates/tree/b1908e74259da56a92800cace97350af1f1fc32b/101-simple-windows-vm` the Azure portal reports:

[code]

[2016-02-11 03:59] jkovolski commented on #1183
I saw a similar issue when adding the Standard A series to the VM size options.  If I don't change that, it deploys fine.  I don't have logs at the moment.

[2016-02-11 15:21] CraigSCCM commented on #1174
Failed again with same error code

I went with what you said previous ^^

" it looks like the properties names for your subnet reference is off as well. See the API for the exact property names required"

`"newSubnetName": {
              "subnet1Ref": "[concat(variables('vnetID'),'/subnets/', parameters('newSubnetName'))]"
            }`

So I reverted it to "subnet" and it's still no-where near

[2016-02-11 19:18] singhkay commented on #1209
@TimMurphy It's loading for me. Looking at your Uri, tt looks like you might have clicked it from some other branch than master. Can you try again from here https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-simple-windows

[2016-02-11 19:20] singhkay commented on #1174
@CraigSCCM It looks like in your latest JSON the property/key is still called newSubnetName instead of subnet. Remember, the template structure has 1-1 mapping with the API. So the names need to be the same as in the API. The values can be whatever you decide using template functions, variables or parameters.

[2016-02-11 21:13] TimMurphy commented on #1209
My bad. Should have spotted that. Thank you for the following it up.

[2016-02-11 21:13] #1209 closed

[2016-02-12 11:06] CraigSCCM commented on #1174
Ahhh I get you :) I changed it too "subnet" and it's still throwing up the original error, if you change the property does my json work for you??

[2016-02-13 03:11] RedPointMS opened #1220 "Was anyone successful with deploying MongoDB images?"
I was wondering if anyone was successful with deploying either `mongodb-high-availability` or `mongoldb-nodes-high-availability`. I tried most probably 10 times in different locations and each failed with timeout message.

[2016-02-15 11:14] CraigSCCM commented on #1174
Hi mate, does my json work for you?

[2016-02-17 19:21] auld opened #1243 "Installation notes point to non-existent URL"
The installation notes section of the README.md file give  https://github.com/Azure/azure-quickstart-templates/tree/master/ubuntu-desktop for more information on setting up the jumpbox. However this URL does not exist and the information on how to connect via VNC is not detailed.

[2016-02-17 19:23] auld commented on #1243
This last issue is for https://github.com/Azure/azure-quickstart-templates/tree/master/mesos-swarm-marathon.

[2016-02-17 21:06] #1220 closed

[2016-02-19 08:55] rgardler opened #1258 "Buildbot incorrectly reports invalid JSON"
My PR (#1256) failed validation for azuredeploy.json. However, visual checking, http://jsonlint.com, https://jsonformatter.curiousconcept.com/ and the Azure portal all disagree - each says it's valid.

If you can see what is wrong with it I'll happily fix the json, but to me it looks like a problem with the validator.

[2016-02-19 09:13] vesperpl opened #1259 "Template 201-specialized-vm-in-existing-vnet problem with traffic between machines"
Hi, I have problem with the template I delete part for public IP because network is internal and connected through vpn. My problem is that Vm is not accessible in the internal network, if i create normal machine through full creator everything work fine. I thought it maybe problem with RDP so i run set-AzureRmVMAccessExtension  and nothing i read that i can resize VM but then i receive

The machin

[2016-02-19 15:27] vodesoft opened #1261 "Deploy to Azure button is broken for 101-acs-swarm"
The href points to old template location in acs-swarm.

[2016-02-19 16:57] rgardler commented on #1261
Thanks, fixed.

[2016-02-19 16:57] #1261 closed

[2016-02-19 16:58] rgardler commented on #1243
Thanks for your feedback. The templates and docs have now been updated. There is no longer a need for VNC connection to a jumpbox (yay!) and we believe all links work. Please see the final resting place for this templates at 101-acs-swarm and 101-acs-mesos

[2016-02-19 16:58] #1243 closed

[2016-02-19 18:27] singhkay commented on #1259
@vesperpl VHDX isn't supported in Azure so that is probably why it's not responding. Try creating another VM from your VHDX and keep the public ip to rule out it's a network issue.

[2016-02-19 19:28] rgardler commented on #1258
It looks like this is actually a poorly formed error message - still investigation. will report back.

[2016-02-19 20:04] vesperpl commented on #1259
Sorry my bad, Azure plays only with VDK, but  I checked my template system and yes it's vhd (template-w2k12rDAT.vhd) so it's not the issue

[2016-02-19 20:48] singhkay commented on #1259
@vesperpl This template doesn't do anything special with networking so not sure why that would be an issue. Can you try not removing the public ip and creating the VM from your VHD?

[2016-02-20 02:46] singhkay commented on #1258
@rgardler Looks like that PR doesn't even have an azuredeploy.json. Is that correct?

[2016-02-20 04:40] markrey opened #1266 "OpenLDAP , Failed with error: No closing quotation"
While deploying openLDAP Cluster
https://github.com/Azure/azure-quickstart-templates/tree/master/openldap-cluster-ubuntu

`{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "VMExtensionProvisioningError",
        "message": "VM has repor

[2016-02-20 09:10] rgardler commented on #1258
The problem was introduced in an earlier PR pushed on a PR deadline for our preview release (sorry I cut corners). I noticed it when following the proper review cycle for later commits.

[2016-02-20 09:13] rgardler commented on #1258
I've just run all the checks again and (jsonlint, jsonlint.com and jsonformatter) none of them report an error. I'm at a loss.

[2016-02-21 03:29] auld opened #1267 "101-acs-mesos readme walk through, click on sandbox in mesos fails with error message"
Following the walk through for 101-acs-mesos most things work but whenever I click on any of the "sandbox" links in the mesos web page, I get the following message:

The slave's hostname, 'mesos-agent-58CAAA99-0', is not accessible from your network
The slave's port, '5051', is not accessible from your network
The slave timed out or went offline

I don't know if this is something I have done incor

[2016-02-21 12:17] hossamdarwish commented on #1220
Same here, more than 10 times failed with timeout message!

[2016-02-21 18:13] hossamdarwish commented on #1141
Same issue here, I've tried to replace https://github.com/Azure/azure-quickstart-templates/blob/master/mongodb-high-availability/azuredeploy.json#L123 with lower case "ubuntu" but also fails with a.m. error message

[2016-02-22 09:58] pleexy-dev opened #1272 "azure container services - Microsoft.ContainerService/containerServices"
Got a little confused with this new template - https://github.com/Azure/azure-quickstart-templates/blob/master/101-acs-swarm/azuredeploy.json

Where can I find an information about Microsoft.ContainerService/containerServices? Specifically on what parameters are available for masterProfile and agentPoolProfiles.

Also, is this template produces the same result as this one https://github.com/Azure/

[2016-02-22 14:03] sascha-egerer opened #1273 "101-acs-swarm - can't create docker network"
I've deployed 101-acs-swarm with 1 agent and 1 master.
It's not possible to create a docker network over the swarm master.

[code]

[2016-02-22 18:03] singhkay commented on #1258
@rgardler Can you point to the file that is reporting errors?

[2016-02-22 19:11] singhkay commented on #1273
Paging @rgardler

[2016-02-22 19:16] sascha-egerer commented on #1273
Here's the docker documentation link for "docker network create" https://docs.docker.com/engine/reference/commandline/network_create/#network-create

Creating a overlay network is currently not possible.

[2016-02-22 19:35] singhkay commented on #1272
@pleexy-dev For more information on ACS, see here https://azure.microsoft.com/en-us/documentation/articles/container-service-intro/

cc: @rgardler @anhowe for the API parameters question

[2016-02-23 01:32] bingosummer opened #1276 "cannot find the "bosh-setup" template in https://azure.microsoft.com/en-us/documentation/templates/."
I cannot find the [bosh-setup](https://github.com/Azure/azure-quickstart-templates/tree/master/bosh-setup) template in https://azure.microsoft.com/en-us/documentation/templates/.

[2016-02-23 01:38] singhkay commented on #1276
@bursteg tells me you should file a bug

`If you haven’t already, please submit a bug/request using [UserSnap extension for Chrome](http://acomdocs.azurewebsites.net/articles/workitems-usersnap-get-started/) and we will get it queued up.`

[2016-02-23 01:40] bingosummer commented on #1276
Thanks @singhkay .
I'll file a bug.

[2016-02-23 03:49] colemickens opened #1279 "jenkins: workers don't auto-join: "start: Unknown job: jenkins_slave""
This is the bottom of extension.log from a slave vm:

[code]

[2016-02-23 03:53] colemickens commented on #1279
First issue, the syntax in the upstart script for the slave is wrong.

Line 108:
https://github.com/Azure/azure-quickstart-templates/blob/master/jenkins-on-ubuntu/jenkSlaveInstall.sh

Description should not be capitalized.

[2016-02-23 03:53] colemickens commented on #1279
Second issue, even after that, starting the job causes it to immediately enter a "stop/waiting" state. I suspect more problems with the upstart conf.

[2016-02-23 03:55] colemickens commented on #1279
After the service starts, the upstart log is filled with: `Error: Unable to access jarfile ~/slave.jar`

[2016-02-23 04:04] colemickens commented on #1279
It is not safe to use `$HOME` or `~` in an upstart file. Changing the upstart from `~/slave.jar` to `/root/slave.jar` seems to allow things to work.

I sent a PR with the fixes.

[2016-02-23 04:59] colemickens commented on #1279
Also, slaves are configured to live in `/var/lib/jenkens` instead of `/var/lib/jenkins`.

I added another commit to address that.

[2016-02-23 05:00] colemickens commented on #1279
https://github.com/colemickens/azure-quickstart-templates/pull/2

[2016-02-23 05:02] colemickens commented on #1279
https://github.com/Azure/azure-quickstart-templates/pull/1280

https://github.com/Azure/azure-quickstart-templates/pull/1281

[2016-02-24 08:24] lalyos opened #1294 "azure RM template deployment: all operations successfull, but overall fail message"
We are using azure RM for starting a VM with vm extensions. Everything seems fine, all Operations are successfull, but the very last event reports fail:

The failing event is a
 - operationName : `Microsoft.Resources/deployments/write`
 - resourceUri: `/subscriptions/947dafa0-8a1d-4ac9-909b-c71a0fa03ea6/resourcegroups/cbstoreancsa/deployments/Microsoft.Template`

What is actually the meaning of `w

[2016-02-24 10:29] vesperpl commented on #1259
i create a new network (internal as well) check script one more time, without a public IP option and now is working like  a charm. I still don't know why i had the error but it was maybe because network configuration
Thx for help!

[2016-02-24 10:29] #1259 closed

[2016-02-24 11:43] mhmxs commented on #1294
I tested one of my machine which got this issue and worked as well.

[2016-02-24 17:46] singhkay commented on #1294
Adding @ravbhatnagar for the `write` questions

@lalyos The best way to check why the extension failed is to go to resources.azure.com and browse to your VM and check its instance view

[2016-02-24 19:29] lalyos commented on #1294
@singhkay The extensions didn't failt at all. Thats the strange thing: all operations succeeded,
except the last one which is a `write` on resource: `/deployments/Microsoft.Template`.

1. I dont understand at all what the write on Template means?
2. how could it fail / why did it fail

[2016-02-25 03:23] pleexy-dev commented on #1272
@singhkay These articles gives some information, however there is no info on parameters that can be specified for ContainerService resource. A couple of more specific questions on this would be:
 - how can I specify a size of the masterMachine?
 - can I specify an image used to build master and agents?
 - can I run a custom script (through extensions) as a part of each agent deployment?
 - can I r

[2016-02-25 11:24] herveleclerc opened #1300 "Discover Private IP dynamically on scaleset"
What is the method to get the private IP of a vm in a scaleset at deploy time ?
I've tried the method like in standard vm but it doesn't work
it fails :
```Deployment template validation failed: 'The template reference 'yoyonic' is not valid: could not find template resource or resource copy with this name. Please see http://aka.ms/arm-template-expressions/#reference for usage details.'. ```

exem

[2016-02-25 19:07] singhkay commented on #1300
@herveleclerc The network profile between VMs and VMSS is different which is probably why that method doesn't work. Adding @gatneil @gbowerman to see what's needed here.

@gatneil Can you take a look at porting this template for VMSS? https://github.com/Azure/azure-quickstart-templates/tree/master/201-discover-private-ip-dynamically

[2016-02-25 21:02] khenidak opened #1302 "The documentation refers to "Jumpbox" that does not exist"
the readme.md refers to jumpbox that does not actually gets created. The master LB contains NAT rules for ssh on 220X to 22 (for each master) that should be enough to manage the cluster.

please remove the references to jumpbox

[2016-02-25 21:47] singhkay commented on #1302
@khenidak Which template is this in reference to? Since this repo is a community effort, please feel free to submit a fix with the changes.

[2016-02-26 06:33] karataliu opened #1303 "Question about 101-vm-from-user-image, creating VM using vhd on different account."
It is stated in the readme: https://github.com/Azure/azure-quickstart-templates/blob/364dcf26ce48f93692e2c9c0fc3f85f2d73c43ce/101-vm-from-user-image/README.md

 'Prerequisite - The Storage Account with the User Image VHD should already exist'

But if I use a VHD img stored in a different account other than the userImageStorageAccountName, it would report following failure:
{"error":{"code":"Confli

[2016-02-26 09:57] LeCampusAzure opened #1304 "github-enterprise template: NSG not associated with subnet/nic"
The github-enterprise template has a NSG with all the necessary rules inside, but it is not associated neither with the subnet or the VM's NIC. This opens an important security breach for this deployment.

[2016-02-26 14:57] gbowerman opened #1305 "docker-simple-on-ubuntu with 14.04-Daily parameter fails"
Deployment error is:
{"error":{"code":"ImageNotFound","target":"imageReference","message":"The platform image 'Canonical:UbuntuServer:14.04-DAILY:latest' is not available. Verify that all fields in the storage profile are correct."}}

[2016-02-26 18:00] singhkay commented on #1304
@LeCampusAzure I see it is associated to the subnet here https://github.com/Azure/azure-quickstart-templates/blob/master/github-enterprise/azuredeploy.json#L126

[2016-02-26 18:20] gnawhleinad commented on #1304
:wave: @LeCampusAzure! (And, thanks @singhkay for the comment and :point_right:.)

As @singhkay mentioned, we do associate the network security groups. Was this from inspection of the `.json` or did you see something on inspection after a deploy?

[2016-02-26 18:47] #1061 closed

[2016-02-26 20:57] singhkay commented on #1305
@gbowerman Thanks for the catch! Looks like 14.04-DAILY is no longer a valid option. Adding @gatneil for update

![image](https://cloud.githubusercontent.com/assets/6164178/13365202/7e6961e2-dc88-11e5-90c8-1204ec765375.png)

[2016-02-27 08:12] #1304 closed

[2016-02-28 18:55] squillace commented on #1294
@lalyos you need to dump the entire output of:

`azure group log show testsshvm --json | jq '.[] | select(.status.value == "Failed")'`

There must be some text associated with the error.... if there isn't, that is in itself a bug.

[2016-02-29 08:28] sascha-egerer commented on #1273
Anybody working on that issue? @rgardler ?

[2016-02-29 08:30] sascha-egerer commented on #1272
That would be pretty interesting. Or any explaination about the best way to install a custom docker plugin for example.

[2016-02-29 09:35] lalyos commented on #1294
@squillace I just removed some "it-might-be-sensitive" fields, but no i didnet found any more details about the cause of the fail.

So From 76 events this is the only failing
[code]

[2016-02-29 09:40] lalyos commented on #1294
So here is the full failing event json:
[code]

[2016-02-29 18:08] lalyos commented on #1294
Here is a screenshot showint all-but-1 successfull operations with no further failure description:

![screen shot 2016-02-29 at 7 05 32 pm](https://cloud.githubusercontent.com/assets/464122/13403953/c6fec424-df17-11e5-946b-8236b8813614.png)

[2016-02-29 19:35] Jaykah opened #1314 "101-acs-mesos - Deploy to an existing vnet"
Hi,

I am trying to deploy an ACS cluster to an existing VM.

So far I have something that looks like this:

`{
	"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"dnsNamePrefix": {
			"type": "string",
			"metadata": {
				"description": "Sets the Domain name prefix for the jumpbox.  The concatenation of

[2016-02-29 20:08] sedouard opened #1315 "CLI throws exception on VM creation timeout"
When the deployment fails because of a VM timeout:
[code]

The CLI doesn't seem to to handle the error correctly and results in this error:

[code]

I don't really know what build of the CLI this is, because I was provided a random tarball at `https://github.com/Azure/azure-xplat-cli/archive/dev.tar.gz`. I'm assuming these are live master builds and if that's the case it's from just after the 0.9.

[2016-02-29 21:53] singhkay commented on #1315
Looks like this is fixed in https://github.com/Azure/azure-xplat-cli/pull/2498

[2016-02-29 21:55] singhkay commented on #1314
@Jaykah You don't have a variable called 'nicName' in the variables section.

[2016-02-29 21:57] singhkay commented on #1303
@karataliu Definitely. Can you edit the text and send a PR?

[2016-02-29 23:38] Jaykah commented on #1272
+1 for more information about parameters, network in my case

[2016-03-01 02:54] karataliu commented on #1303
Not sure whether the text change is enough, regarding this change: https://github.com/Azure/azure-quickstart-templates/commit/0290284462ee041ffa2971c19160c12783570b63#diff-bb3c16727908ad12dd54ec7af3daa103L11

After that, userImageStorageAccountName is used for osDisk only, but the name is still user image. May be also reverting the userImage/osDisk part should do better.

[2016-03-01 03:58] sedouard commented on #1315
agreed looks that that'll fix it. closed via #2498

[2016-03-01 03:58] #1315 closed

[2016-03-01 18:41] singhkay commented on #1294
@ravbhatnagar Any ideas on what failed?

[2016-03-01 18:58] ravbhatnagar commented on #1294
related to this - https://github.com/Azure/azure-powershell/issues/1801. This has been fixed in the March release of PS.

[2016-03-01 19:25] squillace commented on #1294
@lalyos did you use PS to deploy this template?

[2016-03-01 19:39] ravbhatnagar commented on #1294
@vivsriaus - Can you please verify if we have the same issue in CLI as well?

[2016-03-01 19:47] lalyos commented on #1294
@squillace No I wasnt usong poweshell, I was using the xplat cli, and also tested the same template on azure portal, with the same result.

[2016-03-01 20:17] squillace commented on #1294
It may be an underlying issue to #1801 that also affected xplat; but having no error string is wrong. We have someone looking at it internally as we speak.

[2016-03-01 20:17] squillace commented on #1294
Oh, and what version of the xplat were you using, @lalyos?

[2016-03-01 20:49] vivsriaus commented on #1294
This is not a client side issue - from the screenshot, it looks like ARM is throwing an error without any details. We'll have someone from ARM look into it.

[2016-03-01 21:53] #1279 closed

[2016-03-01 22:19] singhkay commented on #1279
@colemickens Thanks for fixing!

[2016-03-07 15:57] sedouard opened #1343 "Indexer isn't loading all templates"
I thought I may had opened an issue about this before but can't seem to find it.

The search index at the moment seems to not be listing a large majority of the templates.

[2016-03-07 20:52] MelvinVermeer opened #1345 "101-mobile-app-create is not idempontent - works only once"
When this sample is ran for the first time, it completes succesfully.
But when you deploy the exact same template again it fails on :

Resource Microsoft.NotificationHubs/namespaces/notificationHubs 'examplemobileapp-q6r5h6yqa3qbo-namespace/examplemobileapp-q6r5h6yqa3qbo-hub' failed with message 'Conflict'.

No additional information can be found in deployment logs other than 'Conflict'

[2016-03-07 21:16] singhkay commented on #1345
@tfitzmac @mattchenderson Can you take a look at this?

[2016-03-08 11:55] wmmihaa opened #1348 "Error parsing template"
Perhaps I'm doing this wrong. I have an existing github repo and copied the following files from the 201-web-app-github-deploy sample:

- azuredeploy.json
- azuredeploy.parameters.json
- metadata.json

To get started I haven't changed anything but my repoUrl in the azuredeploy.json file. When I deploy it I get: "Error parsing template. Please ensure template is valid JSON and has no comments."

He

[2016-03-08 16:45] infosatheesh2020 opened #1349 "ARM template for adding existing key to azure keyvault"
Hi,

I like to add the PEM key from local to the azure key vault using resource manager templates, but I dont find any good references.
I use below json snippet to add secrets in existing vault

"resources": [
{
"type": "Microsoft.KeyVault/vaults/secrets",
"apiVersion": "2015-06-01",
"name": "[concat(parameters('keyVaultName'), '/', parameters('secretName'))]",
"properties": {
"value": "[parameter

[2016-03-08 16:48] infosatheesh2020 opened #1350 "ARM: VM creation template referring SSH keys from azure key vault"
I have a PEM key added in key vault, and I want to use the key in VM provisioning.

 I want to reference the key added to vault into the provisioning script and I use format as below:

"sshRSAPublicKey": {
"reference": {
"keyVault": {
"id": "/subscriptions/xxxxxx/resourceGroups/vaultRG/providers/Microsoft.KeyVault/vaults/mmdvault"
},
"keyName": "qa-key"
}
},

But error is "The request content was

[2016-03-08 17:36] tfitzmac commented on #1345
@MelvinVermeer - thanks for reporting this issue. I am trying to track down the problem.

[2016-03-08 18:15] singhkay commented on #1350
@infosatheesh2020 Can't use keys with VMs. Only secrets. Have a look at few of the templates around key vaults

https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-winrm-keyvault-windows
https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-push-certificate-windows
https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-secure-password

[2016-03-08 18:15] singhkay commented on #1349
Closing as a dupe of #1350

[2016-03-08 18:15] #1349 closed

[2016-03-08 19:39] dsaurabhd opened #1351 "Kafka-Ubuntu large cluster deployment ( https://github.com/Azure/azure-quickstart-templates/tree/master/kafka-ubuntu-multidisks )"
HI see an issue while deploying a large kafka cluster ( https://github.com/Azure/azure-quickstart-templates/tree/master/kafka-ubuntu-multidisks)

-------------------------------------------------------------------------------------------------------------------

Deployment template validation failed: 'The template parameters 'subnet' in the parameters file are not valid; they are not present in th

[2016-03-08 19:49] singhkay commented on #1351
Adding template author @CognosysTech can you take a look at this error?

[2016-03-08 21:55] dsaurabhd commented on #1351
Works well now.

[2016-03-08 21:55] #1351 closed

[2016-03-08 22:37] drywolf opened #1355 "[101-acs-mesos] error when trying to deploy ACS Mesos template"
Hi, I wanted to try out the new container services facilities, but I when I tried to deploy the `101-acs-mesos` template I get the following error and the deployment fails:

    {"error":{"code":"PropertyChangeNotAllowed","target":"agentProfile.dnsPrefix","message":"Changing property 'agentProfile.dnsPrefix' is not allowed."}}

I can't find anything about this error on the web. What could I do to

[2016-03-08 22:39] singhkay commented on #1355
Adding ACS experts @rgardler @anhowe

[2016-03-08 23:25] squillace opened #1360 "ACS connect document: netstat args don't exist on mac."
@rgardler

doc for template: https://github.com/Azure/azure-quickstart-templates/blob/master/101-acs-mesos/docs/MesosWalkthrough.md

### Issue Details

[code]

[2016-03-09 14:12] vesperpl opened #1365 "Add symantec end point client to ARM template"
Hi,
I would like to add Symantec Endpoint to my template, but every time i receive. probably i put in wrong place in code but i dodn't know were i should set variables('vmname')
Thx for help
Vesper

[code]

[2016-03-09 18:05] singhkay commented on #1365
@vesperpl Did the symantec extension template not work for you? https://github.com/Azure/azure-quickstart-templates/blob/master/symantec-extension-windows-vm/azuredeploy.json

[2016-03-09 18:11] nitin16 opened #1367 "Using conditional statements in Template"
Is there any way to use conditional statements in templates?

for example I am building template which will have vms with data disks on QA and Production, but no data disks on Dev. Another scenario would be there are some extensions only needs to be installed in prod VMs but no where else.

Any help is appreciated.

Thanks,
Nitin

[2016-03-09 18:27] singhkay commented on #1367
Sure, there are many examples of this.

See this https://github.com/Azure/azure-quickstart-templates/blob/master/checkpoint-single-nic/azuredeploy.json#L11 and follow through on how ssh or password auth happens.
For dynamic data disks see this - https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-dynamic-data-disks-selection
Another here where this template creates a new vnet or

[2016-03-09 18:51] nitin16 commented on #1367
Thanks. This helped.

[2016-03-09 18:55] singhkay commented on #1367
Awesome!

[2016-03-09 18:55] #1367 closed

[2016-03-10 06:58] KodrAus commented on #1272
@pleexy-dev Did you end up finding any more details on this? I'd also like to know how to specify the image to use for the master/agent deployment.

[2016-03-10 19:36] adbertram opened #1375 "Invalid extension name in 201-vm-domain-join"
[201-vm-domain-join](https://github.com/Azure/azure-quickstart-templates/blob/master/201-vm-domain-join/azuredeploy.json)

### Issue Details

When I try this template, I get the error:

statusCode:BadRequest serviceRequestId:56e7a5b5-742b-4d97-9ba3-d9748d53ae6d statusMessage:{"error":{"code":"InvalidParameter","target":"extensionName","message":"The entity name is invalid according to its validati

[2016-03-10 20:32] singhkay commented on #1375
@adbertram Just to make sure, you deployed using the "Deploy to Azure" button and made no changes to the existing template?

[2016-03-10 23:09] singhkay commented on #1375
@adbertram I just deployed the template and it joined the domain successfully without any problems

[2016-03-10 23:28] #1350 closed

[2016-03-10 23:30] singhkay commented on #1348
@wmmihaa Instead of https://github.com/microServiceBus/microservicebus.node.git you probably need https://github.com/microServiceBus/microservicebus.node

[2016-03-11 09:15] wmmihaa commented on #1348
Fair enough, but that doesn't explain the "Error parsing template. Please ensure template is valid JSON and has no comments." error...
I've updated the repoUrl, but the exception still comes up when I click the "Deploy to Azure" button.

[2016-03-11 14:07] wmmihaa commented on #1348
The problem was the URI to the json file was not pointing to the RAW json...

[2016-03-11 14:07] #1348 closed

[2016-03-11 16:00] adbertram commented on #1375
I apologize. I have not had the opportunity to get back to this until now. I did not deploy this directly to Azure. I must have goofed up the resource somehow.  Thank you so much for the attention to this.

[2016-03-11 16:00] #1375 closed

[2016-03-11 18:08] singhkay commented on #1375
@adbertram No worries!

[2016-03-11 18:09] singhkay commented on #1348
@wmmihaa Glad you got it sorted out!

[2016-03-11 21:47] wmmihaa commented on #1348
@singhkay I'm stil struggling to get my deploy script working for a node.js site in github. The same script works with an MVC app, but not using a node.js site. Are there any special settings for node.js?

[2016-03-11 22:09] vesperpl commented on #1365
I will need to take closer look to line:
`name": "vmName/vmExtensionName",`
On template you propose is different syntax:
`"name": "[concat(parameters('vmName'),'/', parameters('vmExtensionName'))]",`
I will get back to it on Monday :)
Cheers for help
BTW Guys from where you taking all the knowledge to wrote those ARM templates?

[2016-03-11 22:16] wmmihaa opened #1381 "Deploy a node.js site using Azure Resourse Manager"
I'm struggling with a ARM deployment script for my node.js application. If I point to a repo with an MVC application it all works fine, but not using an node.js app.

Are there any specific settings for node.js sites? Here is the resource part of my script:
[code]

[2016-03-11 23:06] singhkay commented on #1381
Adding @davidebbo who's the websites guru

[2016-03-11 23:23] singhkay commented on #1365
Essentially it's the same format after the functions are compiled.

Not sure what you mean by the below

[2016-03-12 01:25] davidebbo commented on #1381
We discussed on https://github.com/Azure/azure-resource-manager-schemas/issues/119. I think we can close this one.

[2016-03-12 01:29] singhkay commented on #1381
Thanks @davidebbo!

[2016-03-12 01:29] #1381 closed

[2016-03-14 10:06] sebbrochet commented on #702
As of 2016-03-14, I'm still experiencing this error while installing the PuppetLabs 3.2 extension on a Windows Server 2012 R2 VM on Azure. I should add that this node has been previously configured to allow WinRM using HTTPS with a self-signed certification (based on this [PS script](https://github.com/sebbrochet/azure_win/blob/master/vm_creation/ConfigureRemotingForAnsible.ps1)). Would it be an i

[2016-03-15 23:31] sandyplace commented on #1273
without docker overlay networking you are forced to v1 version of compose files which do not work either if you have links for dependent services. you get errors such as "Unable to find a node fulfilling all dependencies: --link=azureuser_redis_1:azure_redis_1". It would be nice if one or the other work as it makes testing swarm in acs difficult.

[2016-03-16 14:47] edevil commented on #1355
+1

[2016-03-16 17:23] sandyplace opened #1398 "elasticsearch template fails with invalid template"
Used the default parameters.

The template deployment 'Microsoft.Template' is not valid according to the validation procedure. The tracking id is '519958b7-ff4e-4204-92dd-d3dcd1e33f58'. See inner errors for details. Please see http://aka.ms/arm-deploy for usage details.

[2016-03-16 17:25] singhkay commented on #1398
@sandyplace Is this the template in question? https://github.com/Azure/azure-quickstart-templates/tree/master/elasticsearch

[2016-03-16 17:50] singhkay commented on #1398
@hglkrijger Tried deployed it and ran into an error because of the location parameter not having all locations a resource group can be deployed in. Let's remove the location parameter and create a variable with resourceGroup().location

[2016-03-16 19:27] sandyplace commented on #1398
Yes. Sorry should have been more specific in my issue description.

From: Kay Singh [mailto:notifications@github.com]
Sent: March 16, 2016 10:26 AM
To: Azure/azure-quickstart-templates <azure-quickstart-templates@noreply.github.com>
Cc: Sandy Place <splace@worksight.net>
Subject: Re: [azure-quickstart-templates] elasticsearch template fails with invalid template (#1398)

@sandyplace<https://github

[2016-03-16 20:03] hglkrijger commented on #1398
@singhkay Sure, I will look into this.

[2016-03-16 20:25] nitin16 opened #1400 "Update virtual network gateway from Basic to high performance."
Hi we have virtual network gateway for VPN as a basic tier. We wanted to upgrade it to high performance version. but we get exception saying "unable to parse sku.name and sku.tier."

Current definition:

          }
        }
      }
    ],
    "sku": {
      "name": "Basic",
      "tier": "Basic",
      "capacity": 0
    },
    "gatewayType": "Vpn",
    "vpnType": "PolicyBased",
    "enableBgp":

[2016-03-16 20:58] nitin16 commented on #1400
I found gatewaysize property on Azure reference but that is also not working.

https://msdn.microsoft.com/en-us/library/azure/mt130667.aspx

[2016-03-16 21:00] singhkay commented on #1400
@amitsriva Can you help with Gateways?

[2016-03-17 06:02] jimyjohny opened #1403 "How to verify admin password ?"
How to verify the password and confirm whether it meets the azure password policy for creating VM ?
Using the below values, it verify whether the password contain capital and small letters only at the time of creating VM and not before. Any options available so that password is verified before the template deployment is started ?

    "parameters": {
        "adminPassword": {
            "type":

[2016-03-17 15:29] bdanse opened #1407 "additionalUnattendContent FirstLogonCommands example"
Hi, could someone provide a working example of a VM using additionalUnattendContent.
For some reason I'm unable to get the FirstLogonCommands working. Always receive an error:
'The value of parameter windowsConfiguration.additionalUnattendContent.content is invalid.'

            "additionalUnattendContent": [
              {
                "passName": "oobeSystem",
                "componentName

[2016-03-17 18:09] singhkay commented on #1407
@bdanse The way I understand is that the XML value for content needs to be base64 encoded. What was the error you got?

[2016-03-17 19:22] bdanse commented on #1407
1e attempt :
`"content": "<FirstLogonCommands><AsynchronousCommand wcm:action=\"add\"><CommandLine>dir</CommandLine><Description></Description><Order>1</Order></AsynchronousCommand></FirstLogonCommands>"`

2e attempt with encoding

`"content": "base64('<FirstLogonCommands><AsynchronousCommand wcm:action=\"add\"><CommandLine>dir</CommandLine><Description></Description><Order>1</Order></Asynchronous

[2016-03-17 21:00] singhkay commented on #1407
@bdanse base64 usage looks off. Expressions are enclosed with brackets ([ and ]).

Try "content": "[base64('<FirstLogonCommands><AsynchronousCommand wcm:action=\"add\"><CommandLine>dir</CommandLine><Description></Description><Order>1</Order></AsynchronousCommand></FirstLogonCommands>')]"

If that doesn't work, then try base64 the value outside of the function and then paste that value in to the st

[2016-03-17 22:55] singhkay commented on #1403
Not currently in the template however the compute team is looking at doing some pre-deployment checks where this might surface as an error. No change will be needed from template authors for this.