[2020-05-06 07:06] RanojitMitra commented on #7481
I have faced the same issue and it seems you cannot change the run time environment (vm.max_map_count) of Azure Web Apps, you can only have access to view the environment.

[2020-05-06 12:42] rajakasinathan commented on #7491
Thanks for resolving it. I used the previous version.

[2020-05-06 14:30] bmoore-msft commented on #7510
The objectId is the "guid" of the principal/user you want to give access to the vault.  In you screenshot there's a gold bar that says something when wrong... check the accessPolicies on the vault in the portal and see what set there (and/or just refresh that page).

As for your pipeline, it depends on what accessPolicy you want to set - do you want the principal deploying the template to have acc

[2020-05-06 17:52] bmoore-msft commented on #7503
I'm not seeing this now... it's possible it was a transient issue /w github or portal.... if you see it again, feel free to reopen or file an issue in the portal

[2020-05-06 17:52] #7503 closed

[2020-05-06 17:52] bmoore-msft commented on #7491
thanks @al-lac

[2020-05-06 17:52] #7491 closed

[2020-05-06 17:54] bmoore-msft commented on #7480
this should be fixed now

[2020-05-06 17:54] #7480 closed

[2020-05-06 17:55] bmoore-msft commented on #7462
should be fixed now

[2020-05-06 17:55] #7462 closed

[2020-05-06 17:55] bmoore-msft commented on #7461
should be fixed now

[2020-05-06 17:55] #7461 closed

[2020-05-06 17:56] bmoore-msft commented on #7460
should be fixed now

[2020-05-06 17:56] #7460 closed

[2020-05-07 21:35] afarber commented on #7510
Thank you Brian, that has helped and I am able to deploy Redis. Could I please ask you a follow-up question? I am trying to retrieve the primaryKey for my "outputs", but the following fails:

[code]

And I have also tried:

[code]

The error message is:

[2020-05-07 23:33] Niglb opened #7515 "Install Configuration Manager Tech Preview Lab in Azure"
Install Configuration Manager Tech Preview Lab in Azure https://azure.microsoft.com/en-us/resources/templates/sccm-technicalpreview/

Failing on DSC/DCConfiguration.zip - extension error

I am trying to use your template to create a lab environment with a custom domain name - I modified the domainName value in the json but the deployment does not appear to like this - I get an extension error whil

[2020-05-10 17:48] Aditya0311 opened #7525 "Terraform : VMExtensionProvisioningError. Failed to download all specified files"
I am trying to provision a vm and promote it to domain controller through a powershell script by running through customscriptextension of AzureRM, but it is giving an unexpected network close error. I am importing the powershell script from a github repository to be run post deployment Here is the code:

[code]
This is the error that I receive:

Code="VMExtensionProvisioningError" Message="VM has

[2020-05-11 20:34] Tadimsky commented on #2786
There was no interest from the team in fixing this when I spoke to them about it. So I wouldn't hold my breath :(

[2020-05-11 23:31] bmoore-msft commented on #7510
you need to use a list* action (listKeys in this case) to retrieve a secret (since they require separate permissions)... but don't put that in your outputs, we don't allow it in the repo (though I'm sure you'll find some violations) and it makes the key available to anyone who has perms on the resource group (even if they don't have access to the secret).

[2020-05-12 00:45] takekazuomi opened #7528 "Deploy error in Azure Application Gateway Demo Setup template"
[Azure Application Gateway Demo Setup](https://github.com/Azure/azure-quickstart-templates/tree/master/application-gateway-demo-setup)

### Issue Details
Deploy To Azure fails. Below is the error message.

[code]

### Repro steps
1. click **Deploy To Azure** button.

### Cause
In the template that is used nested template. The nested template dose not have  **adminPassword**  parameter.
Nested temp

[2020-05-12 08:02] afarber commented on #7510
Thank you

[2020-05-12 08:02] #7510 closed

[2020-05-13 14:02] #7528 closed

[2020-05-14 12:26] mattmelton opened #7534 "Template syntax error"
[New webapp custom domain and ssl](https://github.com/Azure/azure-quickstart-templates/blob/master/webapp-keyvault-ssl/azuredeploy.json#L113)

### Issue Details

Missing opening square bracket in value:
`"siteName": "parameters('webAppName'))]",` should be `"siteName": "[parameters('webAppName'))]",`

[2020-05-14 12:54] EIT-Nathan opened #7535 "Unable to deploy policy set to resource group from an ARM template"
### Issue Details
I've tried to deploy a policy set to a resource group through an ARM template but I receive the following error (I have replaced my subscription ID within the error with a placeholder value). I am able to deploy this policy set to the resource group through the Azure portal :

New-AzureRmDeployment : 13:28:23 - Resource Microsoft.Authorization/policyAssignments 'DeployAzuremonito

[2020-05-15 10:12] roofiq opened #7541 "Virtual Networks - subnet, delegation array"
Hello,

I'm working on ARM template creating VNet with subnet and all the components.
[Subnets arm template](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/virtualnetworks/subnets)

Why "delegations" is an array? There can't be more delegation than one, right? It has to be one service for subnet.

Thanks,
Rafal

[2020-05-15 10:52] adritrix commented on #3290
@dhananjayzambre I'm having the same problem as you. Did you fix it? If so I would appreciate your help.

[2020-05-15 15:36] pmozbert opened #7543 "create budget template missing detail on multiple notifications"
[create-budget](https://github.com/Azure/azure-quickstart-templates/tree/master/create-budget)

### Issue Details
The deploy.json template shows a notification array with a single item named "First-Notification".  It is not documented whether the names of notification items are fixed, or if any string can be used.  Is the order of notifications based on the threshold value, or on the name?  Does t

[2020-05-15 22:43] ashwini0723 commented on #7204
yes it is possible

[2020-05-17 11:40] nidiculageorge opened #7555 "Is there an option to bring back any deleted RG from Azure subscription"
Hi Team,

Is there any option to bring back a deleted RG from an azure subscription. Is it possible to bring back the RG

[2020-05-18 23:34] ashwini0723 opened #7563 "Multiple Backends and Multiple Frontends for Standard Loadbalancer via ARM template"
I am trying to create a Standard Loadbalancer template having multiple backend pools and multiple frontend properties but was getting a below error. I tried deploying the template through "copy" function but getting an error of invalid property

**Error: {"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please se

[2020-05-21 14:18] bmoore-msft commented on #7555
No, this is not possible today...

[2020-05-21 14:18] #7555 closed

[2020-05-21 14:26] bmoore-msft commented on #7535
From the error it looks like you're deploying that policy to subscription scope - you want to deploy it to the resourceGroup you're assigning it to.

[2020-05-21 15:59] bmoore-msft commented on #7534
merged

[2020-05-21 15:59] #7534 closed

[2020-05-21 16:01] bmoore-msft commented on #7471
thank you

[2020-05-21 16:01] #7471 closed

[2020-05-21 16:02] bmoore-msft commented on #7341
which arm template?

[2020-05-22 03:41] wenboyang214 commented on #4010
doing this will show others your script. it's not a recommended way. the storage account name and key here are design to avoid this.

[2020-05-22 13:36] bmoore-msft commented on #7541
Not 100% certain but I suspect it's either possible to have more than one (though I agree it seems odd) or they are allowing for future expansion without a breaking change.  You could post a question in the docs and should be able to get a more definitive answer.

Since this isn't really a QuickStart issue I'm going to close out the issue.

[2020-05-22 13:36] #7541 closed

[2020-05-22 13:37] bmoore-msft commented on #7563
If this is related to a QuickStart, can you post a link to the sample?

[2020-05-22 13:57] bmoore-msft commented on #7543
The documentation shows the notifications as a dictionary object, which means the name can be anything.  I don't see anything that indicates the order of notifications, just the threshold.  I would recommend asking in the docs forum or StackOverflow - could also tweet @AzureSupport.

[2020-05-22 13:57] #7543 closed

[2020-05-22 14:02] bmoore-msft commented on #7515
@yizhongwu - any ideas?

[2020-05-22 14:04] bmoore-msft commented on #7525
@grayzu do we have a forum for TF questions?

[2020-05-22 14:05] bmoore-msft commented on #7469
@sporter83 - Can you try posting this in the docs forum or tweet @AzureSupport?

[2020-05-22 19:35] abatishchev opened #7581 "101-cosmosdb-create vs 101-cosmosdb-sql"
Templates in question:

- https://github.com/Azure/azure-quickstart-templates/tree/master/101-cosmosdb-create
- https://github.com/Azure/azure-quickstart-templates/tree/master/101-cosmosdb-sql

### Issue Details

Both are near identical, basically the only difference is in the API version.

It might be confusing for the customers, especially who just start. Should one of them be deleted?
If yes th

[2020-05-22 20:59] markjbrown commented on #7581
The first one was created by @SnehaGunda and is used for our [ARM Template QuickStart doc](https://docs.microsoft.com/en-us/azure/cosmos-db/quick-create-template).

But yes agree it's largely duplicative and the quickstart doc could use the other one which I maintain and keep up to date.

[2020-05-23 01:05] bmoore-msft commented on #7459
#7582

[2020-05-23 01:05] #7459 closed

[2020-05-23 01:06] bmoore-msft commented on #7581
@markjbrown - can you submit the PR to delete when the docs are updated

[2020-05-23 01:06] #7389 closed

[2020-05-23 01:07] #7416 closed

[2020-05-23 01:48] markjbrown commented on #7581
Yes sure. Give us a week or so if ok. We've got a ton of things to clean up after BUILD but will get to it.

Thanks!

[2020-05-24 16:26] Eggs1224 opened #7583 "101-SQL-Injection-Attack-Prevention Deployment Failures"
Attempting to deploy the above results in errors as below:

Missing the required 'storage key parameters' for import/export operation

![image](https://user-images.githubusercontent.com/48138314/82759180-8dc73080-9de3-11ea-92b9-714dfdde6aa6.png)

{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please se

[2020-05-26 13:57] asubmani opened #7585 "201-deployment-script-ssh-key-gen - how to ssh??"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-05-26 18:01] bmoore-msft commented on #7581
sounds good - no rush, just don't want to forget...

[2020-05-26 18:10] andrewiankidd commented on #6767
I managed to work around this by doing the following:

My Input
[code]

My Parameter
[code]
My Variable
[code]

My Resource
[code]

[2020-05-27 14:45] javierfigueroa commented on #7126
Anyone been able to deploy?

[2020-05-28 07:58] shamikelanco opened #7592 "Issue While Registration of Self Hosted Integration Runtime"
Facing issue while deploying the azuredeploy.json file from "https://github.com/Azure/azure-quickstart-templates/tree/master/101-vms-with-selfhost-integration-runtime".

The Template is able to create all the infrastructures but facing issue while running gatewayInstall.ps1 script which is called from IRInstall.json template file.

The issue is occurring during gateway registration with the SelfHo

[2020-05-28 16:00] vfab opened #7593 "101-app-service-certificate-standard problem"
@al-lac,

When I run this template the deployment hangs on the `Microsoft.CertificateRegistration/certificateOrders/certificates` resource.  It will run for hours but never get past that resource.  Any ideas what might be wrong?

FWIW I have granted the RPs access to Key Vault, as per the prerequisites in the README.  Also, I am setting the `rootHostName` to my Traffic Manager URL, which is what I

[2020-05-28 16:11] #7583 closed

[2020-05-30 13:48] al-lac commented on #7593
Hi @vfab,

i tried it myself but my subscription does not allow me to create something that is deployed from the template.
I can however also add an App Service Managed Certificate via the Portal like you.

Maybe @bmoore-msft can help out?

[2020-05-31 22:59] sdg002 opened #7608 "ARM template for Redis cache does not have minimum TLS version"
https://github.com/Azure/azure-quickstart-templates/blob/master/101-redis-cache/azuredeploy.json

### Issue Details
The redis template does not specify the minimum TLS version in the ARM template. This makes Azure portal to display the warning message.

** TLS 1.0 and 1.1 support is being retired soon, which may impact... **

[2020-05-31 23:18] sdg002 opened #7609 "Redis cache failed to deploy because of invalid storage account"
https://github.com/Azure/azure-quickstart-templates/blob/master/101-redis-cache/azuredeploy.json

### Issue Details
I tried deploying a Basic Redis instance using the ARM template. After a wait of more than 15 minutes the deployment completed and the portal reported a failure.

[code]
I can understand that the storage account specified in the `parameters.json` "GET-PREREQ-existingDiagnosticsStorag

[2020-06-01 17:21] bmoore-msft commented on #7609
@sdg002 - can you add the sample you're using to the top of the issue?

[2020-06-01 17:23] bmoore-msft commented on #7608
@steved0x

[2020-06-01 17:25] bmoore-msft commented on #7585
You would copy the key locally... the sample is meant to show how you can generate keys during deployment and make them available for later use.

[2020-06-01 17:37] siva-apim opened #7612 "Accessing Linked templates stored in Azure DevOps GIT"
Is it possible to access Linked templates from Private GIT Repo on Azure Devops, if yes - please advise on how to do the Authentication and Authorization with private GIT repo ?

I have tried to provide Personal Access token but seems to be not working from ARM perspective but works from browser because I am already logged in to the Azure Devops Organization.

Please provide inputs on how to achie

[2020-06-01 22:14] sdg002 commented on #7609
@bmoore-msft  Link to ARM template added. Thanks for reminding.

[2020-06-01 23:03] bmoore-msft commented on #7612
it's not possible to use a private repo, but if you follow the patterns for best practices in the repo you can see a pattern for how to stage files from source code for deployment.

[2020-06-01 23:03] #7612 closed

[2020-06-01 23:06] bmoore-msft commented on #7592
Are you using an ampersand in a parameter value?

The template is passing automated tests, so it doesn't seem like it's an issue with the sample...

[2020-06-01 23:08] bmoore-msft commented on #7426
See: https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2020-04-01/virtualnetworks/subnets

[2020-06-01 23:08] #7426 closed

[2020-06-02 14:27] DennisGaida opened #7637 "Base64 encoded configuration does not represent current configuraiton"
Image name: guacamole-rdp-vnc-gateway-existing-vnet

### Issue Details
The base64 encoded configuration in the following files does not represent the current config:

- https://github.com/Azure/azure-quickstart-templates/blob/master/guacamole-rdp-vnc-gateway-existing-vnet/azuredeploy.json
- https://github.com/Azure/azure-quickstart-templates/blob/master/guacamole-rdp-vnc-gateway-existing-vnet/scri

[2020-06-02 17:49] bmoore-msft commented on #7609
the template as written unconditionally expects a storage account to enable the diagsSetting on the cache... the enabled/disabled settings can be toggled post provisioning.  So the scenario is provisioning redis with diags and the the default turns off logging.

It is a bit odd... but not incorrect.  The param for the storageAccount is required (and needs to be valid).

[2020-06-02 20:47] bowlerma commented on #2786
Just fell foul of this as well.  :(  Whilst you can declare the subnets as properties of the VNet, as long as you don't mind everything being declared within the same template, it's not as flexible particularly if you are using copy loops to create a number of subnets as the subnet object is quite a complex object.

[2020-06-03 21:23] markjbrown commented on #7581
Just submitted a PR to remove this template.
https://github.com/Azure/azure-quickstart-templates/pull/7644

Can merge at any time. Our docs now point to another I authored.

Thanks.

[2020-06-05 10:07] Bjego commented on #7481
Is anyone taking care of these templates?
I've tried it as well - also with a docker compose config to set the values. But Azure doesn't seem to like changing the requried hosting options.

[2020-06-05 23:11] bmoore-msft commented on #7439
This is not possible via templates today... may be worth opening a feedback item though.

https://feedback.azure.com

[2020-06-05 23:11] #7439 closed

[2020-06-07 02:22] prashant-kumar-mishra opened #7659 "Error: active-directory-new-domain-ha-2-dc"
When I am trying to run this template, I get below error.
An item with the same key has already been added.'. (Code: InvalidTemplate)

Can you please fix this issue?
![image](https://user-images.githubusercontent.com/22879359/83958813-35ad1700-a844-11ea-99fc-6b662bbdeeae.png)

[2020-06-07 13:11] #7609 closed

[2020-06-07 13:26] bmoore-msft commented on #7659
@prashant-kumar-mishra - can you open a support ticket with the Azure portal (or tweet @AzureSupport).  The template is working find in CI/CD so it looks to be a portal issue.

If you need to get unblocked, you can use the scripts in the root of the repo to deploy the template.

[2020-06-08 09:21] Shaikngit opened #7664 "Template deployment (Create a new AD Domain with 2 DCs using Availability Zones) failing with error"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-06-08 15:02] koenhalfwerk opened #7666 "Templates with AD domain get InvalidTemplate error"
[active-directory-new-domain](https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain/)
[301-create-ad-forest-with-subdomain](https://github.com/Azure/azure-quickstart-templates/tree/master/301-create-ad-forest-with-subdomain)

When trying to deploy these to templates, I get an error, that suggests the template is faulty.
I can't find an actual error in the two

[2020-06-08 15:04] koenhalfwerk commented on #7666
this sad oneliner should work (geven that the rg exists)
[code]

but even the gui doesn't work

[2020-06-08 17:48] djmore123 opened #7668 "This SQL Server cluster template is failing - sqlvm-alwayson-cluster"
I am trying to deploy this azure-quickstart-templates/sqlvm-alwayson-cluster/ template

but it keeps failing with this message -

Deployment template validation failed: 'An item with the same key has already been added.'.
{
"deploymentStatusCode": -1,
"stage": 6,
"expected": true,
"error": {
"message": "Deployment template validation failed: 'An item with the same key has already been added.'."

[2020-06-08 19:27] bmoore-msft commented on #7659
We've identified a scenario that was regressed with a rollout that completed late last week.  If you have a deployment that deploys the same resource twice e.g. once to create it, once to update it later with information from something else in the deployment, this template will fail the /validate api.  Most tools (PowerShell, CLI, Portal) that perform template deployments in Azure automatically ca

[2020-06-08 19:28] bmoore-msft commented on #7664
We've identified a scenario that was regressed with a rollout that completed late last week.  If you have a deployment that deploys the same resource twice e.g. once to create it, once to update it later with information from something else in the deployment, this template will fail the /validate api.  Most tools (PowerShell, CLI, Portal) that perform template deployments in Azure automatically ca

[2020-06-08 19:28] bmoore-msft commented on #7666
We've identified a scenario that was regressed with a rollout that completed late last week.  If you have a deployment that deploys the same resource twice e.g. once to create it, once to update it later with information from something else in the deployment, this template will fail the /validate api.  Most tools (PowerShell, CLI, Portal) that perform template deployments in Azure automatically ca

[2020-06-08 19:29] bmoore-msft commented on #7668
We've identified a scenario that was regressed with a rollout that completed late last week.  If you have a deployment that deploys the same resource twice e.g. once to create it, once to update it later with information from something else in the deployment, this template will fail the /validate api.  Most tools (PowerShell, CLI, Portal) that perform template deployments in Azure automatically ca

[2020-06-09 02:00] Shaikngit commented on #7664
@bmoore-msft Thanks for the update , just want to know if we have an ETA for this fix

[2020-06-09 03:17] bmoore-msft commented on #7664
not yet, but we have a fix in PR - if all goes well we will start a rollout tomorrow (it needs to hit all regions)

[2020-06-09 11:52] sam-quant commented on #7481
+1 the same issue, any ideas how to run it with Azure Web apps?

[2020-06-09 17:12] takekazuomi commented on #7117
@bmoore-msft I had the same problem, but it worked your way. Thank you.
I am reporting the following sample has the same issue.
https://github.com/Azure-Samples/app-service-msi-keyvault-dotnet/blob/master/azuredeploy.json#L101

[2020-06-09 17:59] bmoore-msft commented on #7117
Thanks @takekazuomi - can you open an issue against that sample in the samples repo?

[2020-06-09 23:28] bmoore-msft commented on #7659
This fix has been rolled out to all regions...

[2020-06-09 23:28] #7659 closed

[2020-06-09 23:28] bmoore-msft commented on #7664
This fix has been rolled out to all regions...

[2020-06-09 23:28] #7664 closed

[2020-06-09 23:28] bmoore-msft commented on #7666
This fix has been rolled out to all regions...

[2020-06-09 23:28] #7666 closed

[2020-06-09 23:28] bmoore-msft commented on #7668
This fix has been rolled out to all regions...

[2020-06-09 23:28] #7668 closed

[2020-06-10 00:26] prashant-kumar-mishra commented on #7659
Thanks Brian. It's working now.

[2020-06-10 00:27] bmoore-msft commented on #7659
thanks for confirming

[2020-06-10 03:29] takekazuomi commented on #7117
@bmoore-msft  I opened Issue on the sample repo yesterday.
https://github.com/Azure-Samples/app-service-msi-keyvault-dotnet/issues/14

[2020-06-10 11:50] JoshuaK1 opened #7672 ""platformUpdateDomainCount" should be number type, currently set as String"
https://github.com/Azure/azure-quickstart-templates/blob/a9051fa10f961a27f6662a5240957c02841719e0/101-availability-set-create-3FDs-20UDs/azuredeploy.json#L21

[2020-06-10 13:46] LALITAMITTAL18 opened #7673 "The template resource '[concat(parameters('Vault_name'), '/', parameters('secretsObject').secrets[copyInd ex()].secretName)]' at line '73' and column '9' is not valid: The language expression property 'secrets' doesn't exist, available properties are 'CliXml'"
201-key-vault-secret-create [(https://github.com/Azure/azure-quickstart-templates/tree/master/201-key-vault-secret-create)

Below is my Parameters.Json file:
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
"Vault_name":"KVCheck",
    "secretsObject": {
      "value": {
        "secrets": [

[2020-06-11 13:56] Titismile commented on #2392
I am trying with this to create one of the SFTP connector, Issue am getting is :-
[code]

Posted the issue in StackOverFlow
[](https://stackoverflow.com/questions/62325824/issue-with-arm-template-for-creating-sftp-connector)

[2020-06-12 05:16] santhoshb-msft opened #7682 "Deploy App Service Domain using ARM template Microsoft.DomainRegistration/domains"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-06-12 06:30] #7682 closed

[2020-06-12 08:27] #7469 closed

[2020-06-12 13:00] techadmin1982 opened #7683 "Unable to create Custom RBAC Role using ARM template"
I have attached both the deploy ARM template, Parameters JSON. As per MSFT API documentation (all links are at the end) "Actions" is String[] aka Array. I used this logic to declare Actions as type = "Array" in the ARM. Tested that only with a single parameter value but it failed during deployment:

At line:3 char:1
+ az deployment sub create --location $location --template-file $templa ...
+ ~~~~

[2020-06-13 16:47] afarber opened #7684 "RDP connection to VMSS instances refused for service-fabric-secure-cluster-5-node-1-nodetype deployment"
[service-fabric-secure-cluster-5-node-1-nodetype](https://github.com/Azure/azure-quickstart-templates/tree/master/service-fabric-secure-cluster-5-node-1-nodetype)

Hello and thank you for your templates!

I have the following problem with the [service-fabric-secure-cluster-5-node-1-nodetype](https://github.com/Azure/azure-quickstart-templates/tree/master/service-fabric-secure-cluster-5-node-1-node

[2020-06-14 09:55] techadmin1982 commented on #7683
I have solved the issue after doing some research on other forums. Here is the updated ARM template

`{
    "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "roleName": {
            "type": "string"
        },
        "description": {
            "type": "string"
        },

[2020-06-14 09:55] #7683 closed

[2020-06-15 10:29] EpicApex commented on #5442
Still getting this issue.

AAD role propagation done[############################################]  100.0000%Operation failed with status: 'Bad Request'. Details: Changing property 'linuxProfile.ssh.publicKeys.keyData' is not allowed.

[2020-06-17 06:27] #7581 closed

[2020-06-18 00:41] alakiran opened #7701 "Not able to set the diagnostic logs settings through ARM Template deployment for Cosmos DB"
### Issue Details:

Not able to set the diagnostic logs settings through ARM Template deployment for Cosmos DB.

We were able to set it earlier couple of months back and its not working any more. Below is the ARM template code and Attached are the error details, Tried multiple ways of handling it with no luck. Any help is appreciated!

    {
      "type": "providers/diagnosticSettings",
      "nam

[2020-06-18 06:31] afarber commented on #7684
This seems to be a bug in SF cluster ARM template deployment:

The RDP credentials for VMSS instances are not updated until clicking "Reimage" button.

Please see more details in [my description at Stackoverflow](https://stackoverflow.com/a/62443663/165071)

[2020-06-18 16:14] Big0Bertha commented on #6670
Same issue here. Any status updates?

[2020-06-19 01:27] jaquecr commented on #7335
Hi team!

I had the same problem, but corrected!

Switch the protocol to **HTTP** on URLs

**'https://schemas.microsoft.com/BizTalk/2003/userCSharp'**

**'https://schemas.microsoft.com/BizTalk/2003/var'**

[2020-06-19 01:32] r2roesk commented on #6620
Same problem. Has been going since last year. Any updates?

[2020-06-19 13:10] amit-sycomp commented on #6481
Hello, edburns,

How you have fixed that? Any suggestion

[2020-06-22 08:46] kostaskr2020 opened #7716 "monitoring solution for Azure Backup not working"
[OMS monitoring solution for Azure Backup](https://github.com/Azure/azure-quickstart-templates/tree/master/101-backup-oms-monitoring)

### Issue Details
I install the template to my Azure account directly from github link. It completes without errors but i still cannot find the backup view. The solution exists. Cant find the view
### Repro steps (*if necessary, delete otherwise*)
1. I click Deploy

[2020-06-23 09:48] deny619 opened #7723 "Update subnets with Incremental Deployment"
I'm trying to update subnets with below ARM code to update it's private endpoint policy, enable service endpoint and delegate subnet to a service in Incremental mode. However when I run it, it remove the NSG/UDR on the subnets, I'm afraid it is also changing other subnet settings to their default value. How can I deploy this via ARM by only changing the specified configuration.

        {

[2020-06-23 18:51] maddyloo opened #7726 "Azure site not synced with github"
[tableau-server-single-node](https://github.com/Azure/azure-quickstart-templates/tree/master/tableau-server-single-node/)

### Issue Details

Template was updated 2 months ago & merged recently.  The Azure site & portal launch options seem to be broken: https://azure.microsoft.com/en-us/resources/templates/tableau-server-single-node/

The website does not reflect the correct updated date from the

[2020-06-23 18:56] #7701 closed

[2020-06-23 18:59] alakiran commented on #7701
The way the template file is organized is not correct, After changing it as a subresource, it started working fine.

[2020-06-24 00:24] zendu opened #7728 "Deploy-AzTemplate.ps1 fails with error A parameter cannot be found that matches parameter name '_artifactsLocation'."
[Deploy-AzTemplate.ps1](https://github.com/Azure/azure-quickstart-templates/blob/master/Deploy-AzTemplate.ps1)

### Issue Details
New-AzResourceGroupDeployment: <directory containing the script>\Deploy-AzTemplate.ps1:214
Line |
 214 |              @OptionalParameters `
     |              ~~~~~~~~~~~~~~~~~~~
     | A parameter cannot be found that matches parameter name '_artifactsLocation'.

###

[2020-06-24 00:45] zendu commented on #7728
Apparently -StorageContainerName parameter is mandatory even if it's marked as optional in script.

[2020-06-24 00:45] #7728 closed

[2020-06-24 07:58] steinrr opened #7730 "Bug in the 101-hub-and-spoke templates"
101-hub-and-spoke-sandbox https://github.com/Azure/azure-quickstart-templates/tree/master/101-hub-and-spoke-sandbox

### Issue Details
The templates fails if gateway is set to YES. The reason is that the peering from spokes are created before the gateway itself, and then the useremotegateway in the peering cannot be set to true:

`        "statusMessage": "{\"error\":{\"code\":\"RemoteVnetHasNoGat

[2020-06-26 02:26] scottgorlick commented on #2786
now that we have management group and subscription, and even multi subscription deployments, can we please make this work?

I have a scenario where we deploy many resource groups with VNET Peering... one option in our architecture is to deploy Azure Bastion... once we deploy bastion (which adds a subnet to our original VNET), our system becomes immutable by our deployment due to this failure... ou

[2020-06-26 18:15] vfab commented on #7593
FWIW I found a [sample template online](https://dotnetdevlife.wordpress.com/2019/11/12/arm-app-service-managed-certificate/) that works for me.  It's using the free version of App Service certificates, which have some limitations, but at least it works.

Of course this quickstart template still needs fixed.  A broken template is **not** a "quickstart".

[2020-06-27 08:37] MCKLMT commented on #2786
@NarayanAnnamalai @anavinahar Can you help on this issue?

[2020-06-28 01:30] #2981 closed

[2020-06-28 20:44] tomkuijsten opened #7747 "Web app deployed with alwaysOn seems to be impossible to downscale through ARM"
This is not so much a complaint about a template, maybe more of a suggestion to add a sample.

I wanted to have a template where you could configure the App Service Plan tiers. This seemed to be very easy and lot's of samples exists in this repo. However, if you have the "alwaysOn" property set to "true" in one of the web apps and want to scale to a tier that doesn't allow this function (shared an

[2020-06-29 08:27] DimitrovMiro commented on #7701
@alakiran what do you mean changing it as a subresource. Could you please be more specific. I am looking to enable the diagnostic settings in an arm template as well

Regards,

Miro

[2020-06-29 11:55] esahanhunter commented on #2786
This happens only with that deployment of V-net not with the subnet's what i added a condition(only in virtualnetwork resource) in creation of vnet so that only in first time deployment Virtual network gets created and subnes can be update\create based on parameter(i am dealing subnet as separate resource no as a subnet property.).

 "resources": [
    {
      "type": "Microsoft.Network/virtualNet

[2020-06-29 16:37] scottgorlick commented on #2786
would be nice to have analogous behavior to ARM's deployment mode settings, "Complete" or "Incremental", but this should suffice with a limited prerequisite check... in my bash az cli deployment (that wraps around the declarative deployments, i'm doing this now, per your workaround".  my condition statement will be:

"condition": "[parameters('deployVnet')]"

[code]

[2020-06-30 04:39] nirvanatao commented on #2786
This solution worked for me https://pkm-technology.com/azure-vnet-json/

[2020-06-30 10:12] al-lac commented on #7593
I just tried it again and it works fine as long as you have verified the domain ownership of your custom domain. Make sure to check the App Service Certificate Status, if it says **"Pending Issuance"** then you probably need to verify your domain before the template can continue running.

![image](https://user-images.githubusercontent.com/11136952/86114080-5aef1700-baca-11ea-8f6c-8df6c1e43295.png)

[2020-06-30 17:56] Vindi-Van commented on #2761
Was this issue resolved? I am experiencing the same

[2020-07-01 13:13] karatyman commented on #2761
Usually when I see this error I'm missing a bracket or a quote or something from a previous block

[2020-07-01 20:00] larryclaman opened #7757 "101-vm-secure-password does not reference keyvault"
Regarding azure-quickstart-templates/tree/master/101-vm-secure-password, this template does not reference a key vault.

[Template Name goes here](Template link goes here)

### Issue Details
This template is described as "This template allows you to deploy a simple Windows VM by retrieving the password that is stored in a Key Vault. Therefore the password is never put in plain text in the template

[2020-07-01 20:21] JohnathonMohr commented on #7757
The modification was made to allow this template to pass CI/CD checks by conforming to the guidance in the [Contribution Guide](https://github.com/Azure/azure-quickstart-templates/tree/master/1-CONTRIBUTION-GUIDE#parameters-file-placeholders) (under Key Vault Related placeholders).

However, I do see this makes the demonstration of the template more difficult to understand/follow and replicate.

@

[2020-07-01 20:29] larryclaman commented on #7757
@JohnathonMohr seems like there's a disconnect between the placeholders that are specified in the Contribution Guide and the actual template.  When I try to deploy the template, I end up with a VM with a plain old password that does not seem to reference any keyvault during its configuration.  So it seems like the point of the ARM template sample is lost, in that it does not provide a reference to

[2020-07-01 21:18] JohnathonMohr commented on #7757
@larryclaman yes, the template currently does not provide a valuable demonstration of how to retrieve the password from a KeyVault.  The template originally referenced the KeyVault in the parameters file (not the template itself), and the retrieved password was then passed to the template as a parameter.  Since the parameters file was changed to conform to the contribution guide, that KeyVault ref

[2020-07-01 21:45] JohnathonMohr commented on #7757
@larryclaman I was able to fix the parameters file in the sample to bring back the intended demonstration.  Pull request is #7758.  Once @bmoore-msft signs off I can merge it.

[2020-07-02 17:20] jotasixto commented on #7184
Hi everyone! Any news about it?

I'm trying to do this but I always get the same error:

[code]
I suspect a problem with the item `name`, what format they should be this? I don't see any reference about FileShares in https://docs.microsoft.com/en-us/azure/templates/microsoft.recoveryservices/vaults/backupfabrics/protectioncontainers/protecteditems

Thanks in advance for the help!

[2020-07-02 17:23] migel0 commented on #7184
Here the same behavior.
It seems  the property format of **name** in this case is mandatory and not documented.

I have got success hardcoding  the long string  "661bd40fac4e36949e3e814039158f0b6c27ee8a497452559176d00f0cf257cb6"

[code]

[code]

It is not complete functional, but it works

[2020-07-03 02:47] scottgorlick commented on #2786
@esahanhunter , with the setup you describe above (snipped):
[code]

I keep getting our favorite error:
InvalidTemplate - Deployment template validation failed: 'The resource 'Microsoft.Network/virtualNetworks/<VNET_NAME>' is not defined in the template. Please see https://aka.ms/arm-template for usage details

I'm using AZ CLI to deploy from an ubuntu host... pretty sure the error is not happenin

[2020-07-03 06:20] esahanhunter commented on #2786
@scottgorlick u might be passing wrong name in parameter i just copied a working snippet here :)

[2020-07-03 14:04] glennsaint-86 opened #7764 "Web App Deployment Slot doesn't turn on System Assigned Identity"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-07-04 15:06] scottleyg commented on #2786
Your scenario is very simple.  I assure you, my deployments, that work 100% the first time and fail 100% on redeploy with this error are properly crafted, but just don't work with this broken semantic.

I can make your simple template work... and if i apply the pattern to my deployment (which is a subscription level deployment to a variable amount of resource groups), it will succeed when I seploy

[2020-07-06 14:56] realrubberduckdev opened #7767 "Create subscription for 'Azure subscription as an Event Grid source'"
[Create Event Grid subscription for resource events](https://github.com/Azure/azure-quickstart-templates/tree/master/101-event-grid-resource-events-to-webhook)

### Issue Details

The readme on the template above says `This template creates Event Grid subscription for either a resource group or Azure subscription` but it always creates a resource group subscription. We can see this on Azure portal

[2020-07-06 18:22] benaboki opened #7768 "Update dokku quickstart template"
[Deploy a Dokku Instance](https://github.com/azure/azure-quickstart-templates/tree/master/dokku-vm)

### Issue Details
The template fails to run. Version number is outdated. Deployment fails with the following messages:

- "code": "VMExtensionProvisioningError",
- "message": "VM has reported a failure when processing extension 'initdokku'. Error message: \"Enable failed: failed to execute command:

[2020-07-07 15:29] jamiemccrindle commented on #5485
I'm still getting this issue. ARM deployment appears to be in an infinite loop. Also can't cancel the deployment.

[2020-07-07 20:32] ankurkhemani commented on #5485
@jamiemccrindle Are you getting the same error message `HomeReplicationCannotBeDeleted`?
Does the deployment succeed without Complete mode?

[2020-07-08 18:06] jamiemccrindle commented on #5485
Yes, it did succeed when I switched to Incremental. This is the only thing in the resource group, so Incremental will work.

[2020-07-08 18:39] ankurkhemani commented on #5485
@jamiemccrindle Great! Although, the complete mode deployment should work as well.

[2020-07-09 11:12] VOVELEE commented on #6670
This issue is really annoying. Any update on fixing it?

[2020-07-09 12:39] VOVELEE commented on #6670
Actually you can redeploy it if you extend the ARM template with the rules required by networkIntentPolicies. See @marcin-vt suggestion

[2020-07-10 12:11] HamzaBoukraa commented on #7341
Could you mention which template ? @arnoldtropo

[2020-07-13 11:20] HamzaBoukraa commented on #7768
@benaboki :
Will be fixed in a PR today

[2020-07-14 08:10] djpirra opened #7814 "API connection for Azure Data Factory"
Is it possible to have a demonstration on how to deploy an API connection to Data Factory and what are the parameters possible to setup?

[2020-07-14 08:11] djpirra opened #7815 "API connection to Office365"
Is it possible to create a template for deploying an Office 365 connection to use within Logic Apps?

[2020-07-15 04:33] kaushikgayal commented on #2840
+1

[2020-07-15 04:35] kaushikgayal commented on #2840
When I am running the ARM template from my local machine, it works fine.
But doesn't work when I am running from Azure DevOps.
Also, I observed that another account which has access of Domain Admin was able to execute the ARM template without any issues.

[2020-07-15 16:44] mepand commented on #7184
@stephenmontgomery @jotasixto @migel0 Configuring protection for azure file share via ARM template is currently not supported. We are working on this and it would be available by end of Q3 CY 2020.
@migel0 It worked for you because you provided the Unique ID of the file share, which we implemented as part of recently released soft delete feature , but its currently not exposed publicly so we are w

[2020-07-15 19:43] jotasixto commented on #7184
@mepand  Thank you very much for your help!

[2020-07-15 20:50] halradaideh commented on #4010
any update here ?
/reopen

[2020-07-17 14:27] rafael-teixeira opened #7831 "Deploy APIM with "Management REST API" enabled through ARM Template"
Hello,

I'm trying to deploy a APIM with "Enable Management REST API" feature enabled via ARM template but I didn't find a way to set that property in ARM based on the current documentation.

Please, does anyone know if that is possible?

[2020-07-20 05:10] kaushikgayal commented on #6394
I am now using Azure CLI script to join domain as an alternative:

az vm extension set -n JsonADDomainExtension --publisher Microsoft.Compute --version 1.3 --vm-name $(vmname) --resource-group $(resourcegroupname) --settings '{\"Name\":\"gifs.com\", \"OUPath\":\"$(OUPath)\", \"User\":\"$(aduser)\", \"Restart\":\"true\", \"Options\":\"3\"}' --protected-settings '{\"Password\":\"$(adpass)\"}'

[2020-07-20 05:11] kaushikgayal commented on #6394
I am now using Azure CLI script to join domain as an alternative:

az vm extension set -n JsonADDomainExtension --publisher Microsoft.Compute --version 1.3 --vm-name $(vmname) --resource-group $(resourcegroupname) --settings '{"Name":"$(domainName)", "OUPath":"$(OUPath)", "User":"$(aduser)", "Restart":"true", "Options":"3"}' --protected-settings '{"Password":"$(adpass)"}'

[2020-07-20 10:17] kauemendes opened #7839 "Syntax error near unexpected token `<'"
https://github.com/Azure/azure-quickstart-templates/blob/627e441c3e0c9c41030242cc730abcc5d7824794/shared_scripts/ubuntu/vm-disk-utils-0.1.sh#L249

Hello guys, can someone please help me?

I am getting **syntax error near unexpected token `<'**

`read UUID FS_TYPE < <(blkid -u filesystem ${PARTITION}|awk -F "[= ]" '{print $3" "$5}'|tr -d "\"")'`

It corresponds to line #249

Please, enlighten me!

[2020-07-20 11:06] #7839 closed

[2020-07-21 17:35] benaboki commented on #7768
Just tested and saw that the dokku version is still 0.10.3. I spent hours trying to troubleshoot this and the error messages I was getting were not helpful.

[2020-07-22 22:05] sm1810 commented on #7814
@djpirra
Few days ago I was also searching for some documentation related to this. Unfortunately there isn't any clear documentation on API connections via templates. Below is what I implemented and it worked for me. You will have to create a Service Principal which has access to this data factory.

[code]

[2020-07-23 13:25] benkins commented on #7302
Hi,

Setting the option "apply free tier discount" to "do not apply" allowed it to deploy. (For me)

[2020-07-25 09:47] MCKLMT commented on #7313
The developer image is not available in BYOL. You should use the SQL2017-WS2016 offer.

[2020-07-25 09:50] MCKLMT commented on #7148
It's not yet possible.

[2020-07-25 10:01] MCKLMT commented on #7147
The template uses D series VM. Please check D series availability in the region before deploying. You can also consider editing the template to switch to Dv2 series which is more largely disponible.

[2020-07-25 19:40] bmoore-msft commented on #7730
fixed in #7865

[2020-07-25 20:50] bmoore-msft commented on #7608
thx @MCKLMT

[2020-07-25 20:50] #7608 closed

[2020-07-26 01:27] JQUINONES82 commented on #5831
I have seen this issue.  If I run the deployment right after it works.  https://stackoverflow.com/questions/63083599/using-deployment-template-resource-and-receiving-resource-group-not-round-but-al

[2020-07-26 06:09] MCKLMT commented on #7295
Corrected by pull request #7784

[2020-07-26 06:17] MCKLMT commented on #7292
Please share reproduction steps because my tests are successfuls. Thanks.

[2020-07-26 06:21] MCKLMT commented on #7206
Fixed in pull request #7411

[2020-07-26 06:22] MCKLMT commented on #7192
Please share template used to get help.

[2020-07-26 06:24] MCKLMT commented on #7190
You should define your own administrator password which will be used at the virtual machine deployment.

[2020-07-26 06:32] MCKLMT commented on #7178
I'm not able to reproduce the described behavior. Please check on your side.

[2020-07-26 06:45] MCKLMT commented on #7146
Please provide reproduction steps to get help.

[2020-07-26 06:46] MCKLMT commented on #7141
Please consider closing this issue if solved.

[2020-07-26 07:17] #7178 closed

[2020-07-26 07:17] tw3lveparsecs commented on #7178
Yep doesn't seem to be an issue anymore.

[2020-07-27 14:39] MCKLMT commented on #7815
Yes, it should be possible to deploy a Logic App from an ARM template. You can check the documentation to understand how to author your script: https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-resource-manager-templates-overview
However, after deployment, you will have to give access to your tenant from the Logic App user interface to the Office 365 connector.

[2020-07-27 14:41] bmoore-msft commented on #7672
thx @MCKLMT

[2020-07-27 14:41] #7672 closed

[2020-07-28 07:40] nawijesi opened #7871 "Automation Managed Node Template Fails Deploy to Azure"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-07-28 07:42] MCKLMT commented on #7871
Can you share the error message?

[2020-07-28 07:45] nawijesi commented on #7871
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"ResourceDeploymentFailure\",\r\n \"message\": \"The resource operation completed with terminal pr

[2020-07-28 12:25] MCKLMT commented on #7871
Can you reproduce the issue on other regions as well?

[2020-07-28 12:32] nawijesi commented on #7871
i've run couple times on west europe.. always fails after 2 hours.. will test other region now (east us)

[2020-07-28 12:53] MCKLMT commented on #7871
This seems to be an issue related to Powershell DSC.

[2020-07-28 13:48] nawijesi commented on #7871
ok i see, please keep me updated as I am looking to deploy similar environment for a customer. Thanks.

[2020-07-29 01:11] JQUINONES82 commented on #5831
This does not work if the RG is created in the same template.  There is an issue where the keys can not be found during the pre deployment checks.  MS Supported recommended removing the RG deployment from the template and creating it first.  I just made a helper script to make the RG and then call the template.  It all worked afterwards.

[2020-07-29 05:39] MCKLMT commented on #7726
Can you check again if you receive the same error?

[2020-07-29 05:47] MCKLMT commented on #7764
Can you share a complete template demonstrating the issue to be able to reproduce it quickly please?

[2020-07-29 05:56] MCKLMT commented on #7673
According to [this post](https://www.danielstocker.net/wrapping-arrays-as-secureobjects-for-arm-deployments/), you should wrap your secrets in a json object.
The correct syntax seems to be:
[code]
Can you check on your side?

[2020-07-29 05:57] MCKLMT commented on #7402
Which template is it?

[2020-07-29 05:59] MCKLMT commented on #7330
I don't understand the issue. The README file does not mention this sentence.
Can you explain?

[2020-07-29 06:00] MCKLMT commented on #7328
Please share a complete template to reproduce the error to get help.

[2020-07-29 06:01] MCKLMT commented on #7312
Please precise the ARM template you are refering.

[2020-07-29 06:02] MCKLMT commented on #7309
Can you share the template and parameters used to reproduce to issue?

[2020-07-29 06:02] MCKLMT commented on #7302
Please share the template and parameters used to reproduce the issue.

[2020-07-29 06:21] MCKLMT commented on #7267
I think this is expected. @bmoore-msft can you confirm please?

[2020-07-29 06:41] Niel27 commented on #7402
The nextflow-genomics-cluster-ubuntu in azure

[2020-07-29 06:45] MCKLMT commented on #7268
I'm not able to reproduce the issue. The template is deployed successfully.
However, I have created a pull request to update the SQL Server image versions (#7875)

[2020-07-29 16:58] theonesuperdave commented on #7764
I see the same issue for me as well, when using the `cloningInfo` object. The original lists the quick start sample [here](https://github.com/Azure/azure-quickstart-templates/blob/master/101-webapp-custom-deployment-slots/azuredeploy.json) which is very similar to what I am using as well; my usage simply does not not use the `copy` directive as I only have one deployment slot.

For me, the slot re

[2020-07-29 17:04] theonesuperdave commented on #5484
Have you tried the [CloningInfo ](https://github.com/Azure/azure-quickstart-templates/issues/7764) object? I am using it to clone the source site settings on creation. That syncs up things like `Networking`, `App Settings` and such so I don't have a bunch of duplicates in my ARM template. It mimics the optional setting from the portal. After that though, you would need to delete and re-create the

[2020-07-30 05:51] MCKLMT commented on #7764
Could you share the complete template to be able to quickly reproduce the issue please?

[2020-07-30 06:19] MCKLMT commented on #7402
@Niel27 I'm not able to deploy the template using the deploy button. Is it OK for you?

[2020-07-31 10:22] tioumen commented on #7330
Removed since this commit : 5e7525c2d463d0bb8cc63d3ecdfc5538b05cabdc

[2020-07-31 10:27] MCKLMT commented on #7330
So please close the issue

[2020-07-31 14:20] #7330 closed

[2020-07-31 14:20] tioumen commented on #7330
Fixed

[2020-08-01 23:23] bmoore-msft commented on #7768
thx @MCKLMT

[2020-08-01 23:23] #7768 closed

[2020-08-02 05:05] MCKLMT commented on #7730
@steinrr Can you close the issue if solved on your side?

[2020-08-02 05:17] MCKLMT commented on #7593
@vfab Can you confirm that this issue is solved and close it?

[2020-08-02 07:00] MCKLMT commented on #7563
@ashwini0723 Can you share the sample you used?

[2020-08-02 07:02] MCKLMT commented on #7354
@StephenWeatherford Can you close the issue?

[2020-08-02 07:05] MCKLMT commented on #7154
@stack247 Did you solved your issue?

[2020-08-02 07:06] MCKLMT commented on #7142
Please share the template used to get help or close the issue.

[2020-08-02 07:07] MCKLMT commented on #7140
@Rabosa616 Can you close the issue as the new versions have been added?

[2020-08-02 07:10] MCKLMT commented on #7135
scheduleRunTimes, daysOfTheWeek and monthsOfYear should be formated as an array.
@XXXdimaka, can you try formatting parameters like [ "Sunday", "Tuesday", "Thursday" ]?

[2020-08-02 07:12] MCKLMT commented on #7134
@ignatforce Can you share the template used to get help or close the issue?

[2020-08-02 07:27] MCKLMT commented on #7126
I'm able to reproduce the issue. There is an issue on the extension script.

[2020-08-02 07:39] MCKLMT commented on #7058
@mjcarrabine This issue is outdated. Can you close it?

[2020-08-02 07:40] MCKLMT commented on #7057
@ewekansige The issue has been solved. Can you close it?

[2020-08-02 08:46] MCKLMT commented on #6671
The vm size [has been updated](https://github.com/Azure/azure-quickstart-templates/blob/master/101-vm-simple-linux/azuredeploy.json#L64). Please close this issue.

[2020-08-02 08:53] MCKLMT commented on #6651
The deployment is successfull. @amalik99 Can you check again or close the issue?

[2020-08-02 08:55] MCKLMT commented on #6581
@psalterfc Please share the template name or close the issue.

[2020-08-02 08:56] MCKLMT commented on #6570
@jlacarriere Can you test again or close the issue?

[2020-08-02 09:01] MCKLMT commented on #6490
A series are still available in most regions https://azure.microsoft.com/en-us/global-infrastructure/services/?products=virtual-machines&regions=us-east,us-east-2,us-central,us-north-central,us-south-central,us-west-central,us-west,us-west-2,europe-north,europe-west

[2020-08-02 09:03] MCKLMT commented on #6435
The issue has been solved: https://github.com/Azure/azure-quickstart-templates/pull/6434
@fvolner Please close the issue.

[2020-08-02 09:11] MCKLMT commented on #6371
The template has been updated and is now successfully deployed.
@Jaykul Can you close the issue please?

[2020-08-02 21:40] ignatforce commented on #7134
@MCKLMT I gave up on this template. Issue is still likely there.

[2020-08-03 03:42] MCKLMT commented on #7134
What’s the template?

[2020-08-03 12:11] #7057 closed

[2020-08-03 15:31] SamirFarhat commented on #7723
Do you have any update ? We are facing the same challenge. Do you find a way to import the Subnet settings ?

[2020-08-03 18:08] #7354 closed

[2020-08-03 19:30] vfab commented on #7593
@MCKLMT:
If I understand correctly, @al-lac is saying that he needed to manually verify the certificate domain ownership before the automation would complete successfully.  To be very specific, are you saying you had to 1) deploy the ARM template, 2) wait for the App Service certificate to be created, 3) go to the portal and click the checkbox, and then 4) the rest of the template would execute th

[2020-08-03 20:55] StephenWeatherford commented on #7354
thx

[2020-08-04 07:59] MCKLMT commented on #7831
@bmoore-msft Do you know who can help on this one?

[2020-08-04 08:01] MCKLMT commented on #7757
The pull request has been merged. The issue can be closed.

[2020-08-04 13:49] akshaydeshpandewk opened #7898 ""Files" property is mandatory to provide in properties for this Microsoft.Web sites/functions template"
azure-quickstart-templates/201-logic-app-transform-function/azuredeploy.json
[201-logic-app-transform-function](https://github.com/Azure/azure-quickstart-templates/blob/master/201-logic-app-transform-function/azuredeploy.json)

### Issue Details
When I try to use this template and removed the "files" from the properties the function doesn't display in the FunctioAPP
### Repro steps (*if necessary,

[2020-08-04 14:04] #6897 closed

[2020-08-04 14:41] MCKLMT commented on #7898
Why do you want to deploy an empty function?

[2020-08-04 14:47] akshaydeshpandewk commented on #7898
This function will be used in the event subscription of the Azure EventGrid and it is deployed through Infra pipeline. The link of subscription will be created in Infra and the actual code will be deployed in the API pipeline. Infra pipeline will run only once but the API pipeline will run in a couple of times. So I want the empty function and to create the subscription link between event grid top

[2020-08-04 15:05] MCKLMT commented on #7898
The deployment is successful when using an empty files property on my side:

[code]

[2020-08-04 19:53] bmoore-msft commented on #7267
No, it looks like a bug in both templates (which would certainly cause them to fail to deploy) - so PRs with fixes would be welcome ;)

[2020-08-05 10:07] akshaydeshpandewk commented on #7898
@MCKLMT It worked. But a question still remains if it is not mandatory then why empty files section needed in the template.

[2020-08-05 10:44] ArthurSteijn opened #7905 "Deploying linked templates from VS Code with Deploy-AzTemplate.ps1"
Hi,

Is there a way to deploy my linked templates through visual studio code?

When I execute [Deploy-AzTemplate.ps1](https://github.com/Azure/azure-quickstart-templates/blob/master/Deploy-AzTemplate.ps1) from VS Code.

The storage account gets created and the files are uploaded the first time and the delpoyment fails on the stagingartifact. But now the scripts fails with:

Get-AzStorageAccount: C

[2020-08-05 14:02] MCKLMT commented on #7898
@akshaydeshpandewk According to the documentation, the properties property is not mandatory at all: https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2019-08-01/sites/functions#functionenvelopeproperties-object

[2020-08-05 14:05] MCKLMT commented on #7905
What are the parameters used? It's not easy to help without knowing the context.

[2020-08-05 14:17] al-lac commented on #7593
The only manual step is, that you should already have a verified domain in place before you start the template, as far as i see it. I do not think you can automate this task.

If you have a verified domain then everything runs through smoothly for me.

[2020-08-05 14:41] ArthurSteijn commented on #7905
I Added my templates and the PowerShell script.

Some changes in the script on Line 12,13 and 128. And I included the original.

The script is executed with:
ArtifactStagingDirectory: .
Location: westeurope

Now it fails on the SasToken:
`New-AzResourceGroupDeployment: C:\Users\Arthur.Steijn\Desktop\Demo-ARM-Templates\Deploy-AzTemplate.ps1:214:13
Line | 214
     |              @OptionalParameters

[2020-08-05 14:52] MCKLMT commented on #7905
The ```_artifactsLocationSasToken``` parameter is mandatory in your template. Did you include it?

[2020-08-05 14:57] ArthurSteijn commented on #7905
I think this is normaly handled by the deployment in Visual Studio. The parameter should be generated in the script, after the SasToken gets created.

[2020-08-07 01:58] ramyapradhan opened #7913 "201-Machine-Learning template needs a small fix"
[201-machine-learning-advanced](https://github.com/Azure/azure-quickstart-templates/blob/master/201-machine-learning-advanced/azuredeploy.json)

### Issue Details
Cannot deploy this template because it has an error.  Please see attached screenshot.

### Repro steps
1. Azure portal > Create a Resource
2. In the search bar, type in Template and select Template deployment (deploy using custom templat

[2020-08-07 02:13] ramyapradhan commented on #7913
I see that this PR https://github.com/Azure/azure-quickstart-templates/pull/7912#pullrequestreview-462990784 fixes the issue in the same way that I fixed it.  I, therefore, have approved the change and am closing this issue.

[2020-08-07 02:13] #7913 closed

[2020-08-11 17:01] prakash12305 opened #7946 "Ribbon"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-08-11 20:34] xyz92 opened #7947 "Permanent workspace delete"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-08-12 10:34] steinrr commented on #7730
Tested and confirmed fixed. Closing.

[2020-08-12 10:34] #7730 closed

[2020-08-13 05:18] hoapedia opened #7964 "Configure locale, format and culture settings from default en-US for Current User, Welcome Screen and New Users"
**_Issue Details_**
Azure VMs come with default en-US locale, format and culture settings which isn't compatible with en-AU applications, databases, servers and scripts. This scenario allows us to continue to use the DEVOPS Pipeline without user interaction and can be executed during the start of the Windows build using Anisible->PowerShell via WinRM. This was verified on our pipeline.

**_Solutio

[2020-08-13 06:53] MCKLMT opened #7965 "Issue with Deploy-AzTemplate.ps1"
Hi,

I have encountered a bug I spend a long time to debug when trying to understand why the build of this template ([101-automation-configuration](https://github.com/Azure/azure-quickstart-templates/tree/master/101-automation-configuration))  was failing.

I observed that the content of the folder _dscConfigurations_ is not uploaded to the artifacts storage account. The PowerShell script is missi

[2020-08-13 07:41] #6570 closed

[2020-08-13 14:01] awaemmanuel opened #7967 "[USER ERROR] - Azure SQL Data store fails on creation, even with existing Azure SQL Server and AML Workspace"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-08-13 14:44] awaemmanuel commented on #7967
Just trying to make sure I have covered everything, I set `skipValidation` to `true` and it worked. This seems like a huge bug to me in the validation process. I am certain the Server, db, username and password are correct.

[2020-08-13 18:57] cloudmelon opened #7969 "object id harded coded in 101-aks-advanced-networking/azuredeploy.json"
There's an object id is hard coded in the template on line 219 :

 "properties": {
                "mode": "Incremental",
                "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "variables": {},

[2020-08-13 19:34] MCKLMT commented on #7969
Feel free to submit a pull request to fix it. 😉

[2020-08-13 20:24] #7969 closed

[2020-08-14 16:11] cjwelliott commented on #7481
+1 same issue. Unusable in Azure

[2020-08-15 22:46] michaelwilliams1 opened #7974 "101-automation template throws error on deployment"
[101-automation](https://github.com/Azure/azure-quickstart-templates/blob/master/101-automation/azuredeploy.json)

### Issue Details
When I deploy the 101-automation template, I get an error:
Deployment template validation failed: 'The template resource 'Microsoft.OperationalInsights/workspaces/shoreline-monitor/linkedServices/Automation' cannot reference itself. Please see https://aka.ms/arm-temp

[2020-08-17 11:57] VOVELEE commented on #2786
Any update on this one? This is behavior is quite limiting any scenarios for Blueprint management where you leave subnet management to resources and Blueprint only manage the configuration of DNS, address space and VNET peerings.

[2020-08-17 14:45] colinbeales opened #7979 "VSTS Agent template stalls until timeout lacking latest NuGet Provider"
201-vm-vsts-agent(https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-vsts-agent)

### Issue Details

When running the template all the resources will create and the extension will trigger the InstallVstsAgent.ps1 script to execute. This script will get as far as creating and configuring the agent and saving the modules in C:\Modules. In the next section it will stall and never

[2020-08-17 17:17] colinbeales commented on #7979
Submitted #7980 to fix this

[2020-08-17 17:41] sylvain-combe-sonarsource commented on #7481
Hello here
SonarQube container official image enforces MMAP prerequisites so that it embedded ElasticSearch node performs as expected.
To fix this issue, applying the following snippet from the [ElasticSearch template script](https://github.com/Azure/azure-quickstart-templates/blob/master/elasticsearch/scripts/elasticsearch-ubuntu-install.sh) seems the way to go:
[code]

[2020-08-17 19:55] sauryadas opened #7981 "[Question] Is there a need for the ACS templates when ACS has been deprecated for more than a year now ?"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-08-17 22:13] achalachal2003 commented on #7967
Resolved offline with @awaemmanuel . The SQL server configuration had to be fixed to allow azure services and resources to access the server.

![image](https://user-images.githubusercontent.com/12025414/90449370-234d2600-e09c-11ea-9b1a-ed5eda833a90.png)

[2020-08-18 08:35] rphoon opened #7983 "101-recovery-services-create-vault-enable-diagnostics references old backup report"
101-recovery-services-create-vault-enable-diagnostics (https://github.com/Azure/azure-quickstart-templates/tree/master/101-recovery-services-create-vault-enable-diagnostics)

### Issue Details

1. ARM template refers to old backup report. Please provide ARM template for new backup reporting using resource specific tables.
https://docs.microsoft.com/en-us/azure/backup/configure-reports

[2020-08-18 08:50] Niel27 commented on #7402
@MCKLMT  now am not able to do that too saw one solution am trying to find where exactly to remove the quotes.

#7491

[2020-08-18 13:56] colinbeales commented on #7979
Fixed in #7980

[2020-08-18 13:56] #7979 closed

[2020-08-19 04:19] Shahaji2016 opened #7987 "Unable to deploy service 201-aci-wordpress with storage account type as Standard_ZRS."
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-08-19 04:34] MCKLMT commented on #7987
I don't encounter the issue using the deploy button in West Europe. What are the parameters used?

[2020-08-19 04:36] MCKLMT commented on #7974
Can you check again? A recent pull request (#7982) has been merged. I don't encounter your issue.

[2020-08-19 04:37] MCKLMT commented on #7965
@bmoore-msft Can you comment please?

[2020-08-19 04:38] Shahaji2016 commented on #7987
With Deploy button, you need to select Storage account Type as Standard_ZRS

[2020-08-19 04:39] MCKLMT commented on #7987
Yes, I used this parameter and West Europe for the location and the template is successfully deployed. Can you check again?

[2020-08-19 04:42] MCKLMT commented on #7987
Also please note that using ZRS storage requires Availability Zones which are not yet available in all regions. https://docs.microsoft.com/en-us/azure/availability-zones/az-region

[2020-08-19 04:49] Shahaji2016 commented on #7987
Okay let me check once with West Europe location, it is failing for East US location, with the following error.

<img width="1217" alt="Screenshot 2020-08-19 at 10 14 03 AM" src="https://user-images.githubusercontent.com/17567976/90593255-20217980-e205-11ea-875b-2d8997e400eb.png">

[2020-08-19 04:59] Shahaji2016 commented on #7987
@MCKLMT It is failing on West Europe too, I have the fix for the same but not able to Push my changes on this repository with new branch.

[2020-08-19 05:05] MCKLMT commented on #7987
I have reproduce the issue with the CI https://dev.azure.com/azurequickstarts/azure-quickstart-templates/_build/results?buildId=31448&view=logs&j=275f1d19-1bd8-5591-b06b-07d489ea915a&t=7bf03a3b-69d5-5660-244f-21e634d6903f

[2020-08-19 05:10] Shahaji2016 commented on #7987
okay, thank you @MCKLMT, can I fix it or you are going to fix it?

[2020-08-19 05:13] MCKLMT commented on #7987
How would you fix it? The issue is because the container groups creating the file share. I suggest replacing these parts with deployment scripts which will create the file shares. Your thoughts?

[2020-08-19 05:23] Shahaji2016 commented on #7987
For ZRS storage account type, supported kind value in **StorageV2** and for other, it is **Storage** so by adding if the condition for the kind parameter we can fix it.

[2020-08-19 05:25] MCKLMT commented on #7987
It's not enough. I changed the storagekind to V2 in my pull request and the deployment failed in US Gov.

[2020-08-19 05:47] MCKLMT commented on #7987
Can you test again with this template? https://raw.githubusercontent.com/MCKLMT/azure-quickstart-templates/201-aci-wordpress/201-aci-wordpress/azuredeploy.json
I have replaced the container group creating the file shares with two deployment scripts. I integrated these changes on my pull request and the CI is successful.

[2020-08-19 05:55] Shahaji2016 commented on #7987
Okay sure let me try, also I have one doubt regarding type Microsoft.Authorization/roleDefinitions which is newly added in your PR, is this really required?

[2020-08-19 05:57] MCKLMT commented on #7987
Yes. The user identity is used to run the deployment scripts to create the two file shares.

[2020-08-19 06:13] MCKLMT commented on #7402
I have submitted a pull request (#7990) to solve the issue.

[2020-08-19 12:40] MarkusBrgr commented on #7481
+1 having the same Issue.

@sylvain-combe-sonarsource Where would you execute this command?

[2020-08-19 14:14] MCKLMT commented on #7402
@Niel27 The pull request has been accepted and merged. Can you try to deploy again? 🤞🏻

[2020-08-19 16:54] mifurm commented on #6895
Anyone can have a look?

[2020-08-20 05:07] MCKLMT opened #7993 "Spinnaker templates are missing"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-08-20 05:26] Niel27 commented on #7402
Hi @MCKLMT ,

Yes it working now, does your deployment run successfully? am getting an error that says

"Additional details from the underlying API that might be helpful: The template deployment 'Microsoft.Template' is not valid according to the validation procedure. The tracking id is '76ddaf54-fc73-45ca-86e3-8a8e61b825d4'."

[2020-08-20 05:27] MCKLMT commented on #7402
Yes, my deployment was successful.

[2020-08-20 05:45] Niel27 commented on #7402
Okay am getting an error may be because am using the free subscription

[2020-08-20 06:46] Niel27 commented on #7402
@MCKLMT

Thanks its working now I had to change vm size.

[2020-08-20 11:33] bazauto opened #7998 "sql-auditing-server-policy-to-blob-storage Fails on Initial Deployment"
[201-sql-auditing-server-policy-to-blob-storage](https://github.com/Azure/azure-quickstart-templates/tree/master/201-sql-auditing-server-policy-to-blob-storage)

### Issue Details
The initial deployment of this template when using the isStorageBehindVnet parameter set to true fails. Deploying once the SQL server and storage are configured with the role by the template the first time works.

It app

[2020-08-20 13:08] sylvain-combe-sonarsource commented on #7481
Hello @MarkusBrgr
this command needs to be called on the host.
The ElastiSearch template is configuring the right script to run depending on the target OS from its main [quickstart json file](elasticsearch/azuredeploy.json).
A proper way to update this SonarQube template would be to provide similar (simplified) scripts pushing this parameter in an automated way. I miss the proper know-how to propo

[2020-08-20 17:20] JFolberth commented on #7947
FYI, here is a link to a stackoverflow post where there is mention of an issue with powershell and force deletes:
https://stackoverflow.com/questions/62627503/how-to-delete-old-log-analytics-workspace-permanently-in-azure-portal/62630077#62630077

[2020-08-21 06:46] MCKLMT commented on #7402
Great! Can you close the issue?

[2020-08-21 06:47] MCKLMT commented on #7987
Can you close the issue?

[2020-08-21 07:33] #7402 closed

[2020-08-21 15:00] JFolberth opened #8006 "Are not all the API providers available on the USGov side for quickstarts? I can't find a list of what is and isn't enabled."
Are not all the API providers available on the USGov side? I can't find a list of what is and isn't enabled.

_Originally posted by @JFolberth in https://github.com/Azure/azure-quickstart-templates/pull/8002#issuecomment-677763720_

[2020-08-23 16:58] #7974 closed

[2020-08-24 15:43] JFolberth commented on #8006
Thanks @MCKLMT .  This template is hooking up Application Insights into an App service at deployment time.  As such it also needs the necessary pieces of an App Service Plan and a Log Analytics Workspace.  It looks like the App Service Plan latest API version of 2020-06-01 is not supported by the government cloud instance.  Is that the expected behavior and/or does the Government cloud instance ne

[2020-08-24 15:51] MCKLMT commented on #8006
You can use the previous API version. The US GOV is often upgraded later.

[2020-08-24 23:59] ahmei0 opened #8013 "error while running 101-aks-advanced-networking/azuredeploy.json"
resource "Microsoft.Network/virtualNetworks/subnets/providers/roleAssignments" not getting created, following error on portal

No registered resource provider found for location 'australiaeast' and API version '2015-06-15' for type 'roleAssignments'. The supported api-versions are '2014-04-01-preview, 2014-07-01-preview, 2014-10-01-preview, 2015-05-01-preview, 2015-06-01, 2015-07-01, 2016-07-01, 2

[2020-08-25 13:59] ahmei0 commented on #8013
Hi @MCKLMT I tested it with changes you made in branch , but I still have same issue

![image](https://user-images.githubusercontent.com/62230464/91183548-f1d4fa00-e72e-11ea-87a0-d7ac4e7d6b22.png)

[2020-08-25 14:09] MCKLMT commented on #8013
The pull request has not yet been merged. The API version has well been updated to last supported version. The deployment with the CI is successful.

[2020-08-25 14:15] ahmei0 commented on #8013
I know PR is not merged but I copied all the changes from your branch but still same error as in screenshot above. Do you believe changes you made should fix this issue or there is some other cause for this?

[2020-08-25 14:22] MCKLMT commented on #8013
This is strange because the API version is not the same than previously so the error message should be different. I understand why you still have the same message. Are you sure you have got the good template?

[2020-08-25 14:27] ahmei0 commented on #8013
Yeah template is fine, I took from quickstart. Create vnet using prereq vnet template. Only things I changed are params

Btw API version '2015-06-15'  it reports was nowhere in template even before your changes. Not sure what it is complaining about

[2020-08-25 14:41] ahmei0 commented on #8013
Please note that error above I don't see during arm deployment, nested ClusterSubnetRoleAssignmentDeployment shows successful but when I go to the resource on portal I see above error.

My ARM deployment never ends as it gives following messages probably because of lack of permissions due to RoleAssignment not happening properly

Failed: ap-aks-vnet (Microsoft.Network/virtualNetworks)

[2020-08-25 15:45] JFolberth commented on #8006
I have updated the apis and it worked.  Also had to roll back the sites service to an earlier endpoint.

[2020-08-26 02:11] shortpoet opened #8017 "Dynamically get correct container ip address"
When I create a container it shows the ip address.  I can retrieve that ip address with the below command.

[code]
The problem is, that is not the ip address under which the container actually runs.  When checking container logs in azure portal, I see the error that says the server is trying to connect to my database under a different ip.  I need that ip to be able to configure server firewall.

[

[2020-08-26 07:42] MCKLMT commented on #8017
I think this is not the good place to post this issue. I suggest to post it to [the Azure CLI repository](https://github.com/Azure/azure-cli).

[2020-08-26 13:33] shortpoet commented on #8017
@MCKLMT Thank you for the feedback, will do!  I searched for azure containers in the repo and wasn't sure which.

[2020-08-26 13:33] #8017 closed

[2020-08-26 16:32] kanika1894 opened #8019 "Case sensitivity issue"
The parameter name in parameter file differs from the one in template file.
Have created a PR to resolve the issue.
https://github.com/Azure/azure-quickstart-templates/pull/8018

[2020-08-26 18:13] molinamelendezj commented on #7998
I'm having similar issue. @bazauto you said you set isStorageBehindVnet false and got it to work. but I get same issue regardless when true, did you change anything else from that template to get it to work when its false?

@MCKLMT I agree it is a permission issue. could you provide the details and permission of what they should be for both when isStorageBehindVnet false and when  isStorageBehindV

[2020-08-26 23:39] srusru opened #8021 "Test"
test

[2020-08-27 08:16] MCKLMT commented on #7998
If _isStorageBehindVnet_ is set to True, the ServicePrincipal should be defined as Contributor on the Storage Account.

[2020-08-27 08:26] MCKLMT commented on #8021
The template you mention is an example. You should author your own template based on your needs.
If you need more listeners, you can add them after the gateway has been created and execute the template again in incremental mode.

[2020-08-27 08:35] bazauto commented on #7998
@molinamelendezj I changed only the isStorageBehindVnet parameter.

@MCKLMT When you say the ServicePrincipal should be defined as Contributor.  Which ServicePrincipal are you referring to?  Is this the System Managed one of the SQL Server resource.  That permission is added by the template.  Or the principal used by pipeline.

I've not tried the example directly in a pipeline, only once integrate

[2020-08-27 09:10] MCKLMT commented on #7998
Yes, this is the System Identity of the SQL resource https://github.com/Azure/azure-quickstart-templates/blob/master/201-sql-auditing-server-policy-to-blob-storage/azuredeploy.json#L78
The template will assign the role of Contributor to the identity when the template is deployed.

[2020-08-27 21:16] gregorwolf commented on #5255
I've also tried the 101-webapp-linux-managed-postgresql example and tried PostgreSQL Version 10.10 and 11.5. There I get the error message: "Version '10.10' is not supported" and "Version '11.5' is not supported". Maybe someone can have a look.

[2020-08-28 09:06] kanovic opened #8029 "Wrong comma @ line 62 that blocks deployment"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-08-28 17:44] MCKLMT commented on #8029
What's the template please?

[2020-08-28 18:12] kanovic commented on #8029
I'm sorry I thought I was setting up the issue in that repository.
It's in [101-application-gateway-public-ip](https://github.com/Azure/azure-quickstart-templates/blob/master/101-application-gateway-public-ip/azuredeploy.json).

[2020-08-28 18:15] MCKLMT commented on #8029
This template has passed with success the CI 14 days ago. Are you sure about you?

[2020-08-28 19:00] kanovic commented on #8029
Deployment in Azure portal gave error. After downloading the JSON and viewing in VS Code the ARM extension gave Validation error on the comma.

[2020-08-29 04:59] MCKLMT commented on #8029
Can you post a screenshot of what you see?

[2020-08-30 08:07] ahmei0 opened #8051 "101-aks-advanced-networking - aks template tries to delete subnet"
@MCKLMT

I have created vnet and subnet using prereqs tempate.

Now when I run aks template with "--mode Complete" option, it tries to delete subnet, outputs fail message as below and keep on waiting forever

Noneunning ..
Failed: ap-aks-vnet (Microsoft.Network/virtualNetworks)

vnet and subnet were created as a separate deployment, why would aks template deployment try to delete subnet ?

[2020-08-30 08:49] MCKLMT commented on #8051
Check the [documentation:](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-modes)
_"In complete mode, Resource Manager deletes resources that exist in the resource group but aren't specified in the template."_
vs
_"In incremental mode, Resource Manager leaves unchanged resources that exist in the resource group but aren't specified in the template. Resources in t

[2020-08-31 13:25] DickvdBrink opened #8056 "WebApp public certificate not updated after redeploy"
[201-web-app-public-certificate](https://github.com/Azure/azure-quickstart-templates/tree/master/201-web-app-public-certificate)

### Issue Details

After changing a certificate in the ARM template it is not updated on a redeploy. See repro steps

### Repro steps (*if necessary, delete otherwise*)
1. Deploy template on Azure (I did from Azure DevOps)
2. Change the certificate in the template [azur

[2020-09-01 16:11] sherwin-a opened #8063 "sql-vm-ag-setup fails with extension provisioning timeout"
101-sql-vm-ag-setup (azure-quickstart-templates/101-sql-vm-ag-setup/)

### Issue Details

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"Resourc

[2020-09-02 07:14] deepforu47 commented on #5378
Any update on this one please?

[2020-09-02 15:30] Mahesh-MSFT opened #8067 "AKS ARM template with property outboundType=userDefinedRouting results in validaiton failure related to subnet"
Issue with AKS ARM Templates.

### Issue Details
I did not find any example of AKS ARM template which uses `"outboundType": "userDefinedRouting"` property in its `networkProfile` section.

I have tried to create one with following `resources` section.

[code]

However, when I try to validate this template by running following script.
[code]
I get following validation error complaining about missin

[2020-09-02 18:08] natefleming opened #8069 "Deployment of Integration Runtime Template Results in Remote Name Could Not Be Resolved Failure"
[101-vms-with-selfhost-integration-runtime] (https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-vms-with-selfhost-integration-runtime/azuredeploy.json)

When attempting to deploy an Integration Runtime using the template either from the command line or from the portal results in an exception. This particular stack trace is from the IR virtual machine trace logs, however,

[2020-09-02 21:24] srcsakthivel opened #8071 ""VM has reported a failure when processing extension 'vm0-dfinstallGW'"
[101-vms-with-private-selfHostIR](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vms-with-selfhost-integration-runtime)

### Issue Details
{
    "status": "Failed",
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The resource operation completed with terminal provisioning state 'Failed'.",
        "details": [
            {
                "code

[2020-09-03 06:26] MCKLMT commented on #8069
Did you read the README.md? You should create the DataFactory instance before deploying the IR. Did you deployed it?

[code]

[2020-09-03 07:56] Jiihaa commented on #6767
I had the same issue, but I got around it by removing the defaultValue: "{}" from the secretsObject -definition, which it was interpreting as string instead of secureObject.

For me, using Azure CLI to deploy ( az deployment group create --name Dev --resource-group test1 --template-file azuredeploy.json --parameters azuredeploy.parameters.json) I had to do these additional steps to deploy the quic

[2020-09-03 13:09] natefleming commented on #8069
Thank you for the reply @MCKLMT.  The data factory definitely exists in the resource group. If you look in my step number 4 I do create the data factory. I explained in the summary that I get the same error when I use the key that is generated from DataFactory.

[2020-09-03 13:37] natefleming commented on #8069
@MCKLMT Thank you for the reply. The Data Factory is definitely created ahead of time. This is step number 4 in my steps to reproduce. In addition I describe in the summary that even when I use the key which is generated from creating the Integration Runtime in DataFactory.

[2020-09-03 14:22] srcsakthivel commented on #8071
Digging further I got the following information from the trace log,

Microsoft.DataTransfer.DIAgentClient.HostServiceException: Failed to get service token from ADF service with key IR@********-****-****-****-************@for-shir@ServiceEndpoint=for-shir.eastus2.datafactory.azure.net@****************** and time cost is: 3.4063888 seconds, the error code is: UnexpectedFault, activityId is: 1768e8d

[2020-09-03 14:41] natefleming commented on #8069
Here is a screen shot with the exception that I get when I manually enter the ID. It appears to be identical to the one that is in the log file when the template tries to register it.

<img width="694" alt="image" src="https://user-images.githubusercontent.com/2520297/92129627-c78bd800-edd1-11ea-93cf-795c7e887150.png">

[2020-09-03 15:14] MCKLMT commented on #8069
Can you share the link under the "Click here" link please?

[2020-09-03 15:22] natefleming commented on #8069
https://docs.microsoft.com/en-us/azure/data-factory/self-hosted-integration-runtime-troubleshoot-guide#error-message-self-hosted-integration-runtime-is-unable-to-connect-to-cloud-service

Ive read through the troubleshooting. It hints that there is a DNS issue and we should contact our support. Ill add that other than create the resource group, data factory instance, vnet/subnet, deploy integratio

[2020-09-03 16:41] MCKLMT commented on #8069
Can you try another region please? I was able to successfully deploy the template in West Europe.

[2020-09-03 18:12] natefleming commented on #8069
@MCKLMT

Thank you for the response. I was able to get it to successfully deploy to West Europe as well. Do you have any idea why EAST US 2 is not resolving?

The cloud status says everything is ok in the US

https://status.azure.com/en-us/status

but ironically, says that network infrastructure is having issues in West Europe

[2020-09-03 22:40] natefleming commented on #8069
@MCKLMT

This was a problem with Azure infrastructure. The template appears to be working as intended.
Thank you.

[2020-09-03 22:40] #8069 closed

[2020-09-06 06:48] MCKLMT commented on #8071
Can you try again? There was a transient error from DataFactory in this region. Thanks

[2020-09-06 06:49] MCKLMT commented on #8067
I suggest to post this issue to the official repository https://github.com/Azure/AKS

[2020-09-06 06:49] MCKLMT commented on #8056
That sounds like a bug. @bmoore-msft Who can help on our side?

[2020-09-06 06:50] MCKLMT commented on #8029
The pull request has been merged solving this issue.
@kanovic Can you confirm and close the issue?

[2020-09-06 06:51] MCKLMT commented on #8019
The pull request has been merged. @kanika1894 Can you close this issue?

[2020-09-06 08:45] kanovic commented on #8029
Working thank you.

[2020-09-06 08:45] #8029 closed

[2020-09-07 12:59] mootduo opened #8085 "Validation failed: is not valid according to the validation procedure [free trial]"
Hello guys. Im getting this error:

"Operation could not be completed as it results in exceeding approved Total Regional Cores quota. Additional details - Deployment Model: Resource Manager, Location: eastus, Current Limit: 4, Current Usage: 0, Additional Required: 6."

This template needs 6 Regional Cores to run but it seems that only 4 Cores are available with the azure trial, is there any way o

[2020-09-07 15:51] MCKLMT commented on #8085
Hi,
Can you share the template?
Thanks

[2020-09-07 17:17] Mahesh-MSFT commented on #8067
Done. Created a new [issue](https://github.com/Azure/AKS/issues/1842) in [official repo](https://github.com/Azure/AKS)

[2020-09-08 14:05] srcsakthivel commented on #8071
Thanks @MCKLMT, it worked in Central US.

Due to the Enterprise connectivity setup, we have to stick with **East US 2**. May I know how to get the issue addressed?

[2020-09-08 14:33] MCKLMT commented on #8071
I suggest to try again in East US 2 and if it fails to open a support request.

[2020-09-08 14:34] srcsakthivel commented on #8071
ok, Thanks!

[2020-09-09 18:10] placidseven opened #8107 "101-nic-publicip-dns-vnet not adding "domainNameLabel" to public ip address resource"
https://github.com/Azure/azure-quickstart-templates/tree/master/101-nic-publicip-dns-vnet

### Issue Details

When creating PublicIP resource using the below the DNS name doesn't get populated.

{
      "apiVersion": "2015-06-15",
      "type": "Microsoft.Network/publicIPAddresses",
      "name": "[variables('publicIPAddressName')]",
      "location": "[parameters('location')]",
      "properties"

[2020-09-09 19:34] placidseven commented on #8107
I deleted the resource and again ran the template and the DNS name did not populate in the PublicIP resource.

[2020-09-09 19:55] #8107 closed

[2020-09-09 19:55] placidseven commented on #8107
Checking the parameter file I found the "dnsLabelPrefix" parameter was empty.

[2020-09-09 20:18] Subhasis180689 opened #8110 "Application Gateway V2 with Key Vault: Not able to provide certificate in single line pem format"
101-application-gateway-key-vault-create

### Issue Details
Not able to import Keyvault ssl certificate in pem format as its in multiline. If i try to make it one line it does not support at all.
Not sure how u able to import to keyvault

[2020-09-12 00:58] mootduo commented on #8085
Oops! Yeah mate, here’s the template:  https://azure.microsoft.com/en-us/resources/templates/obs-studio-stream-vm-chocolatey/?cdn=disable

Thanks for taking a look.

[2020-09-12 06:14] MCKLMT commented on #8085
You can edit the template and try a _Standard_NV4as_v4_ VM size which is only 4 cores. Keep in mind this VM series is not available everywhere. You can have a look [at this page](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=virtual-machines&regions=us-east,us-east-2,us-central,us-north-central,us-south-central,us-west-central,us-west,us-west-2,europe-north,europe-west

[2020-09-14 17:56] vasivara-MSFT commented on #8063
As part of [101-sql-vm-ag-setup](https://github.com/Azure/azure-quickstart-templates/tree/master/101-sql-vm-ag-setup) quick start template, we will not use the extensions CreateFileShareWitness  and CreateBDC extensions. Are you facing issues with some other template?

[2020-09-15 00:34] snoble opened #8159 "customdata example a little too trivial"
The example given in https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-customdata/ leaves the user wondering what to do if they have a customData value that has more than one line. It would be nice to have an example that demonstrates how to have a cloud-init.yaml file and pass it in as customData.

[2020-09-15 02:54] BhargaviAnnadevara-MSFT commented on #6487
@JimXu199545 You should also be passing the `CURRENT_STACK` parameter set to `php` as part of the `siteconfig` `metadata` property in the ARM template.
[code]
Here is the full template for creating a Web app with PHP 7.4 as the runtime stack:
[code]

[2020-09-15 10:34] tomagb commented on #6487
Thanks @BhargaviAnnadevara-MSFT, the solution works.

[2020-09-15 10:37] BhargaviAnnadevara-MSFT commented on #6487
@tomagb Glad I could help!

[2020-09-15 14:29] sherwin-a commented on #8063
Yes the correct template is sqlvm-alwayson-cluster

[2020-09-16 21:05] stowen-msft opened #8186 "Need to update with valid VM Sizes here"
[VM-DSC-Extension-IIS-Server](https://github.com/Azure/azure-quickstart-templates/tree/master/dsc-extension-iis-server-windows-vm)

### Issue Details

1. Template has hard coded and out-of-date value specified for VM Size, should use a 'List Available Sizes' function
1.  Template has bug and does not autofill value for Module .zip file

[2020-09-17 07:04] rohit404404 commented on #5960
Yes. However this creates heavy resources and costs goes beyond 540 . Three VM is relatively less resource intensive. I am facing same issue above and not sure whats wrong. Dont see any segment length issue.

[2020-09-17 08:02] DickvdBrink commented on #8056
Any progress on this issue?

[2020-09-17 08:43] Yvand commented on #5960
@rohit404404 template https://azure.microsoft.com/en-us/resources/templates/sharepoint-adfs/ creates only 3 VMs, I think you are confusing with template https://azure.microsoft.com/en-us/resources/templates/sharepoint-server-farm-ha/, which indeed creates a lot more VMs

[2020-09-17 10:49] rohit404404 commented on #5960
@Yvand  Great. Your template worked perfectly. I faced issue initially because i chose Asia location and said Storage type was not available. I moved to US and it worked perfectly.

Now i just need to find a way to disable all the services properly to avoid unnecessary cost. I do have autoshutdown turned on, however concerned about other resources. If there was a script to start and stop all resor

[2020-09-17 11:26] Yvand commented on #5960
Thank you for your feedback!
What Azure service(s) are you looking to disable? None is really optional

[2020-09-17 16:30] bmoore-msft commented on #8056
I think you'll need to open a support request for this one...

[2020-09-18 15:03] andybouts opened #8223 "Please parameterize inputs so it's clear what to change"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-09-18 15:42] andybouts opened #8225 "Add User Instructions Not Clear"
[sas-viya_add-a-user](https://github.com/Azure/azure-quickstart-templates/tree/master/sas-viya/#add-a-user)

### Issue Details
I'll list the issues as follows:
Step 1 ... does this file need to end in `ldif`, please provide an example filename with extension
Step 3 is very unclear ... is the command to run this command included as a part of the text file body?
Step 3 ... does this file need to end

[2020-09-18 16:54] heywoodj opened #8226 "Service Fabric: Managed Service Identity issue with API version 2020-03-01"
{
      "apiVersion": "2020-03-01",
      "type": "Microsoft.ServiceFabric/clusters/applications",
      "name": "[concat(parameters('clusterName'), '/', parameters('applicationName'))]",
      "location": "[variables('clusterLocation')]",
      "identity": {
        "**type": "SystemAssigned"**
      },
      "properties": {
      }
    }

### Issue Details
I currently have Managed Service Identi

[2020-09-22 02:32] srusru commented on #8021
Can you please provide me a sample template for having multiple listeners or any link, i searched online could not find any. I am new to this ARM templates @MCKLMT . Any help is appreciated. Thanks.

[2020-09-23 09:10] MCKLMT commented on #8186
The template has been updated.

[2020-09-23 17:22] stowen-msft commented on #8186
Confirmed the changes worked, closing!  Thank you.

[2020-09-23 17:22] #8186 closed

[2020-09-24 04:43] n-irwin commented on #2761
Is this still an issue? I'm having the same trouble

Open 2016...  jeez

[2020-09-24 11:06] erjosito commented on #583
Probably too late, but I remember having done this with a dirty little trick: you use a nested template that depends on the VM, so that it is only triggered when the VM is finished. The nested template will output the ipAddress property of the public IP, and the main/root template will take the output of the nested deployment

[2020-09-24 12:08] rohit404404 commented on #5960
@Yvand  I meant, I need these machine only when I need to do some POCs, else they are idle mostly. However there is still a disk cost.
SO it would have been great to have SQL and DC on single server and SharePoint on another server, that way i can avoid cost of one disk. Any pointers on that please?

[2020-09-24 14:44] Yvand commented on #5960
I see, but I know no such template

[2020-09-25 06:43] MCKLMT commented on #8071
@srcsakthivel Can you share news?

[2020-09-25 06:43] MCKLMT commented on #8067
@Mahesh-MSFT Can you close this one?

[2020-09-25 08:15] Mahesh-MSFT commented on #8067
Closing this issue as its tracked as a bug [here](https://github.com/Azure/AKS/issues/1842).

[2020-09-25 08:15] #8067 closed

[2020-09-25 16:21] marc-bouvier opened #8277 "azure-quickstart-templates/101-logic-app-ftp-to-blob"
Hi,
While trying to automate Logic App resrouce creation, I had a problem with the parameters to provide to the SFTP connector.

https://github.com/Azure/azure-quickstart-templates/blob/1d5a41e1ec6125d147b829f4c830c312f3b7e971/101-logic-app-ftp-to-blob/azuredeploy.json#L98-L106

When using [SFTP - SSH connector](https://docs.microsoft.com/fr-fr/azure/connectors/connectors-sftp-ssh), the parameters

[2020-09-25 17:39] andybouts opened #8278 "SAS Viya SASWork not properly configured"
[azure-quickstart-templates/sas-viya/](https://github.com/Azure/azure-quickstart-templates/tree/master/sas-viya)

### Issue Details

There is  an issue with the Azure QuickStart where it’s not properly configuring the /SASWork mount for use.

### Repro steps (*if necessary, delete otherwise*)
1. Complete the deployment
2. Create data in SAS StudioV in the work library
3. Nothing is created in /mnt

[2020-09-26 18:06] bmoore-msft commented on #8278
@sassoftware to have a look...

[2020-09-28 15:04] tarastclair opened #8288 "Error downloading the template"
[Azure Quickstart](https://github.com/Azure/azure-quickstart-templates/blob/master/sas-viya/azuredeploy.json)

### Issue Details
Automatically redirected to an error when attempting to deploy (was not happening last week). Error is:

_There was an error downloading the template from URI 'https://github.com/Azure/azure-quickstart-templates/blob/master/sas-viya/azuredeploy.json'. Ensure that the tem

[2020-09-28 19:05] tarastclair commented on #8288
Interestingly, we just found that if you refresh the page after being redirected to the error as described, you will be presented with another screen with a "Select a template" tab. There is a dropdown on that page and if you search for "sas" you will see "sas-viya" ... if you select that template you will be presented with the list of parameters as expected.

[2020-09-30 12:18] #7095 closed

[2020-09-30 17:02] joshschmitter commented on #5284
Note that deleted workspaces move to a 14 day soft-delete period, which may contribute to this error message.  This page shows how to recover or permanently delete soft-deleted workspaces.
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/delete-workspace

[2020-09-30 17:24] Mahesh-MSFT opened #8303 "How is nextHops IP address arrived at?"
[Azure Firewall Manager secured virtual hub Quickstart](https://github.com/Azure/azure-quickstart-templates/blob/master/fwm-docs-qs/azuredeploy.json)

### Issue Details
Hi,

In the [Azure Firewall Manager secured virtual hub Quickstart](https://github.com/Azure/azure-quickstart-templates/blob/master/fwm-docs-qs/azuredeploy.json) example `Microsoft.Network/virtualHubs/routeTables` is configured wit

[2020-10-03 14:57] audhage commented on #2786
It's a major pain for sure. Working on a similar scenario and what I have done is to separate the create and update operations in separate templates.
I use the same strategy for keyvaults and their access policies.

I am using a simple boolean blueprint parameter to enforce create or update behavior, but you can use `Microsoft.Resources/deploymentScript` to do this as well.

**Create:**
[code]

**

[2020-10-04 01:54] dgumpper commented on #8071
This error is now happening in both East US and Central US. The deployment template keeps generating this error every time it is used. Is there a manual method to deploy the GW? Thanks

[2020-10-04 05:37] MCKLMT commented on #8071
I suggest to open a support request for troubleshooting.

[2020-10-05 11:42] Beelzenef commented on #5378
any update?

[2020-10-05 14:52] Yvand commented on #8288
I also get this error since today, and it probably affects all templates.
It's caused by the format of query string in "Deploy to Azure" button: Currently query string uses this format:
https://github.com/Azure/azure-quickstart-templates/blob/master/sharepoint-adfs/azuredeploy.json
But somehow now GitHub seems to require this format:
https://raw.githubusercontent.com/Azure/azure-quickstart-templat

[2020-10-05 19:15] Misseswaddles opened #8369 "specifying an external multi-step webTest File into ARM?"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-10-06 19:36] andybouts commented on #8288
I agree, I documented in my notes that it should always be this (at least until something changes and it’s not):
https://raw.githubusercontent.com/azure/azure-quickstart-templates/master/sas-viya/azuredeploy.json

[2020-10-07 20:34] kantkrish opened #8397 "ISE ARM Template Deploy to Azure Link"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

While tryin to use the ARM template "Deploy To Azure" for ISE deployment, it fails with the error message " Service Not Available".

--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

[201-integration-service-environment]
(https://github.com/Azure/azure-quickstart-templates/

[2020-10-07 23:47] brianstringfellow commented on #5831
@bmoore-msft I thought it might to helpful to others here to see your reply to the same or similar problem over in Stack Overflow. I have just now encountered the problem after refactoring my ARM templates for Service Fabric to make things more modular where I deploy my storage accounts by `Microsoft.Resources/deployments` and using `templateLink` and then try to `listKeys(...)` when creating the

[2020-10-08 08:49] Yvand commented on #8397
It's possibly a duplicate of https://github.com/Azure/azure-quickstart-templates/issues/8288
Can you try using the same format for the URI as in comment https://github.com/Azure/azure-quickstart-templates/issues/8288#issuecomment-703684266?

[2020-10-09 10:20] niravcybage commented on #7723
We are also facing the similar issue.

[2020-10-09 12:46] gitralf commented on #3615
Closing this since nobody reacted for the last 3 years...

[2020-10-09 12:46] #3615 closed

[2020-10-09 21:56] PlagueHO commented on #7481
I created the original ARM template here, but hadn't noticed that recent versions of Sonarqube (7.8 and above to be precise) included ElasticSearch.

I've been researching solutions and it seems that all indicate that SQ 7.8 and above requires `vm.max_map_count = 262144` being set on the host (to allow ES to start). See https://github.com/sonarsource/docker-sonarqube/issues/279

However, as far as

[2020-10-10 05:27] vijayasekharn opened #8411 "unable to create VMs using this template"
when i click on "deploy to azure" (https://azure.microsoft.com/en-us/resources/templates/sccm-currentbranch/), its opening the azure portal and getting below error. could you please help me with this issue?

<img width="935" alt="AzureTemplateErro JPG" src="https://user-images.githubusercontent.com/29273876/95646565-508be280-0ae7-11eb-8a7d-a2b534feaece.png">

[2020-10-10 13:34] #7481 closed

[2020-10-12 12:58] andybouts commented on #8288
Hey @Yvand  and @tarastclai, this seems to be working as expected now.

[2020-10-12 13:17] PaulVrugt commented on #6936
@t03apt thanks for posting here, I was bending over backwards trying to find why my deployments weren't working

[2020-10-12 21:56] bmoore-msft commented on #5831
for the TLDR; version: https://bmoore-msft.blog/2020/07/26/resource-not-found-dependson-is-not-working/

[2020-10-13 07:19] Yvand commented on #8288
Nope, I just tested and I keep getting the error on all the templates (I tested 4 randomly).

[2020-10-13 11:41] andybouts commented on #8288
﻿Yep, it’s not working for me today, but it worked yesterday.  That’s really unfortunate.

--
Andy Bouts, PMP, M.Sc.
980-938-1827 (O)
704-454-8806 (M)
andy.bouts@sas.com<mailto:andy.bouts@sas.com>

From: Yvan Duhamel <notifications@github.com>
Reply-To: Azure/azure-quickstart-templates <reply@reply.github.com>
Date: Tuesday, October 13, 2020 at 3:20 AM
To: Azure/azure-quickstart-templates <azure-q

[2020-10-13 12:55] Yvand commented on #8411
Duplicate of https://github.com/Azure/azure-quickstart-templates/issues/8288.
This issue affects all the templates. As a workaround, you can use the same format for the URI as described in comment https://github.com/Azure/azure-quickstart-templates/issues/8288#issuecomment-703684266

[2020-10-13 17:18] snoopywood1 commented on #7515
I recently used your quickstart template for ConfigMgr Tech Preview in Azure. I had to delete all those resources in Azure and am trying to use the template again, but I get an error in the attached picture. When I try to copy and paste the json file and create a custom template deployment, the VMs are created, but ConfigMgr Tech Preview is not installed on the ps01 VM. Have you seen any issues wi

[2020-10-13 19:43] MateusAttie commented on #6670
Same issue here, any updates guys ?

[2020-10-13 19:49] bmoore-msft commented on #7515
The portal bug is a bug you hit when deploying via azure.com...  If you deploy from github you won't hit that error.

[2020-10-13 20:38] snoopywood1 commented on #7515
I just learned that!

-----Original Message-----
From: Brian Moore <notifications@github.com>
To: Azure/azure-quickstart-templates <azure-quickstart-templates@noreply.github.com>
Cc: snoopywood1 <snoopywood1@aol.com>; Comment <comment@noreply.github.com>
Sent: Tue, Oct 13, 2020 2:49 pm
Subject: Re: [Azure/azure-quickstart-templates] Install Configuration Manager Tech Preview Lab in Azure (#7515)

[2020-10-14 07:45] robfrut135 commented on #6670
Same issue here, any updates?

[2020-10-14 07:46] robfrut135 commented on #6670
1 year open

[2020-10-14 21:58] bostrom commented on #2514
This section contains the correct steps to get the correct schema for the incoming http request:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/action-groups-logic-app#create-a-metric-alert

[2020-10-16 08:32] zendu opened #8433 "How to create domain verification records without domain verification id?"
[201-web-app-custom-domain-and-ssl](https://github.com/Azure/azure-quickstart-templates/tree/master/201-web-app-custom-domain-and-ssl)

### Issue Details
Description of the sample template says "Create the required DNS record for adding custom hostname". Apparently creating necessary TXT record to verify domain ownership needs "customDomainVerificationId" - this id will be available only after cre

[2020-10-16 21:43] takekazuomi opened #8439 "Elastic pool template is broken."
[101-sql-elastic-pool-create](https://github.com/Azure/azure-quickstart-templates/tree/master/101-sql-elastic-pool-create)

### Issue Details

In deploy results, Database is not in members of the pool, and SKU request is ignored that is always `GeneralPurpose: Gen5, 2 vCores`.

### Repro steps

1. click 'Deploy To Azure'
2. "edition": "Standard", "dtu": "100", "databaseDtuMin": "0", "databaseDtuMa

[2020-10-19 19:15] #8439 closed

[2020-10-20 14:08] cc-sshaik opened #8444 "OS provisioning error with the VM's"
![image](https://user-images.githubusercontent.com/70511398/96464579-a0844b00-1245-11eb-894c-fb86efc11af4.png)
Hi @bmoore-msft ,

We are seeing the **OS provisioning error** with the VM's when we trigger our deployment through this Pull request. Can you please help us to check and overcome this issue?

_Originally posted by @cc-sshaik in https://github.com/Azure/azure-quickstart-templates/pull/840

[2020-10-20 17:20] xtianus79 commented on #7302
@MCKLMT the ELK stack is giving a similar issue.

[2020-10-21 13:37] stowen-msft opened #8448 "Azure Backup Quickstart settings template has issues"
-------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------
Weekly Backup Policy Setting - https://github.com/Azure/azure-quickstart-templates/tree/master/101-recovery-services-weekly-backup-policy-create

### Issue Details

Over time, it seems that a few small issues have surfaced with this template.

#### Template Values not Filled in

The Template includes parameter va

[2020-10-22 01:37] ssanders-netscout opened #8450 "100-marketplace-sample deployment fails when selecting None for public IP"
### Template
[100-marketplace-sample](https://github.com/Azure/azure-quickstart-templates/blob/master/100-marketplace-sample/azuredeploy.json)

### Issue Details
If I select None for the Microsoft.Network.PublicIpAddressCombo in createUiDefinition.json, Azure will output an empty string for the [publicIpName](https://github.com/Azure/azure-quickstart-templates/blob/master/100-marketplace-sample/cr

[2020-10-22 02:16] bmoore-msft commented on #8450
@ssanders-netscout - I'm not able to reproduce this, if I click the "Deploy to Azure" button in the repo and deploy via portal, the option for publicIp==none works fine.  CUID sending an empty string for the publicIp params is "by design".

Failing any other insight can you send me a correlationId from the failure?  (feel free to email if you don't want to post here)

[2020-10-22 02:24] bmoore-msft commented on #8448
The portal doesn't pre-populate param values from the param file, only from the template file's defaultValues....  this template doesn't have any defaultValues...  Though if you wanted to add some defaultValues based on what's in the param file, that would be a helpful PR - this is a pretty challenging template to deploy manually.

[2020-10-22 02:24] #8448 closed

[2020-10-22 02:25] bmoore-msft commented on #8444
if you're still seeing this please open a support case with Azure Support.

[2020-10-22 02:25] #8444 closed

[2020-10-22 02:26] bmoore-msft commented on #8411
@Yvand - thx...

[2020-10-22 02:26] #8411 closed

[2020-10-22 02:27] bmoore-msft commented on #8433
@zendu - this isn't really a template issue so I'm going to close out...  you might be able to raise this question on the docs that mention this behavior or tweet @AzureSupport

[2020-10-22 02:27] #8433 closed

[2020-10-22 02:28] bmoore-msft commented on #8397
Thx Yvand...

[2020-10-22 02:28] #8397 closed

[2020-10-22 02:29] bmoore-msft commented on #8303
@vhorne ?

[2020-10-22 02:31] bmoore-msft commented on #8288
ACOM had a bug - I think it's been fixed now

[2020-10-22 02:31] #8288 closed

[2020-10-22 02:34] bmoore-msft commented on #8277
@jeffhollan any ideas

[2020-10-22 02:36] bmoore-msft commented on #8226
@heywoodj can you tweet @AzureSupport with this?

[2020-10-22 02:38] bmoore-msft commented on #8225
@sassoftware can you help?

[2020-10-22 02:39] bmoore-msft commented on #8223
@sassoftware can you help?

[2020-10-22 02:42] bmoore-msft commented on #8159
@snoble - take a look at other samples in the repo: https://github.com/Azure/azure-quickstart-templates/search?l=JSON&q=customdata

[2020-10-22 02:43] #8085 closed

[2020-10-22 02:43] #8021 closed

[2020-10-22 02:44] #8019 closed

[2020-10-22 02:45] #8006 closed

[2020-10-22 02:49] bmoore-msft commented on #7965
DSC files should be in a folder named "DSC" but many samples have not been updated to account for the practice...

[2020-10-22 02:49] #7965 closed

[2020-10-22 03:34] jeffhollan commented on #8277
Yeah looks like the connector had a major version change from when I created this. Looks like a few of the properties got renamed and some added. I would assign to Jon Fancey - I don’t see his handle pop up on this repo to tag

[2020-10-22 05:11] heywoodj commented on #8226
@bmoore-msft, I raised a ticket in the end and it was identified as a bug. A fix is scheduled to be released this month so awaiting the outcome of that.

[2020-10-22 05:35] willguibr opened #8451 "Using virtualMachines/extensions with CopyIndex."
Hi There, I managed to deploy this script without any problems, but I am trying to provision the VMs with a bash script using the virtualMachines/extensions. Do you have any suggestions on how to use the copyIndex in this section? I tried in several ways but I had no luck and the script fails to deploy with syntax errors.
This is the script I am trying to repurpose: https://github.com/Azure/azure-

[2020-10-22 10:19] andybouts commented on #8288
I tried it 3 times and it worked as expected.  Thanks for the fix.

--
Andy Bouts, PMP, M.Sc.

From: Brian Moore <notifications@github.com>
Date: Wednesday, October 21, 2020 at 10:31 PM
To: Azure/azure-quickstart-templates <azure-quickstart-templates@noreply.github.com>
Cc: Andy Bouts <Andy.Bouts@sas.com>, Comment <comment@noreply.github.com>
Subject: Re: [Azure/azure-quickstart-templates] Error d

[2020-10-22 13:40] baartch commented on #7184
Hey @mepand . Is there already a solution to this? The end of Q3 is now over.
I'm running into the same issue. Thank you for an answer to this.

[2020-10-22 14:21] bmoore-msft commented on #8451
what you have will work fine if you add the copy property to it - the dependsOn will need to change, the simplest change would be to make it dependent on the virtualMachineLoop

[2020-10-22 15:23] bmoore-msft commented on #8288
Thanks for confirming...

[2020-10-22 15:26] bmoore-msft commented on #8226
Ok - thanks for the follow up...  I'll close this then since I don't think there's anything to do with the sample for now.

[2020-10-22 15:26] #8226 closed

[2020-10-22 15:27] bmoore-msft commented on #8277
@jonfancey - is this something you can help with?

[2020-10-22 15:42] ssanders-netscout commented on #8450
@bmoore-msft   Thanks for the response.  I can confirm that the Deploy to Azure button does work properly for 100-marketplace-sample when None is selected for the Public IP.

It's working because when I select None then the output of the PublicIpAddressCombo widget is only the newOrExistingOrNone parameter.   This conforms to the [Sample Output documentation](https://docs.microsoft.com/en-us/azure

[2020-10-22 16:01] SQLPRODDBA commented on #7701
Could you please let me know the exact location where you had to put in these settings in your ARM template? I am trying to do similar thing to add diagnostic settings and storage account in the same ARM template but didn't succeed yet.

[2020-10-22 16:58] willguibr commented on #8451
@bmoore-msft bmoore-msft I think I got it. I added the copy propery along with the dependsOn: VirtualMachineLoop. Initially I had the cdependson pointing to the myvm  and the script was trying to run before the VM was built. So I reversed and added the myVM in the copy property and the Machine Loop in the depends on as you suggested and it works like a charm. I now did some additional modification

[2020-10-22 17:08] mepand commented on #7184
Hello @baartch Apologies for the delay. We have started enabling the feature flag for supporting ARM template  to configure backup for azure file shares using friendly name. It has already been deployed in couple of regions and by end of this month, the feature flag would be enabled for all the geos.

[2020-10-22 17:11] bmoore-msft commented on #8450
Hmmm... I see (and you are correct about the output). I think this is a bug in portal - nothing you can do about it in CUID.  Lemme ping them...

[2020-10-22 17:23] bmoore-msft commented on #8451
LGTM - thanks for confirming...

[2020-10-22 17:23] #8451 closed

[2020-10-22 19:00] willguibr commented on #8451
@bmoore-msft bmoore-msft  I just ran into another issue that I did not realize before. The script in fact is running only in one machine twice in this case. In my example above the bash script should run the parameters once per VM For example: (MP1TokenCode) should run on VM1 and  (MP2TokenCode) should run on VM2. I also had to add some line breakers because otherwise it template was combining bot

[2020-10-23 02:58] zendu commented on #8433
This really is issue with sample. It is missing out on vital piece.

[2020-10-23 03:58] willguibr opened #8456 "Azure ARM Template Copy property - Bash Script Execution"
I am trying to deploy an Azure ARM Template that creates two VMs in different Availability sets. The deployment is working fine and the VMs are successfully deployed; however, I also need to run a bash script, which must provide two distinct parameters (One for each VM), as those are unique token codes that cannot be ran twice (OTAP).The script in fact is runs successfully in the first VM, but it

[2020-10-23 05:15] alakiran commented on #7701
Here is the resources section i got it working!

 "resources": [
    {
      "comments": "Cosmos Db Configuration with IpRules to allow cosmosdb access from Azure portal.",
      "type": "Microsoft.DocumentDB/databaseAccounts",
      "apiVersion": "2020-04-01",
      "name": "[Parameters('databaseAccountName')]",
      "tags": "[parameters('tagValues')]",
      "location": "[resourceGroup().locati

[2020-10-23 15:52] osapeliuk commented on #6670
Same issue, are there any updates?

[2020-10-23 15:55] bmoore-msft commented on #8450
@ssanders-netscout - looks like a bug in portal, they are working on a fix...

[2020-10-23 16:00] bmoore-msft commented on #8456
Can you post this over on stackoverflow - probably more suited for that forum... feel free to post a link to it back here and I can take a look.

[2020-10-23 17:20] bmoore-msft commented on #8433
I think the template is working as it was intended, it just has the prereqs mentioned in the readme.

I don't know if it's possible to fulfill the prereqs via a template (it's not to my knowledge) which is why I think @AzureSupport may be a better source.

[2020-10-25 03:23] #3334 closed

[2020-10-26 05:31] drewswiredin commented on #2786
This is one of the many limitations of ARM. In order to achieve fully automated infrastructure, ARM templates alone just don't cut it. ARM automation must be bolstered with scripting and creative usage of parameters and outputs. Another example like this one is keyvault access policies. They get destroyed upon redeployment of the keyvault during even 'Incremental' deployments.
The trick here is to

[2020-10-26 06:41] frankzo commented on #2786
This could become a problem from a desired state perspective. I would like everything to stay in code. If you first query what is already there and then "redeploy" it you might end up with subnets manually created being part of the deployment.

With Key Vault Access Policies or Web App settings you run into the same challenge.  You could try and incorporated the "union" function in ARM to combine

[2020-10-26 14:01] drewswiredin commented on #2786
That's exactly what we want in our case.

The issue being addressed here is how to persist configurations/resources that were 'deployed manually'. And by 'manually' we really mean any resources/properties that are not included in the initial ARM deployment of the parent resource. This may seem like an anti-pattern but there are some instances where we want to manage the creation of certain resourc

[2020-10-26 15:34] singhvi opened #8460 "SAS Viya deployment issue - possible ansible version mismatch."
Issue is with the [SAS-Viya](azure-quickstart-templates/sas-viya/) quick start deployment.

### Issue Details
Deployment fails for SAS-Viya quick start (on step AnsiblePhase6Part1RunViyaInstall), with the below error. It looks like there is a ansible version mismatch.

`
nTASK [Gathering Facts] *********************************************************\\nok: [localhost]\\n\\nTASK [Verify that a val

[2020-10-26 22:44] RMcD commented on #5305
This needs to be linked to in the AppInsights and Appservice documentation so you don't chase your tail looking at the 'old' way of doing it.

[2020-10-27 08:18] SQLPRODDBA commented on #7701
Thanks a lot! Much appreciated!

[2020-10-27 16:08] KarlisAG opened #8461 "101-sql-elastic-pool-create ElasticPools BadRequest at deployment stage"
101-sql-elastic-pool-create https://github.com/Azure/azure-quickstart-templates/tree/master/101-sql-elastic-pool-create

### Issue Details
I used your template to make ARM template to make SQL server, databases with elastic pools and to have the databases content be imported. But when I try to deploy this template with my own few additions (available to see here: https://github.com/KarlisAG/SQL_AR

[2020-10-27 21:28] bmoore-msft commented on #8456
I think I saw this on SO - post a link back if you haven't found a resolution

[2020-10-27 21:28] #8456 closed

[2020-10-27 21:29] bmoore-msft commented on #8460
@sasgwb

[2020-10-28 10:14] KarlisAG commented on #8461
I solved the problem. Small discussion and my answer, about how I came to fixing this issue is found here: https://stackoverflow.com/questions/64559141/azure-elasticpool-badrequest-during-creation-deployment-when-using-arm-templat/64570682#64570682

[2020-10-28 10:14] #8461 closed

[2020-10-28 11:34] sasgwb commented on #8460
The Quickstart has been updated to use Ansible 2.9.14, which meets the requirements of the updated SAS installation tools used by the Quickstart.

[2020-11-03 00:25] vivere opened #8486 "OpenVPN login failure after successful deployment"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-11-03 16:23] serxansherif opened #8488 "Logic App ARM deployment Managed Identity output"
Hello,

I want to get Logic App Managed Identity ID in the output of the ARM template deployment. Could you share documents or examples, pls?

[2020-11-05 08:57] rbnmk commented on #6670
We really need a proper solution for this. Any update?

[2020-11-05 11:41] #6400 closed

[2020-11-05 11:42] #6899 closed

[2020-11-05 17:22] dcd000 commented on #6620
There is a problem with the wordpress compose service. It should have set environment variable WORDPRESS_DB_PASSWORD (similar to mysql compose service), but it hasn't got.

[2020-11-05 18:53] MoeJw opened #8492 "Add Azure Monitor logic apps template"
Sometimes we need To get richer debugging information about logic apps during runtime, we can set up and use Azure Monitor logs to record and store information about runtime data and events, such as trigger events, run events, and action events in a Log Analytics workspace and get something like this

![image](https://user-images.githubusercontent.com/42002662/95859700-ae2e6200-0d67-11eb-830d-e3cb

[2020-11-05 20:55] bangi123 opened #8493 "create vm azure template with Existing Key Stored In Azure"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-11-05 22:36] kkvquach commented on #6936
Thanks that resolved my issue too

[2020-11-06 02:38] Kedi1997 opened #8495 "Web app settings gets overwritten and deleted"
When having appsettings defined in arm templates for web app, no matter through a **siteConfig** object or define a **Microsoft.Web/sites/config** child resource, it always overwrite all existing appsettings.

For example, I have an existing setting in cloud which is `environment : dev`,  and then in my arm template, I only defined a setting `databaseKey : xxxxx`. If I deploy the arm template agai

[2020-11-06 15:05] patbrown56 commented on #8225
I'm currently working on rewriting this section to be more clear.

[2020-11-06 15:06] patbrown56 commented on #8223
I'm currently working on rewriting this section to be more clear on where to add the new user information.

[2020-11-06 15:16] patbrown56 commented on #8278
Currently investigating how to resolve this.

[2020-11-08 00:02] rupeshgunapati opened #8501 "SAS Viya 3.5 deployment failed - known issue with Ansible, still an issue."
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-11-08 11:06] yaegashi opened #8502 "101-vm-linux-Jupyterhub won't work at all"
[101-vm-linux-Jupyterhub](https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-linux-Jupyterhub)

### Issue Details

It's broken with the following broken script.  Have you tested it even once before release?

https://github.com/Azure/azure-quickstart-templates/blob/720b93320688f9896053e1be2bfa5caf9220115b/101-vm-linux-Jupyterhub/scripts/install.sh

### Repro steps

1. Click Depl

[2020-11-08 20:32] sideshowtom opened #8503 "The automated install of the tableau-server-single-node template deploys an Ubuntu 16 VM on Azure but then fails to install Tableau"
The automated install of the tableau-server-single-node template deploys an Ubuntu 16 VM on Azure but then fails to install Tableau.

This is because line 7 of

azure-quickstart-templates/tableau-server-single-node/scripts/config-linux.sh

which is

while getopts u:p:f:g:h:i:j:k:l:m:n:o:q:r:s:t:v:w:x:y: option

should have an 'e' option for the tableau server version, because it is used on line 23

[2020-11-09 16:08] rupeshgunapati commented on #8460
@sasgwb i tried 3 days ago with the latest ansible 2.9.14 version, still an issue with ansible.

[2020-11-10 05:25] PeterDowdy commented on #6670
I'm having trouble with this, too. I can just pull the databricks deploy out of my combined pipeline, but that's not ideal.

[2020-11-10 08:30] MCKLMT commented on #8503
Are you sure about that? I don't see the version used [in the script](https://github.com/Azure/azure-quickstart-templates/blob/master/tableau-server-single-node/scripts/config-linux.sh).

[2020-11-10 13:17] sideshowtom commented on #8503
Its passed in from azuredeploy.json as a parameter.  See line 29 of azuredeploy.json.

[2020-11-10 13:20] MCKLMT commented on #8503
I see Tom but the parameter is not used in the script.

[2020-11-10 13:32] sideshowtom commented on #8503
It is.  If you look at line 237 of azuredeploy.json, thats where its set up to be passed to config-linux.sh, with the -f parameter.  Line 237 is very long so you have look near the end of it.

[2020-11-11 12:32] michalzima44 commented on #6670
What worked for us was to combine updating our templates based on https://github.com/Azure/azure-quickstart-templates/blob/master/101-databricks-all-in-one-template-for-vnet-injection/azuredeploy.json and using the solution by @marcin-vt to change the nsg part in this thread.

[2020-11-11 22:44] DazzleJim opened #8507 "Use of "double quotes" to define OU path"
201-vm-domain-join-exiting (https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-domain-join-existing)

### The parameter 'ouPath' metadata suggests using "double quotes" in the OU path which causes the deployment to fail.

### Repro steps
1. Remove the "double quotes" from the parameter 'ouPath' metadata.

[2020-11-12 03:25] galinagpolyakova opened #8508 "101-azure-database-migration-service does not Deploy to Azure - no SAS token generated"
https://github.com/Azure/azure-quickstart-templates/tree/master/101-azure-database-migration-service

### Issue Details - error message observed

SAS token for storage account https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-azure-database-migration-service/ is not auto-generated and empty string it does not work.

While deploying this resource: **targetservername4mbwy

[2020-11-12 12:51] AnishJS opened #8510 "101-mutiple-vms-with-data-management-gateway - Run-Process failure"
https://github.com/Azure/azure-quickstart-templates/blob/master/101-mutiple-vms-with-data-management-gateway/scripts/gatewayInstall.ps1

### Issue Details
When deploying the script receiving the following error:
Failed to run process: exitCode=1618, errVariable=, errContent=, outContent=.\\r\\nAt C:\\\\Packages\\\\Plugins\\\\Microsoft.Compute.CustomScriptExtension\\\\1.10.9\\\\Downloads\\r\\n\\\\4

[2020-11-16 21:17] derekschauland commented on #6514
Any movement on this? A terraform config I have is behaving similarly

[2020-11-17 03:55] robot-army commented on #6092
Hi, I'm seeing the same headline failure, with a slightly different body. I'm not sure it's related to Python version, but I can't be sure:
`"code": "VMExtensionProvisioningError",
        "message": "VM has reported a failure when processing extension 'tigInit'. Error message: \"Enable failed: failed to execute command: command terminated with exit status=2 [stdout] 237787966aad0f8fd0fc31df1c4c9e

[2020-11-17 10:06] Xuqiang-Liu commented on #8503
English is so difficult, why not use chinese,please call me study difficult!
This is the first I am come github and I'm also don't know where I am now!
clock in successful!

[2020-11-17 11:04] sideshowtom commented on #8503
I see you.

Try https://safenetforum.org/t/safenetwork-git-portal-discussion

[2020-11-17 13:08] RinieH opened #8521 "As part of classic alerts retirement, starting Sep 01, 2019, no new classic alerts can be created"
The following microsoft.insights/alertrules specified in this template are not valid anymore:
ForbiddenRequests interceptwebsite
ServerErrors interceptwebsite
CPUHigh interceptwebsiteserviceplan
LongHttpQueue interceptwebsiteserviceplan

During deployment the following BadRequest message is returned:

        "code": "DeploymentOperationFailed",
        "message": "{\r\n  \"code\": \"BadRequest\",

[2020-11-17 13:08] #8521 closed

[2020-11-17 17:50] jason-appliedis opened #8523 "Authentication Error when adding a BCS"
[Azure template for SharePoint 2019 / 2016 / 2013](https://github.com/Azure/azure-quickstart-templates/tree/master/sharepoint-adfs)

### Issue Details
Authenticating to a BCS is not inherently set up and I use an extra  config step to improve the Claims Authentication. I have the work around added to the MD and looking to add a PR for review

### Repro steps
1. Deploy Arm
2. Login in as Admin
3. S

[2020-11-18 09:44] malichishti opened #8524 "How to add a private key certificate to Web App or App Service using ARM template"
Hi,

I'm trying to setup a Web App using ARM templates. As part of the setup i would add a **private key certificate** to the web app. However so far i can only see the option to provide a public certificate using [this](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/publiccertificates )

I use this certificate in my code for token signing.

![image](https://user-images.githu

[2020-11-18 23:13] MattSmith46 opened #8525 "Unable to run the ASR-AddMultipleLoadBalancers runbook."
[ASR-AddMultipleLoadBalancers](https://github.com/Azure/azure-quickstart-templates/blob/master/asr-automation-recovery/README.md)

### Issue Details
I'm unable to run the ASR-AddMultipleLoadBalancers Runbook in Azure. I've installed the latest runbook from GitHub and created the complex variable in the Automation Account. When running the Runbook I keep getting the error
_"Error: The input object

[2020-11-19 12:51] esuomi commented on #8071
For what it's worth, I'm just today seeing this on **West Europe** with the same conditions as in original post. This template worked fine yesterday. Is there any additional information available?

[2020-11-19 13:16] srcsakthivel commented on #8071
No, it worked on retry with no change. As @MCKLMT mentioned you can open a Microsoft ticket.

[2020-11-20 06:46] ashima-24 opened #8531 "Problem facing to run http trigger function again"
Hello all,

I am facing a problem, when  try to run my http trigger function it runs fine for the first time and give me results also. but when I try to run the same function again , it gets stuck here "(Reason='This function was programmatically called via the host APIs." and doesn"t give any results.

I noticed that when I try to run the same function again like about 30 min after my first run,

[2020-11-20 16:22] #944 closed

[2020-11-20 16:22] #966 closed

[2020-11-20 17:52] Taejas opened #8536 "Issue with templates using default values for Boolean parameters in portal "Deploy to Azure" view"
[Backup Azure File Share to Recovery Services Vault](https://github.com/Azure/azure-quickstart-templates/tree/master/101-recovery-services-backup-file-share)
[Azure Backup for SQL Server in Azure Virtual Machines](https://github.com/Azure/azure-quickstart-templates/tree/master/101-recovery-services-vm-workload-backup)
[Create PostgreSQL Datastore in Azure Machine Learning Workspace](https://github

[2020-11-23 18:09] MCKLMT commented on #8536
Hello,
I reproduced the issue on my own and opened a support request internally.
The bug should be fixed in a near future release.
Thanks for reporting it.

[2020-11-25 07:39] MCKLMT commented on #8536
The fix should be deployed in the coming weeks to production portal. Thanks again for your contribution!

[2020-11-25 08:36] dnyaneshwar-surywanshi opened #8548 "Creation of 2 and more VM in an availability set + Adding a load balancer infront of the VM+ Adding the Load Balancer to Traffic Manager ."
I am trying to archive Creation of 2 and more VM in an availability set + Adding a load balancer infront of the VM+ Adding the Load Balancer to Traffic Manager .
Can someone please provide any ARM template for above requirement?

[2020-11-25 09:56] dnyaneshwar-surywanshi opened #8549 "How to add load balancer to traffic manger using ARM templte."
I am trying to add my load balancer public ip address into traffic manager using ARM template but not getting reference for this requirement can someone please help on this ?

[2020-11-25 14:49] erikholsson commented on #5461
I recently faced this same issue and sadly the solutions above didn't work for me. Instead of using the "config" object I solved the issue by adding the snippet below to the "resources" section of my app service template. This creates a container in my storage account and creates/updates the correct folder structure for the logs. Not sure why this doesn't seem to be documented as it also eliminate

[2020-11-25 16:35] davehcdn opened #8550 "application-gateway-logviewer-goaccess - Error Parsing Log Entries"
[application-gateway-logviewer-goaccess](https://github.com/Azure/azure-quickstart-templates/application-gateway-logviewer-goaccess)

### Issue
 It seems like the template deployed, but no report.html was produced.  I navigated to `/var/log/azure/Microsoft.Azure.Networking.ApplicationGateway.LogProcessor/application.log` where it looks like there is an error every time that the `Microsoft.Azure.Ne

[2020-11-26 05:16] GeekDotNet opened #8552 "404 – Page not found- Nested VMs in Azure Virtual Networks -link broken"
### Issue Details
404 – Page not found- Nested VMs in Azure Virtual Networks -link broken
### Repro steps (*if necessary, delete otherwise*)
1 Open https://github.com/Azure/azure-quickstart-templates/tree/master/301-nested-vms-in-virtual-network
2. Go to 301-nested-vms-in-virtual-network section
3. Click on Nested VMs in Azure Virtual Networks link

[2020-11-26 09:08] Yvand commented on #8523
@jason-appliedis thank you for your report. indeed, BCS SA is not created in the template.
About the steps you propose:
- Default zone uses Windows only and Intranet zone uses ADFS only, so this change should have effectively no effect. Assuming it does, BCS should be investigated to understand why it needs it.
- Hardcoding this to "/_trust" has downsides and shouldn't be done that way. Instead, a

[2020-11-27 07:40] nosiam opened #8554 "Support of SWAT (Python or R connection) : cas-shared-default-http 8777 or cas-shared-default 5570 setup ?"
How to setup/route the access to cas-shared-default-http 8777 or cas-shared-default 5570 from in order to use the SWAT lib with Python or R ?

With the quick start template setup we can't access 8777 or 5570, how to setup this access in this infrastructure ?

Thanks,
Antoine

[2020-11-30 10:31] simonvane opened #8560 "101-function-app-create-dynamic contains undocumented property"
[Provision a function app on a Consumption plan](https://github.com/Azure/azure-quickstart-templates/tree/master/101-function-app-create-dynamic)

### Issue Details
[azuredeploy.json](https://github.com/Azure/azure-quickstart-templates/blob/master/101-function-app-create-dynamic/azuredeploy.json) defines an instance of Application Insights. On line [137 ](https://github.com/Azure/azure-quickstart-

[2020-11-30 12:09] rvvincelli opened #8561 "Linked templates-style deployment fails on unexpected "resource not found""
### Issue Details

Hi, we are encountering an issue with a custom ARM template. We know this is the quickstart repo, but as we could not find a better place and we are attaching a minimum non-working example we thought we can start here.

It is about an eventual consistency we guess: we use the linked template styles, and even if a specific component deployment completes successfully Azure complai

[2020-11-30 14:47] basavarajb opened #8562 "Need info: Configure backup policy as continuous and integrating the cosmos db diagnostic to datalake gen2"
Provide me the details for below queries.
1)How to configure the backup policy to **continuous**  using ARM template
2) How to use the datalake gen2 as cosmos db diagnostic destination.

[2020-11-30 16:31] mjcarrabine commented on #7058
Sure thing @MCKLMT.

The `tier` property is still not in the schema, but it is included when you choose Export Template in the Azure Portal UI. Interesting.

However, I will close it because it isn't breaking anything for me.

[2020-11-30 16:31] #7058 closed

[2020-12-01 23:03] patbrown56 commented on #6237
Can you verify that is failure is still occuring? I did not observe the issue when using the quickstart to

[2020-12-02 11:33] yovko123 commented on #8550
We're experiencing the same issue. Did you manage to resolve it?

[2020-12-02 12:02] Naren0823 opened #8570 "Issue with Azure SQL VM - Machine is not joined to expected domain"
### Issue Details
I am trying to setup the AlwaysON AG using Azure SQL VMs and following below link and sing same templates to build.

https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-quickstart-template-configure

Step 1:
Installed two Azure SQL VM using ARM.

Step 2:

Joined both the nodes to  ADDS manually and tested. Able to ping from each and every

[2020-12-02 20:08] davehcdn commented on #8550
Nope. 🦗🦗. Still unassigned.

[2020-12-04 00:52] jason-appliedis commented on #8523
@Yvand Thanks you!!!

Ok, I am still learning authentication and SharePoint. With this feedback, I am certain I may have just dink the BCS up.

A few questions if you have the time to entertain them:
1. " "/_trust" has downsides " where is a good place to read about this?
    I picked it up from another developer and have yet to find it in documentation. I typically don't add things I don't unders

[2020-12-05 11:31] 435103697 opened #8579 "Jj"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-12-06 16:50] student-programmer-6565 opened #8583 "Deployment works fine. The userscrip after that is failing."
[django-app] https://github.com/Azure/azure-quickstart-templates/tree/master/django-app

### Issue Details
Initial deployment works smooth - vm is setup, storage is set up, all fine!
Then the script (https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/django-app/install_django.sh) gets called.  Things fail here.  I assume between then and now - they way WSGI / apache might ha

[2020-12-07 09:21] Yvand commented on #8523
It's probably not officially documented, but it impacts the crawler and the integration with client applications (for exmaple, opening of Office documents in Office client)
I never really used BCS much but it does not require ADFS. My understanding is that you probably need to configure the Secure Store to use the credential you need in BCS to connect to the backend (for example SQL). I cannot tel

[2020-12-08 14:46] patbrown56 commented on #8501
I am investigating.

[2020-12-08 14:58] rupeshgunapati commented on #8501
SAS fixed the issue but still "AnsiblePhase7PostViyaInstall" failed at the end of the process. As post install is a very important step to initiate the processes, it might affect the services within the app. Please take a look below error message:

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see http

[2020-12-08 19:36] akinfemi opened #8588 "IBM Cloud Pak for Data: NFS client install fails if the network is using Custom DNS"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-12-10 12:05] guardrex commented on #6900
Hello @carlp101 ... I work on topics for the ASP.NET Core docs, and we hit this, too, for one of our 14 PS scripts that we furnish in our repo to readers. Bitdefender's heuristic scanning is flagging such scripts based on pattern matching ... something that it thinks *might be* a virus or malware. I spoke with a content writer for the PowerShell docs, and it seems like there are only two ways to r

[2020-12-10 13:03] djpirra commented on #7814
Thank you!

[2020-12-10 13:03] #7814 closed

[2020-12-11 12:12] bartlannoeye opened #8596 "Replace Azure Job Scheduler + ASB template with a valid alternative"
[Create a Service Bus Queue and Azure Scheduler Job](https://github.com/Azure/azure-quickstart-templates/tree/master/101-scheduler-service-bus)

### Issue Details

With Azure Scheduler Service already retired for almost a year, I didn't expect to find a template for ASB + Scheduler. Instead I would have hoped for ASB + Logic app or ASB + Funtion for scheduling messages, or maybe even both (with th

[2020-12-13 14:14] rikedje commented on #6670
Thank you @marcin-vt and @michalzima44 - works

[2020-12-14 14:19] takekazuomi commented on #2786
The condition operator has been a great help to me. However, this limitation is a major impediment to ARM Template modularization.
I want to modify and deploy the same template to maintain the environment. It is the worst to be destroyed by redeployment.

[2020-12-15 09:13] hyunsooda opened #8598 "Failed generating of Gen2 VM in ARM"
Hi all,
In this [sample](https://github.com/Azure/azure-quickstart-templates/blob/master/101-aks/azuredeploy.json), I couldn't put the gen 2 VM such as Standard_DC2s_v2. If I do this then I get the error:
```"CreateVMSSAgentPoolFailed" deployment operations failed with error messages: {\n  \"code\": \"BadRequest\",\n  \"message\": \"The selected VM Size 'Standard_DC2s_v2' cannot boot Hypervisor Ge

[2020-12-16 01:01] cnsimon opened #8599 "How to import KeyVault cert with a selected version"
Hi,

I am working on FunctionApp deployment and using the following template to import a cert created in KeyVault. Could you help me find out how to specify the version of the cert in KeyVault? The current version of the cert might not work so I have to set the version. It works in some other templates as I could use the the URL of the cert with version directly, e.g. https://{keyvault name}.vault

[2020-12-18 18:27] jikuja opened #8622 "201-aci-sftp-files/azuredeploy.json"
[Template Name goes here](Template link goes here)

### Issue Details
Template does not work because of comments and/or multiline strings added with the latest commit.

### Repro steps (*if necessary, delete otherwise*)
1. Click deploy to azure in https://github.com/Azure/azure-quickstart-templates/tree/master/201-aci-sftp-files
2. Portal gives the error `Error parsing template. Please ensure the

[2020-12-18 19:31] MCKLMT commented on #8622
Thanks for bringing this to my attention. I created a pull request to solve the issue. In the meantime, you can get the corrected template and submit it using the portal, Azure Powershell or CLI.

[2020-12-20 06:11] mimanu opened #8624 "using DNS Forwarder Template - Issue installing Extension - Setupdnsfirewall step"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2020-12-21 11:20] MCKLMT commented on #8536
@Taejas Can you check again?

[2020-12-22 17:48] MCKLMT commented on #8622
The pull request has been merged and the issue is now solved.
@jikuja Can you check on your side?

[2020-12-22 18:48] Taejas commented on #8536
It seems to be resolved now, thanks :)

[2020-12-23 05:57] #8624 closed

[2020-12-23 05:58] mimanu commented on #8624
Discovered Network Routes the internet differently

[2020-12-23 07:46] eroruz opened #8632 "Any way to disallow adminUsername for user xyz"
So, I have created a new offer in the marketplace for a Ubuntu Linux VM and we are using an extra piece of software that uses Tomcat and a user xyz. This user was not very well named tho and our devs don't have time to change this implementation soon enough.
Is there any way do disallow the customers to use user xyz?
I could not find anything related in the [documentation](https://docs.microsoft.c

[2020-12-23 21:23] kwiecek commented on #8632
If I understand your problem correctly, you want to prevent the creation of a virtual machine if the username indicated during creation is xyz. You can create an Azure Policy with deny effect and check that the field Microsoft.Compute/virtualMachines/osProfile.adminUsername is equal to 'xyz'.

[code]

[2020-12-27 17:35] MCKLMT commented on #8598
Unfortunately, the support of Gen 2 vm in AKS in currently in preview. I think the only way to create a new cluster with this kind of machines is to use Azure CLI [as documented there](https://docs.microsoft.com/fr-fr/azure/aks/cluster-configuration#generation-2-virtual-machines-preview).

[2020-12-28 01:19] hyunsooda commented on #8598
Hi @MCKLMT,

So, What the property`distro` has mean, and how can be used for which purpose?

[2020-12-28 12:58] MCKLMT commented on #8583
Are you comfortable with Python? I can get Python installed but cannot get the "Hello World" sample working.

[2020-12-30 10:51] #8531 closed

[2021-01-04 04:38] mimanu opened #8639 "301-dns-forwarder"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-01-05 05:52] #8549 closed

[2021-01-05 05:52] dnyaneshwar-surywanshi commented on #8549
No one give the solution so I am closing.

[2021-01-05 05:53] #8548 closed

[2021-01-05 05:53] dnyaneshwar-surywanshi commented on #8548
No one give the solution so I am closing.

[2021-01-05 15:31] kumarz opened #8642 "Quick start template for deploying webjobs as containers in azure"
### Issue Details
I would like to get a sample for deploying webjobs as containers in azure.

[2021-01-05 16:10] #8622 closed

[2021-01-06 18:29] jwittner commented on #6757
Cross referencing a similar docs issue: https://github.com/MicrosoftDocs/azure-docs/issues/66001. It appears the `type` that works isn't the same as the docs for this either.

[2021-01-06 19:43] jwittner commented on #6757
Running into an issue that appears to be caching related, that I thought was relevant here. I'm trying to maintain the current key if one exists already. To do that I've updated my resource as such:

[code]

This effectively preserves the existing value if it's already set. The error comes with my output:

[code]
On first run I get this error: `The template output 'x-functions-key' is not valid: T

[2021-01-07 08:18] MCKLMT commented on #8536
Can you close the issue?

[2021-01-07 08:36] #8536 closed

[2021-01-07 16:56] harvey-k opened #8645 "Possible incorrect Kind value for Linux App Service"
[101-app-service-docs-linux](https://github.com/Azure/azure-quickstart-templates/blob/master/101-app-service-docs-linux/azuredeploy.json#L54)

### Issue Details

There are several examples of creating a Linux based App Service in this repository, including the link above, all of which use
`
"kind": "linux"
`

However according to the app service team, the "linux" value should be "app,linux".
https

[2021-01-08 04:51] basavarajb opened #8646 "Azure netapp file service error : Volume Cannot be created in a pool that is not in state succeded."
I'm getting the mentioned error while deploying the arm template with azure devops pipeline.
PreconditionFailed: Volume Cannot be created in a pool that is not in state succeded. I'm trying to create to create azure netapp account and volumes and attaching the backup policy for volumes. Here i'm attaching the arm template script .
[code]

[2021-01-08 14:42] harvey-k commented on #8645
Sorry, I didn't realize this was for the Microsoft.Web/sites kind value, not the Microsoft.Web/serverfarms kind value.

[2021-01-08 14:42] #8645 closed

[2021-01-08 20:49] johnthompson365 opened #8649 "How to update createADcontroller module?"
Create an Azure VM with a new AD Forest (from a module)
https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain-module-use

Question: I am interested in learning how this works. What module is it? Am I able to update/modify it?

Thanks.

[2021-01-09 14:51] MCKLMT commented on #8642
Do you have a sample container I could use for testing?

[2021-01-09 15:03] MCKLMT commented on #8524
You can find an example there https://github.com/Azure/azure-quickstart-templates/tree/master/201-web-app-public-certificate

[2021-01-11 16:07] eroruz commented on #8632
How is the behaviour of this? Does this negate the creation of the whole RG or just the VM? Or is it like a error when the username is input?

PS: Sorry for the late reply, I came to the office now and checked my emails.

[2021-01-11 19:26] #7192 closed

[2021-01-11 19:43] #8588 closed

[2021-01-12 05:09] malichishti commented on #8524
Thank you @MCKLMT, I'm more interested in Private certificate which would require pfx file password as well.

Ali

[2021-01-12 06:05] neilpeterson opened #8655 "101-azure-bastion-nsg failing to deploy (NSG Rule)"
https://github.com/Azure/azure-quickstart-templates/tree/master/101-azure-bastion-nsg

### Issue Details

Template deployment fails with the following. This is due to a new NSG requirement for the Bastion instance. Bastion supporting documentation is [here](https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg#apply).

[code]

[2021-01-12 08:58] MCKLMT commented on #8524
And this one? https://github.com/Azure/azure-quickstart-templates/tree/master/201-web-app-ase-ilb-configure-default-ssl

[2021-01-12 21:05] #8655 closed

[2021-01-13 08:38] dvnaveenkashyap commented on #6514
I have the same issue, but while using terraform
Error: waiting for creation of MsSql Server "my-server" Extended Auditing Policy (Resource Group "my-group"): Code="BlobAuditingNoServerIdentity" Message="The server identity is not correctly configured on server 'my-server'. Please re-configure Identity on the server."

[2021-01-14 12:31] Aashay-12 opened #8663 "This is very interesting."

[2021-01-15 11:02] oxAnneoe041117 opened #8664 "Templets"

[2021-01-15 18:43] thepaulmacca opened #8667 "Azure DevOps CI Pipeline File"
Not an issue but more of a question - I'd like to use a similar workflow for my own template repo (run the arm-ttk and add a best practices check badge to the README)

Can anyone advise how I can get hold of the YAML file that's being used here, and how to add the badge to the README?

Thanks

[2021-01-16 09:55] MCKLMT commented on #8667
You can find the tooling used in this repository there: https://github.com/Azure/azure-quickstart-templates/tree/master/test

[2021-01-16 19:38] thepaulmacca commented on #8667
Thanks for replying, I've seen that but it's not very clear how to import the pipeline, unless I'm missing something?

[2021-01-16 23:45] johnthompson365 commented on #8649
Hello, @bmoore-msft are you able to advise on the question above? Many thanks.

[2021-01-17 07:56] MCKLMT commented on #8667
The documentation explaining how to import a pipeline is there: https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/clone-import-pipeline?view=azure-devops&tabs=yaml

[2021-01-17 21:22] #2894 closed

[2021-01-18 09:10] thepaulmacca commented on #8667
Thanks, I've read that and tried to import the pipeline and I'm getting this error:

![image](https://user-images.githubusercontent.com/41340540/104894442-a4228d80-596c-11eb-8f6b-e5e563b37f31.png)

I think it's probably down to there being quite a lot of changes since that file was created. Are you able to import it?

[2021-01-18 14:34] Pascal997 opened #8674 "Azure template is not working"
Hello,

Just to notice that Azure template is not working, when we click on the "Deploy to Azure" link. Because of a format error in the Json template (azuredeploy.json).

We get this error message:

[code]

Thanks

[2021-01-18 15:53] denisbrodbeck commented on #7158
I agree, Admins/Devs should be made aware, that they should use a ULA (Unique Local Address) space, when assigning ipv6 address space to their virtual networks. Emphasis on **unique**.

Here's what [RFC 4193](https://tools.ietf.org/html/rfc4193) says:

This tool creates random ULAs: https://cd34.com/rfc4193/

[2021-01-18 17:54] jotasixto commented on #7184
@mepand Do you have more information about it?
I check again in various regions but i get the same problem:
[code]
Please, could you tell me where to try if this is active in any region?

Thanks!!

[2021-01-18 18:20] Niglb opened #8675 "Custom Domain name?"
Is there a way to enter a custom domain name as a parameter?

[2021-01-19 06:55] mepand commented on #7184
@jotasixto We have enabled the ARM template support to configure file share backups in all regions. So, it should work for you irrespective of the region of deployment. Below is the link where you can find the sample template published by us.

https://aka.ms/ARMTemplate-AFSBackup

To troubleshoot your issue, I would request to please share your template with me over mail. My mail ID is mepand@micr

[2021-01-19 13:35] jotasixto commented on #7184
@mepand Thank you very much for the help!

I wasn't  setting the ProtectionContainers resource. I checked the ARMTemplate-AFSBackup and I saw the problem.

Now this works fine! Thanks a lot!

[2021-01-19 14:48] mepand commented on #7184
My pleasure @jotasixto . Glad to know that your issue is resolved .

[2021-01-19 21:57] ForrestTrepte opened #8680 "Deploy to Azure button disregards Azure Portal last visited directory"
[101-AAD-DomainServices](https://github.com/Azure/azure-quickstart-templates/tree/master/101-AAD-DomainServices) (But I suspect this is a general issue that would happen with any template.)

### Issue Details

I was signed into the Azure portal, showing the set of subscriptions that I use all the time. When I clicked the Deploy to Azure button, the link opened with a different set of subscriptions

[2021-01-20 02:46] ruowan opened #8681 "How to create azure aad app registration by ARM template"
### Issue Details
It's a question. How to create azure add app registration by ARM template?

[2021-01-20 07:54] MCKLMT commented on #8674
What's the template?

[2021-01-20 07:57] MCKLMT commented on #8681
You can deploy User Managed Identity but I think you can't deploy app registration with ARM: https://docs.microsoft.com/en-us/azure/templates/microsoft.managedidentity/userassignedidentities

[2021-01-20 07:57] MCKLMT commented on #8675
What's the template?

[2021-01-20 12:50] Pascal997 commented on #8674
301-drupal8-vmss-glusterfs-mysql

https://github.com/Azure/azure-quickstart-templates/blob/master/301-drupal8-vmss-glusterfs-mysql/azuredeploy.json

[2021-01-20 15:26] MCKLMT commented on #8674
I submitted a pull request fixing the issue. Thanks for the heads-up.

[2021-01-21 09:14] MCKLMT commented on #8562
1) you can use the BackupPolicy object and set property "type" as "Continuous"
2) I can't find anything about this capability in ARM template. @bmoore-msft any idea?

[2021-01-21 12:37] #3109 closed

[2021-01-21 14:30] twistsd opened #8685 "Issue deploying a single-VM WordPress to Azure"
[wordpress-single-vm-ubuntu](https://github.com/Azure/azure-quickstart-templates/tree/master/wordpress-single-vm-ubuntu)

I am new to Azure previously our websites have been on a managed platform. I have tried to use the quick template using the deploy to Azure button from https://azure.microsoft.com/en-in/resources/templates/wordpress-single-vm-ubuntu/ the VM has deplyed OK but I am having issues

[2021-01-21 15:58] Pascal997 commented on #8674
It's works now, thanks!

[2021-01-21 17:50] miqm commented on #2786
@alex-frankel could you give explanation why when deplyoing vnet without subnet property speficied it tries to remove it? when property is not specified, it should not touch it. if it's necessary to specify subnets in properties - why having separate resource?

[2021-01-21 18:15] bmoore-msft commented on #8562
Sorry, no... not familiar with how to get diags to dls

[2021-01-25 17:14] TimFung93 commented on #3319
I'm confused as to what needs to happen in order to make this work as this thread has posted multiple solutions. Do I need to update the azuredeploy.json as @justinhauer suggested?

[2021-01-26 01:12] ForrestTrepte commented on #8680
I have also posted this as Azure feedback: https://feedback.azure.com/forums/281804-azure-resource-manager/suggestions/42538306-deploy-to-azure-button-should-obey-azure-portal-la

[2021-01-29 05:19] dnyaneshwar-surywanshi commented on #4010
I resolved the issue just append the SAS token with fileUris.

[2021-01-29 18:21] alex-frankel commented on #2786
It's a reflection of an old api design pattern. In an ideal world, subnets are *only* child resources because they could (and often do) have different lifecycles.

However, at one point to support more efficient resource creates, it was decided that we should support being able to create both VNET + Subnet in one PUT call. As a result, the subnet ended up as an array property on the vnet resource.

[2021-01-29 18:36] miqm commented on #2786
perhaps a middle point would be to keep the property but if not provided - do nothing. if provided with empty array - clear subnets. that's how it works in some other api's i. e. in web/sites.

with so many properties it canbe a overkill to need to specify them all, especially in incremental deployments.

[2021-01-29 18:38] gregjhogan commented on #2786
@alex-frankel why does this have to be a breaking change? add a property that defaults to current behavior but allows new  behavior.  New behavior just means current `subnets` property on vnet is deprecated and instead you have to use child resources (which already exist) for subnets

[2021-01-29 18:43] alex-frankel commented on #2786
Even this is considered a breaking change believe it or not. In theory, there is someone out there relying on the behavior of *not* declaring subnets in order to delete them all. It certainly feels like an edge case, but I don't have the data to back that statement up.

[2021-01-29 18:46] alex-frankel commented on #2786
This could work - @anavinahar have you all looked into this as an option?

[2021-01-29 18:53] miqm commented on #2786
this is exactly why we have api versioning, right? want to have old behaviour? use old api...

[2021-01-29 19:11] audhage commented on #2786
Spot on. It's already versioned. There's plenty of breaking changes all over the ARM space. Fail to see how this is any different.

[2021-01-29 19:19] alex-frankel commented on #2786
It's possible with tools like PS or CLI there could be unforeseen consequences since you don't pick individual api versions on resources when using those tools. Either way, I agree that this is a valid breaking change to make and this is why we have api versions.

[2021-01-29 19:46] jamesbjackson commented on #2786
Can this also be applied to DNS records and zones as they suffer the same problem?
On 29 Jan 2021, 19:19 +0000, Alex Frankel <notifications@github.com>, wrote:

[2021-01-29 21:21] miqm commented on #2786
DNS zone does not suffer from this, it has Update only functionality: https://docs.microsoft.com/en-us/rest/api/dns/zones/update

[2021-02-02 15:15] bmoore-msft commented on #8681
The only way to do this today is via a deploymentScript resource:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template

https://github.com/Azure/azure-quickstart-templates/tree/master/201-deployment-script-ssh-key-gen

[2021-02-02 15:15] #8681 closed

[2021-02-02 15:16] #8674 closed

[2021-02-02 15:16] #8663 closed

[2021-02-02 15:20] bmoore-msft commented on #8667
The readme here will get you started with the pipeline we use:

https://github.com/Azure/azure-quickstart-templates/tree/master/test/pipeline

It's JSON, not YAML - TLDR; for security.  But if you import it, you can see the tasks we have and what each does.

The badges are not your typical pipeline badges - normally you would see one for the repo, we have one for each sample, so they are embedded

[2021-02-02 15:25] bmoore-msft commented on #8632
Using the above policy the deployment of the VM would be denied (iow, fail).

Depending on what you're after, and how the template is deployed, you can do somethings in checking the parameter values, but it's not fool proof, an enterprising user could get around it.

You can do something like this: https://github.com/bmoore-msft/AzureRM-Samples/blob/master/leap-2020/modules/module.ultimate-vm.json

[2021-02-02 21:59] thepaulmacca commented on #8667
Thanks for replying @bmoore-msft, that's good info to know. I'll close this off now

[2021-02-02 21:59] #8667 closed

[2021-02-04 10:38] Sidoran opened #8725 "$StorageContainerName may contains space"
https://github.com/Azure/azure-quickstart-templates/blob/master/Deploy-AzTemplate.ps1

### Issue Details
Deploy-AzTemplate.ps1 contains next code:
[code]
If $ArtifactStagingDirectory contains one or more spaces deploy script will try to create a container with spaces that are not allowed by Azure and results in the following error:
![image](https://user-images.githubusercontent.com/50662809/106880

[2021-02-06 02:57] smithago opened #8729 "AKS Advanced Networking example template"
[101-aks-advanced-networking](https://github.com/Azure/azure-quickstart-templates/blob/master/101-aks-advanced-networking/azuredeploy.json)

### Issue Details

### Repro steps (*if necessary, delete otherwise*)
We want to add additional settings to the default NSG and VNet/Subnet created by basic AKS template, similar to the one in the title, but with the details of creating the NSG, routetable, l

[2021-02-09 18:39] microsoftman opened #8738 "Marketplace SideLoad scripts broken"
azure-quickstart-templates/SideLoad-AzCreateUIDefinition.ps1

### Issue Details
The SideLoad scripts are broken and use an old portal UI.  If you try and use the PowerShell script(s) locally and deploy a createUIDefinition.json file it goes to a broken portal experience with no content and a never ending loading animation.
![MarketplaceSideLoadIssue](https://user-images.githubusercontent.com/18342

[2021-02-09 22:51] alanbaldwin commented on #2786
Route tables would be useful as well, as routes are sub resources. There's a few other things I can think of - load balancer backend pools - preferably anything that works this way.

[2021-02-10 14:59] gagalgagah opened #8742 "readme edits"

[2021-02-11 13:51] patbrown56 commented on #8225
This has been completed. This issue can be closed.

[2021-02-11 13:51] patbrown56 commented on #8223
This has been completed. This issue can be closed.

[2021-02-11 13:53] patbrown56 commented on #8278
This has been completed. The issue can be closed.

[2021-02-11 13:57] patbrown56 commented on #6237
Verified that viyashare file share is being created. This issue can be closed.

[2021-02-11 13:58] patbrown56 commented on #8460
This has been resolved. The issue can be closed.

[2021-02-11 14:06] patbrown56 commented on #8501
Cannot replicate the above failures. This issue can be closed.

[2021-02-11 15:58] #8460 closed

[2021-02-11 17:21] andybouts commented on #8278
Thanks Pat, trust you ;->

[2021-02-11 17:21] #8278 closed

[2021-02-11 17:25] andybouts commented on #8223
Thanks Pat, trust you ;->

[2021-02-11 17:25] #8223 closed

[2021-02-11 17:25] andybouts commented on #8225
Thanks Pat, trust you ;->

[2021-02-11 17:25] #8225 closed

[2021-02-11 17:36] rharper-1 opened #8744 "ASR-AddPublicIP Does Not Recognize Failover Groups"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-02-12 01:48] joecoolish opened #8745 "SharePoint ADFS deployment error: The term 'Choco' is not recognized as the name of a cmdlet, function, script file, or operable program"
[sharepoint-adfs](https://github.com/Azure/azure-quickstart-templates/tree/master/sharepoint-adfs)

### Issue Details

### Repro steps
1. Click "Deploy to Azure" button
2. Use the following parameters:
   - location: eastus
   - sharePointVersion: 2019
   - dnsLabelPrefix: abc
   -  domainFQDN: abc.search
   - adminUserName: joel
   - adminPassword: <At least 2 lower, 2 upper, 2 numbers, 2 special

[2021-02-12 08:31] Yvand commented on #8745
@joecoolish this deployment error is caused by [this Chocolatey issue](https://github.com/chocolatey/cChoco/issues/151) which was fixed in the [latest version](https://www.powershellgallery.com/packages/cChoco/2.5.0.0).
I submitted [this PR](https://github.com/Azure/azure-quickstart-templates/pull/8737) to include the updated package and fix the deployment error, I'm waiting for it to be approved.

[2021-02-12 18:46] Prashantvi19 opened #8754 "Java"
Normal

[2021-02-13 11:40] sanme98 commented on #6900
The same issue till today, Bitdenfender still trigger the alarm for the ASP.NET Core docs.

[2021-02-17 03:09] jbyway opened #8756 "301-sql-alwayson-md-ilb-zones DSC fails"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-02-17 09:32] ArtiomLK commented on #1965
If the VirtualNetwork is in the same ResourceGroup we could omit it, for example:
[code]
The reason behind is that the [resourceId](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-resource?tabs=json#resourceid) method defaults to its current resource group

[2021-02-17 15:04] bmoore-msft commented on #8756
Thanks @jbyway - do you mind submitting a PR with the fix?

[2021-02-17 15:05] bmoore-msft commented on #8745
should be fixed in #8737

[2021-02-17 15:05] #8745 closed

[2021-02-17 22:26] jbyway commented on #8756
Think I did it right. #8758

[2021-02-17 22:54] bmoore-msft commented on #8756
I took a look at the pipeline results and the sample is using some antiquated patterns that don't work well in a handful of scenarios...  Did it deploy correctly when you tried locally?  (and if so how did you deploy it?)

[2021-02-18 00:53] Maclain27 opened #8760 "Azure"
**Maclain **

- Readme  on this repo And mentioned that to Earth universal coding mode */*

_Originally posted by @Maclain27 in https://github.com/Azure/azure-quickstart-templates/issues/8755#issuecomment-780954019_

[2021-02-18 00:54] Maclain27 opened #8761 "Readme.md"
**--------------------MESSAGE** FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've crea

[2021-02-18 00:55] Maclain27 commented on #8761
****

[2021-02-19 16:51] bmukes opened #8767 "Found Bug in ARM"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-02-19 20:58] wontapcheck opened #8769 "After the setup completes, the service is not installed"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-02-21 04:56] usman-siddiqui-devops opened #8774 "The specified location 'resourceGroup().location' is invalid."
Getting error when trying to deploy
https://github.com/Azure/azure-quickstart-templates/blob/master/101-cosmosdb-mongodb/azuredeploy.json

The error is

2021-02-21T04:52:39.4908366Z ##[error]The specified location 'resourceGroup().location' is invalid. A location must consist of characters, whitespace, digit, or following symbols '(,)'.

[2021-02-21 11:36] anchit003 opened #8775 "Error while enabling the Object Replication in Storage account v2 via ARM deployment"
Giving error while deploying the storage account v2 with ObjectReplicationPolicy enabled.
**Error: InvalidRequestPropertyValue: The value 'default' is not allowed for property policyId.**

Since in the documentation it is mentioned to pass 'default' in name parameter. (https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/2019-06-01/storageaccounts/objectreplicationpolicies)

Here is

[2021-02-24 17:36] CharlieStokes commented on #6670
I'm having the same issue at the moment and it's proving difficult to resolve, I'm currently defining the Databricks workspace and all the associated resources (vnet, nsg, subnets and delegations) in a single ARM template. I'm creating the nsg and the required rules (as defined here: https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-inject)

Fir

[2021-02-27 01:21] aishwaryas24 opened #8803 "ARM template for azure VM with O365 pre installed with offline installation"
Hi,

I need an ARM template for Windows Server 2019 with Office 365(Excel) pre installed specifically need an offline installation.

Steps to reproduce:

1. I have used the below template for the installation, but it uses online installation.
https://azure.microsoft.com/en-in/resources/templates/windows-vm-o365/

Kindly help with the offline mode.

[2021-03-01 17:10] kiranbaddi commented on #2786
Absolutely. So many limitations with ARM templates. Terraform is the way to go.

[2021-03-02 13:50] enterpriseSoftware opened #8813 "specified subnet is not delegated to Microsoft.Web/serverfarms"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-03-02 20:54] Snozzberries opened #8815 "Reference to "Blacklist""
[1-CONTRIBUTION-GUIDE](https://github.com/Azure/azure-quickstart-templates/blob/master/1-CONTRIBUTION-GUIDE/README.md#contribution-guide)

### Issue Details
Recommended improvement of referencing blocklist rather than blacklist, "to the blacklist and not be indexed on Azure.com".

https://docs.microsoft.com/en-us/style-guide/a-z-word-list-term-collections/b/blacklist

[2021-03-03 17:00] JLunda opened #8820 "SQL Server Private Endpoint Dependency Not Properly Resolved for Existing SQL Server"
[SQL Server Private Endpoint](https://github.com/Azure/azure-quickstart-templates/blob/master/101-private-endpoint-sql/azuredeploy.json)
[SQL Server Private Endpoint from App Service](https://github.com/Azure/azure-quickstart-templates/blob/master/201-private-endpoint-sql-from-appservice/azuredeploy.json)

### Issue Details
This issue affects multiple templates that show how to deploy a SQL server

[2021-03-04 02:44] enterpriseSoftware commented on #8813
[101-function-premium-vnet-integration] (https://github.com/Azure/azure-quickstart-templates/blob/master/101-function-premium-vnet-integration/azuredeploy.json)

[2021-03-05 02:25] #8815 closed

[2021-03-05 13:55] Prashantvi19 opened #8843 "Frame.java"
// create frame

[2021-03-05 14:00] allanlw opened #8844 "Template Request: CDN Endpoint with custom domain and HTTPS Example"
I could not seem to find an example template describing how to enable a CDN endpoint with HTTPS.

In particular, there is no example template for [`microsoft.cdn/profiles/customdomains`](https://docs.microsoft.com/en-us/azure/templates/microsoft.cdn/profiles/customdomains) which seems to be required for this nor is there an example template for [`microsoft.cdn/profiles/endpoints/customdomains`](ht

[2021-03-08 22:31] rbavery opened #8856 "ssh public key is not parsed by dsvm template"
### Issue Details

template: https://docs.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/dsvm-tutorial-resource-manager

I've removed the secrets from the display.

[code]

[2021-03-09 05:30] #8843 closed

[2021-03-09 15:41] #8754 closed

[2021-03-10 20:10] JLunda commented on #8820
Another workaround I have employed is to avoid this race condition altogether, by having Public Network Access set to Enabled in the ARM template and then having a subsequent step in my Azure Pipeline to run an Azure CLI command via PowerShell that will set it to Disabled once the SQL Server and Private Endpoint both exist for certain:

Note: It may be possible to do this without the az login step

[2021-03-11 10:41] florentvaldelievre commented on #6670
Hello,

We faced the same issue.
The problem is that this network intent policy is put in place by the subnet delegation Microsoft.Databricks (which adds those NSG rules). And blocks any update/modification to these rules, even if they are "in place"

A workaround is to create NSG rules manually (defined here: https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurati

[2021-03-12 01:20] allanlw commented on #8844
See also #7154

[2021-03-12 03:27] abatishchev commented on #2786
Any news on this? 5 (five) years and several api versions later - the issue is still here. Deployment of a vnet attempt to delete all its subnets and understandably fails.
Key Vault access policies and Traffic Manager endpoints "work" (they don't) same way.

Here's what I attempt to do:

[code]

It works once, the very first time. A subsequent deployment fail as it attempt to deploy a vnet with `"

[2021-03-12 08:25] patrikwm opened #8881 "Let's Encrypt script not running during deployment."
[101-rds-deployment-full-ha](https://github.com/Azure/azure-quickstart-templates/tree/master/101-rds-deployment-full-ha)

### Issue Details

[deploycertha.ps1](https://github.com/Azure/azure-quickstart-templates/blob/master/101-rds-deployment-full-ha/scripts/deploycertha.ps1)

Let's Encrypt script not running during deployment. I can't find any logs or trace of the script running during deployment

[2021-03-12 11:07] mslot commented on #8775
I am seeing the same with this ARM (sorry for the naming):

[code]

As I read the documentation: https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/storageaccounts/objectreplicationpolicies?tabs=json, the name should be **/default**, when the policy id isn't known.

I get the same error as above

When deploying from Visual Studio 2019, version 16.4.3.

[2021-03-12 16:23] JustinGrote commented on #583
Anyone coming here from google, this is much easier to do with Bicep modules now, which basically wraps the nested template trick by @erjosito

[2021-03-15 11:45] springcomp opened #8885 "Template for Azure API Management API does not use the 'displayName' property."
[201-api-management-create-all-resources](https://github.com/Azure/azure-quickstart-templates/blob/master/201-api-management-create-all-resources/azuredeploy.json)

### Issue Details

I’m not sure this is the correct place to report an issue.

The template referred to above uses a very old `api-version` equals to `2017-03-01`. In this version, it seemed that when creating an API you either had to:

[2021-03-15 13:24] erjosito commented on #583
Fully agreed @JustinGrote !

[2021-03-15 17:15] JustinGrote commented on #583
Also FYI, as long as you don't do a dynamic basic IP, at least in my testing a nested template/bicep module no longer seems to be necessary, just use `reference`. This used to fail and will still fail for basic dynamic IPs, because they do not get assigned until the VM is attached and turned on, so you could get that as long as the whole VM was part of a nested template as well (and possibly with

[2021-03-16 03:56] eduser25 commented on #5442
+1

[2021-03-16 12:35] springcomp commented on #8885
Closing this issue that is better [reported here](https://github.com/Azure/azure-rest-api-specs/issues/13445).

[2021-03-16 12:35] #8885 closed

[2021-03-22 14:57] elvirk opened #8920 "ARM Template fails with "AuthorizationFailed""
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-03-22 17:01] enterpriseSoftware commented on #7723
I'm having a similar issue.  Does your issue allow the template to run once successfully but subsequent deployments fail?

[2021-03-22 22:48] #8767 closed

[2021-03-23 16:56] kbroughton opened #8925 "deployment script errors"
Example, but I didn't find any that deployed with
https://github.com/Azure/azure-quickstart-templates/tree/master/101-aks-vmss-systemassigned-identity
                                                                                                               /201-front-door-premium-vm-private-link
### Issue Details
In the deployment instructions of each repo it says
"or follow the instructions

[2021-03-24 01:22] rbx44 opened #8928 "FrontDoor change Destination Host on a redirect rule with Arm templates"
Hi,

Is it possible to change Destination Host in Azure Front Door on a redirect rule via arm templates? See attached screenshot below.

I went through all api versions and couldn't find anything under routeConfiguration object or a separate destinationConfiguration object to change destination host. I'm looking for something under "routeRules" --

Microsoft.Network/frontDoors
   Properties

[2021-03-25 00:06] rbpeterson2 commented on #8685
@twistsd - anything?

[2021-03-25 07:04] twistsd commented on #8685
@rbpeterson2  - no I am still trying to find a solution.

[2021-03-26 13:16] #6670 closed

[2021-03-26 17:53] #1345 closed

[2021-03-26 19:49] shawnweisfeld commented on #8775
Please take a look at the ARM templates/process outlined in this article and see if it resolves your issue
https://azurestorage.com/docs/application-and-user-data/basics/azure-blob-storage-object-replication-arm

[2021-03-27 07:37] mslot commented on #8775
If you compare https://azurestorage.com/docs/application-and-user-data/basics/azure-blob-storage-object-replication-arm/step02.json with mine, it is exactly the same (except the rules). I have tried without the rules, and it didnt work.

Have you tried the ARM from the article, @shawnweisfeld?

[2021-03-27 20:33] dsotrean commented on #680
The public key format should be the one found in .ssh/authorized_keys. The ARM template is writing it directly there.

"adminPublicKey": {
      "value": "ssh-rsa AAAAxxxxblabla"

[2021-03-27 20:44] lazarillo opened #8935 "ARM template keyvault secret upload/push is not working"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-03-28 00:38] lazarillo commented on #8935
OMG!!!

I finally figured out the problem:  `container_server` is an invalid name for a Key Vault secret.  No underscores are allowed.

Wow!!  I **REALLY** wish this were documented somewhere.  Or even better, if MS can stop creating arbitrary naming restrictions.  I cannot understand why the name of a secret needs any limitation, apart from possibly no spaces.

[2021-03-28 19:16] artisticcheese opened #8936 "201-existing-vnet-to-vnet-peering is not working"
https://github.com/Azure/azure-quickstart-templates/tree/master/201-existing-vnet-to-vnet-peering

### Issue Details
Template does not creating peering between VNET1 and VNET2, it creates VNET1 to VNET2 peering but not creating peering between VNET2 and VNET1 and as a result does not deliver what was promised.
### Repro steps (*if necessary, delete otherwise*)
There shall be Resources of type `vir

[2021-03-29 07:26] siera2 opened #8937 "Problem with browse /report.html"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-03-31 14:32] shawnweisfeld commented on #8775
Please note this is a three step process, that you cannot complete in a single ARM template. Step 1 deploy the storage accounts including the Change Feed and Versioning features (and give them time to deploy). Step 2 deploy the destination OR endpoint (with /default). Step 3 query the IDs of the destination and deploy the source OR endpoint using those IDs.

I might be missing something, but in @m

[2021-03-31 15:51] abatishchev commented on #2786
@nirvanatao it works because you create a vnet with the subnets. That always works.

[2021-03-31 18:52] mslot commented on #8775
As i understand it this should be possible to do in one ARM template. It don't see the point in doing it automatically if i need to break it up. It is possible to do this with other policies on the storage account, so i don't see why this should be any different.

[2021-04-01 14:13] CtrlDot commented on #2786
As an original commentator on this issue, I think it's time to unsubscribe. Seems like this will never be fixed.

[2021-04-06 06:03] blgorman commented on #7207
I just had this same error.  Based on your response I added the folder from the storage account in front of the file name in the commandToExecute and it worked.

For example, if your file is at
https://yourstorage.blob.core.windows.net/yourcontiner/subfolder/yourscript.ps1

Then leverage the script in your custom extension as:
"commandToExecute": "[concat ('powershell -ExecutionPolicy Unrestricted

[2021-04-07 01:16] bitsofinfo commented on #6514
same issue

[2021-04-07 01:17] bitsofinfo commented on #6471
not fixed, still an issue

[2021-04-07 03:07] harshdamaniahd commented on #5929
still no sign

[2021-04-08 12:24] pinlwhale commented on #8754
Please help me with my gift hub account please Privacy￼

[2021-04-08 12:25] pinlwhale commented on #8754
I just wanted a chance to use my iCloud account and have to deal with all this stuff again and again I don't understand why

[2021-04-13 13:33] GrantErickson opened #8954 "Add reference numbers to Azure Resource Manager Templates - Best Practices Guide"
Specific requirements of the 'Azure Resource Manager Templates - Best Practices Guide' are referenced in PRs that fail validation.
It is difficult to find the section referenced based on the PR text.

https://github.com/Azure/azure-quickstart-templates/blob/master/1-CONTRIBUTION-GUIDE/best-practices.md#best-practices

Please add at least section and paragraph numbers to this document to align with

[2021-04-14 03:14] #4935 closed

[2021-04-14 10:03] docestavivo opened #8963 "Invalid credentials?"
After deploy in Azure, when I connect to the virtual machine, I put the DNS in the Windows 10 remote desktop and when I write the credentials it tells me that they are not correct. I write the credentials that I have written for the Sq VM_App Admin_User parameters but I am not able to connect to the machine.

What is this about? I have try in two different computers :(

[2021-04-16 12:12] hadr10 commented on #7184
Hi,

i am getting the same error as @jotasixto or this one when i using above ARM template.
Item could have been deleted. Please check if item is present in Backup Items.

Honza

[2021-04-16 15:56] Venky1141 opened #8992 "Update Image versions on 201-aci-wordpress-vnet"
### Issue Details
Please Update the Image Versions in this repo
https://github.com/Azure/azure-quickstart-templates/tree/master/201-aci-wordpress-vnet

[2021-04-22 00:37] ghostme opened #9070 "Ar"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-04-22 20:10] ChristopherGLewis commented on #2786
I've actually got a partial work-around for this.  First some comments on the issue and *why* it's so hard.

tl;dr https://github.com/ChristopherGLewis/vNet-Bicep

1) This is best solved by completely defining the subnets in the vNet block.  This solves all the issues since you have a full definition of the vNet/subnets.

2) That being stated, my issue with this approach is that there are differen

[2021-04-23 04:14] devopssameer opened #9114 "after updating the image showing 502 bad gateway"
after installing WordPress using template i tried to update WordPress its showing 502 bad gateway error, themes above 30 mb are unable to upload showing the following has been error and also please describe the template the resources and dependencies used.

[2021-04-23 07:22] mslot commented on #8775
@shawnweisfeld i actually agree with you. I forgot to include versioning and change feed. I have done that now, and i still get the same error:
[code]

Still i get the same error:
[code]

According to the documentation here: https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/storageaccounts/objectreplicationpolicies?tabs=json

This should be possible to use **/default**. I am refer

[2021-04-25 15:15] jpsebasti opened #9174 "I can't get this extension working with powershell, it works just fine if I deploy from here and type in the parameters"
If I deploy the this template from Github and type in all the parameters, it deploys successfully and joins my VM to my domain.
If instead I download the templates and hard code the parameters into the .parameters.json file and then deploy it with New-AzResourceGroupDeployment cmdlet, it fails constantly.

When looking at the Extensions status in the Azure Portal, I can see the deployment failed a

[2021-04-26 16:23] jpsebasti commented on #9174
Just an update, the domainJoinUserName was entered incorrectly.  It needs the format xxx.xxx.gov//username  in the domjoin.parameters.json file, not just username as shown above.  Once I correctly use the domain/username format in the parameter file, the template deployed

[2021-04-26 16:23] #9174 closed

[2021-04-26 16:23] jpsebasti commented on #9174
User error, see my last post.

[2021-04-28 18:39] AneeshAngadi commented on #9114
Even I'm facing 502 bad gateway error while updating WordPress.

[2021-05-01 19:21] rrmistry commented on #6514
For Terraform solution specifically, the way to solve this is using:
[code]

The [`official terraform documentation`](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/mssql_server#identity) mentions:

It's not clear why the default value is not already `SystemAssigned` since that is the only acceptable value at the moment.

I assume it's a similar fix for the ARM tem

[2021-05-04 02:49] wehackpurple opened #9501 "SQL Injection template is missing"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

azure-quickstart-templates/101-SQL-Injection-Attack-Prevention/

### Issue Details
I cloned this repo to use in a workshop (I've been giving it for years) and have been using my cloned version of the repo without issue. I went to "Deploy to Azure" in my own repo (https://github.com/wehackpurple/azure-quickstart

[2021-05-05 06:59] kaka-lin opened #9563 "Failed to Create Azure Service principal using Microsoft.Resources/deploymentScripts"
### Issue Details

I want to  use `Microsoft.Resources/deploymentScripts` run script to create `service principal`, but it can not create success

template: [azuredeploy.json](https://raw.githubusercontent.com/kaka-lin/azure-notes/master/arm-template/templates/media-services-and-principal/azuredeploy.json)

script: [meida-service.sh](https://raw.githubusercontent.com/kaka-lin/azure-notes/master/ar

[2021-05-05 14:58] MNuijen opened #9589 "Template to deploy Azure VM with a new AD Forest is missing"
Create an Azure VM with a new AD Forest
https://github.com/Azure/azure-quickstart-templates/tree/master/active-directory-new-domain

### Issue Details
Template seems to be missing from the repository

### Repro steps (*if necessary, delete otherwise*)
1. go to https://azure.microsoft.com/en-us/resources/templates/active-directory-new-domain/
2. click deploy to Azure
3. log into an Azure subscripti

[2021-05-06 06:48] pkrasnousov commented on #9589
Same for me

[2021-05-06 10:59] gwenblum opened #9620 "Pipeline validation for remote deployment template (templateLink relativePath or deployment uri)"
Hi,

would it be posible or is there a way to have the AzQuickStarts pipelines validating template with linked templates for remote deployment and not local file without using _artifactsLocation extra parameters?

My template contains a linked template. The linked template is in the nestedtemplate folder. It is working well for remote deployment but not for local file deployment and that is fine a

[2021-05-06 12:08] pkrasnousov commented on #9589
UPD
They moved it into another path
https://github.com/Azure/azure-quickstart-templates/commit/e70cdcc84793515985e03469e79640b6d5ef2a92

[2021-05-06 23:46] gwenblum commented on #9620
Finally i have adopted a nice practice (inlining nested template + onelining deployment scripts) and now the template is working well remote, in the Portal, even local, and also complies with the quickstart best practices validated by the pipeline.

[2021-05-06 23:46] #9620 closed

[2021-05-11 12:47] DeanGross commented on #8288
I am getting this error. The fix seems to have failed

[2021-05-12 15:03] shawnweisfeld commented on #8775
NOTE: the URL to the 3 step process has changed, here is the new URL
https://azure.github.io/Storage/docs/application-and-user-data/basics/azure-blob-storage-object-replication-arm/

@mslot I understand the desire to be able to do it in one step, however that is not possible currently.

[2021-05-12 20:01] Kenneth-Abrams opened #9926 "101-load-balacner-ip-configured-backend-pool"
[101-load-balacner-ip-configured-backend-pool](https://github.com/Azure/azure-quickstart-templates/tree/master/101-load-balancer-ip-configured-backend-pool)

### Issue Details
Read me provides URL to an an arm template for creating back end pool for LB using Network interface is broken. I am trying to find an example that will show me how to achieve a backend pool using NIC vs ip address.

[2021-05-14 01:20] gholliday commented on #8552
Looks like the files have moved under the /demos/ folder here https://github.com/Azure/azure-quickstart-templates/tree/master/demos/nested-vms-in-virtual-network

[2021-05-14 16:17] lanceshelton commented on #8925
I encountered the same issue and have submitted a fix:

https://github.com/Azure/azure-quickstart-templates/pull/10104

[2021-05-14 16:20] lanceshelton opened #10108 "az-group-deploy.sh: Cannot use the local dir "." as the artifacts staging directory"
--------------------MESSAGE FROM ADMIN, DELETE BEFORE SUBMITTING----------------------

Sorry to hear you had a bad experience with one of the templates :worried: But, in case you're just asking a question, we're happy to help. You can also check if the question might already have been asked here https://github.com/Azure/azure-quickstart-templates/issues?utf8=%E2%9C%93&q=is%3Aissue

We've created

[2021-05-14 17:05] lanceshelton opened #10112 "az-group-deploy.sh: 'group deployment' is deprecated"
### Issue Details
When running az-group-deploy.sh:
This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead.

It is just a warning, not a failure.

### Repro steps (*if necessary, delete otherwise*)
1. Run az-group-deploy.sh

[2021-05-14 20:17] lanceshelton opened #10115 "Inconsistent capitalization of createUIDefinition.json/createUiDefinition.json"
Trying to run sideload-createuidef.sh on demos/100-marketplace-sample with a case-sensitive filesystem:

[code]

createUiDefinition.json is referenced throughout the project with use of both createUiDefinition.json and createUIDefinition.json throughout.  Why not standardize on one capitalization so that scripts are not broken on case-sensitive filesystems?

--------------------MESSAGE FROM ADMIN,

[2021-05-14 20:53] lanceshelton opened #10116 "sideload-createuidef.sh launched URL is incorrect"
### Issue Details
Running sideload-createuidef.sh on the demo results in the script opening the wrong URL.

Enabling -x in the bash script I see the correct URL:
`+ echo 'https://portal.azure.com/#blade/Microsoft_Azure_Compute/CreateMultiVmWizardBlade/internal_bladeCallId/anything/internal_bladeCallerParams/{"providerConfig":{"createUiDefinition":"[xxx]"}}'
`
Copying that URL directly into the web